Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(bot): the agent chat accepts any file Telegram can send
  src/__tests__/agent-attachments.test.ts
  src/__tests__/agent-chat-wiring.test.ts
  src/__tests__/content-factory-storage.test.ts
  src/navigation/registerCommands.ts
  src/services/agentAttachments.ts
  src/services/contentFactory/storage.ts
Due: prettier --write, eslint --fix

fix(ios): the phone chat reads the shared conversation instead of answering blind
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/VibeeTests/AgentChatHistoryTests.swift
Due: none

feat(hive): the game as its own tab with all six sub-tabs, in two languages
  apps/vibee-editor/packages/vibee-atoms/src/types.ts
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.tsx
  apps/vibee-editor/player/src/components/Navigation/aiPipelineNavigation.test.ts
  apps/vibee-editor/player/src/lib/hive.test.ts
  apps/vibee-editor/player/src/lib/hive.ts
  apps/vibee-editor/player/src/lib/primaryNavigation.ts
  apps/vibee-editor/player/src/pages/Hive.css
  apps/vibee-editor/player/src/pages/Hive.tsx
  scripts/check-player-types.cjs
Due: prettier --write, eslint --fix

docs: AGENTS.md, and the mission at the top of CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: prettier --write

fix(chat): the bot's fallback answer lands in the shared conversation
  apps/vibee-editor/render/agent-history-append.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/routes.ts
  src/__tests__/agent-chat-wiring.test.ts
  src/navigation/registerCommands.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

fix(hooks): the Cyrillic gate covers Swift, which is where it leaked
  lefthook.yml
  scripts/no-cyrillic-guard.cjs
Due: none

fix(miniapp): the chat refreshes the shared conversation instead of reading it once
  apps/vibee-editor/player/src/lib/agentHistory.test.ts
  apps/vibee-editor/player/src/lib/agentHistory.ts
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: prettier --write, eslint --fix

fix(hooks): lefthook owns the hooks natively, and the installer heals the setting that disabled it
  .husky/_/husky.sh
  .husky/pre-commit
  .husky/pre-commit-build-check
  .husky/pre-push
  .husky/prepare-commit-msg
  lefthook.yml
  scripts/install-hooks.cjs
Due: none

feat(ios): the hive tab, all six sub-tabs, and an English tab bar
  apps/vibee-ios/Vibee/HiveAPI.swift
  apps/vibee-ios/Vibee/HiveScreen.swift
  apps/vibee-ios/Vibee/ThemeAlias.swift
  apps/vibee-ios/Vibee/VibeeApp.swift
Due: none

feat(agent): connect bot task buttons and owner-scoped chat continuity
  apps/vibee-editor/player/src/__tests__/pair-deep-link.test.tsx
  apps/vibee-editor/player/src/atoms/agentChat.test.ts
  apps/vibee-editor/player/src/atoms/agentChat.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Chat/ChatTaskActions.css
  apps/vibee-editor/player/src/components/Chat/ChatTaskActions.test.tsx
  apps/vibee-editor/player/src/components/Chat/ChatTaskActions.tsx
  apps/vibee-editor/player/src/components/Telegram/TelegramProvider.tsx
  apps/vibee-editor/player/src/components/Telegram/__tests__/startParamContract.test.ts
  apps/vibee-editor/player/src/lib/agentHistory-continuity.test.ts
  apps/vibee-editor/player/src/lib/agentHistory.test.ts
  apps/vibee-editor/player/src/lib/agentHistory.ts
  apps/vibee-editor/player/src/lib/agentHistorySync.test.ts
  apps/vibee-editor/player/src/lib/agentHistorySync.ts
  apps/vibee-editor/player/src/lib/agentStream.test.ts
  apps/vibee-editor/player/src/lib/agentStream.ts
  apps/vibee-editor/player/src/lib/miniAppRoutes.test.ts
  apps/vibee-editor/player/src/lib/miniAppRoutes.ts
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/agent-chat-continuity.test.ts
  apps/vibee-editor/render/open-app-tool.test.ts
  apps/vibee-editor/render/src/agent/app-tools.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/src/agent/tools.ts
  docs/reports/bot-miniapp-continuity-20260907.md
  src/__tests__/bot/telegramLongAnswer.test.ts
  src/__tests__/navigation/agentTaskButtons.test.ts
  src/__tests__/navigation/agentTaskDelivery.test.ts
  src/__tests__/navigation/agentTaskRouteParity.test.ts
  src/__tests__/services/trinityAgentActions.test.ts
  src/__tests__/setCommands.test.ts
  src/navigation/config/miniApp.config.ts
  src/navigation/helpers/agentTaskButtons.ts
  src/navigation/registerCommands.ts
  src/services/trinityAgent.ts
  src/setCommands.ts
Due: prettier --write, eslint --fix

fix(chat): preserve hydrated actions and discard stale uploads
  apps/vibee-editor/player/src/pages/Chat.hydration.test.tsx
  apps/vibee-editor/player/src/pages/Chat.tsx
  docs/reports/bot-miniapp-continuity-20260907.md
Due: prettier --write

fix(ios): the hive comb reads real modules, and nothing hides under the tab bar
  apps/vibee-ios/Vibee/HiveAPI.swift
  apps/vibee-ios/Vibee/HiveScreen.swift
  apps/vibee-ios/Vibee/ThemeAlias.swift
Due: none

feat(ios): a visual comb map on the hive main page, one cell per module
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/VibeeTests/AgentChatHistoryTests.swift
Due: none

feat(chat): every surface says where a turn came from, and never about itself
  apps/vibee-editor/player/src/atoms/agentChat.ts
  apps/vibee-editor/player/src/lib/agentHistory.test.ts
  apps/vibee-editor/player/src/lib/agentHistory.ts
  apps/vibee-editor/player/src/pages/Chat.css
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-ios/Vibee/AgentChatView.swift
  src/__tests__/agent-surface.test.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

fix(audio): make Kie primary across web and agent speech
  apps/vibee-editor/packages/vibee-atoms/src/types.ts
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.audio-provider.test.tsx
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.money-wiring.test.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/player/src/lib/kieProvider.ts
  apps/vibee-editor/render/audio-provider.test.ts
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/audio-tool.test.ts
  apps/vibee-editor/render/src/agent/minimax-voices.test.ts
  apps/vibee-editor/render/src/agent/pricing.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/tts-timed-captions.test.ts
  docs/reports/kie-primary-tts-20260907.md
Due: prettier --write, eslint --fix

chore(audio): preserve protocol annotations through formatting
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.money-wiring.test.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
Due: prettier --write, eslint --fix

fix(hooks): the test gate runs under a Node that can load vite, or says why not
  scripts/lib/usable-node.cjs
  scripts/test-guard.cjs
Due: none

refactor(audio): name local generation gate in English
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.money-wiring.test.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
Due: prettier --write, eslint --fix

feat(hive): the comb in three dimensions on Babylon, with an honest fallback
  apps/vibee-editor/player/package-lock.json
  apps/vibee-editor/player/package.json
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Hive/CombScene.tsx
  apps/vibee-editor/player/src/lib/hive.ts
  apps/vibee-editor/player/src/pages/Hive.css
  apps/vibee-editor/player/src/pages/Hive.tsx
Due: prettier --write, eslint --fix

feat(bot): say what can actually be delivered, and stop promising the rest
  src/__tests__/bot/capabilityPreflightIsHonest.test.ts
  src/navigation/registerCommands.ts
  src/services/capabilityPreflight.ts
  src/utils/production-startup.ts
  tri
Due: prettier --write, eslint --fix

feat(bot): say what can actually be delivered, and stop promising the rest (#2141)
  src/__tests__/bot/capabilityPreflightIsHonest.test.ts
  src/navigation/registerCommands.ts
  src/services/capabilityPreflight.ts
  src/utils/production-startup.ts
  tri
Due: prettier --write, eslint --fix

feat(bot): buttons under every answer, and an offer to pay right after /start
  src/__tests__/bot/actionButtonsAreLive.test.ts
  src/navigation/helpers/actionButtons.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

feat(bot): buttons under every answer, and an offer to pay right after /start (#2142)
  src/__tests__/bot/actionButtonsAreLive.test.ts
  src/navigation/helpers/actionButtons.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

fix(ai-reels): release the delivery claim on a pre-send failure so a retry can re-deliver
  .claude/loop-opus/guards.mjs
  src/__tests__/money/aiReelsCallbackReleasesClaimOnPreSendFailure.test.ts
  src/api_server/routes/ai-reels-callback.routes.ts
  src/helpers/videoDeliveryIdempotency.ts
Due: prettier --write, eslint --fix

fix(ai-reels): release the delivery claim on a pre-send failure so a retry can re-deliver (#2143)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/aiReelsCallbackReleasesClaimOnPreSendFailure.test.ts
  src/api_server/routes/ai-reels-callback.routes.ts
  src/helpers/videoDeliveryIdempotency.ts
Due: prettier --write, eslint --fix

merge: bring main into the hive branch, keeping both sides of every conflict
  docs/money-ratchets.md
  src/__tests__/bot/actionButtonsAreLive.test.ts
  src/__tests__/bot/botNeverGoesSilent.test.ts
  src/__tests__/bot/capabilityPreflightIsHonest.test.ts
  src/__tests__/bot/telegramLongAnswer.test.ts
  src/__tests__/money/aiReelsCallbackReleasesClaimOnPreSendFailure.test.ts
  src/api_server/routes/ai-reels-callback.routes.ts
  src/helpers/videoDeliveryIdempotency.ts
  src/navigation/helpers/actionButtons.ts
  src/navigation/registerCommands.ts
  src/services/capabilityPreflight.ts
  src/utils/production-startup.ts
Due: prettier --write, eslint --fix

fix(hooks): the test gate no longer skips the first push of a branch
  lefthook.yml
  scripts/test-guard.cjs
Due: none

fix(payments): write a paired income + compensating outcome as ONE atomic insert
  .claude/loop-opus/guards.mjs
  src/__tests__/money/paymentPairAtomicInsert.test.ts
  src/core/supabase/setPayments.ts
  src/handlers/paymentHandlers/index.ts
Due: prettier --write, eslint --fix

fix(payments): write a paired income + compensating outcome as ONE atomic insert (#2144)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/paymentPairAtomicInsert.test.ts
  src/core/supabase/setPayments.ts
  src/handlers/paymentHandlers/index.ts
Due: prettier --write, eslint --fix

docs(skill): the owner-access skill named the wrong header for /mcp
  .claude/skills/mcp-owner-access/SKILL.md
Due: prettier --write

fix(render): deliver the finished video to the buyer, not to a dead group
  apps/vibee-editor/render/render-reaches-the-buyer.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(agent): hive tools were registered twice, so tools/list offered them twice
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/tool-registry-unique.test.ts
Due: prettier --write, eslint --fix

test(bot): follow the three guards my own button change moved
  src/__tests__/bot/botNeverGoesSilent.test.ts
  src/__tests__/bot/telegramLongAnswer.test.ts
Due: prettier --write, eslint --fix

fix(ton): parse the USDT jetton amount from the BoC body (was: always 0, no USDT payment ever credited) [OWNER REVIEW]
  .claude/loop-opus/guards.mjs
  src/__tests__/money/tonJettonAmountParsedFromBoc.test.ts
  src/core/ton/index.ts
  src/core/ton/jettonBody.ts
Due: prettier --write, eslint --fix

fix(render): deliver the finished video to the buyer, not to a dead group (#2148)
  apps/vibee-editor/render/render-reaches-the-buyer.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(agent): the agent can see an attached image, and the turn is routed to a model that can
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/provider.ts
  apps/vibee-editor/render/src/agent/vision-parts.ts
  apps/vibee-editor/render/vision-parts.test.ts
  apps/vibee-editor/render/vision-routing.test.ts
Due: prettier --write, eslint --fix

feat(bot): saving your number now leads to the connect screen, not to a dead end
  src/__tests__/bot/connectTelegramHasAWayOnwards.test.ts
  src/commands/sharePhoneCommand.ts
Due: prettier --write, eslint --fix

fix(bot): answer the messages that fall off the end of the handler chain
  src/__tests__/bot/noMessageGoesUnanswered.test.ts
  src/navigation/middleware/noSilence.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

fix(bot): answer the messages that fall off the end of the handler chain (#2149)
  src/__tests__/bot/noMessageGoesUnanswered.test.ts
  src/navigation/middleware/noSilence.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix
