Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

checkpoint: https://github.com/ruvnet/claude-flow/tree/main...
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/security.yml
  CLAUDE.md
Due: prettier --write

test
  our_changes.txt
Due: none

checkpoint: А ты посмотри у Клоуд Флоу, как нам запускать п...
  .claude/.gitignore
  .claude/README.md
  .claude/activate-hooks.sh
  .claude/hooks/cleanup.sh
  .claude/hooks/post-task-security.sh
  .claude/hooks/security-scan.sh
  .claude/hooks/stop-cleanup.sh
  .claude/settings.json
  .gitignore
Due: prettier --write

checkpoint: ❌ Произошла ошибка.
  src/handlers/handleTextToVideoDirect.ts
Due: prettier --write, eslint --fix

checkpoint: ❌ Произошла ошибка.
  src/services/generateTextToVideo.ts
Due: prettier --write, eslint --fix

feat: интеграция динамического курса USDT/RUB через Bybit API
  src/config/unified-pricing.config.ts
  src/handlers/handleSelectRubAmount/index.ts
  src/price/helpers/rubTopUpOptions.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/scenes/rublePaymentScene.ts
Due: prettier --write, eslint --fix

fix: использовать динамический курс Bybit в расчёте звёзд
  src/price/helpers/rubTopUpOptions.ts
Due: prettier --write, eslint --fix

checkpoint: Добавь больше логов в узел, который мы добавим,...
  src/scenes/textToVideoWizard/index.ts
Due: prettier --write, eslint --fix

checkpoint: Ну, надо настроить еще вот эту вот запуск, чтоб...
  .claude/README.md
  .claude/USAGE.md
  .claude/activate-hooks.sh
  .claude/hooks/claude-flow-integration.sh
  .claude/quick-check.sh
  .claude/settings.json
  .claude/test-claude-flow.sh
  .claude/validate-claude-flow.sh
  CLAUDE-FLOW-INTEGRATION-SUMMARY.md
Due: prettier --write

checkpoint: Ну теперь как-то проверить, что у нас работает ...
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/claude-flow-report.md
  .claude/hooks/claude-flow-integration.sh
  .hive-mind/hive.db
  .hive-mind/hive.db-shm
  .hive-mind/hive.db-wal
  .hive-mind/memory.db
  .hive-mind/sessions/hive-mind-prompt-swarm-1755795040850-0gqse2sng.txt
  .hive-mind/sessions/session-1755795040852-c5to849bq-auto-save-1755795070856.json
Due: prettier --write

checkpoint: Я, конечно, это все сделал, но как будто бы все...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/claude-flow-report.md
  .claude/hooks/claude-flow-integration.sh
  .hive-mind/hive.db-shm
  .hive-mind/hive.db-wal
  .hive-mind/sessions/hive-mind-prompt-swarm-1755795552290-8npvdufu7.txt
  .hive-mind/sessions/session-1755795552291-o2q21rvol-auto-save-1755795582294.json
  .hive-mind/sessions/session-1755795815674-l8cxq3lj8-auto-save-1755795845678.json
  src/handlers/handleMenu.ts
  src/interfaces/instagram.interface.ts
  src/menu/mainMenu.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/services/competitorMonitoringApiService.ts
  src/services/competitorSubscriptionService.ts
  src/utils/enhancedLogger.ts
Due: prettier --write, eslint --fix
