Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

🚨 ИСПРАВЛЕНИЕ: создаем файл src/core/inngest/clients.ts для обратной совместимости импортов
  src/core/inngest/clients.ts
Due: prettier --write, eslint --fix

🔧 ИСПРАВЛЕНИЕ: исключаем src/inngest_app из компиляции (не нужны для бота)
  tsconfig.json
Due: prettier --write

🔧 ИСПРАВЛЕНИЕ: создаем заглушки inngest для ботов (боты не используют inngest)
  src/inngest_app/client.ts
  src/inngest_app/registerFunctions.ts
Due: prettier --write, eslint --fix

✅ УЛУЧШЕНИЕ: обновлен список моделей - добавлены GPT-5, Club Code и другие топ-10 OpenAI моделей
  src/commands/selectModelCommand/getAvailableModels.ts
Due: prettier --write, eslint --fix

checkpoint: Так, во-первых, сделай снапшот. Это очень хорош...
  .env
  logs/app-2025-11-04.log
  logs/app-audit.json
  logs/combined.log
  logs/error-2025-11-04.log
  logs/error-audit.json
  logs/error.log
  logs/security-2025-11-04.log
  logs/security-audit.json
  logs/security/security.log
Due: prettier --write

checkpoint: Все тесты теперь нужно будет покрыть каждую фун...
  package.json
  src/inngest_app/test/README.md
  src/inngest_app/test/fixtures/broadcast-fixtures.ts
  src/inngest_app/test/fixtures/callback-fixtures.ts
  src/inngest_app/test/fixtures/content-fixtures.ts
  src/inngest_app/test/fixtures/existing-fixtures.ts
  src/inngest_app/test/fixtures/generation-fixtures.ts
  src/inngest_app/test/fixtures/instagram-fixtures.ts
  src/inngest_app/test/fixtures/monitoring-fixtures.ts
  src/inngest_app/test/fixtures/payment-fixtures.ts
  src/inngest_app/test/fixtures/render-fixtures.ts
  src/inngest_app/test/fixtures/test-fixtures.ts
  src/inngest_app/test/fixtures/training-fixtures.ts
  src/inngest_app/test/integration/workflow-integration.test.ts
  src/inngest_app/test/setup.ts
  src/inngest_app/test/unit/callback.test.ts
  src/inngest_app/test/unit/content-functions.test.ts
  src/inngest_app/test/unit/existing-functions.test.ts
  src/inngest_app/test/unit/generation-payment-broadcast.test.ts
  src/inngest_app/test/unit/helpers-helpers.test.ts
  src/inngest_app/test/unit/instagram-functions.test.ts
  src/inngest_app/test/unit/monitoring-test-functions.test.ts
  src/inngest_app/test/unit/render-functions.test.ts
  src/inngest_app/test/unit/training-functions.test.ts
  src/inngest_app/test/utils/test-helpers.ts
  src/inngest_app/test/vitest.config.ts
Due: prettier --write, eslint --fix

checkpoint: А пока деплоить не надо, локально не работает. ...
  logs/combined.log
Due: none

🔧 ИСПРАВЛЕНИЕ: разделяем отправку текста и клавиатуры в selectModelWizard для корректного отображения кнопок
  src/scenes/selectModelWizard/index.ts
Due: prettier --write, eslint --fix

checkpoint: 2025-11-04 15:59:18 [INFO]: [getUserDetailsSubs...
  logs/combined.log
Due: none

✅ АКТУАЛИЗАЦИЯ: обновлен список AI моделей на актуальные 2025 года + добавлено объяснение использования во всех функциях бота
  src/commands/selectModelCommand/getAvailableModels.ts
  src/scenes/selectModelWizard/index.ts
Due: prettier --write, eslint --fix

checkpoint: https://wподключи этот MCP, проверь, что работа...
  package-lock.json
  package.json
  src/inngest_app/functions/index.ts
  src/inngest_app/mcp-server.ts
  src/inngest_app/test-cli.js
Due: prettier --write, eslint --fix

checkpoint: Здорово, модели поменялись. Теперь этот.
  logs/combined.log
Due: none

checkpoint: А зачем ты создаешь новый сервер, если у нас уж...
  src/inngest_app/mcp-server.ts
  src/inngest_app/test-cli.js
Due: prettier --write, eslint --fix

🔄 РЕАЛИЗАЦИЯ: подключен OpenRouter API для получения топ-10 актуальных AI моделей в реальном времени
  src/commands/selectModelCommand/getAvailableModels.ts
Due: prettier --write, eslint --fix

checkpoint: https://openrouter.ai/docs/api-reference/models...
  logs/combined.log
Due: none

🎯 СПЕЦИАЛИЗАЦИЯ: фильтрация только AGENTIC CODING моделей для агентного кодинга и ИИ-агентов
  src/commands/selectModelCommand/getAvailableModels.ts
  src/scenes/selectModelWizard/index.ts
Due: prettier --write, eslint --fix

checkpoint: А сделай, знаешь что, не все подряд ТОП-10, а и...
  logs/combined.log
Due: none

checkpoint: А зачем ты нам? У нас не Python, у нас JavaScri...
  src/inngest_app/test/integration/workflow-integration.test.ts
  src/inngest_app/test/unit/callback.test.ts
  src/inngest_app/test/unit/content-functions.test.ts
  src/inngest_app/test/unit/existing-functions.test.ts
  src/inngest_app/test/unit/generation-payment-broadcast.test.ts
  src/inngest_app/test/unit/helpers-helpers.test.ts
  src/inngest_app/test/unit/instagram-functions.test.ts
  src/inngest_app/test/unit/monitoring-test-functions.test.ts
  src/inngest_app/test/unit/render-functions.test.ts
  src/inngest_app/test/unit/training-functions.test.ts
  src/inngest_app/test/vitest.config.ts
Due: prettier --write, eslint --fix

checkpoint: А зачем ты нам? У нас не Python, у нас JavaScri...
  .env
Due: none

✅ ФИНАЛИЗАЦИЯ: добавляем объяснение важности модели и переход в главное меню после выбора
  src/scenes/selectModelWizard/index.ts
Due: prettier --write, eslint --fix

checkpoint: А ты чего остановился? Продолжим.
  src/core/instagram/database-validation.ts
  src/core/instagram/index.ts
  src/core/instagram/schemas.ts
  src/inngest_app/functions/ai-reels-callback.ts
  src/inngest_app/functions/broadcast/broadcastMessage.ts
  src/inngest_app/functions/content/analyzeCompetitorReels.ts
  src/inngest_app/functions/content/extractTopContent.ts
  src/inngest_app/functions/content/findCompetitors.ts
  src/inngest_app/functions/content/generateContentScripts.ts
  src/inngest_app/functions/content/generateDetailedScript.ts
  src/inngest_app/functions/content/generateScenarioClips.ts
  src/inngest_app/functions/existing/generateAdvancedLoopingVideoFunction.ts
  src/inngest_app/functions/generation/neuroImageGeneration.ts
  src/inngest_app/functions/instagram/instagramScraper-v2.ts
  src/inngest_app/functions/monitoring/criticalErrorMonitor.ts
  src/inngest_app/functions/monitoring/logMonitor.ts
  src/inngest_app/functions/payments/paymentProcessing.ts
  src/inngest_app/functions/render/helpers/renderSteps.ts
  src/inngest_app/functions/render/render.ts
  src/inngest_app/functions/render/renderAvatarVideo.ts
  src/inngest_app/functions/render/renderRiddle.ts
  src/inngest_app/functions/training/modelTrainingV2.ts
  src/inngest_app/functions/training/morphImages.ts
  src/inngest_app/test/setup.ts
  src/inngest_app/test/simple-test.test.ts
  src/inngest_app/test/unit/callback.test.ts
  src/inngest_app/test/vitest.config.ts
  src/services/hedra.ts
  tests/generation-limits/setup.ts
  tests/setup.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

checkpoint: А ты чего остановился? Продолжим.
  src/core/kling.ts
  src/inngest_app/test/MANUAL_TESTING_PLAN.md
  src/inngest_app/test/unit/callback.test.ts
  src/interfaces/morphing.interface.ts
  src/interfaces/scenario-clips.interface.ts
  src/services/elevenLabs.ts
  src/services/heygen.ts
  src/services/kieAI.ts
Due: prettier --write, eslint --fix

checkpoint: А ты чего остановился? Продолжим.
  src/services/heygenService.ts
Due: prettier --write, eslint --fix

checkpoint: А ты чего остановился? Продолжим.
  src/core/bot/index.ts
  src/core/supabase/createModelTrainingV2.ts
  src/core/supabase/index.ts
  src/helpers/index.ts
  src/interfaces/scenario-clips.interface.ts
  src/scenes/startScene/index.ts
Due: prettier --write, eslint --fix

checkpoint: А ты чего остановился? Продолжим.
  .env
  src/core/bot/index.ts
  src/core/supabase/createModelTrainingV2.ts
  src/core/supabase/index.ts
  src/helpers/index.ts
  src/interfaces/scenario-clips.interface.ts
  src/scenes/startScene/index.ts
Due: prettier --write, eslint --fix

fix: Remove double WizardScene wrapping - use wizards directly
  src/registerCommands.ts
Due: prettier --write, eslint --fix

✅ Inngest интеграция согласно ТЗ - ЕДИНЫЙ Dev Server
  INNGEST_FUNCTIONS_RESTORE_REPORT.md
  MCP_INTEGRATION_REPORT.md
  MCP_SETUP_GUIDE.md
  inngest.json
  package.json
  scripts/inngest-manager.sh
  src/core/instagram/database-validation.ts
  src/core/instagram/index.ts
  src/core/instagram/schemas.ts
  src/core/kling.ts
  src/core/supabase/createModelTrainingV2.ts
  src/core/supabase/index.ts
  src/inngest_app/all-functions-app.ts
  src/inngest_app/client.ts
  src/inngest_app/functions/existing/generateAIReelsFunction.ts
  src/inngest_app/functions/existing/generateModelTrainingFunction.ts
  src/inngest_app/functions/index.ts
  src/inngest_app/mcp-server.ts
  src/inngest_app/prod-app.ts
  src/inngest_app/test-app-full.ts
  src/inngest_app/test-app.ts
  src/inngest_app/test-imports.ts
  src/inngest_app/test-mcp.ts
  src/inngest_app/test/mcp/README.md
  src/inngest_app/test/mcp/function-invocation.test.ts
  src/inngest_app/test/mcp/mcp-tools.test.ts
  src/interfaces/morphing.interface.ts
  src/interfaces/scenario-clips.interface.ts
  src/services/elevenLabs.ts
  src/services/hedra.ts
  src/services/heygen.ts
  src/services/heygenService.ts
  src/services/kieAI.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
