Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(vibee-render): authenticate the render server
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
  src/__tests__/render/auth.test.ts
Due: prettier --write, eslint --fix

fix(feed): create the tables the feed queries, and make its failure legible
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/player/src/components/Panels/FeedPanel.css
  scripts/schema-feed.sql
Due: prettier --write, eslint --fix

feat(assets): expose the generation history the bot has been writing blind
  apps/vibee-editor/player/src/index.css
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(assets): client half of the bot-to-editor asset link
  apps/vibee-editor/player/src/atoms/botAssets.ts
  apps/vibee-editor/player/src/atoms/index.ts
Due: prettier --write, eslint --fix

feat(migration): repoint stored storage URLs at MinIO
  scripts/rewrite-storage-urls.cjs
Due: none

feat(assets): bot generations become draggable into the timeline
  apps/vibee-editor/player/src/atoms/assetBrowser.ts
  apps/vibee-editor/player/src/components/AssetBrowser/AssetBrowser.tsx
Due: prettier --write, eslint --fix

fix(editor): the asset browser was never rendered at all
  apps/vibee-editor/player/src/components/Timeline/Timeline.tsx
  apps/vibee-editor/player/src/pages/Editor.tsx
Due: none

fix(assets): put the bot category in the list that actually renders
  apps/vibee-editor/player/src/components/Timeline/Timeline.tsx
Due: none

fix(mobile): the generate button itself was below the touch minimum
  apps/vibee-editor/player/src/index.css
Due: none

fix(auth): stop showing a widget that says "Bot domain invalid"
  apps/vibee-editor/player/src/components/Auth/TelegramLoginButton.tsx
Due: none

feat(migration): clear storage URLs whose objects no longer exist
  scripts/clear-dead-storage-urls.cjs
Due: none

fix(mobile): the login button I added was itself below the touch minimum
  apps/vibee-editor/player/src/index.css
Due: none

docs(skills): record what this stack cost to learn
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skills): render-v3-production does not exist
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(render): point the bot at a render server that exists
  src/inngest_app/render-server-client.ts
Due: prettier --write, eslint --fix

fix(render): list the compositions that exist, not six that mostly do not
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): reject an unknown compositionId at accept time, not 15s later
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

docs(skills): a service can lie about its own capabilities
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(db): anon could read every user and delete the payment ledger
  scripts/postgrest-roles.sql
Due: none

fix(billing): v2 training charged twice and refunded the whole balance
  src/inngest_app/functions/training/modelTrainingV2.ts
Due: prettier --write, eslint --fix

fix(balance): a balance that could not be read is not a balance of zero
  src/__tests__/core/getUserBalance.test.ts
  src/core/supabase/getUserBalance.ts
Due: prettier --write, eslint --fix

docs(skills): 'narrow it later' never comes, and other things this cycle cost
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(render): check there is somewhere to render BEFORE spending on the job
  src/inngest_app/functions/render/renderRiddle.ts
  src/inngest_app/functions/render/steps.ts
Due: prettier --write, eslint --fix

docs(skills): correct a wrong fact I recorded as verified
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skills): self-hosted Inngest on Railway had three separate causes of 502
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(events): tell the user when generation fails, and add a sweep for orphaned events
  package.json
  scripts/orphan-events.cjs
  src/inngest_app/functions/generation/neuroImageGeneration.ts
Due: prettier --write, eslint --fix

fix(events): flag unreachable registered functions, and correct my own last PR
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/orphan-events.cjs
  src/inngest_app/functions/generation/neuroImageGeneration.ts
Due: prettier --write, eslint --fix

docs(skills): the Inngest layer is a parallel implementation nothing calls
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(config): the Robokassa ResultURL and the AI Reels callback pointed at a dead server
  src/__tests__/config/paymentUrl.test.ts
  src/config/index.ts
  src/scenes/lipSyncWizard/ai-reels-inngest-wizard.ts
Due: prettier --write, eslint --fix

fix(config): two more places routed through the dead server, and a tracker for the rest
  package.json
  scripts/check-dead-domain.cjs
  src/core/ai-server/generateAiServerLipSync.ts
  src/inngest_app/inngest-provider.ts
Due: prettier --write, eslint --fix

docs(skills): the dead domain is a symptom; the bug is the variable left out of the chain
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(inngest): botBaseUrl never affected delivery — correcting PR 422
  src/inngest_app/inngest-provider.ts
Due: prettier --write, eslint --fix

fix(tests): stop running tests under a runner that cannot execute them
  vitest.config.ts
Due: prettier --write, eslint --fix

chore(tests): type-check the test files, which nothing in this repo did
  package.json
  tsconfig.test.json
Due: prettier --write

docs(skills): grep on tsc output lies, tests were never checked, trace to the call
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(config): two live paths still fell through to the dead server
  src/core/elevenlabs/createVoiceElevenLabs.ts
  src/utils/webhookHealthCheck.ts
Due: prettier --write, eslint --fix

fix(build): stop excluding functions/render from the typecheck — it is clean
  tsconfig.json
Due: prettier --write

fix(render): all four render wizards returned finished video to a dead host
  src/inngest_app/render-server-client.ts
Due: prettier --write, eslint --fix

fix(config): remove the dead server from the code entirely, and gate against its return
  scripts/check-dead-domain.cjs
  src/api_server/routes/diagnostic.routes.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
  src/commands/selectModelCommand/getAvailableModels.ts
  src/config/index.ts
  src/core/ai-server/lipsync-adapter.ts
  src/core/lipsync/providers/kie-veed-fabric-provider.ts
  src/helpers/uploadTelegramFileLocal.ts
  src/inngest_app/functions/training/voiceTrainingRVC.ts
  src/inngest_app/inngest-provider.ts
  src/modules/videoGenerator/generateImageToVideo.ts
  src/services/createModelTrainingLocal.ts
  src/services/generateImageToVideo.ts
  src/services/generateNanoBananaKie.ts
  src/services/generateNeuroImage.ts
  src/services/generateTextToVideo.ts
  src/services/trainFalFluxModel.ts
  src/utils/webhookHealthCheck.ts
Due: prettier --write, eslint --fix

docs(skills): dead domain closed with a gate; TS2709 root cause still unknown
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write
