Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

loop: отчёт цикла №205 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №37 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №206 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(агент): не утверждать о том, чего не смотрел
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(агент): не утверждать о том, чего не смотрел (#763)
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

feat(лента): публикацию можно снять — и это не удаление
  apps/vibee-editor/render/node_modules
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

feat(лента): публикацию можно снять — и это не удаление (#764)
  apps/vibee-editor/render/node_modules
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix: убрать симлинк node_modules, влитый по недосмотру
  .gitignore
  apps/vibee-editor/render/node_modules
Due: none

fix: убрать симлинк node_modules, влитый по недосмотру (#765)
  .gitignore
  apps/vibee-editor/render/node_modules
Due: none

docs(скилл): четыре урока цикла 61
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): четыре урока цикла 61 (#766)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №207 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(лента): кнопка «удалить» наконец работает — она не работала никогда
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(лента): кнопка «удалить» наконец работает — она не работала никогда (#767)
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

docs(скилл): три урока цикла 62
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №208 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №38 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

docs(скилл): три урока цикла 62 (#768)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(луп): один лок на репозиторий — release снимал не тот
  .claude/loop-opus/guard.sh
Due: none

fix(луп): один лок на репозиторий — release снимал не тот (#770)
  .claude/loop-opus/guard.sh
Due: none

feat(луп): сверка адресов клиента с обработчиками сервера
  .claude/loop-opus/check-routes.mjs
Due: none

feat(луп): сверка адресов клиента с обработчиками сервера (#771)
  .claude/loop-opus/check-routes.mjs
Due: none

chore(луп): дашборд якорится на основной чекаут + два урока
  .claude/loop-opus/dashboard.mjs
Due: none

chore(луп): дашборд якорится на основной чекаут + два урока (#772)
  .claude/loop-opus/dashboard.mjs
Due: none

docs(скилл): три урока цикла 63
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): три урока цикла 63 (#773)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: виток №39 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №209 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(публикация): не предлагать Instagram, которого нет
  apps/vibee-editor/packages/vibee-atoms/src/types.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/atoms/user.ts
  apps/vibee-editor/player/src/components/Modals/PublishModal.css
  apps/vibee-editor/player/src/components/Modals/PublishModal.tsx
Due: prettier --write, eslint --fix

fix(публикация): не предлагать Instagram, которого нет (#775)
  apps/vibee-editor/packages/vibee-atoms/src/types.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/atoms/user.ts
  apps/vibee-editor/player/src/components/Modals/PublishModal.css
  apps/vibee-editor/player/src/components/Modals/PublishModal.tsx
Due: prettier --write, eslint --fix

fix(настройки): та же мёртвая кнопка Instagram в шапке
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/player/src/components/Header/styles.css
Due: none

fix(настройки): та же мёртвая кнопка Instagram в шапке (#776)
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/player/src/components/Header/styles.css
Due: none

docs(скилл): два урока цикла 64
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): два урока цикла 64 (#777)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №210 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №40 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(луп): неизменность перестала выдаваться за новость
  .claude/loop-opus/anomalies.mjs
Due: none

fix(луп): неизменность перестала выдаваться за новость (#779)
  .claude/loop-opus/anomalies.mjs
Due: none

feat(проверки): ворота от «проверил не то дерево»
  scripts/check-player-types.cjs
Due: none

feat(проверки): ворота от «проверил не то дерево» (#780)
  scripts/check-player-types.cjs
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
