Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

🔧 HOTFIX: Исправлены неправильные ID сцен в handleMenu
  .claude-flow/metrics/system-metrics.json
  src/handlers/handleMenu.ts
Due: prettier --write, eslint --fix

fix: deploy.yml - correct server for main branch
  .github/workflows/deploy.yml
  DEPLOYMENT_RULES.md
Due: prettier --write

checkpoint: Добавить Midjourney. Он уже добавлен, но почему...
  MIDJOURNEY_V7_FIX_REPORT.md
  docs/MIDJOURNEY_V7_FIX.md
  src/core/providers/registry/provider-registry.ts
  src/price/models/imageModelPrices.ts
  src/services/MidjourneyProvider.ts
  src/services/UniversalProviderManager.ts
  src/services/generateMidjourneyImage.ts
  src/services/generateTextToImageDirect.ts
  src/services/index.ts
  src/services/video-providers/KieAiProvider.ts
  tests/midjourney-v7-integration.test.ts
Due: prettier --write, eslint --fix

Add deploy-main.sh script for three-head-dev.shop
  deploy-main.sh
Due: none

docs: Add critical deployment sequence rules to DEPLOYMENT_RULES.md
  DEPLOYMENT_RULES.md
Due: prettier --write

checkpoint: https://replicate.delivery/xezq/98efrLgtDWnGfoN...
  MIDJOURNEY_V7_COMPLETE_FIX.md
  docs/MIDJOURNEY_V7_FIX.md
  src/services/generateMidjourneyImage.ts
  src/services/generateTextToImageDirect.ts
Due: prettier --write, eslint --fix

checkpoint: previewImage: "https://replicate.delivery/pbxt...
  MIDJOURNEY_V7_PREVIEWIMAGE_FIX.md
  src/price/models/IMAGES_MODELS.ts
  src/price/models/imageModelPrices.ts
Due: prettier --write, eslint --fix

🎬 FIX: Восстановлена работа кнопки "ИИ Рилс" и добавлены отсутствующие обработчики
  src/handlers/handleMenu.ts
Due: prettier --write, eslint --fix

checkpoint: Во-первых, генерация почему-то происходит два р...
  MIDJOURNEY_V7_FINAL_SUMMARY.md
  MIDJOURNEY_V7_UI_FIXES.md
  src/scenes/textToImageWizard/index.ts
  src/services/generateMidjourneyImage.ts
  src/services/generateTextToImageDirect.ts
Due: prettier --write, eslint --fix

checkpoint: Да, отлично. Только у нас размер **accept-ratio...
  MIDJOURNEY_V7_BUTTONS_FIX.md
  MIDJOURNEY_V7_COMPLETE_SOLUTION.md
  src/scenes/textToImageWizard/index.ts
Due: prettier --write, eslint --fix

🚀 DEPLOY: Добавлен флаг --no-cache в deploy.sh
  deploy.sh
Due: none

checkpoint: Я изменила размер 9 на 16, но почему-то это не ...
  MIDJOURNEY_V7_ASPECT_RATIO_FIX.md
  MIDJOURNEY_V7_FINAL_REPORT.md
  src/scenes/textToImageWizard/index.ts
  src/services/generateTextToImageDirect.ts
Due: prettier --write, eslint --fix

🚀 FEATURE: Добавлена автоочистка снапшотов (оставляет последние 5)
  deploy.sh
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
