Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix: update Dart AI service URL to production server
  src/services/dart-ai.service.ts
Due: prettier --write, eslint --fix

checkpoint: НО: Dart AI API НЕ РАЗВЕРНУТ на продакшне cicd ...
  test-dart-ai-integration.js
Due: none

checkpoint: Нет, в смысле бот недоступен?
  src/handlers/handleTextToVideoDirect.ts
  src/scenes/textToVideoWizard/simple.ts
Due: prettier --write, eslint --fix

feat: add Dart AI API routes to production server
  src/api_server/index.ts
  src/api_server/routes/dart-ai.routes.ts
Due: prettier --write, eslint --fix

checkpoint: ❌ Dart AI endpoints возвращают 404 (не разверну...
  test-dart-ai-deployment.js
Due: none

feat: оптимизация работы с балансом через SQL-функции Supabase
  INSTALL_SIMPLE.md
  docs/BALANCE_OPTIMIZATION.md
  package.json
  pnpm-lock.yaml
  sql/balance_functions.sql
  sql/balance_functions_part1.sql
  sql/balance_functions_part2_indexes.sql
  sql/test_function.sql
  src/__tests__/core/supabase/getUserBalanceStatsOptimized.test.ts
  src/__tests__/scenes/balanceSceneOptimized.test.ts
  src/api_server/routes/github-autofixer.routes.ts
  src/core/supabase/getUserBalanceStatsOptimized.ts
  src/scenes/balanceScene/index.ts
  src/scenes/textToVideoWizard/index.ts
Due: prettier --write, eslint --fix

security: удаление всех реальных секретов из файлов
  .gitignore
  GIT_CLEANUP_PLAN.md
  SECURITY.md
  scripts/clean-git-secrets.sh
  scripts/pre-commit-security.sh
  scripts/security-scan.sh
Due: prettier --write

security: удаление всех реальных секретов из файлов
  .gitignore
  GIT_CLEANUP_PLAN.md
  scripts/clean-git-secrets.sh
  scripts/pre-commit-security.sh
  scripts/security-scan.sh
Due: prettier --write

security: удаление всех реальных секретов из файлов
  .gitignore
Due: none

fix: исправление неизвестных типов сервисов в балансе
  FIX_UNKNOWN_SERVICES.md
  sql/analyze_unknown_services.sql
  sql/fix_unknown_services.sql
  src/utils/serviceMapping.ts
Due: prettier --write, eslint --fix

fix: массовое исправление проблем баланса для всех пользователей
  FIX_BALANCE_ISSUES.md
  sql/fix_all_users_services.sql
Due: prettier --write

checkpoint:
  scripts/add_models_to_users.sql
  scripts/direct_insert_models.js
  scripts/execute_add_models_function.js
Due: none

🔧 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: Восстановлен выбор моделей в нейрофото
  NEUROPH0TO_BUG_REPORT.md
  src/scenes/neuroPhotoWizard/index_broken.ts
Due: prettier --write, eslint --fix

🔧 Дополнительные исправления для нейрофото
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix
