Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Clean up console logs in neuroPhotoWizard scene and replace with structured logging
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

feat: enhance logging system and restructure project
  .gitignore
  README.md
  config/nginx/etc/nginx.conf
  config/nginx/nginx-config/default.conf
  config/pm2/ecosystem.config.js
  deployment/README.md
  deployment/ansible/ansible.cfg
  deployment/ansible/inventory
  deployment/ansible/playbook.yml
  deployment/ansible/roles/nginx/tasks/main.yml
  deployment/ansible/roles/nginx/templates/api.locations.j2
  deployment/ansible/roles/nginx/templates/bot1.locations.j2
  deployment/ansible/roles/nginx/templates/bot2.locations.j2
  deployment/ansible/roles/nginx/templates/bot3.locations.j2
  deployment/ansible/roles/nginx/templates/bot4.locations.j2
  deployment/ansible/roles/nginx/templates/bot5.locations.j2
  deployment/ansible/roles/nginx/templates/bot6.locations.j2
  deployment/ansible/roles/nginx/templates/bot7.locations.j2
  deployment/ansible/roles/nginx/templates/nginx.conf.j2
  deployment/docker/Dockerfile
  deployment/docker/docker-compose.yml
  deployment/docker/docker-entrypoint.sh
  deployment/scripts/start.sh
  docs/ARCHITECTURE.md
  docs/LOGGING.md
  html-report/report.html
  package-lock.json
  package.json
  package.prod.json
  src/utils/enhancedLogger.ts
  uploads/54321/image-to-video/1746331671586_morph.mp4
Due: prettier --write, eslint --fix

fix: TypeScript error in enhancedLogger correlation ID slice
  src/utils/enhancedLogger.ts
Due: prettier --write, eslint --fix

checkpoint: Нужно добавить новый функционализм. Вот Т.З., к...
  docs/INSTAGRAM_UNIVERSAL_PARSING_SYSTEM.md
  package.json
  scripts/database/instagram_tables.sql
  scripts/test-instagram-api.js
  src/api_server/index.ts
  src/api_server/routes/instagram.routes.ts
  src/core/supabase/instagramDatabase.ts
  src/core/validation/instagramSchemas.ts
  src/interfaces/instagram.interface.ts
  src/services/telegramNotifications.ts
Due: prettier --write, eslint --fix

checkpoint: Failed GitWebhook Aug 20th 2025, 10:19 pm 289s ...
  .husky/_/husky.sh
Due: none

remove: удален ненужный SQL скрипт
  scripts/create_get_user_balance_stats_function.sql
Due: none

checkpoint: У нас база данных с УПБС, все сделано уже.
  package.json
  scripts/test-inngest-instagram.js
  src/services/generateInstagramScraping.ts
  src/services/instagramScrapingService.ts
Due: prettier --write, eslint --fix

feat: добавлена поддержка aspect ratio 9:16 для Kie.ai VEO моделей
  src/modules/videoGenerator/config/models.config.ts
  src/modules/videoGenerator/generateTextToVideo.ts
  test-aspect-ratio-integration.js
  test-kie-aspect-ratio.js
Due: prettier --write, eslint --fix

checkpoint: Ну, я не понимаю, как это в боте тестировать? ...
  docs/TELEGRAM_BOT_TESTING_GUIDE.md
  src/commands/instagramTestCommand.ts
  src/registerCommands.ts
Due: prettier --write, eslint --fix

Интеграция фермы ботов: тест @clip_maker_neuro_bot, прод множественные боты
  index.js
  package.json
Due: prettier --write

feat: добавлен UI для выбора aspect ratio 9:16 в Kie.ai VEO моделях
  src/interfaces/telegram-bot.interface.ts
  src/modules/videoGenerator/config/models.config.ts
  src/modules/videoGenerator/generateTextToVideo.ts
  src/modules/videoGenerator/helpers/keyboard.ts
  src/scenes/textToVideoWizard/index.ts
Due: prettier --write, eslint --fix

Добавляем railway.toml конфигурацию
  railway.toml
Due: none

checkpoint: Тексту видео, а фото, ту видео у нас поддержива...
  src/modules/videoGenerator/generateImageToVideo.ts
  src/scenes/imageToVideoWizard/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
