Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(pulse): Add enhanced error diagnostics for Telegram API
  src/core/bot/index.ts
  src/helpers/pulse.ts
Due: prettier --write, eslint --fix

feat(ai-photoshop): Add aspect ratio fallback + misc improvements
  scripts/check-infisical-prod-tokens.mjs
  src/api_server/routes/diagnostic.routes.ts
  src/api_server/routes/robokassa.routes.ts
  src/core/bot/index.ts
  src/helpers/pulse.ts
  src/helpers/sendPhotoWithFallback.ts
  src/index.ts
  src/inngest_app/functions/existing/generateModelTrainingFunction.ts
  src/inngest_app/functions/training/checkStuckTrainings.ts
  src/inngest_app/registerFunctions.ts
  src/interfaces/telegram-bot.interface.ts
  src/modules/videoGenerator/generateImageToVideo.ts
  src/navigation/registerCommands.ts
  src/scenes/aiPhotoshopScene/index.ts
  src/scenes/balance.zig
  src/scenes/chatWithAvatarWizard/index.ts
  src/scenes/help.zig
  src/scenes/image_to_video.zig
  src/scenes/index.ts
  src/scenes/menu.zig
  src/scenes/referral.zig
  src/scenes/remove_bg.zig
  src/scenes/settings.zig
  src/scenes/subscription.zig
  src/scenes/text_to_speech.zig
  src/scenes/upscale.zig
  src/scenes/voice_clone.zig
  src/scripts/check-webhook.mjs
  src/scripts/fix-robokassa-missing-stars.ts
  src/services/telegram-log.service.ts
  src/utils/webhookHealthCheck.ts
  trinity_chat.tvc
Due: prettier --write, eslint --fix

fix(inngest): Fix step output size limit exceeded in model training
  src/inngest_app/functions/existing/generateModelTrainingFunction.ts
Due: prettier --write, eslint --fix

fix(inngest): Use ZIP URL directly to avoid step output size limit
  .env.example
  src/core/infisical/index.ts
  src/inngest_app/functions/existing/generateModelTrainingFunction.ts
Due: prettier --write, eslint --fix

fix(inngest): Read credentials from process.env in each step to avoid output size limit
  .dockerignore
  src/core/infisical/index.ts
  src/inngest_app/functions/existing/generateModelTrainingFunction.ts
  src/inngest_app/functions/index.ts
  src/inngest_app/functions/testSimpleFunction.ts
  src/scenes/uploadTrainFluxModelScene/index.ts
Due: prettier --write, eslint --fix

chore(rust): Fix all 37 clippy warnings, 0 warnings remaining
  rust/rings/BRONZE-RING-APP/src/main.rs
  rust/rings/BRONZE-RING-SRV/src/payment_webhooks.rs
  rust/rings/GOLD-RING-PR00/src/lib.rs
  rust/rings/GOLD-RING-PR00/src/replicate.rs
  rust/rings/SILVER-RING-AI00/src/lib.rs
  rust/rings/SILVER-RING-AI00/src/providers/elevenlabs.rs
  rust/rings/SILVER-RING-AI00/src/providers/heygen.rs
  rust/rings/SILVER-RING-AI00/src/providers/openai.rs
  rust/rings/SILVER-RING-PY00/src/lib.rs
  rust/rings/SILVER-RING-PY00/src/x402.rs
  rust/rings/SILVER-RING-SN00/src/handlers.rs
  rust/rings/SILVER-RING-SN00/src/lib.rs
  rust/rings/TEST-UTILS/src/mock_database.rs
Due: none

feat(rust): Wire AI orchestrator + WorkerPool + connect all scenes to job dispatch
  rust/Cargo.lock
  rust/rings/BRONZE-RING-APP/src/main.rs
  rust/rings/SILVER-RING-DB00/src/repository.rs
  rust/rings/SILVER-RING-SN00/Cargo.toml
  rust/rings/SILVER-RING-SN00/src/ai_photoshop.rs
  rust/rings/SILVER-RING-SN00/src/ai_reels.rs
  rust/rings/SILVER-RING-SN00/src/avatar_transform.rs
  rust/rings/SILVER-RING-SN00/src/chat_with_avatar.rs
  rust/rings/SILVER-RING-SN00/src/digital_avatar_body.rs
  rust/rings/SILVER-RING-SN00/src/fal_render.rs
  rust/rings/SILVER-RING-SN00/src/flux_kontext.rs
  rust/rings/SILVER-RING-SN00/src/generation_utils.rs
  rust/rings/SILVER-RING-SN00/src/handlers.rs
  rust/rings/SILVER-RING-SN00/src/hedra_render.rs
  rust/rings/SILVER-RING-SN00/src/heygen_render.rs
  rust/rings/SILVER-RING-SN00/src/image_to_prompt.rs
  rust/rings/SILVER-RING-SN00/src/image_to_video.rs
  rust/rings/SILVER-RING-SN00/src/image_upscaler.rs
  rust/rings/SILVER-RING-SN00/src/improve_prompt.rs
  rust/rings/SILVER-RING-SN00/src/lib.rs
  rust/rings/SILVER-RING-SN00/src/lip_sync.rs
  rust/rings/SILVER-RING-SN00/src/morphing.rs
  rust/rings/SILVER-RING-SN00/src/music_generation.rs
  rust/rings/SILVER-RING-SN00/src/neuro_photo.rs
  rust/rings/SILVER-RING-SN00/src/remove_bg.rs
  rust/rings/SILVER-RING-SN00/src/size.rs
  rust/rings/SILVER-RING-SN00/src/text_to_image.rs
  rust/rings/SILVER-RING-SN00/src/text_to_speech.rs
  rust/rings/SILVER-RING-SN00/src/text_to_video.rs
  rust/rings/SILVER-RING-SN00/src/video_duration.rs
  rust/rings/SILVER-RING-SN00/src/video_transcription.rs
  rust/rings/SILVER-RING-SN00/src/voice_avatar.rs
  rust/rings/SILVER-RING-TG00/src/dispatcher.rs
  rust/rings/SILVER-RING-TG00/src/state.rs
Due: none

test(rust): Add 49 e2e tests for orchestrator, AI services, scenes, database, full pipeline
  rust/tests/e2e-tests/Cargo.toml
  rust/tests/e2e-tests/tests/e2e_ai_services.rs
  rust/tests/e2e-tests/tests/e2e_database.rs
  rust/tests/e2e-tests/tests/e2e_full_pipeline.rs
  rust/tests/e2e-tests/tests/e2e_orchestrator.rs
  rust/tests/e2e-tests/tests/e2e_scene_states.rs
Due: none

fix(rust): Wire CircuitBreaker, balance deduction, Telegram delivery, and 4 stub scenes
  rust/Cargo.lock
  rust/rings/BRONZE-RING-APP/src/main.rs
  rust/rings/SILVER-RING-AI00/src/orchestrator.rs
  rust/rings/SILVER-RING-SN00/src/ai_photoshop.rs
  rust/rings/SILVER-RING-SN00/src/ai_reels.rs
  rust/rings/SILVER-RING-SN00/src/avatar_transform.rs
  rust/rings/SILVER-RING-SN00/src/chat_with_avatar.rs
  rust/rings/SILVER-RING-SN00/src/digital_avatar_body.rs
  rust/rings/SILVER-RING-SN00/src/face_swap.rs
  rust/rings/SILVER-RING-SN00/src/fal_render.rs
  rust/rings/SILVER-RING-SN00/src/flux_kontext.rs
  rust/rings/SILVER-RING-SN00/src/generation_utils.rs
  rust/rings/SILVER-RING-SN00/src/handlers.rs
  rust/rings/SILVER-RING-SN00/src/hedra_render.rs
  rust/rings/SILVER-RING-SN00/src/heygen_render.rs
  rust/rings/SILVER-RING-SN00/src/image_to_prompt.rs
  rust/rings/SILVER-RING-SN00/src/image_to_video.rs
  rust/rings/SILVER-RING-SN00/src/image_upscaler.rs
  rust/rings/SILVER-RING-SN00/src/improve_prompt.rs
  rust/rings/SILVER-RING-SN00/src/instagram_parser.rs
  rust/rings/SILVER-RING-SN00/src/instagram_scraping.rs
  rust/rings/SILVER-RING-SN00/src/lip_sync.rs
  rust/rings/SILVER-RING-SN00/src/morphing.rs
  rust/rings/SILVER-RING-SN00/src/music_generation.rs
  rust/rings/SILVER-RING-SN00/src/neuro_coder.rs
  rust/rings/SILVER-RING-SN00/src/neuro_photo.rs
  rust/rings/SILVER-RING-SN00/src/remove_bg.rs
  rust/rings/SILVER-RING-SN00/src/tech_support.rs
  rust/rings/SILVER-RING-SN00/src/text_to_image.rs
  rust/rings/SILVER-RING-SN00/src/text_to_speech.rs
  rust/rings/SILVER-RING-SN00/src/text_to_video.rs
  rust/rings/SILVER-RING-SN00/src/video_transcription.rs
  rust/rings/SILVER-RING-SN00/src/voice_avatar.rs
  rust/rings/SILVER-RING-TG00/src/state.rs
Due: none

refactor(rust): Dedup load_lang, add CircuitBreaker tests, webhook e2e tests
  rust/rings/SILVER-RING-AI00/src/circuit_breaker.rs
  rust/rings/SILVER-RING-SN00/src/handlers.rs
  rust/rings/SILVER-RING-SN00/src/lip_sync.rs
  rust/rings/SILVER-RING-SN00/src/neuro_photo.rs
  rust/rings/SILVER-RING-SN00/src/payment.rs
  rust/rings/SILVER-RING-SN00/src/text_to_image.rs
  rust/rings/SILVER-RING-SN00/src/text_to_video.rs
  rust/tests/e2e-tests/tests/e2e_webhooks.rs
Due: none

feat(rust): Add deployment artifacts for Fly.io Rust binary
  .dockerignore.rust
  Dockerfile.rust
  fly.rust.toml
  rust/.cargo/config.toml
  rust/rust-toolchain.toml
  scripts/deploy/deploy-rust.sh
Due: none

feat(rust): Add Railway GitHub integration deployment
  .github/workflows/railway-deploy.yml
  .railwayignore
  Dockerfile.rust
  docs/RUST_DEPLOYMENT.md
  railway.toml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/rings/SILVER-RING-DB00/src/entities/job_queue.rs
  rust/rings/SILVER-RING-DB00/src/entities/mod.rs
  rust/rings/SILVER-RING-JB00/src/queue.rs
Due: prettier --write

fix(infisical): Enable Infisical initialization + add dev:infisical script
  package.json
  src/api_server/index.ts
  src/core/infisical/index.ts
Due: prettier --write, eslint --fix

fix(infisical): Fix logger require with fallback and @ts-ignore
  .dockerignore
  src/core/infisical/index.ts
Due: prettier --write, eslint --fix

feat: Wave 151 security hardening (rust)
  rust/Cargo.toml
  rust/WAVE_151_PLAN.md
  rust/WAVE_151_REPORT.md
  rust/rings/BRONZE-RING-APP/src/main.rs
  rust/rings/BRONZE-RING-SRV/Cargo.toml
  rust/rings/BRONZE-RING-SRV/src/payment_webhooks.rs
  rust/rings/BRONZE-RING-SRV/src/router.rs
  rust/rings/BRONZE-RING-SRV/src/webhooks.rs
  rust/rings/SILVER-RING-AI00/Cargo.toml
  rust/rings/SILVER-RING-AI00/src/circuit_breaker.rs
  rust/rings/SILVER-RING-AI00/src/providers/elevenlabs.rs
  rust/rings/SILVER-RING-AI00/src/providers/fal.rs
  rust/rings/SILVER-RING-AI00/src/providers/hedra.rs
  rust/rings/SILVER-RING-AI00/src/providers/heygen.rs
  rust/rings/SILVER-RING-AI00/src/providers/kie.rs
  rust/rings/SILVER-RING-AI00/src/providers/midjourney.rs
  rust/rings/SILVER-RING-AI00/src/providers/openai.rs
  rust/rings/SILVER-RING-AI00/src/providers/replicate.rs
Due: prettier --write

feat: Wave 152 security hardening (rust)
  rust/Cargo.lock
  rust/WAVE_152_PLAN.md
  rust/WAVE_152_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/health.rs
  rust/rings/SILVER-RING-AI00/src/circuit_breaker.rs
  rust/rings/SILVER-RING-AI00/src/orchestrator.rs
  rust/rings/SILVER-RING-AI00/src/providers/elevenlabs.rs
  rust/rings/SILVER-RING-AI00/src/providers/fal.rs
  rust/rings/SILVER-RING-AI00/src/providers/hedra.rs
  rust/rings/SILVER-RING-AI00/src/providers/heygen.rs
  rust/rings/SILVER-RING-AI00/src/providers/kie.rs
  rust/rings/SILVER-RING-AI00/src/providers/openai.rs
  rust/rings/SILVER-RING-AI00/src/providers/replicate.rs
  rust/rings/SILVER-RING-PY00/src/services/payment_processor.rs
  rust/rings/SILVER-RING-SN00/src/ai_cover.rs
  rust/rings/SILVER-RING-SN00/src/ai_photoshop.rs
  rust/rings/SILVER-RING-SN00/src/ai_reels.rs
  rust/rings/SILVER-RING-SN00/src/avatar_transform.rs
  rust/rings/SILVER-RING-SN00/src/change_language.rs
  rust/rings/SILVER-RING-SN00/src/face_swap.rs
  rust/rings/SILVER-RING-SN00/src/fal_render.rs
  rust/rings/SILVER-RING-SN00/src/generation_utils.rs
  rust/rings/SILVER-RING-SN00/src/hedra_render.rs
  rust/rings/SILVER-RING-SN00/src/heygen_render.rs
  rust/rings/SILVER-RING-SN00/src/music_generation.rs
  rust/rings/SILVER-RING-SN00/src/remove_bg.rs
  rust/rings/SILVER-RING-SN00/src/select_model.rs
  rust/rings/SILVER-RING-SN00/src/text_to_speech.rs
  rust/rings/SILVER-RING-SN00/src/train_flux_model.rs
  rust/rings/SILVER-RING-SN00/src/voice_training.rs
Due: prettier --write

feat: Wave 153 security hardening (rust)
  rust/WAVE_153_PLAN.md
  rust/WAVE_153_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/router.rs
  rust/rings/SILVER-RING-AI00/src/orchestrator.rs
  rust/rings/SILVER-RING-SN00/src/ai_photoshop.rs
  rust/rings/SILVER-RING-SN00/src/avatar_transform.rs
  rust/rings/SILVER-RING-SN00/src/balance.rs
  rust/rings/SILVER-RING-SN00/src/change_language.rs
  rust/rings/SILVER-RING-SN00/src/chat_with_avatar.rs
  rust/rings/SILVER-RING-SN00/src/digital_avatar_body.rs
  rust/rings/SILVER-RING-SN00/src/face_swap.rs
  rust/rings/SILVER-RING-SN00/src/fal_render.rs
  rust/rings/SILVER-RING-SN00/src/flux_kontext.rs
  rust/rings/SILVER-RING-SN00/src/generation_utils.rs
  rust/rings/SILVER-RING-SN00/src/handlers.rs
  rust/rings/SILVER-RING-SN00/src/hedra_render.rs
  rust/rings/SILVER-RING-SN00/src/heygen_render.rs
  rust/rings/SILVER-RING-SN00/src/image_to_prompt.rs
  rust/rings/SILVER-RING-SN00/src/image_to_video.rs
  rust/rings/SILVER-RING-SN00/src/image_upscaler.rs
  rust/rings/SILVER-RING-SN00/src/improve_prompt.rs
  rust/rings/SILVER-RING-SN00/src/instagram_scraping.rs
  rust/rings/SILVER-RING-SN00/src/invite.rs
  rust/rings/SILVER-RING-SN00/src/neuro_coder.rs
  rust/rings/SILVER-RING-SN00/src/neuro_photo.rs
  rust/rings/SILVER-RING-SN00/src/remove_bg.rs
  rust/rings/SILVER-RING-SN00/src/start.rs
  rust/rings/SILVER-RING-SN00/src/subscription.rs
  rust/rings/SILVER-RING-SN00/src/tech_support.rs
  rust/rings/SILVER-RING-SN00/src/text_to_image.rs
  rust/rings/SILVER-RING-SN00/src/text_to_speech.rs
  rust/rings/SILVER-RING-SN00/src/train_flux_model.rs
  rust/rings/SILVER-RING-SN00/src/video_transcription.rs
  rust/rings/SILVER-RING-SN00/src/voice_avatar.rs
Due: prettier --write

feat: Wave 154 security hardening (rust)
  rust/WAVE_154_PLAN.md
  rust/WAVE_154_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/webhooks.rs
  rust/rings/SILVER-RING-AI00/src/providers/elevenlabs.rs
  rust/rings/SILVER-RING-AI00/src/providers/fal.rs
  rust/rings/SILVER-RING-AI00/src/providers/hedra.rs
  rust/rings/SILVER-RING-AI00/src/providers/heygen.rs
  rust/rings/SILVER-RING-AI00/src/providers/kie.rs
  rust/rings/SILVER-RING-AI00/src/providers/midjourney.rs
  rust/rings/SILVER-RING-AI00/src/providers/openai.rs
  rust/rings/SILVER-RING-SN00/src/ai_photoshop.rs
  rust/rings/SILVER-RING-SN00/src/avatar_transform.rs
  rust/rings/SILVER-RING-SN00/src/digital_avatar_body.rs
  rust/rings/SILVER-RING-SN00/src/face_swap.rs
  rust/rings/SILVER-RING-SN00/src/flux_kontext.rs
  rust/rings/SILVER-RING-SN00/src/hedra_render.rs
  rust/rings/SILVER-RING-SN00/src/image_to_prompt.rs
  rust/rings/SILVER-RING-SN00/src/image_to_video.rs
  rust/rings/SILVER-RING-SN00/src/image_upscaler.rs
  rust/rings/SILVER-RING-SN00/src/instagram_parser.rs
  rust/rings/SILVER-RING-SN00/src/instagram_scraping.rs
  rust/rings/SILVER-RING-SN00/src/morphing.rs
  rust/rings/SILVER-RING-SN00/src/neuro_coder.rs
  rust/rings/SILVER-RING-SN00/src/neuro_photo.rs
  rust/rings/SILVER-RING-SN00/src/remove_bg.rs
  rust/rings/SILVER-RING-SN00/src/tech_support.rs
  rust/rings/SILVER-RING-SN00/src/train_flux_model.rs
Due: prettier --write

feat: Wave 156 security hardening (rust)
  rust/Cargo.lock
  rust/WAVE_156_PLAN.md
  rust/WAVE_156_REPORT.md
  rust/rings/BRONZE-RING-APP/Cargo.toml
  rust/rings/BRONZE-RING-APP/src/main.rs
  rust/rings/SILVER-RING-AI00/src/providers/elevenlabs.rs
  rust/rings/SILVER-RING-AI00/src/providers/fal.rs
  rust/rings/SILVER-RING-AI00/src/providers/hedra.rs
  rust/rings/SILVER-RING-AI00/src/providers/heygen.rs
  rust/rings/SILVER-RING-AI00/src/providers/kie.rs
  rust/rings/SILVER-RING-AI00/src/providers/midjourney.rs
  rust/rings/SILVER-RING-AI00/src/providers/openai.rs
  rust/rings/SILVER-RING-AI00/src/providers/replicate.rs
  rust/rings/SILVER-RING-PY00/src/robokassa.rs
  rust/rings/SILVER-RING-PY00/src/telegram_stars.rs
  rust/rings/SILVER-RING-PY00/src/ton.rs
  rust/rings/SILVER-RING-PY00/src/x402.rs
Due: prettier --write

feat: Wave 157 security hardening (rust)
  rust/WAVE_157_PLAN.md
  rust/WAVE_157_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/payment_webhooks.rs
  rust/rings/BRONZE-RING-SRV/src/webhooks.rs
  rust/rings/SILVER-RING-AI00/src/circuit_breaker.rs
  rust/rings/SILVER-RING-DB00/src/repository.rs
  rust/rings/SILVER-RING-JB00/src/queue.rs
  rust/rings/SILVER-RING-PY00/src/robokassa.rs
  rust/rings/SILVER-RING-PY00/src/services/payment_processor.rs
  rust/rings/SILVER-RING-SC00/src/store.rs
Due: prettier --write

feat(wave-160): negative amount guard, terminal-state webhooks, deserialization fail-closed, input caps, full config redaction
  rust/WAVE_160_PLAN.md
  rust/WAVE_160_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/webhooks.rs
  rust/rings/GOLD-RING-TY00/src/config.rs
  rust/rings/SILVER-RING-DB00/src/repository.rs
  rust/rings/SILVER-RING-SN00/src/start.rs
  rust/rings/SILVER-RING-TG00/src/dispatcher.rs
Due: prettier --write

feat(wave-161): atomic payment CTE, webhook DB timeouts, rate-limit isolation, IDOR methods, worker tracing
  rust/WAVE_161_PLAN.md
  rust/WAVE_161_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/payment_webhooks.rs
  rust/rings/BRONZE-RING-SRV/src/router.rs
  rust/rings/BRONZE-RING-SRV/src/webhooks.rs
  rust/rings/GOLD-RING-TR00/src/database.rs
  rust/rings/SILVER-RING-DB00/src/repository.rs
  rust/rings/SILVER-RING-JB00/src/worker.rs
  rust/rings/TEST-UTILS/src/mock_database.rs
Due: prettier --write

feat: wave 164 security hardening
  rust/WAVE_164_PLAN.md
  rust/WAVE_164_REPORT.md
  rust/rings/GOLD-RING-PR00/src/infisical.rs
  rust/rings/GOLD-RING-TY00/src/bot.rs
  rust/rings/SILVER-RING-AI00/src/providers/elevenlabs.rs
  rust/rings/SILVER-RING-AI00/src/providers/fal.rs
  rust/rings/SILVER-RING-AI00/src/providers/hedra.rs
  rust/rings/SILVER-RING-AI00/src/providers/heygen.rs
  rust/rings/SILVER-RING-AI00/src/providers/kie.rs
  rust/rings/SILVER-RING-AI00/src/providers/mod.rs
  rust/rings/SILVER-RING-AI00/src/providers/openai.rs
  rust/rings/SILVER-RING-AI00/src/providers/replicate.rs
  rust/rings/SILVER-RING-DB00/src/entities/bots.rs
  rust/rings/SILVER-RING-DB00/src/repository.rs
  rust/rings/SILVER-RING-JB00/src/worker.rs
  rust/rings/SILVER-RING-PY00/src/robokassa.rs
  rust/rings/SILVER-RING-PY00/src/x402.rs
Due: prettier --write

feat: wave 165 edge-layer hardening
  rust/WAVE_165_PLAN.md
  rust/WAVE_165_REPORT.md
  rust/rings/BRONZE-RING-APP/src/main.rs
  rust/rings/BRONZE-RING-SRV/src/router.rs
  rust/rings/GOLD-RING-PR00/src/telegram.rs
Due: prettier --write

feat: wave 166 HTTP edge hardening
  rust/Cargo.toml
  rust/WAVE_166_PLAN.md
  rust/WAVE_166_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/health.rs
  rust/rings/BRONZE-RING-SRV/src/router.rs
Due: prettier --write

docs(skills): append Wave 167 patterns — f64 chokepoint guards, restart limits, builder fallback
  rust/.gitignore
Due: none

feat(wave-168): DB boundary string-length caps, username sanitization, refund guard, config fail-fast
  rust/WAVE_168_PLAN.md
  rust/WAVE_168_REPORT.md
  rust/rings/GOLD-RING-TY00/src/config.rs
  rust/rings/SILVER-RING-DB00/src/repository.rs
  rust/rings/SILVER-RING-PY00/src/services/payment_processor.rs
  rust/rings/SILVER-RING-SN00/src/start.rs
Due: prettier --write

feat: Wave 169 security hardening — Money type, deserialization hardening, tracing coverage
  rust/WAVE_169_PLAN.md
  rust/WAVE_169_REPORT.md
  rust/rings/GOLD-RING-PR00/src/kie.rs
  rust/rings/GOLD-RING-PR00/src/replicate.rs
  rust/rings/GOLD-RING-PR00/src/telegram.rs
  rust/rings/GOLD-RING-TY00/src/lib.rs
  rust/rings/GOLD-RING-TY00/src/money.rs
  rust/rings/SILVER-RING-PY00/src/services/payment_processor.rs
Due: prettier --write

feat: Wave 170 security hardening — gateway boundary precision, supervision, deserialization
  rust/WAVE_170_PLAN.md
  rust/WAVE_170_REPORT.md
  rust/rings/BRONZE-RING-APP/src/main.rs
  rust/rings/BRONZE-RING-SRV/src/payment_webhooks.rs
  rust/rings/SILVER-RING-PY00/src/robokassa.rs
  rust/rings/SILVER-RING-PY00/src/telegram_stars.rs
  rust/rings/SILVER-RING-PY00/src/x402.rs
Due: prettier --write

feat: Wave 171 security hardening — TON overflow guard, InfisicalStore reqwest hardening, retry_stuck LIMIT cap, get_balance unwrap elimination, deny_unknown_fields on Infisical structs
  rust/WAVE_171_PLAN.md
  rust/WAVE_171_REPORT.md
  rust/rings/BRONZE-RING-APP/src/main.rs
  rust/rings/GOLD-RING-PR00/src/infisical.rs
  rust/rings/SILVER-RING-JB00/src/queue.rs
  rust/rings/SILVER-RING-PY00/src/ton.rs
  rust/rings/SILVER-RING-SC00/src/store.rs
  rust/rings/SILVER-RING-SN00/src/balance.rs
  rust/rings/SILVER-RING-SN00/src/generation_utils.rs
  rust/rings/SILVER-RING-SN00/src/handlers.rs
Due: prettier --write

feat: Wave 172 security hardening — poison-pill retry fix, worker catch_unwind, outbound URL validation, payload log redaction, Instagram URL hardening
  rust/Cargo.lock
  rust/WAVE_172_PLAN.md
  rust/WAVE_172_REPORT.md
  rust/rings/BRONZE-RING-APP/src/main.rs
  rust/rings/GOLD-RING-TY00/Cargo.toml
  rust/rings/GOLD-RING-TY00/src/lib.rs
  rust/rings/GOLD-RING-TY00/src/utils.rs
  rust/rings/SILVER-RING-JB00/src/queue.rs
  rust/rings/SILVER-RING-JB00/src/worker.rs
  rust/rings/SILVER-RING-SN00/Cargo.toml
  rust/rings/SILVER-RING-SN00/src/instagram_scraping.rs
Due: prettier --write

feat: Wave 173 security hardening — Telegram API timeout helpers, NavigationRouter TTL eviction, cancel-predictions stub honesty, bypass_payment_check removal
  rust/WAVE_173_PLAN.md
  rust/WAVE_173_REPORT.md
  rust/rings/GOLD-RING-PR00/src/payment.rs
  rust/rings/SILVER-RING-SN00/src/cancel_predictions.rs
  rust/rings/SILVER-RING-TG00/src/lib.rs
  rust/rings/SILVER-RING-TG00/src/navigation.rs
  rust/rings/SILVER-RING-TG00/src/utils.rs
Due: prettier --write

feat: Wave 174 security hardening — de-hardcoded admin IDs, tech support log redaction, email validation hardening, rate-limit fail-closed
  rust/WAVE_174_PLAN.md
  rust/WAVE_174_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/router.rs
  rust/rings/SILVER-RING-SN00/src/email.rs
  rust/rings/SILVER-RING-SN00/src/tech_support.rs
  rust/rings/SILVER-RING-TG00/src/access.rs
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
