Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(loop): notice when a merge has not become a deploy
  .claude/loop-opus/anomalies.mjs
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(loop): notice when a merge has not become a deploy (#914)
  .claude/loop-opus/anomalies.mjs
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(mock): сервер-эмуляция всех функций для тестирования без бэкендов
  Makefile
  apps/vibee-editor/render/mock-server.ts
Due: prettier --write, eslint --fix

fix(render): one optional feature was taking down the whole server
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): one optional feature was taking down the whole server (#915)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(mock): сервер-эмуляция всех функций для тестирования без бэкендов (#916)
  Makefile
  apps/vibee-editor/render/mock-server.ts
Due: prettier --write, eslint --fix

fix(mock): не падать при занятом порту + освобождать порт в make mock
  Makefile
  apps/vibee-editor/render/mock-server.ts
Due: prettier --write, eslint --fix

fix(mock): не падать при занятом порту + освобождать порт в make mock (#917)
  Makefile
  apps/vibee-editor/render/mock-server.ts
Due: prettier --write, eslint --fix

loop: цикл №244 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(mock): все провайдеры + тест 84 функций (100%)
  Makefile
  apps/vibee-editor/render/mock-server.ts
  apps/vibee-editor/render/mock-test.py
Due: prettier --write, eslint --fix

feat(mock): все провайдеры + тест 84 функций (100%) (#918)
  Makefile
  apps/vibee-editor/render/mock-server.ts
  apps/vibee-editor/render/mock-test.py
Due: prettier --write, eslint --fix

feat(auth): pairing-code login so the native app needs no typed-in key
  .claude/loop-opus/anomalies.mjs
  apps/vibee-editor/render/pairing.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session-store.ts
Due: prettier --write, eslint --fix

docs(skill): three lessons from the pairing work
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): four lessons from the pairing work
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

feat(dev): mock-режим в мини-аппе + проверки всех функций в lefthook
  apps/vibee-editor/player/src/lib/generateApi.ts
  apps/vibee-editor/render/mock-selfcheck.sh
  apps/vibee-editor/render/mock-test.py
  lefthook.yml
Due: prettier --write, eslint --fix

docs(skill): four lessons from the pairing work (#920)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

feat(auth): pairing-code login so the native app needs no typed-in key (#921)
  .claude/loop-opus/anomalies.mjs
  apps/vibee-editor/render/pairing.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session-store.ts
Due: prettier --write, eslint --fix

feat(dev): mock-режим в мини-аппе + проверки всех функций в lefthook (#922)
  apps/vibee-editor/player/src/lib/generateApi.ts
  apps/vibee-editor/render/mock-selfcheck.sh
  apps/vibee-editor/render/mock-test.py
  lefthook.yml
Due: prettier --write, eslint --fix

loop: цикл №245 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(auth): the pairing routes were unreachable; add the sign-in screen that needs them
  apps/vibee-editor/render/auth-public.test.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/Vibee/Identity.swift
  apps/vibee-ios/Vibee/SignIn.swift
Due: prettier --write, eslint --fix

fix(auth): the pairing routes were unreachable; add the sign-in screen that needs them (#923)
  apps/vibee-editor/render/auth-public.test.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/Vibee/Identity.swift
  apps/vibee-ios/Vibee/SignIn.swift
Due: prettier --write, eslint --fix

feat(auth): the mini-app half — a button that mints the pairing code
  apps/vibee-editor/player/src/components/Profile/PairWithApp.tsx
  apps/vibee-editor/player/src/pages/Profile.tsx
  apps/vibee-editor/render/session-routes.ts
Due: prettier --write, eslint --fix

feat(auth): the mini-app half — a button that mints the pairing code (#924)
  apps/vibee-editor/player/src/components/Profile/PairWithApp.tsx
  apps/vibee-editor/player/src/pages/Profile.tsx
  apps/vibee-editor/render/session-routes.ts
Due: prettier --write, eslint --fix

docs(skill): a route can be complete, covered, deployed and unreachable
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): a route can be complete, covered, deployed and unreachable (#925)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(loop): the dashboard was silently ignoring most of what I wrote to it
  .claude/loop-opus/dashboard.mjs
Due: none

fix(loop): the dashboard was silently ignoring most of what I wrote to it (#926)
  .claude/loop-opus/dashboard.mjs
Due: none

security: remove a live Fal.ai key from a test, teach the guard its shape
  scripts/security-token-guard.sh
  src/__tests__/ai-reels-fal-integration.test.ts
Due: prettier --write, eslint --fix

loop: цикл №246 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(монетизация): агент знает бесплатное/платное, помогает с провайдерами, клуб
  apps/vibee-editor/render/mock-server.ts
  apps/vibee-editor/render/mock-test.py
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/pricing.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

feat(монетизация): агент знает бесплатное/платное, помогает с провайдерами, клуб (#927)
  apps/vibee-editor/render/mock-server.ts
  apps/vibee-editor/render/mock-test.py
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/pricing.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

test(auth): end-to-end pairing, and the render server's tests were never typechecked
  apps/vibee-editor/render/package.json
  apps/vibee-editor/render/pairing-e2e.test.ts
  apps/vibee-editor/render/tsconfig.test.json
Due: prettier --write, eslint --fix

test(auth): end-to-end pairing, and the render server's tests were never typechecked (#928)
  apps/vibee-editor/render/package.json
  apps/vibee-editor/render/pairing-e2e.test.ts
  apps/vibee-editor/render/tsconfig.test.json
Due: prettier --write, eslint --fix

docs(skill): three lessons — bypassing tests, unchecked tests, and zsh backticks
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): three lessons — bypassing tests, unchecked tests, and zsh backticks (#929)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(loop): the dashboard rendered eight empty rows and called it done
  .claude/loop-opus/dashboard.mjs
Due: none

fix(loop): the dashboard rendered eight empty rows and called it done (#930)
  .claude/loop-opus/dashboard.mjs
Due: none

loop: цикл №247 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write
