Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

probe: census who can reach a shell, classified by the imported primitive (#1775)
  scripts/lib/blank-code.cjs
  scripts/probe-shell-callers.cjs
  tri
Due: none

fix: guard job_id in the render pipeline that is actually live
  src/__tests__/render/shellSafeJobId.test.ts
  src/inngest_app/functions/render/helpers/jobId.ts
  src/inngest_app/functions/render/helpers/renderSteps.ts
  src/inngest_app/functions/render/steps.ts
Due: prettier --write, eslint --fix

fix: guard job_id in the render pipeline that is actually live (#1776)
  src/__tests__/render/shellSafeJobId.test.ts
  src/inngest_app/functions/render/helpers/jobId.ts
  src/inngest_app/functions/render/helpers/renderSteps.ts
  src/inngest_app/functions/render/steps.ts
Due: prettier --write, eslint --fix

fix: refuse an identifier that can leave the directory it names
  src/__tests__/utils/pathSegmentGuard.test.ts
  src/helpers/file-helpers.ts
  src/helpers/saveFileLocally.ts
  src/inngest_app/functions/training/morphImages.ts
  src/modules/videoGenerator/generateImageToVideo.ts
  src/utils/pathSegment.ts
Due: prettier --write, eslint --fix

fix: refuse an identifier that can leave the directory it names (#1777)
  src/__tests__/utils/pathSegmentGuard.test.ts
  src/helpers/file-helpers.ts
  src/helpers/saveFileLocally.ts
  src/inngest_app/functions/training/morphImages.ts
  src/modules/videoGenerator/generateImageToVideo.ts
  src/utils/pathSegment.ts
Due: prettier --write, eslint --fix

skill: a class is closed in an implementation, not in a file
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: a class is closed in an implementation, not in a file (#1778)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix: guard the path sites a textual matcher could not see
  src/__tests__/utils/pathSegmentGuard.test.ts
  src/inngest_app/functions/existing/generateAIReelsFunction.ts
  src/inngest_app/functions/existing/generateAdvancedLoopingVideoFunction.ts
Due: prettier --write, eslint --fix

fix: guard the path sites a textual matcher could not see (#1779)
  src/__tests__/utils/pathSegmentGuard.test.ts
  src/inngest_app/functions/existing/generateAIReelsFunction.ts
  src/inngest_app/functions/existing/generateAdvancedLoopingVideoFunction.ts
Due: prettier --write, eslint --fix

skill: compute the population instead of writing the list by hand
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: compute the population instead of writing the list by hand (#1780)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

probe: census where an unvalidated event field reaches a sink
  scripts/probe-event-trust.cjs
  tri
Due: none

probe: give each sink its own positive sample
  scripts/probe-event-trust.cjs
Due: none

probe: census where an unvalidated event field reaches a sink (#1781)
  scripts/probe-event-trust.cjs
  tri
Due: none

skill: a clean sweep is a result
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: a clean sweep is a result (#1782)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix: stop a publicly mounted router reporting which secrets are configured
  src/__tests__/api_server/publicRouterSecretDisclosure.test.ts
  src/api_server/routes/github-autofixer.routes.ts
Due: prettier --write, eslint --fix

fix: stop a publicly mounted router reporting which secrets are configured (#1783)
  src/__tests__/api_server/publicRouterSecretDisclosure.test.ts
  src/api_server/routes/github-autofixer.routes.ts
Due: prettier --write, eslint --fix

skill: a rule about the pairing, not about the pattern
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: a rule about the pairing, not about the pattern (#1784)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix: validate the bot name /stats takes from the command text
  src/__tests__/commands/statsCommandBotName.test.ts
  src/commands/statsCommand.ts
Due: prettier --write, eslint --fix

fix: validate the bot name /stats takes from the command text (#1785)
  src/__tests__/commands/statsCommandBotName.test.ts
  src/commands/statsCommand.ts
Due: prettier --write, eslint --fix

skill: work backwards from the sink when the entries are too many
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: work backwards from the sink when the entries are too many (#1786)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix: require the on-chain amount rather than accepting it optionally
  src/__tests__/money/tonAmountVerificationParity.test.ts
  src/core/ton/index.ts
Due: prettier --write, eslint --fix

fix: require the on-chain amount rather than accepting it optionally (#1787)
  src/__tests__/money/tonAmountVerificationParity.test.ts
  src/core/ton/index.ts
Due: prettier --write, eslint --fix

skill: an optional check is permission not to check
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: an optional check is permission not to check (#1788)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix: refuse a redirect whose next hop cannot be identified
  src/__tests__/security/ssrfRedirectGuard.test.ts
  src/utils/sanitize.ts
Due: prettier --write, eslint --fix

fix: refuse a redirect whose next hop cannot be identified (#1789)
  src/__tests__/security/ssrfRedirectGuard.test.ts
  src/utils/sanitize.ts
Due: prettier --write, eslint --fix

probe: census rejections that sit behind an optional parameter
  scripts/probe-optional-guards.cjs
  tri
Due: none

probe: census rejections that sit behind an optional parameter (#1790)
  scripts/probe-optional-guards.cjs
  tri
Due: none

skill: a guard must refuse what it cannot identify
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: a guard must refuse what it cannot identify (#1791)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix: the two downloadFile copies that never received the SSRF guard
  scripts/probe-twin-definitions.cjs
  src/__tests__/security/ssrfRedirectGuard.test.ts
  src/core/replicate/generateVideo.ts
  src/services/localMorphingProcessor.ts
Due: prettier --write, eslint --fix

gate: refresh the snapshot after the ratchet rename
  .test-baseline.txt
Due: none

fix: the two downloadFile copies that never received the SSRF guard (#1792)
  .test-baseline.txt
  scripts/probe-twin-definitions.cjs
  src/__tests__/security/ssrfRedirectGuard.test.ts
  src/core/replicate/generateVideo.ts
  src/services/localMorphingProcessor.ts
Due: prettier --write, eslint --fix

skill: reproduce the redness on a clean tree before fixing it
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: reproduce the redness on a clean tree before fixing it (#1793)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

gate: say when the run itself is degraded, before the verdict
  scripts/test-gate.cjs
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
