Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(tri): a missing npm install reads as 390 type errors, not as missing deps (#1052)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  tri
Due: prettier --write

fix(restore): three merged money/security fixes had vanished from main
  .gitignore
  apps/vibee-editor/render/no-silent-revert.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

fix(restore): three merged money/security fixes had vanished from main (#1053)
  .gitignore
  apps/vibee-editor/render/no-silent-revert.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

loop: cycle 93 - survival check + tri port fix
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: correct PR number in cycle 93 report
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(tri): a mutation that claims red without running the test lies upward
  .claude/skills/vibee-stack-hard-won/SKILL.md
  tri
Due: prettier --write

fix(tri): a mutation that claims red without running the test lies upward (#1055)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  tri
Due: prettier --write

feat(training): enable the stuck-training watchdog, hardened against a re-fire loop
  src/__tests__/inngest/registration.test.ts
  src/__tests__/inngest/training-completed-version-guard.test.ts
  src/inngest_app/functions/existing/handleModelTrainingCompleted.ts
  src/inngest_app/registerFunctions.ts
Due: prettier --write, eslint --fix

loop: cycle 93 — survival check + tri port fix (#1056)
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(loop): the content factory stopped for 51 hours and nothing could say so
  .claude/loop-opus/anomalies.mjs
  apps/vibee-editor/render/src/agent/tools.ts
  loop/regression-check.sh
  tri
Due: prettier --write, eslint --fix

feat(training): enable the stuck-training watchdog, hardened against a re-fire loop (#1057)
  src/__tests__/inngest/registration.test.ts
  src/__tests__/inngest/training-completed-version-guard.test.ts
  src/inngest_app/functions/existing/handleModelTrainingCompleted.ts
  src/inngest_app/registerFunctions.ts
Due: prettier --write, eslint --fix

fix(loop): the content factory stopped for 51 hours and nothing could say so (#1058)
  .claude/loop-opus/anomalies.mjs
  apps/vibee-editor/render/src/agent/tools.ts
  loop/regression-check.sh
  tri
Due: prettier --write, eslint --fix

loop: cycle 94 - factory stall watch + PR number debt
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 94 - factory stall watch + PR number debt (#1059)
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

docs(audit): the stuck-training watchdog is enabled, not dead
  docs/audit/feature-inventory.md
Due: prettier --write

fix(loop): the dashboard could never build, and nothing said so
  .claude/loop-opus/dashboard.mjs
  loop/LOOP_STATE.md
Due: prettier --write

docs(audit): the stuck-training watchdog is enabled, not dead (#1060)
  docs/audit/feature-inventory.md
Due: prettier --write

fix(loop): the dashboard could never build, and nothing said so (#1061)
  .claude/loop-opus/dashboard.mjs
  loop/LOOP_STATE.md
Due: prettier --write

loop: cycle 95 - factory recovered
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(autopilot): the script could not start at all, so the factory made nothing
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

loop: cycle 95 - factory recovered (#1062)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(autopilot): the script could not start at all, so the factory made nothing (#1063)
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

chore(tri): command names and help are English, Russian names kept as aliases
  tri
Due: none

chore(tri): command names and help are English, Russian names kept as aliases (#1064)
  tri
Due: none

docs(loop): cycle 223 -- the autopilot was unrunnable, and "not scheduled" hid it
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

docs(loop): cycle 223 -- the autopilot was unrunnable, and "not scheduled" hid it (#1065)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(autopilot): supervise the factory from the render service, off by default
  apps/vibee-editor/render/loop/topics.json
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

feat(autopilot): supervise the factory from the render service, off by default (#1066)
  apps/vibee-editor/render/loop/topics.json
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

fix(render): missing face detection was reported as a successful render (#960)
  apps/vibee-editor/render/face-availability.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(verify): re-run the known-flaky test:bun step once before failing the gate
  scripts/verify.cjs
Due: none

fix(verify): re-run the known-flaky test:bun step once before failing the gate (#PR)
  scripts/verify.cjs
Due: none

fix(render): missing face detection was reported as a successful render (#960) (#1067)
  apps/vibee-editor/render/face-availability.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(autopilot): retry the render, because the first tick after a deploy loses
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

loop: cycles 96-97 - read-only + tri convergence note
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(autopilot): retry the render, because the first tick after a deploy loses (#1069)
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

loop: cycles 96-97 - read-only + tri convergence note (#1070)
  loop/ZCODE_LOOP.md
Due: prettier --write

docs(loop): cycle 224 -- a container needs its own copy of everything a script reads
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

docs(loop): cycle 224 -- a container needs its own copy of everything a script reads (#1071)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

test(training): lock the stuck-training watchdog's self-termination invariant
  src/__tests__/inngest/watchdog-self-termination.test.ts
Due: prettier --write, eslint --fix

test(training): lock the stuck-training watchdog's self-termination invariant (#PR)
  src/__tests__/inngest/watchdog-self-termination.test.ts
Due: prettier --write, eslint --fix
