Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: update gitignore for worktrees
  .gitignore
Due: none

feat: добавлена поддержка VEO3 и VEO3 FAST моделей
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
  scripts/test-veo3-integration.js
  src/config/unified-pricing.config.ts
  src/modules/videoGenerator/config/models.config.ts
  src/services/generateTextToVideo.ts
  src/services/video-providers/KieAiProvider.ts
  src/services/videoModels.ts
Due: prettier --write, eslint --fix

fix: исправлены цены для VEO3 моделей
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .gitignore
  .swarm/memory.db
  src/modules/videoGenerator/config/models.config.ts
Due: prettier --write, eslint --fix

fix: добавлен обработчик для кнопки 'Назад в меню'
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
  src/hearsHandlers.ts
Due: prettier --write, eslint --fix

fix: обновлены названия VEO3 моделей на veo3 и veo3_fast
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
  scripts/test-veo3-menu.js
  src/handlers/handleTextToVideoDirect.ts
  src/interfaces/zod/textToVideo.zod.ts
  src/modules/videoGenerator/generateImageToVideo.ts
  src/modules/videoGenerator/generateTextToVideo.ts
  src/modules/videoGenerator/helpers/modelMapping.ts
  src/price/helpers/calculateFinalPrice.ts
  src/scenes/textToVideoWizard/index.ts
  src/scenes/textToVideoWizard/simple.ts
  src/services/UniversalProviderManager.ts
Due: prettier --write, eslint --fix

checkpoint: В чем проблема у нас на сервере за деплоин эта ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
  src/handlers/handleTextToVideoDirect.ts
  src/services/generateTextToVideo.ts
Due: prettier --write, eslint --fix

checkpoint: продолжи задачу ultrathink
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
  docs/VEO3_INTEGRATION_STATUS.md
  package-lock.json
  package.json
  scripts/test-endpoints.js
  scripts/test-generation-flow.js
  scripts/test-veo3-status.js
  src/handlers/handleTextToVideoDirect.ts
  src/hearsHandlers.ts
  src/services/generateTextToVideo.ts
Due: prettier --write, eslint --fix

checkpoint: На русском напиши пожалуйста то же самое.
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

checkpoint: <session_context> <session_context> Call #1: Us...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .swarm/memory.db
Due: prettier --write

🕉️ Очистка кода: удаление временных заглушек и упрощение логики
  src/handlers/handleTextToVideoDirect.ts
  src/services/generateTextToVideo.ts
Due: prettier --write, eslint --fix

🛠️ Исправление: Показ всех моделей пользователя в нейрофото
  src/core/bot/index.ts
  src/core/getBotTokenByName.ts
  src/scenes/checkBalanceScene.ts
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

📝 Обновление ROADMAP: Добавлено исправление показа всех моделей в нейрофото
  docs/ROADMAP.md
Due: prettier --write

🛠️ Исправление: Добавлен обработчик callback'ов для выбора модели в нейрофото
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

📝 Обновление ROADMAP: Добавлено исправление обработки callback'ов выбора модели
  docs/ROADMAP.md
Due: prettier --write

📝 Обновление ROADMAP: Добавлена ссылка на PR #306
  docs/ROADMAP.md
Due: prettier --write

🚀 Add complete automated deployment system
  .github/workflows/production-deploy.yml
  AUTOMATED_DEPLOYMENT.md
  DEPLOYMENT_AUTOMATION_SUMMARY.md
  Dockerfile.optimized
  PRODUCTION_CONFIG.md
  docker-compose.production.yml
  package.json
  scripts/build-and-push.sh
  scripts/deploy-production.sh
  scripts/health-monitor.sh
  scripts/healthcheck.sh
  src/utils/env-validator.ts
  src/utils/production-startup.ts
  src/utils/webhook-manager.ts
  src/utils/webhook-setup-cli.ts
  src/utils/webhook-verify-cli.ts
Due: prettier --write, eslint --fix

🔧 Fix development environment: Add missing kill-port.cjs script
  scripts/kill-port.cjs
Due: none

📝 Обновление ROADMAP: Добавлена информация о новых обработчиках callback'ов для выбора модели в нейрофото
  .swarm/memory.db
  .swarm/memory.db-shm
  .swarm/memory.db-wal
Due: none

Add deployment status analysis and action plan
  DEPLOYMENT_STATUS_ANALYSIS.md
Due: prettier --write

Fix TypeScript compilation errors for deployment scripts
  .qoder/quests/unknown-task.md
  src/utils/env-validator.ts
  src/utils/production-startup.ts
  src/utils/webhook-setup-cli.ts
  src/utils/webhook-verify-cli.ts
Due: prettier --write, eslint --fix

Fix remaining TypeScript compilation errors
  .npmrc
  .npmrc.backup
  .qoder/quests/unknown-task.md
  src/utils/webhook-verify-cli.ts
Due: prettier --write, eslint --fix

Complete deployment automation implementation with 3 working solutions
  DEPLOYMENT_STATUS_ANALYSIS.md
  package-lock.json
Due: prettier --write

checkpoint: Изучи функцию нейрофото. чем эта ветка отличает...
  docs/ANALYSIS/NEURO_PHOTO_BRANCH_ANALYSIS.md
Due: prettier --write

checkpoint: Изучи функцию нейрофото. чем эта ветка отличает...
  package-lock.json
  package.json
Due: prettier --write

checkpoint: (base) ➜ neuro-photo-2-1 git:(neuro-photo-2-1)...
  docs/ANALYSIS/FINAL_STATUS_REPORT.md
Due: prettier --write

checkpoint: TEST_BOT_NAME=clip_maker_neuro_bot это!!!! BOT...
  src/core/bot/index.ts
  src/core/getBotTokenByName.ts
Due: prettier --write, eslint --fix

checkpoint: (base) ➜ neuro-photo-2-2 git:(n...
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

fix: восстановлена рабочая версия нейрофото с поддержкой множественного выбора моделей
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

📚 Add production monitoring documentation and server test script
  docs/NEURO_PHOTO_DEPLOYMENT_REPORT.md
  docs/PRODUCTION_LOGS.md
  scripts/test-neuro-photo-server.js
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
