Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(агент): приветствие больше не обещает то, чего может не быть (#741)
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: none

loop: отчёт цикла №193 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(агент): первые четыре вопроса показывают умения, а не счётчики
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: none

loop: виток №24 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(агент): первые четыре вопроса показывают умения, а не счётчики (#742)
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: none

loop: отчёт цикла №194 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №25 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №195 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №26 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №196 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №27 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №197 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(лента): заголовок при публикации — по-русски, даже если исходник английский
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(лента): заголовок при публикации — по-русски, даже если исходник английский (#747)
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №198 утренний — сутки 27.08 открыты, MORNING собран
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/MORNING.md
Due: prettier --write

loop: виток №28 — конвейер ожил: +1 пост за двое суток
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №29 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №199 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №30 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №31 — просмотры +41% за паузу
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №200 юбилейный — конвейер ждёт токенов
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №32 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №33 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №201 — дежурство, конвейер ждёт токенов
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(агент): my_renders — агент больше не теряет собственные рендеры
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

feat(агент): my_renders — агент больше не теряет собственные рендеры (#754)
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №202 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №34 — дежурство, агенту добавлен my_renders (#754)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(агент): пустой список рендеров не говорит «их не было»
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(агент): пустой список рендеров не говорит «их не было» (#755)
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

loop: виток №35 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №203 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(чат): реплики агента вокруг инструмента больше не слипаются
  apps/vibee-editor/player/src/lib/agentStream.test.ts
  apps/vibee-editor/player/src/lib/agentStream.ts
Due: prettier --write, eslint --fix

fix(чат): реплики агента вокруг инструмента больше не слипаются (#758)
  apps/vibee-editor/player/src/lib/agentStream.test.ts
  apps/vibee-editor/player/src/lib/agentStream.ts
Due: prettier --write, eslint --fix

chore(луп): оснастка цикла попадает в git
  .claude/loop-opus/.gitignore
  .claude/loop-opus/COMPETITORS.md
  .claude/loop-opus/LESSONS.md
  .claude/loop-opus/README.md
  .claude/loop-opus/WORKFLOW.md
  .claude/loop-opus/add-trace.mjs
  .claude/loop-opus/anomalies.mjs
  .claude/loop-opus/check-colophon.sh
  .claude/loop-opus/guard.sh
  .claude/loop-opus/landed.json
  .claude/loop-opus/render-fingerprint.mjs
  .claude/loop-opus/scan-feed.sh
  .claude/loop-opus/verify-landed.mjs
Due: prettier --write

chore(луп): оснастка цикла попадает в git (#759)
  .claude/loop-opus/.gitignore
  .claude/loop-opus/COMPETITORS.md
  .claude/loop-opus/LESSONS.md
  .claude/loop-opus/README.md
  .claude/loop-opus/WORKFLOW.md
  .claude/loop-opus/add-trace.mjs
  .claude/loop-opus/anomalies.mjs
  .claude/loop-opus/check-colophon.sh
  .claude/loop-opus/guard.sh
  .claude/loop-opus/landed.json
  .claude/loop-opus/render-fingerprint.mjs
  .claude/loop-opus/scan-feed.sh
  .claude/loop-opus/verify-landed.mjs
Due: prettier --write

loop: отчёт цикла №204 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №36 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

chore(луп): дашборд собирается из STATE.json, а не пишется руками
  .claude/loop-opus/dashboard.mjs
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

chore(луп): дашборд собирается из STATE.json, а не пишется руками (#761)
  .claude/loop-opus/dashboard.mjs
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
