Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs(skill): a detector catches the file that documents it (281-283) (#1894)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(money): the invariants map, enforced instead of written
  docs/money-invariants.md
  src/__tests__/money/invariantsMapPointsAtRealThings.test.ts
Due: prettier --write, eslint --fix

docs(money): the invariants map, enforced instead of written (#1895)
  docs/money-invariants.md
  src/__tests__/money/invariantsMapPointsAtRealThings.test.ts
Due: prettier --write, eslint --fix

docs(skill): a next-iteration option is a claim too (284-286)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): a next-iteration option is a claim too (284-286) (#1896)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

chore(tri): add the money-invariants verb that #1895 left behind
  tri
Due: none

chore(tri): add the money-invariants verb that #1895 left behind (#1897)
  tri
Due: none

docs(money): a generated index of all 99 ratchets, compared not trusted
  docs/money-invariants.md
  docs/money-ratchets.md
  scripts/gen-money-ratchets.cjs
  src/__tests__/money/moneyRatchetsIndexIsCurrent.test.ts
  tri
Due: prettier --write, eslint --fix

docs(money): a generated index of all 99 ratchets, compared not trusted (#1898)
  docs/money-invariants.md
  docs/money-ratchets.md
  scripts/gen-money-ratchets.cjs
  src/__tests__/money/moneyRatchetsIndexIsCurrent.test.ts
  tri
Due: prettier --write, eslint --fix

fix(tri): money-ratchets must not write the tree just to show it
  tri
Due: none

fix(tri): money-ratchets must not write the tree just to show it (#1899)
  tri
Due: none

docs(skill): byte-compare loses to the formatter (287-289)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): byte-compare loses to the formatter (287-289) (#1900)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(security): seven payment backups were never scanned for secrets
  src/__tests__/money/invariantsMapPointsAtRealThings.test.ts
  src/__tests__/security/no-secrets-in-repo.test.ts
Due: prettier --write, eslint --fix

fix(security): seven payment backups were never scanned for secrets (#1901)
  src/__tests__/money/invariantsMapPointsAtRealThings.test.ts
  src/__tests__/security/no-secrets-in-repo.test.ts
Due: prettier --write, eslint --fix

docs(skill): a size limit drops exactly what the check exists for (290-292)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): a size limit drops exactly what the check exists for (290-292) (#1902)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(security): the history secret scan covered 16.7% and found nothing because of it
  docs/OWNER-DECISIONS.md
  scripts/probe-secrets-in-history.cjs
Due: prettier --write

fix(security): the history secret scan covered 16.7% and found nothing because of it (#1903)
  docs/OWNER-DECISIONS.md
  scripts/probe-secrets-in-history.cjs
Due: prettier --write

docs(skill): a cap that takes the newest kills a history probe (293-295)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): a cap that takes the newest kills a history probe (293-295) (#1904)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(probes): a listing error was read as an empty folder
  scripts/probe-storage-reconcile.cjs
  scripts/probe-tool-blindness.cjs
Due: none

fix(probes): a listing error was read as an empty folder (#1905)
  scripts/probe-storage-reconcile.cjs
  scripts/probe-tool-blindness.cjs
Due: none

docs(skill): an error read as an empty folder (296-298)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): an error read as an empty folder (296-298) (#1906)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(probes): the sibling site yesterday's fix left behind
  scripts/probe-storage-inventory.cjs
  scripts/probe-storage-reconcile.cjs
  scripts/probe-supabase.cjs
  src/services/bot-owner-billing.ts
  tri
Due: prettier --write, eslint --fix

fix(probes): the sibling site yesterday's fix left behind (#1907)
  scripts/probe-storage-inventory.cjs
  scripts/probe-storage-reconcile.cjs
  scripts/probe-supabase.cjs
  src/services/bot-owner-billing.ts
  tri
Due: prettier --write, eslint --fix

docs(skill): the sibling site was in the same file (299-301)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): the sibling site was in the same file (299-301) (#1908)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(probe): an AST traversal is not a directory walk
  scripts/probe-registry-scopes.cjs
Due: none

fix(probe): an AST traversal is not a directory walk (#1909)
  scripts/probe-registry-scopes.cjs
Due: none

docs(skill): the third correction of one number (302-304)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): the third correction of one number (302-304) (#1910)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(probe): teach the scope resolver path.resolve and the local walker names
  scripts/probe-registry-scopes.cjs
Due: none

fix(probe): teach the scope resolver path.resolve and the local walker names (#1911)
  scripts/probe-registry-scopes.cjs
Due: none

docs(skill): nearly fixed a correct narrow scope (305-307)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): nearly fixed a correct narrow scope (305-307) (#1912)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(lib): matchCode dropped every line-anchored match as if it were a comment
  scripts/lib/blank-code.cjs
  src/__tests__/scenes/charge-result-checked-ratchet.test.ts
Due: prettier --write, eslint --fix

fix(lib): matchCode dropped every line-anchored match as if it were a comment (#1913)
  scripts/lib/blank-code.cjs
  src/__tests__/scenes/charge-result-checked-ratchet.test.ts
Due: prettier --write, eslint --fix

docs(skill): matchCode judged the first character (308-310)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write
