Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

loop: цикл №238 — очередь тем пополнена (+5 из инженерных событий недели)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/topics.json
Due: prettier --write

feat(auth): app sessions as a third branch, not a second door
  apps/vibee-editor/render/auth-session.test.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/src/agent/routes.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

feat(auth): app sessions as a third branch, not a second door (#891)
  apps/vibee-editor/render/auth-session.test.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/src/agent/routes.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

docs(skill): three lessons from cycle 69
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): three lessons from cycle 69 (#892)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(security): закрыто 155 из 185 уязвимостей зависимостей
  bun.lock
  package.json
  src/__tests__/navigation/categories.config.test.ts
  src/core/lipsync/async-lipsync-manager.ts
  src/services/generateMidjourneyImage.ts
Due: prettier --write, eslint --fix

fix(security): критических уязвимостей не осталось (185 → 18)
  bun.lock
  package.json
Due: prettier --write

loop: цикл №239 — сверка автопилота персистит исправление (write-through)
  apps/vibee-editor/render/auth-session.test.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/agent/routes.ts
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/state.json
  vitest.config.ts
Due: prettier --write, eslint --fix

feat(A2A): Agent2Agent-вход со сквозным доступом ко всем функциям
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/a2a.ts
Due: prettier --write, eslint --fix

fix(tests): vibee-atoms had no config of its own — 0 of 159 tests ran
  apps/vibee-editor/packages/vibee-atoms/vitest.config.ts
Due: prettier --write, eslint --fix

feat(A2A): Agent2Agent-вход со сквозным доступом ко всем функциям (#894)
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/a2a.ts
Due: prettier --write, eslint --fix

fix(tests): vibee-atoms had no config of its own — 0 of 159 tests ran (#895)
  apps/vibee-editor/packages/vibee-atoms/vitest.config.ts
Due: prettier --write, eslint --fix

feat(loop): one command for all three test suites
  .claude/loop-opus/test-all.sh
Due: none

feat(loop): one command for all three test suites (#897)
  .claude/loop-opus/test-all.sh
Due: none

fix(gates): гейт событий перестал молчать о незарегистрированных функциях
  scripts/orphan-events-baseline.json
  scripts/orphan-events.cjs
  src/__tests__/promoLinks.test.ts
Due: prettier --write, eslint --fix

loop: цикл №240 — дежурство: конвейер жив, всё зелёное
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(release): .env больше не попадает в Docker-образ + синхронизирован lock прода
  .dockerignore
  package-lock.json
Due: prettier --write

fix(undo): the first press did nothing — 159/159 now pass
  apps/vibee-editor/packages/vibee-atoms/src/atoms/__tests__/history.test.ts
  apps/vibee-editor/packages/vibee-atoms/src/atoms/history.ts
Due: prettier --write, eslint --fix

fix(undo): the first press did nothing — 159/159 now pass (#903)
  apps/vibee-editor/packages/vibee-atoms/src/atoms/__tests__/history.test.ts
  apps/vibee-editor/packages/vibee-atoms/src/atoms/history.ts
Due: prettier --write, eslint --fix

fix: сцена lipSync падала при загрузке модуля + второй раннер тестов стал осмысленным
  package.json
  src/scenes/lipSyncWizard/index.ts
Due: prettier --write, eslint --fix

fix(ios): device signing — the app now installs and runs on a real iPhone
  apps/vibee-ios/project.yml
Due: none

fix(ios): device signing — the app now installs and runs on a real iPhone (#904)
  apps/vibee-ios/project.yml
Due: none

loop: цикл №241 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(A2A): починить регрессию #891 + локальная оснастка (Makefile, харнесс)
  .claude/skills/free-reels-img2img/SKILL.md
  .env.local.example
  .gitignore
  Makefile
  apps/vibee-editor/render/a2a-local.ts
  apps/vibee-editor/render/src/agent/a2a.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

fix(A2A): починить регрессию #891 + локальная оснастка (Makefile, харнесс) (#905)
  .claude/skills/free-reels-img2img/SKILL.md
  .env.local.example
  .gitignore
  Makefile
  apps/vibee-editor/render/a2a-local.ts
  apps/vibee-editor/render/src/agent/a2a.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

fix(ios): the agent never worked — requests carried no identity at all
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/Vibee/Identity.swift
Due: none

fix(ios): the agent never worked — requests carried no identity at all (#906)
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/Vibee/Identity.swift
Due: none

feat(loop): route reconciliation now covers the native app too
  .claude/loop-opus/check-routes.mjs
Due: none

feat(loop): route reconciliation now covers the native app too (#907)
  .claude/loop-opus/check-routes.mjs
Due: none

docs(skill): three lessons from cycle 73
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): three lessons from cycle 73 (#908)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

chore(render): триггер-деплой A2A — довезти #894/#905, пропущенные Railway
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(ios): the native feed never counted a view
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/FeedView.swift
Due: none

fix(ios): the native feed never counted a view (#909)
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/FeedView.swift
Due: none

chore(render): триггер-деплой A2A — довезти #894/#905, пропущенные Railway (#910)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: цикл №242 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(auth): three routes that turn a Telegram signature into a session
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/session-routes.ts
Due: prettier --write, eslint --fix

feat(auth): three routes that turn a Telegram signature into a session (#911)
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/session-routes.ts
Due: prettier --write, eslint --fix

loop: цикл №243 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(таб ИИ): озвучка через Replicate, когда ElevenLabs мёртв
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix
