Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(ios): the rescue must not hand back the previous generation
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  bin/tri
Due: none

fix(ios): the rescue must not hand back the previous generation (#2015)
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  bin/tri
Due: none

feat(voice): a voice and a speed to choose, not two constants
  apps/vibee-ios/Vibee/GenerateScreen.swift
  bin/tri
Due: none

feat(voice): a voice and a speed to choose, not two constants (#2016)
  apps/vibee-ios/Vibee/GenerateScreen.swift
  bin/tri
Due: none

docs(loop): the board now tracks what the AI section still lacks
  .claude/loop-opus/dashboard.html
Due: none

docs(loop): the board now tracks what the AI section still lacks (#2017)
  .claude/loop-opus/dashboard.html
Due: none

feat(script): niche, style and language reach the model at last
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/КаталогСценария.swift
  bin/tri
Due: none

feat(script): niche, style and language reach the model at last (#2018)
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/КаталогСценария.swift
  bin/tri
Due: none

docs(loop): a tool that lies about success is worse than none
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): a tool that lies about success is worse than none (#2019)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

feat(web): the mini app says the price before the press
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/player/src/lib/balance.ts
Due: prettier --write, eslint --fix

feat(web): the mini app says the price before the press (#2020)
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/player/src/lib/balance.ts
Due: prettier --write, eslint --fix

docs(loop): the board tracks both directions now
  .claude/loop-opus/dashboard.html
Due: none

docs(loop): the board tracks both directions now (#2021)
  .claude/loop-opus/dashboard.html
Due: none

feat(web): refuse before the press, and show what was taken after
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
Due: none

feat(web): refuse before the press, and show what was taken after (#2022)
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
Due: none

feat(web): the refusal and the receipt on every button, not one of four
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
Due: none

feat(web): the refusal and the receipt on every button, not one of four (#2023)
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
Due: none

docs(loop): "only on one of four" is the same half-finished change
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): "only on one of four" is the same half-finished change (#2024)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

feat(web): say why the button is grey
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
Due: none

feat(web): say why the button is grey (#2025)
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
Due: none

docs(loop): the list of differences needs checking too
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): the list of differences needs checking too (#2026)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(billing): make the number on the button the number the server takes
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.money-wiring.test.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/player/src/lib/balance.test.ts
  apps/vibee-editor/player/src/lib/balance.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/VibeeTests/МераЦеныTests.swift
Due: prettier --write, eslint --fix

docs(loop): three rules from one price that three surfaces disagreed about
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

test(bill): assert the invoice id invariant, not a mocked clock reading
  src/__tests__/scenes/getRuBillWizard.test.ts
Due: prettier --write, eslint --fix

test(bill): assert the invoice id invariant, not a mocked clock reading (#2028)
  src/__tests__/scenes/getRuBillWizard.test.ts
Due: prettier --write, eslint --fix

tools(tri): a floor on every counting gate, and a calibrated detector to find them
  docs/gate-liveness-census.json
  scripts/gate-liveness.cjs
  scripts/lib/calibrate.cjs
  scripts/negative-controls.cjs
  src/__tests__/money/batchRefundReconciliation.test.ts
  src/__tests__/money/no-invented-price.test.ts
  src/__tests__/money/sessionPaymentAmountNeverUnbacked.test.ts
  src/__tests__/tools/detectorsAreCalibrated.test.ts
  src/__tests__/tools/everyCountingGateHasAFloor.test.ts
  tri
Due: prettier --write, eslint --fix

tools(tri): a floor on every counting gate, and a calibrated detector to find them (#2029)
  docs/gate-liveness-census.json
  scripts/gate-liveness.cjs
  scripts/lib/calibrate.cjs
  scripts/negative-controls.cjs
  src/__tests__/money/batchRefundReconciliation.test.ts
  src/__tests__/money/no-invented-price.test.ts
  src/__tests__/money/sessionPaymentAmountNeverUnbacked.test.ts
  src/__tests__/tools/detectorsAreCalibrated.test.ts
  src/__tests__/tools/everyCountingGateHasAFloor.test.ts
  tri
Due: prettier --write, eslint --fix

fix(web): spell the unit out in the sentence, not just on the button
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
Due: none

skill: five lessons on floors, calibration and fan-out hygiene
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: five lessons on floors, calibration and fan-out hygiene (#2030)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(billing): make the number on the button the number the server takes (#2027)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.money-wiring.test.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/player/src/lib/balance.test.ts
  apps/vibee-editor/player/src/lib/balance.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/VibeeTests/МераЦеныTests.swift
Due: prettier --write, eslint --fix

chore(test): keep the agent's own worktrees out of the only CI substitute
  .claude/loop-opus/free-disk.sh
  vitest.config.ts
Due: prettier --write, eslint --fix

chore(test): keep the agent's own worktrees out of the only CI substitute (#2031)
  .claude/loop-opus/free-disk.sh
  vitest.config.ts
Due: prettier --write, eslint --fix

fix(lipsync): offer the model the server will actually run
  apps/vibee-editor/player/e2e/generate-ai.spec.ts
  apps/vibee-editor/player/src/lib/kieProvider.test.ts
  apps/vibee-editor/player/src/lib/kieProvider.ts
  apps/vibee-editor/render/src/agent/web-models-are-servable.test.ts
Due: prettier --write, eslint --fix

fix(lipsync): offer the model the server will actually run (#2032)
  apps/vibee-editor/player/e2e/generate-ai.spec.ts
  apps/vibee-editor/player/src/lib/kieProvider.test.ts
  apps/vibee-editor/player/src/lib/kieProvider.ts
  apps/vibee-editor/render/src/agent/web-models-are-servable.test.ts
Due: prettier --write, eslint --fix

docs(loop): three rules, one of them from a wrong number I reported
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): three rules, one of them from a wrong number I reported (#2033)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write
