Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(tri): the merge left conflict markers in the dispatch table
  tri
Due: none

feat(mcp): img2img — the thing the service told agents it could not do (#1437)
  apps/vibee-editor/render/autopilot-face-switch.test.ts
  apps/vibee-editor/render/channel-autopost-startable.test.ts
  apps/vibee-editor/render/channel-delivery.test.ts
  apps/vibee-editor/render/channel-env-contract.test.ts
  apps/vibee-editor/render/channel-seam.test.ts
  apps/vibee-editor/render/face-source.test.ts
  apps/vibee-editor/render/render-duration.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/scripts/telegram-autopost.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/src/channel-delivery.ts
  apps/vibee-editor/render/src/face-source.ts
  apps/vibee-editor/render/src/kie-image.ts
  apps/vibee-editor/render/src/render-duration.ts
  docs/content-plan-voice-face.md
  loop/SKILL.md
  loop/deploy-env-names.txt
  loop/face-source.example.json
  loop/regression-check.sh
  loop/topics.week1.candidate.json
  loop/validate-topics.mjs
  scripts/kie-probe.mjs
  src/__tests__/money/qwenRefundQualityMultiplier.test.ts
  tri
Due: prettier --write, eslint --fix

loop: cycle 194 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 194 - standby (#1440)
  loop/ZCODE_LOOP.md
Due: prettier --write

test(security): ratchet the admin gate on privileged commands (addbalance mints)
  src/__tests__/security/privilegedCommandAdminGate.test.ts
Due: prettier --write, eslint --fix

test(security): ratchet the admin gate on privileged commands (addbalance mints) (#1441)
  src/__tests__/security/privilegedCommandAdminGate.test.ts
Due: prettier --write, eslint --fix

loop: cycle 195 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 195 - standby (#1442)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(reliability): add a timeout to the Replicate transcription status poll
  src/services/videoTranscription.ts
Due: prettier --write, eslint --fix

fix(reliability): add a timeout to the Replicate transcription status poll (#1443)
  src/services/videoTranscription.ts
Due: prettier --write, eslint --fix

loop: cycle 196 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 196 - standby (#1444)
  loop/ZCODE_LOOP.md
Due: prettier --write

tool(tri): axios-timeout-audit -- reliable (paren-balanced) timeout auditor
  .claude/loop-opus/axios-timeout-audit.mjs
Due: none

tool(tri): axios-timeout-audit -- reliable (paren-balanced) timeout auditor (#1445)
  .claude/loop-opus/axios-timeout-audit.mjs
Due: none

loop: cycle 197 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 197 - standby (#1446)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(reliability): add timeouts to ai-reels-callback raw Telegram delivery
  src/inngest_app/functions/ai-reels-callback.ts
Due: prettier --write, eslint --fix

fix(reliability): add timeouts to ai-reels-callback raw Telegram delivery (#1447)
  src/inngest_app/functions/ai-reels-callback.ts
Due: prettier --write, eslint --fix

tool(tri): axios-timeout-audit -- ignore commented-out calls (strip comments)
  .claude/loop-opus/axios-timeout-audit.mjs
Due: none

tool(tri): axios-timeout-audit -- ignore commented-out calls (strip comments) (#1448)
  .claude/loop-opus/axios-timeout-audit.mjs
Due: none

loop: cycle 198 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 198 - standby (#1449)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 199 - standby, mimosa false positives explained
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 199 - standby, mimosa false positives explained (#1450)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(workflow): loop-cycle.js -- drop the stale hardcoded /Users/playra/ repo path
  .claude/workflows/loop-cycle.js
Due: none

fix(workflow): loop-cycle.js -- drop the stale hardcoded /Users/playra/ repo path (#1452)
  .claude/workflows/loop-cycle.js
Due: none

docs(research): competitor + frontier-model refresh (2026-08-31, iter180)
  .claude/loop-opus/COMPETITORS.md
Due: prettier --write

feat(kie): every reachable KieAI model, established by probe, natively on iPhone
  apps/vibee-editor/render/kie-models.test.ts
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

feat(kie): every reachable KieAI model, established by probe, natively on iPhone (#1453)
  apps/vibee-editor/render/kie-models.test.ts
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

loop: cycle 200 - render restarted, registry threshold 43
  loop/ZCODE_LOOP.md
  loop/regression-check.sh
Due: prettier --write

docs(research): competitor + frontier-model refresh (2026-08-31, iter180) (#1454)
  .claude/loop-opus/COMPETITORS.md
Due: prettier --write

loop: cycle 200 - render restarted, registry threshold 43 (#1455)
  loop/ZCODE_LOOP.md
  loop/regression-check.sh
Due: prettier --write

loop: cycle 201 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 201 - standby (#1456)
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(kie): the full catalogue -- 44 models measured, and the one that bills on probe
  apps/vibee-editor/render/kie-models.test.ts
  apps/vibee-editor/render/kie-run.test.ts
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-editor/render/src/agent/kie-run.ts
Due: prettier --write, eslint --fix

feat(kie): the full catalogue -- 44 models measured, and the one that bills on probe (#1457)
  apps/vibee-editor/render/kie-models.test.ts
  apps/vibee-editor/render/kie-run.test.ts
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-editor/render/src/agent/kie-run.ts
Due: prettier --write, eslint --fix

fix(money): getUnifiedModelPrice fails closed on an unpriced input (no free gen)
  src/__tests__/money/unifiedModelPriceFailClosed.test.ts
  src/config/unified-video-models.config.ts
Due: prettier --write, eslint --fix

fix(money): getUnifiedModelPrice fails closed on an unpriced input (no free gen) (#1458)
  src/__tests__/money/unifiedModelPriceFailClosed.test.ts
  src/config/unified-video-models.config.ts
Due: prettier --write, eslint --fix

fix(a2a): the protocol was written, deployed, and mounted nowhere
  .claude/skills/vibee-stack-hard-won/SKILL.md
  apps/vibee-editor/render/auth-public.test.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/autopilot-poster-record.test.ts
  apps/vibee-editor/render/autopilot-state.test.ts
  apps/vibee-editor/render/autopilot-talking-portrait.test.ts
  apps/vibee-editor/render/channel-env-contract.test.ts
  apps/vibee-editor/render/gallery-registration.test.ts
  apps/vibee-editor/render/image-chain.test.ts
  apps/vibee-editor/render/medallion.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/src/autopilot-state.ts
  apps/vibee-editor/render/src/compositions/TrinityBlogReel.tsx
  apps/vibee-editor/render/src/image-chain.ts
  apps/vibee-editor/render/src/kie-image.ts
  apps/vibee-editor/render/src/reel-chain.ts
  apps/vibee-editor/render/src/reel-plan.ts
  apps/vibee-editor/render/src/talking-portrait.ts
  apps/vibee-editor/render/talking-portrait.test.ts
  loop/portrait-watch.mjs
  loop/regression-check.sh
Due: prettier --write, eslint --fix

fix(a2a): the protocol was written, deployed, and mounted nowhere (#1459)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  apps/vibee-editor/render/auth-public.test.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/autopilot-poster-record.test.ts
  apps/vibee-editor/render/autopilot-state.test.ts
  apps/vibee-editor/render/autopilot-talking-portrait.test.ts
  apps/vibee-editor/render/channel-env-contract.test.ts
  apps/vibee-editor/render/gallery-registration.test.ts
  apps/vibee-editor/render/image-chain.test.ts
  apps/vibee-editor/render/medallion.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/src/autopilot-state.ts
  apps/vibee-editor/render/src/compositions/TrinityBlogReel.tsx
  apps/vibee-editor/render/src/image-chain.ts
  apps/vibee-editor/render/src/kie-image.ts
  apps/vibee-editor/render/src/reel-chain.ts
  apps/vibee-editor/render/src/reel-plan.ts
  apps/vibee-editor/render/src/talking-portrait.ts
  apps/vibee-editor/render/talking-portrait.test.ts
  loop/portrait-watch.mjs
  loop/regression-check.sh
Due: prettier --write, eslint --fix
