Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

gate: say when the run itself is degraded, before the verdict (#1794)
  scripts/test-gate.cjs
Due: none

tri: inventory the worktrees, and only what can be measured
  tri
Due: none

tri: inventory the worktrees, and only what can be measured (#1795)
  tri
Due: none

skill: drop the column you cannot compute rather than approximating it
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: drop the column you cannot compute rather than approximating it (#1796)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

tri: smoke a fresh worktree before handing back its path
  tri
Due: none

tri: smoke a fresh worktree before handing back its path (#1797)
  tri
Due: none

skill: a probe that builds its own world measures that world
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: a probe that builds its own world measures that world (#1798)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix: authenticate the Telegram webhook with a secret token
  src/__tests__/security/webhookSecretToken.test.ts
  src/bot.ts
  src/utils/webhook-manager.ts
  src/utils/webhookSecret.ts
Due: prettier --write, eslint --fix

fix: authenticate the Telegram webhook with a secret token (#1799)
  src/__tests__/security/webhookSecretToken.test.ts
  src/bot.ts
  src/utils/webhook-manager.ts
  src/utils/webhookSecret.ts
Due: prettier --write, eslint --fix

skill: a URL is not authentication
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: a URL is not authentication (#1800)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix: drop the queued backlog when switching a bot to polling
  src/__tests__/bot/deleteWebhookDropsBacklog.test.ts
  src/bot.ts
Due: prettier --write, eslint --fix

fix: drop the queued backlog when switching a bot to polling (#1801)
  src/__tests__/bot/deleteWebhookDropsBacklog.test.ts
  src/bot.ts
Due: prettier --write, eslint --fix

skill: two sites in one file are already a divergence
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: two sites in one file are already a divergence (#1802)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix: stop a slow notification tick from overlapping itself
  src/__tests__/utils/exclusiveTick.test.ts
  src/handlers/notificationHandler.ts
  src/utils/exclusiveTick.ts
Due: prettier --write, eslint --fix

fix: stop a slow notification tick from overlapping itself (#1803)
  src/__tests__/utils/exclusiveTick.test.ts
  src/handlers/notificationHandler.ts
  src/utils/exclusiveTick.ts
Due: prettier --write, eslint --fix

skill: setInterval does not wait
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: setInterval does not wait (#1804)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

probe: census async timers, separating overlap from silent loss
  scripts/probe-timers.cjs
  tri
Due: none

probe: census async timers, separating overlap from silent loss (#1805)
  scripts/probe-timers.cjs
  tri
Due: none

skill: a matcher knows a spelling, not a thing
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: a matcher knows a spelling, not a thing (#1806)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

tri: a command that says whether this tree's gate can be believed
  tri
Due: none

tri: a command that says whether this tree's gate can be believed (#1807)
  tri
Due: none

skill: the new command carried the very defect it was written to catch
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: the new command carried the very defect it was written to catch (#1808)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

test: pin the price table that nobody reads, and its one divergence
  src/__tests__/money/paidServicesTableUnread.test.ts
Due: prettier --write, eslint --fix

test: pin the price table that nobody reads, and its one divergence (#1809)
  src/__tests__/money/paidServicesTableUnread.test.ts
Due: prettier --write, eslint --fix

docs: owner decision on the LipSync cost divergence
  docs/OWNER-DECISIONS.md
Due: prettier --write

docs: owner decision on the LipSync cost divergence (#1810)
  docs/OWNER-DECISIONS.md
Due: prettier --write

skill: pin the property that holds the harm back
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: pin the property that holds the harm back (#1811)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(kie): build each request from the model's own contract, not one shape per kind
  apps/vibee-editor/render/kie-input-shape.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-editor/render/src/kie-image.ts
Due: prettier --write, eslint --fix

fix(kie): build each request from the model's own contract, not one shape per kind (#1812)
  apps/vibee-editor/render/kie-input-shape.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-editor/render/src/kie-image.ts
Due: prettier --write, eslint --fix

docs(loop): record the request-shape state and the cost of a non-empty probe
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): record the request-shape state and the cost of a non-empty probe (#1813)
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(kie): only offer models whose input contract is actually known
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
