Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(parity): make the renderer parity check runnable off its author's machine (#1695)
  apps/vibee-ios/parity/ref.js
Due: none

fix(security): stop printing the cashier's webhook secret on every payment
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/stars-secret-not-logged.test.ts
Due: prettier --write, eslint --fix

fix(security): stop printing the cashier's webhook secret on every payment (#1696)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/stars-secret-not-logged.test.ts
Due: prettier --write, eslint --fix

fix(security): stop logging the callback token that authenticates video callbacks
  .test-baseline.txt
  src/__tests__/utils/redactCallbackTokenInUrl.test.ts
  src/api_server/index.ts
  src/utils/redactHeaders.ts
Due: prettier --write, eslint --fix

fix(security): stop logging the callback token that authenticates video callbacks (#1697)
  .test-baseline.txt
  src/__tests__/utils/redactCallbackTokenInUrl.test.ts
  src/api_server/index.ts
  src/utils/redactHeaders.ts
Due: prettier --write, eslint --fix

feat(tri): add `tri unguarded` -- list test files the gate cannot protect
  tri
Due: none

feat(tri): add `tri unguarded` -- list test files the gate cannot protect (#1698)
  tri
Due: none

docs(skill): record two lessons from the callback-token iteration
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record two lessons from the callback-token iteration (#1699)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(tests): a migration that writes to production must ask for intent, not just credentials
  .test-baseline.txt
  src/__tests__/final-restore-transfer.test.ts
  src/__tests__/guards/prod-write-intent-ratchet.test.ts
  src/__tests__/helpers/prodWriteGate.ts
  src/__tests__/restore-from-backup.test.ts
  src/__tests__/run-restore-backup.test.ts
  src/__tests__/transfer-missing-metamuse.test.ts
  src/__tests__/transfer-missing-xtr.test.ts
Due: prettier --write, eslint --fix

fix(tests): a migration that writes to production must ask for intent, not just credentials (#1700)
  .test-baseline.txt
  src/__tests__/final-restore-transfer.test.ts
  src/__tests__/guards/prod-write-intent-ratchet.test.ts
  src/__tests__/helpers/prodWriteGate.ts
  src/__tests__/restore-from-backup.test.ts
  src/__tests__/run-restore-backup.test.ts
  src/__tests__/transfer-missing-metamuse.test.ts
  src/__tests__/transfer-missing-xtr.test.ts
Due: prettier --write, eslint --fix

fix(tri): `tri unguarded` reported twice the hole it should have
  tri
Due: none

fix(tri): `tri unguarded` reported twice the hole it should have (#1701)
  tri
Due: none

docs(skill): record the two guard lessons from the prod-write iteration
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record the two guard lessons from the prod-write iteration (#1702)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(tri): why-red called a switched-off test a rename, and told you to bake it in
  tri
Due: none

fix(tri): why-red called a switched-off test a rename, and told you to bake it in (#1703)
  tri
Due: none

feat(tri): count the tests that are switched off, and finish documenting the ones that were not
  src/inngest_app/test/unit/monitoring-test-functions.test.ts
  tri
Due: prettier --write, eslint --fix

feat(tri): count the tests that are switched off, and finish documenting the ones that were not (#1704)
  src/inngest_app/test/unit/monitoring-test-functions.test.ts
  tri
Due: prettier --write, eslint --fix

docs(skill): record how a switched-off test hides as a deleted one
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record how a switched-off test hides as a deleted one (#1705)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(tests): the network census was blind to axios, which is the client this code uses
  scripts/detect-network-tests.mjs
  scripts/report-network-tests.cjs
  src/__tests__/network-observer-probe.test.ts
  tri
Due: prettier --write, eslint --fix

fix(tests): the network census was blind to axios, which is the client this code uses (#1706)
  scripts/detect-network-tests.mjs
  scripts/report-network-tests.cjs
  src/__tests__/network-observer-probe.test.ts
  tri
Due: prettier --write, eslint --fix

docs(skill): record why the network observer's self-check did not save it
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record why the network observer's self-check did not save it (#1707)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(probes): the skill claimed every probe self-checks; 8 of 38 do
  .claude/skills/continuous-improvement-loop/SKILL.md
  scripts/probe-id-concat.cjs
  tri
Due: prettier --write

fix(probes): the skill claimed every probe self-checks; 8 of 38 do (#1708)
  .claude/skills/continuous-improvement-loop/SKILL.md
  scripts/probe-id-concat.cjs
  tri
Due: prettier --write

docs(skill): record how a rule written as a fact stops anyone checking it
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record how a rule written as a fact stops anyone checking it (#1709)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

feat(probes): every source-scanning probe now carries a control it can fail
  scripts/probe-event-seams.cjs
  scripts/probe-reachability.cjs
  scripts/probe-route-seams.cjs
  scripts/probe-tool-blindness.cjs
  scripts/probe-will-it-write.cjs
  tri
Due: none

feat(probes): every source-scanning probe now carries a control it can fail (#1710)
  scripts/probe-event-seams.cjs
  scripts/probe-reachability.cjs
  scripts/probe-route-seams.cjs
  scripts/probe-tool-blindness.cjs
  scripts/probe-will-it-write.cjs
  tri
Due: none

docs(skill): record how a duplicate declaration absorbs mutations
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record how a duplicate declaration absorbs mutations (#1711)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(tests): revive the balance-deduction guard, and stop counting a comment as a skipped test
  .test-baseline.txt
  src/modules/videoGenerator/test/generateImageToVideo.test.ts
  tri
Due: prettier --write, eslint --fix

fix(tests): revive the balance-deduction guard, and stop counting a comment as a skipped test (#1712)
  .test-baseline.txt
  src/modules/videoGenerator/test/generateImageToVideo.test.ts
  tri
Due: prettier --write, eslint --fix

docs(skill): record that a skip's reason goes stale on its own, and passing is not guarding
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record that a skip's reason goes stale on its own, and passing is not guarding (#1713)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(tests): a bare vi.mock made the handler answer in the wrong language, and eight assertions were blamed for it
  .test-baseline.txt
  src/tests/multiPhotoNeurophoto.test.ts
Due: prettier --write, eslint --fix

fix(tests): a bare vi.mock made the handler answer in the wrong language, and eight assertions were blamed for it (#1714)
  .test-baseline.txt
  src/tests/multiPhotoNeurophoto.test.ts
Due: prettier --write, eslint --fix

docs(tests): replace a guessed reason with a measured one on the seven skipped multiPhoto tests
  src/tests/multiPhotoNeurophoto.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
