Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(vercel): Remove builds section from vercel.json to use UI settings
  vercel.json
Due: prettier --write

fix(vercel): Route all paths to the main handler
  vercel.json
Due: prettier --write

chore(vercel): Clean vercel.json to rely on UI settings
  vercel.json
Due: prettier --write

fix
  src/__tests__/commands/start.test.ts
  src/__tests__/mocks/logger.mock.ts
  src/scenes/chatWithAvatarWizard/index.ts
  tsconfig.json
  tsconfig.vitest.json
  vitest.config.mts
Due: prettier --write, eslint --fix

refactor(vercel): Define build and routes solely in vercel.json
  vercel.json
Due: prettier --write

🐛 FIX: Исправлен вход в helpScene и ошибки типов Markup.keyboard
  .cursor/rules/current-task.mdc
  ROADMAP.md
  src/commands/selectModelCommand/index.ts
  src/handlers/handleMenu.ts
  src/interfaces/modes.ts
  src/price/constants/index.ts
  src/price/constants/pricingStrategies.ts
  src/registerCommands.ts
  src/scenes/trainFluxModelWizard/index.ts
  src/services/generateNeuroImage.ts
  src/services/plan_b/generateImageToPrompt.ts
  src/services/plan_b/generateTextToVideo.ts
Due: prettier --write, eslint --fix

🐛 FIX: Исправлен вход в сцену выбора модели ИИ и синтаксис Markup.keyboard
  ROADMAP.md
  src/handlers/handleMenu.ts
  src/scenes/selectModelWizard/index.ts
Due: prettier --write, eslint --fix

fix(vercel): Ensure vercel.json is clean for UI settings
  vercel.json
Due: prettier --write

refactor(vercel): Add functions property back to vercel.json
  vercel.json
Due: prettier --write

chore(vercel): Configure builds and routes solely via vercel.json
  vercel.json
Due: prettier --write

fix(vercel): Remove conflicting functions property
  vercel.json
Due: prettier --write

chore(vercel): Clean vercel.json again for UI settings
  vercel.json
Due: prettier --write

text to image
  .cursor/rules/current-task.mdc
  ROADMAP.md
  nginx.conf
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/bot.ts
  src/config/models.config.ts
  src/db/userSettings.ts
  src/hearsHandlers.ts
  src/interfaces/supabase.interface.ts
  src/registerCommands.ts
  src/scenes/checkBalanceScene.ts
  src/scenes/improvePromptWizard/index.ts
  src/scenes/textToImageWizard/index.ts
  src/services/generateTextToImage.ts
  tsconfig.json
Due: prettier --write, eslint --fix

avatar brain
  ROADMAP.md
  src/core/supabase/getUserByTelegramId.ts
  src/core/supabase/updateUserSoul.ts
  src/scenes/avatarBrainWizard/index.ts
Due: prettier --write, eslint --fix

fix
  ROADMAP.md
  src/core/openai/index.ts
  src/handlers/handleMenu.ts
  src/scenes/chatWithAvatarWizard/index.ts
Due: prettier --write, eslint --fix

chat with avatar
  src/core/openai/requests.ts
  src/registerCommands.ts
  src/scenes/chatWithAvatarWizard/index.ts
Due: prettier --write, eslint --fix

fix(scenes): Исправлен вход в Мозг/Чат аватара, добавлено логирование
  ROADMAP.md
Due: prettier --write

price
  src/price/constants/index.ts
  src/registerCommands.ts
  src/scenes/checkBalanceScene.ts
  src/scenes/voiceAvatarWizard/index.ts
Due: prettier --write, eslint --fix

video
  ROADMAP.md
  src/handlers/handleMenu.ts
  src/menu/mainMenu.ts
  src/registerCommands.ts
  src/scenes/improvePromptWizard/index.ts
  src/scenes/textToVideoWizard/index.ts
  src/services/generateTextToVideo.ts
Due: prettier --write, eslint --fix

chore: Update roadmap and fix local changes before re-merge
  .cursor/rules/current-task.mdc
  ROADMAP.md
  pnpm-lock.yaml
  src/api-server.ts
  src/bot.ts
  src/fastify-server.ts
  src/handlers/paymentHandlers/handlePreCheckoutQuery.ts
  src/helpers/contextUtils.ts
  src/interfaces/telegram-bot.interface.ts
  src/menu/cancelMenu.ts
  src/menu/createHelpCancelKeyboard/createHelpCancelKeyboard.ts
  src/menu/getStepSelectionMenu.ts
  src/menu/getStepSelectionMenuV2.ts
  src/menu/index.ts
  src/menu/mainMenu.ts
  src/menu/videoModelMenu.ts
  src/price/models/VIDEO_MODELS_CONFIG.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: Update current task status
  .cursor/rules/current-task.mdc
Due: none

price
  src/handlers/handleMenu.ts
  src/hearsHandlers.ts
  src/interfaces/modes.ts
  src/price/constants/pricingStrategies.ts
  src/price/helpers/modelsCost.ts
  src/registerCommands.ts
  src/scenes/checkBalanceScene.ts
  src/scenes/helpScene/index.ts
Due: prettier --write, eslint --fix

chore: Refactor environment (Bun, PM2, Scripts)
  Dockerfile
  bun.lock
  deploy.sh
  ecosystem.config.cjs
  nodemon-vite.json
  package.json
  pnpm-lock.yaml
  scripts/deploy.sh
  scripts/docker-entrypoint.sh
  scripts/kill-port.cjs
  scripts/run-dev.sh
  scripts/run-vite-dev.sh
  scripts/start.sh
  scripts/update-docker.sh
  update-docker.sh
Due: prettier --write

new setup
  CHANGELOG-VITE.md
  DEPLOYMENT.md
  Dockerfile
  all_payers_compensation.txt
  ansible.cfg
  bun.lock
  docker-compose.yml
  ecosystem.config.cjs
  nodemon-legacy.json
  nodemon.json
  package.json
  playbook.yml
  pnpm-lock.yaml
  real_subscribers_compensation.md
  scripts/add_translations.sql
  scripts/check_and_fix_translations.sql
  scripts/check_translations.sql
  scripts/docker-deploy.sh
  scripts/docker-entrypoint.sh
  scripts/docker/entrypoint.sh
  src/config/index.ts
  src/core/bot/index.ts
  src/utils/config.ts
  src/utils/getConfig.ts
  vault.yml
Due: prettier --write, eslint --fix

price refactoring
  bun.lock
  package.json
  src/__tests__/price/calculator.test.ts
  src/__tests__/price/fixed.test.ts
  src/__tests__/price/steps.test.ts
  src/__tests__/price/video-models.test.ts
Due: prettier --write, eslint --fix

adm-zip
  package.json
  pnpm-lock.yaml
Due: prettier --write

improve prompt
  src/core/openai/upgradePrompt.ts
  src/scenes/improvePromptWizard/index.ts
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

help scene
  src/db/userSettings.ts
  src/handlers/handleHelpCancel/index.ts
  src/interfaces/index.ts
  src/interfaces/supabase.interface.ts
  src/registerCommands.ts
  src/scenes/chatWithAvatarWizard/index.ts
  src/scenes/helpScene/index.ts
  src/scenes/levelQuestWizard/handlers.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/scenes/neuroPhotoWizard/log-local.md
  src/scenes/neuroPhotoWizard/log-server.md
Due: prettier --write, eslint --fix

feat: differentiate group/private chat behavior & integrate avatar gender
  .cursor/rules/current-task.mdc
  .cursor/rules/current_task.mdc
  ROADMAP.md
  package.json
  scripts/deploy-test.sh
  scripts/deploy.sh
  scripts/diagnose.sh
  scripts/start-server.sh
  src/bot.ts
  src/core/supabase/getUserData.ts
  src/handlers/handleTextMessage/index.ts
  src/interfaces/index.ts
  src/interfaces/telegram-bot.interface.ts
  src/registerCommands.ts
  src/scenes/trainFluxModelWizard/index.ts
  src/services/createModelTraining.ts
Due: prettier --write, eslint --fix

feat(wizard): save user gender directly to DB in trainFluxModelWizard
  src/core/supabase/index.ts
  src/core/supabase/updateUserGender.ts
  src/scenes/trainFluxModelWizard/index.ts
Due: prettier --write, eslint --fix

feat(gender): integrate into neurophoto prompt & fix session issues
  src/scenes/digitalAvatarBodyWizardV2/index.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/scenes/neuroPhotoWizardV2/index.ts
  src/scenes/trainFluxModelWizard/index.ts
Due: prettier --write, eslint --fix

feat: integrate vitest for faster testing
  bun.lock
  package.json
  src/__tests__/example.test.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

cert
  Dockerfile
  certs/cert.crt
  certs/key.pem
  docker-compose.yml
  generate-certs.sh
Due: none

bugfix
  src/bot.ts
  src/core/supabase/referral.ts
  src/menu/createNavigationInlineKeyboard.ts
  src/utils/config.ts
  src/utils/localization.ts
Due: prettier --write, eslint --fix

WIP on fix/core-functions
  .cursor/rules/Так, и нам нужно тестировать не эфемерные цены, а реальные.   Поэтому имей это ввиду, всё, и давай вперёд, дальше делай. .mdc
  package.json
  src/__tests__/price/calculator.test.ts
  src/__tests__/price/fixed.test.ts
  src/__tests__/price/steps.test.ts
  src/__tests__/price/video-models.test.ts
  src/price/calculator.ts
  src/pricing/calculator/index.ts
Due: prettier --write, eslint --fix

bug fix select size
  src/handlers/handleSizeSelection/index.ts
  src/registerCommands.ts
  src/utils/localization.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
