Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

🔧 FIX: Massive TypeScript cleanup - 10 parallel agents (195→115 errors)
  .claude/agents/documentation-sync.md
  .claude/knowledge/elizaos/PLUGIN_SYSTEM.md
  docs/NEUROPHOTO_MVP_STATUS.md
  packages/plugin-neurophoto/.gitignore
  packages/plugin-neurophoto/README.md
  packages/plugin-neurophoto/bun.lock
  packages/plugin-neurophoto/examples/basic-usage.ts
  packages/plugin-neurophoto/src/__tests__/actions/generateImage.test.ts
  packages/plugin-neurophoto/src/actions/generateImage.ts
  packages/plugin-neurophoto/src/index.ts
  packages/plugin-neurophoto/src/providers/replicateProvider.ts
  src/core/functional/types/media.types.ts
  src/core/lipsync/providers/fal-veed-fabric-provider.ts
  src/core/lipsync/schemas/lipsync-schemas.ts
  src/core/providers/adapters/elevenlabs.adapter.ts
  src/core/providers/adapters/fal.adapter.ts
  src/core/providers/adapters/kie-ai.adapter.ts
  src/core/providers/adapters/replicate.adapter.ts
  src/interfaces/telegram-bot.interface.ts
Due: prettier --write, eslint --fix

🔧 FIX: Second wave - 5 agents (115→26 errors, -77%)
  docs/NEUROPHOTO_MVP_STATUS.md
  packages/plugin-neurophoto/src/actions/generateImage.ts
  packages/plugin-neurophoto/src/index.ts
  packages/plugin-neurophoto/src/providers/replicateProvider.ts
  packages/plugin-neurophoto/src/services/replicateService.ts
  scripts/check-infisical-keys.ts
  src/config/unified-video-models.config.ts
  src/core/providers/adapters/types.ts
  src/core/providers/registry/provider-registry.ts
  src/core/replicate/generateKlingLipSync.ts
  src/core/supabase/getTranslation.ts
  src/index.ts
  src/interfaces/cost.interface.ts
  src/interfaces/telegram-bot.interface.ts
  src/menu/videoModelMenu.ts
  src/modules/videoGenerator.ts
  src/modules/videoGenerator/generateImageToVideo.ts
  src/modules/videoGenerator/generateTextToVideo.ts
  src/modules/videoGenerator/helpers/keyboard.ts
  src/navigation/unified-navigation.config.ts
  src/services/generateImageFromPrompt.ts
  src/services/generateTextToVideo.ts
  src/utils/buttonMappingIntegration.ts
  src/utils/wizardButtonHandlers.ts
Due: prettier --write, eslint --fix

✅ FIX: Resolve ALL 142 TypeScript errors with parallel agent coordination
  src/inngest_app/functions/kieAiWebhookMonitor.ts
  src/interfaces/payments.interface.ts
  src/interfaces/telegram-bot.interface.ts
  src/price/helpers/processBalanceVideoOperation.ts
  src/registerCommands.ts
  src/scenes/lipSyncWizard/index.ts
  src/scenes/videoDurationScene.ts
  src/services/CancelButtonService.ts
  src/services/generateNeuroImage.ts
  src/services/generateTextToImageDirect.ts
  src/services/generateTextToVideo.ts
  src/services/localMorphingProcessor.ts
  src/services/video-providers/KieAiProvider.ts
Due: prettier --write, eslint --fix

📊 DOCS: Add comprehensive TypeScript fix results documentation
  TYPESCRIPT_FIX_RESULTS.md
Due: prettier --write

📚 DOCS: Update BUN_BUILD_OPTIMIZATION_RESULTS.md - Mission Accomplished
  docs/BUN_BUILD_OPTIMIZATION_RESULTS.md
Due: prettier --write

📚 DOCS: Add comprehensive avatar API keys documentation
  docs/AVATAR_API_KEYS.md
Due: prettier --write

🔧 UPDATE: Add ELEVENLABS_HAIM_API_KEY to documentation
  docs/AVATAR_API_KEYS.md
Due: prettier --write

🐛 FIX: Inngest JsonifyObject type compatibility in webhook monitor
  src/inngest_app/functions/kieAiWebhookMonitor.ts
Due: prettier --write, eslint --fix

🔐 ADD: Infisical .env restoration system
  .claude-skills/restore-env-from-infisical.md
  .clinerules-global
  docs/INFISICAL_ENV_MANAGEMENT.md
  scripts/restore-env-from-infisical.sh
Due: prettier --write

🔐 FIX: Move skill to .clinerules-global (correct location)
  .claude-skills/restore-env-from-infisical.md
Due: prettier --write

🎓 ADD: Skills Management System + First Production Skill
  .claude/skills/restore-env-from-infisical/SKILL.md
  .clinerules-global
  CLAUDE.md
Due: prettier --write

✅ FIX: Resolve ALL 26 TypeScript errors (Wave 3 - FINAL)
  build-bun-verbose.sh
  build-bun.sh
  docs/INFISICAL_FAL_SETUP.md
  packages/plugin-neurophoto/CHANGELOG.md
  packages/plugin-neurophoto/LORA_GUIDE.md
  packages/plugin-neurophoto/MODELS_CHEATSHEET.md
  packages/plugin-neurophoto/QUICK_START.md
  packages/plugin-neurophoto/SETUP_COMPLETE.md
  packages/plugin-neurophoto/USAGE_GUIDE.md
  packages/plugin-neurophoto/bun.lock
  packages/plugin-neurophoto/package.json
  packages/plugin-neurophoto/src/actions/generateImage.ts
  packages/plugin-neurophoto/src/index.ts
  packages/plugin-neurophoto/src/services/falService.ts
  packages/plugin-neurophoto/src/types/index.ts
  src/price/helpers/processBalanceVideoOperation.ts
  src/registerCommands.ts
  src/scenes/videoDurationScene.ts
  src/services/generateNeuroImage.ts
  src/services/generateNeuroPhotoDirect.ts
  src/services/generateTextToImageDirect.ts
  src/services/generateTextToVideo.ts
  src/services/localMorphingProcessor.ts
  src/services/video-providers/KieAiProvider.ts
  tests/README.md
  tests/neurophoto-lora.test.ts
  tests/setup.ts
Due: prettier --write, eslint --fix

🎓 SKILL: Version Management & Snapshots automation
  .claude/skills/version-management/SKILL.md
  .claude/skills/version-management/scripts/rollback.sh
  scripts/create-version.sh
Due: prettier --write

🧹 CLEANUP: Remove 28 unused dependencies (-303 packages)
  package-lock.json
  package.json
Due: prettier --write

🐛 FIX: Image-to-video wizard not showing initial message
  src/scenes/imageToVideoWizard/index.ts
Due: prettier --write, eslint --fix

🐛 FIX: Restore ctx.scene.leave() for ImageToVideo wizard
  src/scenes/checkBalanceScene.ts
Due: prettier --write, eslint --fix

♻️ REFACTOR: Replace hardcoded models with unified-video-models.config
  .claude/skills/telegraf-wizard-scene-transition/README.md
  src/scenes/imageToVideoWizard/index.ts
Due: prettier --write, eslint --fix

📚 ADD: Skills for Telegram issues & deployment rules
  .claude/skills/deployment-rules/README.md
  .claude/skills/telegram-issues-handling/README.md
  .claude/skills/telegram-issues-handling/telegraf-patterns.md
Due: prettier --write

🐛 FIX: Show model selection keyboard immediately in ImageToVideo wizard Step 0
  src/scenes/imageToVideoWizard/index.ts
Due: prettier --write, eslint --fix

🐛 FIX: Reorganize ImageToVideo wizard steps for correct flow
  src/scenes/imageToVideoWizard/index.ts
Due: prettier --write, eslint --fix

✅ ADD: TypeScript strict checks in build process
  .claude/README.md
  .claude/skills/deployment-rules/README.md
  .claude/skills/fix-empty-api-keys/CHANGELOG.md
  .claude/skills/fix-empty-api-keys/README.md
  .claude/skills/fix-empty-api-keys/SKILL.md
  .claude/skills/fix-empty-api-keys/resources/quick-fix.md
  .claude/skills/russian-language/README.md
  .dockerignore
  CLAUDE.md
  Dockerfile
  Dockerfile.esbuild
  build-bun-verbose.sh
  build-final-clean.sh
  deploy-remote-build.sh
  docs/BUN_BUILD_OPTIMIZATION_RESULTS.md
  docs/DOCKER_BUN_OPTIMIZATION_2025.md
  package.json
  scripts/test-fal-key.ts
Due: prettier --write, eslint --fix

🐛 FIX: TypeScript error in generateMidjourneyImage
  src/services/generateMidjourneyImage.ts
Due: prettier --write, eslint --fix

🚀 DEPLOY: esbuild optimization + unified deployment
  .dockerignore
  CLAUDE.md
  Dockerfile
  Dockerfile.bun
  Dockerfile.bun.fast
  Dockerfile.bun.local
  Dockerfile.esbuild
  Dockerfile.old
  Dockerfile.optimized
  deploy-remote-build.sh
  deploy.sh
  src/handlers/handleHelpCancel/index.ts
  src/handlers/handleTextToVideoDirect.ts
  src/scenes/textToVideoWizard/index.ts
Due: prettier --write, eslint --fix

🔧 FIX: Restore correct webhook architecture
  deploy.sh
  src/handlers/handleHelpCancel/index.ts
  src/services/CancelButtonService.ts
Due: prettier --write, eslint --fix

🔧 REFACTOR: Remove Ngrok, centralize cancel/menu system, fix video status callback
  CANCEL_SYSTEM_TEST_REPORT.md
  MAIN_MENU_BUTTONS_ANALYSIS.md
  MAIN_MENU_FIX_COMMANDS.md
  URL_MIGRATION_GUIDE.md
  URL_SIMPLIFICATION_SUMMARY.md
  URL_SYSTEMATIZATION_REPORT.md
  URL_VARIABLES_ANALYSIS_REPORT.md
  URL_VARIABLES_EXECUTIVE_SUMMARY.md
  URL_VARIABLES_OPTIMIZATION_INDEX.md
  URL_VARIABLES_VISUAL_MAP.md
  package-lock.json
  package.json
  src/__tests__/integration/cancelButtonIntegration.test.ts
  src/__tests__/services/cancelButtonService.test.ts
  src/config/index.ts
  src/helpers/uploadTelegramFileLocal.ts
  src/index.ts
  src/modules/currency-rate/index.ts
  src/modules/videoGenerator/generateImageToVideo.ts
  src/modules/videoGenerator/generateTextToVideo.ts
  src/modules/videoGenerator/test/generateImageToVideo.test.ts
  src/scenes/uploadTrainFluxModelScene/index.ts
  src/services/competitorMonitoringApiService.ts
  src/services/generateImageToVideo.ts
  src/services/generateMorphing.ts
  src/services/generateNeuroImage.ts
  src/services/generateTextToImage.ts
  src/services/generateTextToVideo.ts
  src/services/generateVoiceAvatar.ts
Due: prettier --write, eslint --fix

🔧 FIX: Correct webhook provider detection for Veo 3 vs Sora
  src/api_server/routes/kie-ai-webhook.routes.ts
Due: prettier --write, eslint --fix

🔧 CRITICAL FIX: Remove old detectVideoWebhookProvider function
  src/api_server/routes/kie-ai-webhook.routes.ts
Due: prettier --write, eslint --fix

🔧 FIX: Use /tmp/uploads for Docker compatibility
  src/modules/videoGenerator/generateImageToVideo.ts
Due: prettier --write, eslint --fix

🔧 FIX: Deploy script now properly detects Docker build failures
  deploy.sh
Due: none

🔧 FIX: Add set -o pipefail to properly catch Docker build failures
  deploy.sh
Due: none

🔧 FIX: Properly fix bash heredoc syntax and PIPESTATUS check
  deploy.sh
Due: none

🔧 TEMP FIX: Use npm install instead of npm ci
  Dockerfile
Due: none

🔧 FIX: Container permission errors + Veo 3 webhook routing
  .claude/skills/README.md
  .claude/skills/webhook-restoration/README.md
  Dockerfile
  WEBHOOK_BULLETPROOF_SYSTEM.md
  src/services/video-providers/KieAiProvider.ts
  src/utils/webhookHealthCheck.ts
Due: prettier --write, eslint --fix

✅ ADD: Mandatory webhook verification in deploy.sh
  deploy.sh
Due: none

✅ ADD: Mandatory webhook verification + timeout fix + Skill
  .claude/skills/mandatory-webhook-verification/SKILL.md
  deploy.sh
  src/commands/autonomousMonitor.ts
  src/scenes/imageToVideoWizard/index.ts
  src/scenes/lipSyncWizard/ai-reels-render-wizard.ts
  src/scenes/lipSyncWizard/ai-reels-wizard.ts
  src/scenes/lipSyncWizard/veed-fabric-wizard.ts
  src/scenes/textToVideoWizard/index.ts
Due: prettier --write, eslint --fix

✅ ИСПРАВЛЕНИЕ: Кнопки пополнения баланса без подписки
  src/core/foundation/MenuSystem.ts
Due: prettier --write, eslint --fix

✅ Добавлен REPLICATE_USERNAME в список копируемых переменных для Replicate модели
  src/index.ts
Due: prettier --write, eslint --fix

✅ FIX: FAL model integration - Response parsing, pricing, and model_type
  scripts/cleanup-fake-models.ts
  src/index.ts
  src/scenes/neuroPhotoWizardV2/index.ts
  src/services/generateNeuroPhotoDirect.ts
  src/services/generateNeuroPhotoHybrid.ts
Due: prettier --write, eslint --fix

🔧 REMOVE: Отключена отправка промпта для копирования
  src/services/generateNeuroPhotoDirect.ts
Due: prettier --write, eslint --fix

🔧 Fix esbuild import errors + Dockerfile SKIP_TYPE_CHECK support
  Dockerfile
  deploy.sh
  src/inngest_app/functions/existing/generateAIReelsFunction.ts
  src/inngest_app/functions/existing/generateAdvancedLoopingVideoFunction.ts
Due: prettier --write, eslint --fix
