Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(money): stop letting a family of models share the cheapest price
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/kie-price-names.ts
  apps/vibee-editor/render/src/agent/kie-prices.generated.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

fix(money): stop letting a family of models share the cheapest price (#1974)
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/kie-price-names.ts
  apps/vibee-editor/render/src/agent/kie-prices.generated.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

docs(loop): ambiguity must not be resolved in the buyer's favour
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): ambiguity must not be resolved in the buyer's favour (#1975)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

tools(tri): measure whether a detector has a sample it must NOT accuse
  docs/negative-control-census.json
  scripts/negative-controls.cjs
  src/__tests__/tools/negativeControlsRatchet.test.ts
  tri
Due: prettier --write, eslint --fix

tools(tri): measure whether a detector has a sample it must NOT accuse (#1977)
  docs/negative-control-census.json
  scripts/negative-controls.cjs
  src/__tests__/tools/negativeControlsRatchet.test.ts
  tri
Due: prettier --write, eslint --fix

skill: five lessons from a tool built to measure false accusations
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: five lessons from a tool built to measure false accusations (#1978)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

feat(photo): let the photo tab supply the source image it always asked for
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-editor/render/src/kie-image.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

feat(photo): let the photo tab supply the source image it always asked for (#1979)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-editor/render/src/kie-image.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

docs(loop): the screen can now hand over the file it kept asking for
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): the screen can now hand over the file it kept asking for (#1980)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

feat(ios): name a generation after what was asked for, not its kind
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/НазваниеИзОписания.swift
  apps/vibee-ios/VibeeTests/НазваниеИзОписанияTests.swift
Due: none

feat(ios): name a generation after what was asked for, not its kind (#1981)
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/НазваниеИзОписания.swift
  apps/vibee-ios/VibeeTests/НазваниеИзОписанияTests.swift
Due: none

feat(video,avatar): give these tabs the source file their models ask for
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

feat(video,avatar): give these tabs the source file their models ask for (#1982)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

feat(ios): show what a generation actually is, not just its kind
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ПревьюФайла.swift
Due: none

feat(ios): show what a generation actually is, not just its kind (#1983)
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ПревьюФайла.swift
Due: none

docs(loop): reset state together with what it belongs to
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): reset state together with what it belongs to (#1984)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

skill: collect streaming prices from the vendors' own pages, never from memory
  .claude/skills/streaming-prices-neo/SKILL.md
Due: prettier --write

skill: collect streaming prices from the vendors' own pages, never from memory (#1985)
  .claude/skills/streaming-prices-neo/SKILL.md
Due: prettier --write

fix(web): hide the pairing-code button where the code cannot be issued
  apps/vibee-editor/player/src/components/Profile/PairWithApp.css
  apps/vibee-editor/player/src/components/Profile/PairWithApp.test.tsx
  apps/vibee-editor/player/src/components/Profile/PairWithApp.tsx
Due: none

fix(web): hide the pairing-code button where the code cannot be issued (#1986)
  apps/vibee-editor/player/src/components/Profile/PairWithApp.css
  apps/vibee-editor/player/src/components/Profile/PairWithApp.test.tsx
  apps/vibee-editor/player/src/components/Profile/PairWithApp.tsx
Due: none

feat(money): show what was actually charged, not only what was promised
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/miniapp-receipt.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/Чек.swift
  apps/vibee-ios/VibeeTests/ЧекTests.swift
Due: prettier --write, eslint --fix

feat(money): show what was actually charged, not only what was promised (#1987)
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/miniapp-receipt.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/Чек.swift
  apps/vibee-ios/VibeeTests/ЧекTests.swift
Due: prettier --write, eslint --fix

feat(cli): tri - the answers this loop kept re-deriving every fifteen minutes
  .claude/loop-opus/check-free-disk.sh
  apps/vibee-editor/render/scripts/prices.ts
  bin/helpers/feed.py
  bin/tri
Due: prettier --write, eslint --fix

feat(cli): tri - the answers this loop kept re-deriving every fifteen minutes (#1988)
  .claude/loop-opus/check-free-disk.sh
  apps/vibee-editor/render/scripts/prices.ts
  bin/helpers/feed.py
  bin/tri
Due: prettier --write, eslint --fix

feat(loop): a dashboard that says what is still open, not what was busy
  .claude/loop-opus/dashboard.html
Due: none

feat(loop): a dashboard that says what is still open, not what was busy (#1989)
  .claude/loop-opus/dashboard.html
Due: none

docs(loop): write the operating mode where the next firing will read it
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): write the operating mode where the next firing will read it (#1990)
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(money): tie the video price to the resolution the route actually asks for
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/kie-price-names.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
Due: prettier --write, eslint --fix

fix(money): tie the video price to the resolution the route actually asks for (#1991)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/kie-price-names.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
Due: prettier --write, eslint --fix

fix(money): the refund must pay back what the charge took
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
Due: prettier --write, eslint --fix

fix(money): the refund must pay back what the charge took (#1992)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
Due: prettier --write, eslint --fix

fix(money): charge the voiceover by its length, and pin the wiring at source
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
Due: prettier --write, eslint --fix

fix(money): charge the voiceover by its length, and pin the wiring at source (#1993)
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
Due: prettier --write, eslint --fix

fix(ios): quote the whole price, not the price of one second
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ЦенаНажатия.swift
  apps/vibee-ios/VibeeTests/ЦенаНажатияTests.swift
Due: none

fix(ios): quote the whole price, not the price of one second (#1994)
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ЦенаНажатия.swift
  apps/vibee-ios/VibeeTests/ЦенаНажатияTests.swift
Due: none
