Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

checkpoint: Не работает, посмотри логи. Midjourney v7
  src/services/generateMidjourneyImage.ts
Due: prettier --write, eslint --fix

fix: Исправить кнопки и добавить унифицированную отмену
  src/handlers/handleHelpCancel/index.ts
  src/hearsHandlers.ts
  src/scenes/balanceScene/index.ts
  src/scenes/inviteScene/index.ts
Due: prettier --write, eslint --fix

checkpoint: curl https://three-head-dragon.shop/api/telegra...
  ПОБЕДА_502_FIXED.md
Due: prettier --write

🎉 feat: Complete Inngest Migration - Production Ready
  COMPLETE_MIGRATION_REPORT.md
  src/scenes/instagramScrapingWizard/index.ts
  src/scenes/lipSyncWizard/ai-reels-render-wizard.ts
Due: prettier --write, eslint --fix

fix: Централизовать все вызовы MAIN_MENU - Команда /menu должна работать
  src/registerCommands.ts
  src/scenes/avatarTransformScene/index.ts
  src/scenes/balanceScene/index.ts
  src/scenes/subscriptionScene/index.ts
Due: prettier --write, eslint --fix

🔄 Auto-deploy: Update code for production deployment
  bun.lock
Due: none

feat: Полная централизация и упрощение - УБРАНА система УРОВНЕЙ!
  src/bot.ts
  src/registerCommands.ts
  src/simpleSceneMenu.ts
Due: prettier --write, eslint --fix

refactor: Replace console with logger in handleMenu (15 new calls from production)
  src/handlers/handleMenu.ts
Due: prettier --write, eslint --fix

fix: Correct replicate module export
  src/core/replicate/index.ts
Due: prettier --write, eslint --fix

fix: Исправить sceneIds в простом меню - команда /menu должна работать
  src/simpleSceneMenu.ts
Due: prettier --write, eslint --fix

fix: Удалить дублирование - одна система кнопок!
  src/bot.ts
  src/menu/mainMenu.ts
  src/registerCommands.ts
Due: prettier --write, eslint --fix

📝 docs: Add deployment rules and fix build issues
  DEPLOYMENT_RULES.md
Due: prettier --write

checkpoint: Ты написал эти правила в Claude.md Agents.md ? ...
  CLAUDECODE_RULES.md
Due: prettier --write

🤖 Update agent configuration with deployment rules
  .claude/config.json
  .claude/settings.json
Due: prettier --write

🎉 feat: Main branch deployed successfully to DEV server
  DEPLOYMENT_REPORT.md
Due: prettier --write

🚨 Emergency: Production restored - 2 bots in dev mode
  .claude/config.json
  scripts/start-production-safe.sh
Due: prettier --write

📝 docs: Production recovery report
  PRODUCTION_RECOVERY_REPORT.md
Due: prettier --write

checkpoint: Исследуй ветку продакшн меню навигации. У нас о...
  RECOVERY_REPORT.md
  src/hearsHandlers.ts
Due: prettier --write, eslint --fix

checkpoint: Да, еще раз перепроверь, если так. Там еще приг...
  RECOVERY_REPORT.md
  src/hearsHandlers.ts
Due: prettier --write, eslint --fix
