Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(loop): the dashboard showed my retelling, not a measurement (#1421)
  .claude/loop-opus/.gitignore
  .claude/loop-opus/collect-status.mjs
  .claude/loop-opus/dashboard.mjs
  .claude/workflows/loop-cycle.js
  tri
Due: none

fix(autofixer): answer the callback query on success (no hanging spinner)
  src/__tests__/commands/autofixerAnswerCbQuery.test.ts
  src/commands/autofixer/autofixer-config.scene.ts
Due: prettier --write, eslint --fix

fix(autofixer): answer the callback query on success (no hanging spinner) (#1422)
  src/__tests__/commands/autofixerAnswerCbQuery.test.ts
  src/commands/autofixer/autofixer-config.scene.ts
Due: prettier --write, eslint --fix

fix(money): make the async-lipsync refund idempotent per job (no double refund)
  src/__tests__/money/lipsyncRefundIdempotent.test.ts
  src/core/lipsync/async-lipsync-manager.ts
Due: prettier --write, eslint --fix

fix(money): make the async-lipsync refund idempotent per job (no double refund) (#1423)
  src/__tests__/money/lipsyncRefundIdempotent.test.ts
  src/core/lipsync/async-lipsync-manager.ts
Due: prettier --write, eslint --fix

fix(reliability): re-entrancy guard on the async-lipsync fallback poller
  src/__tests__/reliability/lipsyncPollerReentrancy.test.ts
  src/core/lipsync/async-lipsync-manager.ts
Due: prettier --write, eslint --fix

refactor(lipsync): pollingInterval can be const (closure ref, no prefer-const warning)
  src/core/lipsync/async-lipsync-manager.ts
Due: prettier --write, eslint --fix

fix(reliability): re-entrancy guard on the async-lipsync fallback poller (#1424)
  src/__tests__/reliability/lipsyncPollerReentrancy.test.ts
  src/core/lipsync/async-lipsync-manager.ts
Due: prettier --write, eslint --fix

fix(money): reject an unknown reel count in instagramParserScene (zero-cost bypass)
  src/__tests__/scenes/instagramSceneCostValidation.test.ts
  src/scenes/instagramParserScene/index.ts
Due: prettier --write, eslint --fix

fix(money): reject an unknown reel count in instagramParserScene (zero-cost bypass) (#1425)
  src/__tests__/scenes/instagramSceneCostValidation.test.ts
  src/scenes/instagramParserScene/index.ts
Due: prettier --write, eslint --fix

wip: face+voice render, channel delivery and content plan before the fixes
  apps/vibee-editor/render/autopilot-face-switch.test.ts
  apps/vibee-editor/render/channel-autopost-startable.test.ts
  apps/vibee-editor/render/channel-delivery.test.ts
  apps/vibee-editor/render/channel-env-contract.test.ts
  apps/vibee-editor/render/channel-seam.test.ts
  apps/vibee-editor/render/face-source.test.ts
  apps/vibee-editor/render/render-duration.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/scripts/telegram-autopost.ts
  apps/vibee-editor/render/src/channel-delivery.ts
  apps/vibee-editor/render/src/face-source.ts
  apps/vibee-editor/render/src/render-duration.ts
  docs/content-plan-voice-face.md
  loop/deploy-env-names.txt
  loop/face-source.example.json
  loop/regression-check.sh
  loop/topics.week1.candidate.json
  loop/validate-topics.mjs
Due: prettier --write, eslint --fix

test(money): completeness ratchet for callback/text number-parse scenes (zero-cost class)
  src/__tests__/scenes/callbackNumberParseRegistry.test.ts
Due: prettier --write, eslint --fix

test(money): completeness ratchet for callback/text number-parse scenes (zero-cost class) (#1426)
  src/__tests__/scenes/callbackNumberParseRegistry.test.ts
Due: prettier --write, eslint --fix

feat(kie): check every provider function before a single credit is spent
  scripts/kie-probe.mjs
  tri
Due: none

feat(loop-opus): tri sweep cross-references the money ledgers (no re-flagging dead debt)
  .claude/loop-opus/sweep.mjs
Due: none

feat(loop-opus): tri sweep cross-references the money ledgers (no re-flagging dead debt) (#1427)
  .claude/loop-opus/sweep.mjs
Due: none

test(reliability): completeness ratchet for in-flight generation guards (no stuck flag)
  src/__tests__/scenes/inflightGuardCompleteness.test.ts
Due: prettier --write, eslint --fix

test(reliability): completeness ratchet for in-flight generation guards (no stuck flag) (#1428)
  src/__tests__/scenes/inflightGuardCompleteness.test.ts
Due: prettier --write, eslint --fix

fix(money): guard the marketplace purchase against a double charge (in-flight)
  src/__tests__/money/marketplacePurchaseIdempotent.test.ts
  src/services/marketplaceService.ts
Due: prettier --write, eslint --fix

fix(money): guard the marketplace purchase against a double charge (in-flight) (#1429)
  src/__tests__/money/marketplacePurchaseIdempotent.test.ts
  src/services/marketplaceService.ts
Due: prettier --write, eslint --fix

test(money): pin handleSuccessfulPayment InvIds as deterministic (idempotent on retry)
  src/__tests__/money/paymentHandlerInvIdDeterministic.test.ts
Due: prettier --write, eslint --fix

test(money): pin handleSuccessfulPayment InvIds as deterministic (idempotent on retry) (#1430)
  src/__tests__/money/paymentHandlerInvIdDeterministic.test.ts
Due: prettier --write, eslint --fix

test(reliability): ratchet every api_server route JSON.parse as try-guarded
  src/__tests__/reliability/routesJsonParseGuarded.test.ts
Due: prettier --write, eslint --fix

test(reliability): ratchet every api_server route JSON.parse as try-guarded (#1431)
  src/__tests__/reliability/routesJsonParseGuarded.test.ts
Due: prettier --write, eslint --fix

test(money): ratchet every updateUserBalanceUnlocked call as lock-held (#999)
  src/__tests__/money/unlockedDeductionLocked.test.ts
Due: prettier --write, eslint --fix

test(money): ratchet every updateUserBalanceUnlocked call as lock-held (#999) (#1432)
  src/__tests__/money/unlockedDeductionLocked.test.ts
Due: prettier --write, eslint --fix

fix(kie): the probe found its own key, and stopped trusting the balance number
  loop/deploy-env-names.txt
  scripts/kie-probe.mjs
Due: none

loop: cycle 191 - env snapshot fixed on neighbors branch
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 191 - env snapshot fixed on neighbors branch (#1433)
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(security): gate debug/test HTTP endpoints out of production
  src/__tests__/reliability/debugRoutesGated.test.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
  src/api_server/routes/test-training.routes.ts
Due: prettier --write, eslint --fix

fix(security): gate debug/test HTTP endpoints out of production (#1434)
  src/__tests__/reliability/debugRoutesGated.test.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
  src/api_server/routes/test-training.routes.ts
Due: prettier --write, eslint --fix

loop: cycle 192 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 192 - standby (#1435)
  loop/ZCODE_LOOP.md
Due: prettier --write

test(security): ratchet the router mount auth boundary (requireInternalKey)
  src/__tests__/reliability/routerMountAuthBoundary.test.ts
Due: prettier --write, eslint --fix

test(security): ratchet the router mount auth boundary (requireInternalKey) (#1436)
  src/__tests__/reliability/routerMountAuthBoundary.test.ts
Due: prettier --write, eslint --fix

feat(mcp): img2img — the thing the service told agents it could not do
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/src/kie-image.ts
Due: prettier --write, eslint --fix

loop: cycle 193 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 193 - standby (#1438)
  loop/ZCODE_LOOP.md
Due: prettier --write

test(inngest): function-granular registration ratchet (charged-not-delivered)
  src/__tests__/inngest/functionGranularRegistration.test.ts
Due: prettier --write, eslint --fix

test(inngest): function-granular registration ratchet (charged-not-delivered) (#1439)
  src/__tests__/inngest/functionGranularRegistration.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
