Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(money): five charge guards were dead because a script exited before its output flushed
  .claude/loop-opus/money-map.mjs
  .claude/skills/continuous-improvement-loop/SKILL.md
  docs/ОЧЕРЕДЬ.md
  src/__tests__/config/paymentUrl.test.ts
  src/__tests__/money/chargeReachability.test.ts
  src/__tests__/navigation/start-first-door.test.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

fix(money): five charge guards were dead because a script exited before its output flushed (#2114)
  .claude/loop-opus/money-map.mjs
  .claude/skills/continuous-improvement-loop/SKILL.md
  docs/ОЧЕРЕДЬ.md
  src/__tests__/config/paymentUrl.test.ts
  src/__tests__/money/chargeReachability.test.ts
  src/__tests__/navigation/start-first-door.test.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

feat(tri): tri guards checks the money guards are alive, not merely present
  bin/tri
Due: none

feat(tri): tri guards checks the money guards are alive, not merely present (#2115)
  bin/tri
Due: none

test(money): the rouble intake webhook was guarded by its shape, never run
  .claude/skills/continuous-improvement-loop/SKILL.md
  bin/tri
  docs/money-ratchets.md
  docs/ОЧЕРЕДЬ.md
  src/__tests__/money/robokassa-webhook-behaviour.test.ts
Due: prettier --write, eslint --fix

test(money): the rouble intake webhook was guarded by its shape, never run (#2116)
  .claude/skills/continuous-improvement-loop/SKILL.md
  bin/tri
  docs/money-ratchets.md
  docs/ОЧЕРЕДЬ.md
  src/__tests__/money/robokassa-webhook-behaviour.test.ts
Due: prettier --write, eslint --fix

test(assets): nothing ever ran the check that stops you deleting someone else's file
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/render/delete-own-photo.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/assets/delete-own-photo.ts
  bin/tri
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

test(assets): nothing ever ran the check that stops you deleting someone else's file (#2117)
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/render/delete-own-photo.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/assets/delete-own-photo.ts
  bin/tri
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

fix(ios): refuse to build when the disk is nearly full, and clean up before building
  .claude/loop-opus/free-disk.sh
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-ios/run.sh
  docs/ОЧЕРЕДЬ.md
Due: prettier --write

fix(ios): refuse to build when the disk is nearly full, and clean up before building (#2118)
  .claude/loop-opus/free-disk.sh
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-ios/run.sh
  docs/ОЧЕРЕДЬ.md
Due: prettier --write

feat(tri): tri space shows the approach to a full disk before it arrives
  bin/tri
Due: none

feat(tri): tri space shows the approach to a full disk before it arrives (#2119)
  bin/tri
Due: none

fix(app): sending both credentials broke sign-in inside Telegram ten minutes after launch
  apps/vibee-editor/player/src/__tests__/launch-session.test.ts
  apps/vibee-editor/player/src/lib/apiFetch.ts
Due: prettier --write, eslint --fix

fix(app): sending both credentials broke sign-in inside Telegram ten minutes after launch (#2120)
  apps/vibee-editor/player/src/__tests__/launch-session.test.ts
  apps/vibee-editor/player/src/lib/apiFetch.ts
Due: prettier --write, eslint --fix

docs: record how a comment that asserted something about the server broke sign-in
  .claude/skills/continuous-improvement-loop/SKILL.md
  docs/ОЧЕРЕДЬ.md
Due: prettier --write

docs: record how a comment that asserted something about the server broke sign-in (#2121)
  .claude/skills/continuous-improvement-loop/SKILL.md
  docs/ОЧЕРЕДЬ.md
Due: prettier --write

feat(auth): tell the person in Telegram when someone signs in on a device
  .claude/skills/app-sign-in/SKILL.md
  apps/vibee-editor/render/credential-precedence-contract.test.ts
  apps/vibee-editor/render/notify-sign-in.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/src/auth/notify-sign-in.ts
  apps/vibee-editor/render/src/auth/telegram-sender.ts
Due: prettier --write, eslint --fix

feat(auth): tell the person in Telegram when someone signs in on a device (#2122)
  .claude/skills/app-sign-in/SKILL.md
  apps/vibee-editor/render/credential-precedence-contract.test.ts
  apps/vibee-editor/render/notify-sign-in.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/src/auth/notify-sign-in.ts
  apps/vibee-editor/render/src/auth/telegram-sender.ts
Due: prettier --write, eslint --fix

feat(ios): the profile threw away twelve of seventeen fields the server sent
  apps/vibee-editor/render/profile-parity.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write, eslint --fix

feat(ios): the profile threw away twelve of seventeen fields the server sent (#2123)
  apps/vibee-editor/render/profile-parity.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write, eslint --fix

feat(ios): SOUL.md and connecting Telegram, plus the null username that broke the screen
  apps/vibee-editor/render/profile-parity.test.ts
  apps/vibee-editor/render/src/agent/tg-connect.ts
  apps/vibee-editor/render/tg-connect.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/Connect.swift
  apps/vibee-ios/Vibee/ConnectTelegram.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write, eslint --fix

feat(ios): SOUL.md and connecting Telegram, plus the null username that broke the screen (#2124)
  apps/vibee-editor/render/profile-parity.test.ts
  apps/vibee-editor/render/src/agent/tg-connect.ts
  apps/vibee-editor/render/tg-connect.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/Connect.swift
  apps/vibee-ios/Vibee/ConnectTelegram.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write, eslint --fix

feat(auth): fill the phone from Telegram instead of typing it
  apps/vibee-editor/player/src/components/Profile/ConnectTelegram.tsx
  apps/vibee-editor/render/known-phone.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/known-phone.ts
  apps/vibee-editor/render/src/agent/tg-connect.ts
  apps/vibee-editor/render/tg-connect.test.ts
  apps/vibee-ios/Vibee/Connect.swift
  apps/vibee-ios/Vibee/ConnectTelegram.swift
  src/commands/sharePhoneCommand.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

feat(auth): fill the phone from Telegram instead of typing it (#2125)
  apps/vibee-editor/player/src/components/Profile/ConnectTelegram.tsx
  apps/vibee-editor/render/known-phone.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/known-phone.ts
  apps/vibee-editor/render/src/agent/tg-connect.ts
  apps/vibee-editor/render/tg-connect.test.ts
  apps/vibee-ios/Vibee/Connect.swift
  apps/vibee-ios/Vibee/ConnectTelegram.swift
  src/commands/sharePhoneCommand.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

feat(ios): show what the agent made and is waiting to publish
  apps/vibee-editor/render/profile-parity.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write, eslint --fix

feat(ios): show what the agent made and is waiting to publish (#2126)
  apps/vibee-editor/render/profile-parity.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write, eslint --fix

feat(ios): the content plan, read and marked from the phone
  apps/vibee-editor/render/profile-parity.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write, eslint --fix

feat(ios): the content plan, read and marked from the phone (#2127)
  apps/vibee-editor/render/profile-parity.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write, eslint --fix

feat(ios): show everything generated, not only what was published
  apps/vibee-editor/render/profile-parity.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write, eslint --fix

feat(ios): show everything generated, not only what was published (#2128)
  apps/vibee-editor/render/profile-parity.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write, eslint --fix

feat(hive): one place that answers what a person may see
  apps/vibee-editor/render/crm-tools.test.ts
  apps/vibee-editor/render/hive-roles.test.ts
  apps/vibee-editor/render/src/agent/crm-tools.ts
  apps/vibee-editor/render/src/hive/roles.ts
Due: prettier --write, eslint --fix

feat(hive): one place that answers what a person may see (#2129)
  apps/vibee-editor/render/crm-tools.test.ts
  apps/vibee-editor/render/hive-roles.test.ts
  apps/vibee-editor/render/src/agent/crm-tools.ts
  apps/vibee-editor/render/src/hive/roles.ts
Due: prettier --write, eslint --fix

feat(hive): the Queen can see every event, and only the keeper sees all of them
  apps/vibee-editor/render/hive-journal.test.ts
  apps/vibee-editor/render/hive-tools.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/src/agent/hive-tools.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/src/hive/journal.ts
Due: prettier --write, eslint --fix

feat(hive): the Queen reports on her own, alarms immediately and the rest in batches
  apps/vibee-editor/render/hive-report.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/hive/queen-report.ts
Due: prettier --write, eslint --fix

chore(tri): a hive command, and ten commands that existed but were undiscoverable
  .claude/skills/blind-guards/SKILL.md
  bin/tri
Due: prettier --write

refactor(hive): English identifiers and comments, and the guard that should have caught it
  apps/vibee-editor/render/hive-journal.test.ts
  apps/vibee-editor/render/hive-report.test.ts
  apps/vibee-editor/render/hive-roles.test.ts
  apps/vibee-editor/render/hive-tools.test.ts
  apps/vibee-editor/render/notify-sign-in.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/src/agent/crm-tools.ts
  apps/vibee-editor/render/src/agent/hive-tools.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/src/auth/notify-sign-in.ts
  apps/vibee-editor/render/src/auth/telegram-sender.ts
  apps/vibee-editor/render/src/hive/journal.ts
  apps/vibee-editor/render/src/hive/queen-report.ts
  apps/vibee-editor/render/src/hive/roles.ts
  apps/vibee-editor/render/src/stars-credit.ts
Due: prettier --write, eslint --fix

fix(hooks): husky was shadowing lefthook, so five pre-commit checks never ran
  .husky/pre-commit
Due: none

feat(hive): money and content now reach the journal, emitted at chokepoints
  apps/vibee-editor/render/hive-emission.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(hive): connect the Queen at t27.ai -- read her live, keeper only
  apps/vibee-editor/render/hive-queen.test.ts
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/src/agent/hive-tools.ts
  apps/vibee-editor/render/src/hive/queen-client.ts
Due: prettier --write, eslint --fix

docs(skill): a guard that is switched off, and a rename that mangles prose
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write
