Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

loop: журнал — касса жива
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №53
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(安全): health-check Z.AI — литеральный URL вместо ENV-сборки
  src/services/provider-health-monitor.ts
Due: prettier --write, eslint --fix

loop: виток №1 продуктового лупа — SSRB-фикс доставлен (PR #641), урок 23
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №2 — долг витка №1 закрыт (PR #642), правило доков через worktree
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №3 — аномалия латентности прода 5-7с зафиксирована
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(рилсы): заголовок не режется + тексты сразу под Instagram
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/compositions/TrinityBlogReel.tsx
Due: prettier --write, eslint --fix

loop: виток №4 — латентность сама восстановилась, логин перевыпущен, урок 24
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(профиль): синк данных из Telegram — имя, username, аватар
  apps/vibee-editor/player/src/atoms/profile.ts
  apps/vibee-editor/player/src/components/Telegram/TelegramProvider.tsx
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: журнал — синк профиля на проде
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №54
  loop/LOOP_REPORT.md
Due: prettier --write

feat(профиль): таб «Блог» + скролл в разделах
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileBlog.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.tsx
Due: none

fix(рилсы): колофон по центру и каноничное S³AI
  apps/vibee-editor/render/src/compositions/TrinityBlogReel.tsx
Due: none

loop: журнал — блог в профиле, скролл
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №56
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(вход): бот входа t27ai_bot вместо vibee_ai_bot
  apps/vibee-editor/player/src/components/Auth/PaywallModal.tsx
  apps/vibee-editor/player/src/components/Auth/TelegramLoginButton.tsx
Due: none

feat(касса): вебхук-независимая верификация звёзд + колофон
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/package-lock.json
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: журнал цикла №57
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №58
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/MORNING.md
Due: prettier --write

loop: журнал цикла №59
  loop/LOOP_STATE.md
Due: prettier --write

fix(вход): fallback ведёт к честному пути вместо молчащего бота
  apps/vibee-editor/player/src/components/Auth/TelegramLoginButton.tsx
  apps/vibee-editor/player/src/components/Auth/styles.css
Due: none

loop: журнал — фикс входа
  loop/LOOP_STATE.md
Due: prettier --write

fix(конвейер): b-roll из кассы канала, не токенов владельца
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №60
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/MORNING.md
  loop/state.json
  loop/topics.json
Due: prettier --write

fix(мини-апп): тач-цели ленты и язык документа
  apps/vibee-editor/player/src/hooks/useLanguage.tsx
  apps/vibee-editor/player/src/index.css
Due: none

loop: отчёт цикла №61
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(auth): нативный виджет входа на проде + золотой канон fallback-кнопки
  apps/vibee-editor/player/src/components/Auth/LoginModal.tsx
  apps/vibee-editor/player/src/components/Auth/TelegramLoginButton.tsx
  apps/vibee-editor/player/src/components/Auth/styles.css
Due: none

fix(мини-апп): русский интерфейс без английских остатков
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/player/src/components/Panels/FeedCard.tsx
Due: prettier --write, eslint --fix

fix(player): подпись личности на платных генерациях страницы Generate
  apps/vibee-editor/player/src/lib/generateApi.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №63 — генерации под подписью (PR #657), ремонт регресс-чека (self-exec zsh), опыт №24-25
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
  loop/regression-check.sh
Due: prettier --write

fix(лента): вместо «Failed to fetch» — человеческий текст об обрыве связи
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Panels/FeedPanel.tsx
Due: prettier --write, eslint --fix

loop: отчёт цикла №64 — петля оплаты без вебхука (авто-verify + retry), опыт №26
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write

fix(касса): авто-verify при входе в чат + реальный retry оплаты
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: none

feat(рендер): отпечаток композиций в /health — устаревший образ теперь видно
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

refactor(ошибки): одна дверь для текста, который увидит человек
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/player/src/lib/errorText.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №65 — vitest 7/7 (enforce-семантика SSE-теста), skills_list в регрессе
  apps/vibee-editor/render/auth.test.ts
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/regression-check.sh
Due: prettier --write, eslint --fix

test(auth): SSE-подделка проверяется в enforce-режиме
  apps/vibee-editor/render/auth.test.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №66 — прод-фронт в регрессе, опыт №27 (zsh path↔PATH)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
  loop/regression-check.sh
Due: prettier --write

fix(тесты плеера): прогон не запускался вовсе — и вскрыл два дефекта
  apps/vibee-editor/player/src/features/script/utils/validation.ts
  apps/vibee-editor/player/src/lib/cache.ts
  apps/vibee-editor/player/src/test/setup.ts
  apps/vibee-editor/player/vitest.config.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №67 — очередь тем 18 (запас 9), каденс-данные конкурентов
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/topics.json
Due: prettier --write
