Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: ✅ Исправлены названия моделей - убран неправильный kie- префикс
  src/config/unified-pricing.config.ts
  src/handlers/handleTextToVideoDirect.ts
  src/modules/videoGenerator/config/models.config.ts
  src/modules/videoGenerator/generateTextToVideo.ts
  src/modules/videoGenerator/helpers/modelMapping.ts
  src/price/helpers/calculateFinalPrice.ts
  src/scenes/textToVideoWizard/index.ts
  src/scenes/textToVideoWizard/simple.ts
  src/services/generateTextToVideo.ts
  src/services/videoModels.ts
  src/test-text-to-video.ts
Due: prettier --write, eslint --fix

fix: resolve 31 TypeScript errors in autofixer Express.js components
  src/api_server/routes/github-autofixer.routes.ts
  src/webhooks/github-autofixer.controller.ts
  src/webhooks/github-autofixer.middleware.ts
Due: prettier --write, eslint --fix

fix: resolve critical OpenAI-Zod dependency conflict blocking production
  package.json
Due: prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

CRITICAL: Remove files containing exposed secrets
  DEBUG_VEO3_FIX.md
  GIT_CLEANUP_PLAN.md
  SECURITY.md
  scripts/clean-git-secrets.sh
  scripts/pre-commit-security.sh
  scripts/security-scan.sh
Due: prettier --write

CRITICAL: Remove files containing exposed secrets
  GIT_CLEANUP_PLAN.md
  scripts/clean-git-secrets.sh
  scripts/pre-commit-security.sh
  scripts/security-scan.sh
Due: prettier --write

CRITICAL: Remove files containing exposed secrets
  DEBUG_VEO3_FIX.md
Due: prettier --write

Remove SECURITY.md containing exposed tokens
  SECURITY.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
