Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(render): allow hyphens inside ffmpeg arguments, which lipsync needs every single time (#1675)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): a Kie.ai TTS failure falls through to the working provider instead of ending the request
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): a Kie.ai TTS failure falls through to the working provider instead of ending the request (#1676)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(security): the owner's Telegram is readable only by the owner
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/telegram-tools-boundary.test.ts
Due: prettier --write, eslint --fix

fix(security): the owner's Telegram is readable only by the owner (#1677)
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/telegram-tools-boundary.test.ts
Due: prettier --write, eslint --fix

fix(render): /analyze-face could freeze every bot, and chose its own destination
  apps/vibee-editor/render/analyze-face-bounded.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/lib/faceDetection.ts
Due: prettier --write, eslint --fix

fix(render): /analyze-face could freeze every bot, and chose its own destination (#1678)
  apps/vibee-editor/render/analyze-face-bounded.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/lib/faceDetection.ts
Due: prettier --write, eslint --fix

feat(render): expose GET /api/balance, because nothing could read the balance it spends
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(render): expose GET /api/balance, because nothing could read the balance it spends (#1679)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): bound what an anonymous WebSocket peer can cost the process
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/ws-bounds.test.ts
Due: prettier --write, eslint --fix

fix(render): bound what an anonymous WebSocket peer can cost the process (#1680)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/ws-bounds.test.ts
Due: prettier --write, eslint --fix

fix(render): /api/balance accepts a session or agent key, not only a mini-app signature
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): /api/balance accepts a session or agent key, not only a mini-app signature (#1681)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): attach the durable job store at boot, not on the first list
  apps/vibee-editor/render/jobs-store-attached-at-boot.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): attach the durable job store at boot, not on the first list (#1682)
  apps/vibee-editor/render/jobs-store-attached-at-boot.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(ios): show the token balance, and refuse before the press rather than after
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: none

feat(ios): show the token balance, and refuse before the press rather than after (#1683)
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: none

fix(tokens): the house is not paid by itself either
  apps/vibee-editor/render/house-refund-symmetry.test.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(tokens): the house is not paid by itself either (#1684)
  apps/vibee-editor/render/house-refund-symmetry.test.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(lipsync): switch to infinitalk, drop the price to match, and stop keeping the allowlist twice
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

fix(lipsync): switch to infinitalk, drop the price to match, and stop keeping the allowlist twice (#1685)
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

feat(tri): add 'tri in-gate' -- does the gate actually collect this test?
  tri
Due: none

feat(tri): add 'tri in-gate' -- does the gate actually collect this test? (#1686)
  tri
Due: none

fix(ios): name the per-second price instead of promising a flat one
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/free-disk.sh
  .claude/loop-opus/pipeline-STATUS.md
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write

fix(ios): name the per-second price instead of promising a flat one (#1687)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/free-disk.sh
  .claude/loop-opus/pipeline-STATUS.md
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write

docs(skill): record the verification lessons that cost the most this shift
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record the verification lessons that cost the most this shift (#1688)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(autopilot): claim the paid b-roll clip before buying it
  apps/vibee-editor/render/broll-spend.test.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/broll-spend.ts
Due: prettier --write, eslint --fix

fix(autopilot): claim the paid b-roll clip before buying it (#1689)
  apps/vibee-editor/render/broll-spend.test.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/broll-spend.ts
Due: prettier --write, eslint --fix

fix(autopilot): claim the poster engraving before buying it, too
  apps/vibee-editor/render/broll-spend.test.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/broll-spend.ts
Due: prettier --write, eslint --fix

fix(autopilot): claim the poster engraving before buying it, too (#1690)
  apps/vibee-editor/render/broll-spend.test.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/broll-spend.ts
Due: prettier --write, eslint --fix

feat(autopilot): hand back what the claim already bought
  apps/vibee-editor/render/broll-spend.test.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/broll-spend.ts
Due: prettier --write, eslint --fix

feat(autopilot): hand back what the claim already bought (#1691)
  apps/vibee-editor/render/broll-spend.test.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/broll-spend.ts
Due: prettier --write, eslint --fix

chore(gate): refresh the test snapshot, which has been failing since #1496
  .test-baseline.txt
Due: none

chore(gate): refresh the test snapshot, which has been failing since #1496 (#1692)
  .test-baseline.txt
Due: none

feat(tri): add 'tri why-red' -- did the test break, or was it renamed?
  tri
Due: none

feat(tri): add 'tri why-red' -- did the test break, or was it renamed? (#1693)
  tri
Due: none

feat(gate): say WHY a test stopped passing -- broken, or renamed
  scripts/test-gate.cjs
Due: none

feat(gate): say WHY a test stopped passing -- broken, or renamed (#1694)
  scripts/test-gate.cjs
Due: none

fix(parity): make the renderer parity check runnable off its author's machine
  apps/vibee-ios/parity/ref.js
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
