Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(редактор): три дефекта ядра таймлайна, невидимых четыре цикла
  apps/vibee-editor/packages/vibee-atoms/src/atoms/selection.ts
  apps/vibee-editor/packages/vibee-atoms/src/atoms/tracks.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №85 утренний — конвейер 25.08 пошёл, MORNING с кассой
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/MORNING.md
Due: prettier --write

loop: отчёт цикла №86 — дежурство, конвейер в цифрах рынка
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №87 — дежурство, Zero Marketing тренд
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №88 — дежурство, онбординг-инсайт в план
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

chore(зависимости): убраны два лок-файла — пустой и принёсший поломку
  bun.lockb
  pnpm-lock.yaml
Due: none

loop: отчёт цикла №90 юбилейный — 90 витков без тихих отказов
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №91 — ложная тревога конвейера (macOS timeout), опыт №30
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write

loop: отчёт цикла №92 — дежурство, продукт бьёт рекламу
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №95 — дежурство, дисковери-инсайт веб-хаба
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №98 — пост 2/4, флуктуация ключа побеждена ретраями
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №99 — дежурство, парадокс раскрытия AI
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №100 юбилейный — сотня витков
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт циклов №101-102 — ретраи ключа в регрессе, идемпотентность кассы валидирована
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/regression-check.sh
Due: prettier --write

loop: отчёт цикла №103 — ретраи откалиброваны (6×15с), опыт №30 обновлён
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write

loop: отчёт цикла №104 — дежурство, данные за b-roll
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №106 — Stars решают микропейменты
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №108 — пост 3/4, b-roll на финале
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №109 — дежурство, экономика конвейера
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №110 — транзиент ленты обойдён ретраем зонда
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/regression-check.sh
Due: prettier --write

loop: отчёт цикла №112 — дежурство, библиотека компонуется
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №113 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(мини-апп): приложение открывается там, где человека прервали
  apps/vibee-editor/packages/vibee-atoms/src/keys.ts
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/atoms/agentChat.ts
  apps/vibee-editor/player/src/atoms/ui.ts
  apps/vibee-editor/player/src/components/Navigation/RouteMemory.tsx
  apps/vibee-editor/player/src/pages/Chat.css
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: prettier --write, eslint --fix

fix(мини-апп): приложение открывается там, где человека прервали (#684)
  apps/vibee-editor/packages/vibee-atoms/src/keys.ts
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/atoms/agentChat.ts
  apps/vibee-editor/player/src/atoms/ui.ts
  apps/vibee-editor/player/src/components/Navigation/RouteMemory.tsx
  apps/vibee-editor/player/src/pages/Chat.css
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: prettier --write, eslint --fix

fix(money): долг обучения вычищен — и обучение оказалось бесплатным с ноября (#569)
  .claude/skills/continuous-improvement-loop/SKILL.md
  docs/OWNER-DECISIONS.md
  docs/audit/training-charge-gone.md
  scripts/probe-training-charges.cjs
  src/__tests__/money/training-refunds-checked.test.ts
  src/__tests__/money/unchecked-money-result.test.ts
  src/inngest_app/functions/training/generateModelTraining.ts
  src/inngest_app/functions/training/modelTrainingV2.ts
  src/inngest_app/functions/training/voiceTrainingRVC.ts
  src/scenes/voiceTrainingWizard/index.ts
Due: prettier --write, eslint --fix

fix(тест): проверка причины возврата читала одну строку вместо всего вызова
  src/__tests__/money/refund-reason.test.ts
Due: prettier --write, eslint --fix

fix(тест): проверка причины возврата читала одну строку вместо всего вызова (#685)
  src/__tests__/money/refund-reason.test.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №114 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

docs(скилл): живой чат — pages/Chat.tsx, и навигация мини-аппа стартует с корня
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): живой чат — pages/Chat.tsx, и навигация мини-аппа стартует с корня (#686)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №115 — дежурство, наша память = ров
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(план): цели и карточки под них — общий список для человека и агента
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfilePlan.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.tsx
  apps/vibee-editor/player/src/components/Profile/SoulEditor.tsx
  apps/vibee-editor/render/src/agent/plan-tools.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №116 — дежурство, вечернее окно
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(план): цели и карточки под них — общий список для человека и агента (#687)
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfilePlan.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.tsx
  apps/vibee-editor/player/src/components/Profile/SoulEditor.tsx
  apps/vibee-editor/render/src/agent/plan-tools.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №118 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(профиль): «это мой профиль?» — один ответ вместо двух расходящихся
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.tsx
  apps/vibee-editor/player/src/components/Profile/useIsOwnProfile.ts
  apps/vibee-editor/player/src/pages/Profile.tsx
Due: prettier --write, eslint --fix

fix(профиль): «это мой профиль?» — один ответ вместо двух расходящихся (#688)
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.tsx
  apps/vibee-editor/player/src/components/Profile/useIsOwnProfile.ts
  apps/vibee-editor/player/src/pages/Profile.tsx
Due: prettier --write, eslint --fix

docs(скилл): контент-план, ключ агента для ручной проверки MCP и владение профилем
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): контент-план, ключ агента для ручной проверки MCP и владение профилем (#689)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №119 — дежурство, наблюдаемость = ров
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write
