Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix: regenerate package-lock.json for inngest 3.54 + TS 6.0.3
  package-lock.json
Due: prettier --write

fix: add --legacy-peer-deps for ts-jest + TS6 compat
  Dockerfile
Due: none

feat: wave 251 security fixes
  rust/WAVE_251_PLAN.md
  rust/WAVE_251_REPORT.md
  rust/rings/SILVER-RING-DB00/src/repository.rs
  rust/skill.md
Due: prettier --write

security: sanitize DB errors in generation, prompt, subscription, webhook, and transaction functions (Wave 252)
  .claude/scheduled_tasks.lock
  rust/WAVE_252_PLAN.md
  rust/WAVE_252_REPORT.md
  rust/rings/SILVER-RING-DB00/src/repository.rs
Due: prettier --write

fix: rollback TypeScript 6.0.3 → 5.9.3
  Dockerfile
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

security: finalize DB error sanitization, add inv_id format validation, instrument provider helpers (Wave 253)
  .claude/scheduled_tasks.lock
  rust/WAVE_253_PLAN.md
  rust/WAVE_253_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/payment_webhooks.rs
  rust/rings/SILVER-RING-AI00/src/providers/mod.rs
  rust/rings/SILVER-RING-DB00/src/repository.rs
Due: prettier --write

security: truncate webhook payload fields before logging, instrument URL validator (Wave 254)
  rust/WAVE_254_PLAN.md
  rust/WAVE_254_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/webhooks.rs
  rust/rings/GOLD-RING-PR00/src/replicate.rs
Due: prettier --write

security: worker error truncation, payment amount re-validation, webhook loader instrumentation (Wave 255)
  rust/WAVE_255_PLAN.md
  rust/WAVE_255_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/router.rs
  rust/rings/SILVER-RING-JB00/src/worker.rs
  rust/rings/SILVER-RING-PY00/src/services/payment_processor.rs
Due: prettier --write

fix: remove Imagen 4 and Grok Aurora from model registry
  src/price/models/IMAGES_MODELS.ts
Due: prettier --write, eslint --fix

feat: FLUX Kontext Max in AI Photoshop + Inngest failure notifications
  rust/WAVE_256_PLAN.md
  rust/WAVE_256_REPORT.md
  rust/rings/SILVER-RING-PY00/src/ton.rs
  rust/rings/SILVER-RING-PY00/src/x402.rs
  rust/rings/SILVER-RING-TG00/src/access.rs
  src/inngest_app/client.ts
  src/inngest_app/functions/generation/neuroImageGeneration.ts
  src/inngest_app/functions/payments/paymentProcessing.ts
  src/inngest_app/functions/render/render.ts
  src/inngest_app/functions/render/renderAvatarVideo.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/aiPhotoshopScene/index.ts
Due: prettier --write, eslint --fix

feat: trim to top 2026 models only
  src/config/unified-video-models.config.ts
  src/price/models/IMAGES_MODELS.ts
Due: prettier --write, eslint --fix

feat: auto provider health monitor with admin alerts
  src/api_server/index.ts
  src/index.ts
  src/services/generateNeuroPhotoHybrid.ts
  src/services/provider-health-monitor.ts
Due: prettier --write, eslint --fix

security: wave 257 fixes
  rust/WAVE_257_PLAN.md
  rust/WAVE_257_REPORT.md
  rust/rings/SILVER-RING-JB00/src/worker.rs
  rust/rings/SILVER-RING-PY00/src/services/payment_processor.rs
  rust/rings/SILVER-RING-PY00/src/telegram_stars.rs
Due: prettier --write

feat: bot owner billing system with auto-disable
  src/api_server/index.ts
  src/api_server/routes/billing.routes.ts
  src/index.ts
  src/services/bot-owner-billing.ts
Due: prettier --write, eslint --fix

fix: multi-currency billing (Stars, RUB, USDC, TON)
  src/services/bot-owner-billing.ts
Due: prettier --write, eslint --fix

security: wave 258 fixes
  rust/WAVE_258_PLAN.md
  rust/WAVE_258_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/router.rs
  rust/rings/BRONZE-RING-SRV/src/webhooks.rs
  rust/rings/SILVER-RING-AI00/src/providers/openai.rs
Due: prettier --write

feat: add financial-audit skill for bot owner billing
  .claude/skills/financial-audit/SKILL.md
  .claude/skills/financial-audit/references/audit-query.md
Due: prettier --write

security: wave 259 fixes
  rust/WAVE_259_PLAN.md
  rust/WAVE_259_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/payment_webhooks.rs
  rust/rings/GOLD-RING-PR00/src/payment.rs
Due: prettier --write

feat: sync all commands and skills for Railway
  .claude/commands/autonomous-monitor.md
  .claude/commands/check.md
  .claude/commands/deploy.md
  .claude/commands/user-check.md
Due: prettier --write

feat: add /billing command for owner financial reports
  .claude/commands/billing.md
Due: prettier --write

feat: /billing command in Telegram bot for owner reports
  rust/WAVE_260_PLAN.md
  rust/WAVE_260_REPORT.md
  rust/rings/BRONZE-RING-SRV/src/router.rs
  rust/rings/BRONZE-RING-SRV/src/webhooks.rs
  rust/rings/GOLD-RING-PR00/src/fal.rs
  rust/rings/GOLD-RING-PR00/src/kie.rs
  rust/rings/GOLD-RING-PR00/src/lib.rs
  rust/rings/GOLD-RING-PR00/src/providers.rs
  rust/rings/GOLD-RING-PR00/src/replicate.rs
  src/commands/billingCommand.ts
  src/registerCommands.ts
Due: prettier --write, eslint --fix

feat: daily sales advisor — Inngest cron for owner reports
  src/inngest_app/functions/analytics/dailySalesAdvisor.ts
  src/inngest_app/registerFunctions.ts
Due: prettier --write, eslint --fix

security: wave 261 fixes
  .claude/scheduled_tasks.json
  rust/WAVE_261_PLAN.md
  rust/WAVE_261_REPORT.md
  rust/rings/GOLD-RING-PR00/src/fal.rs
  rust/rings/GOLD-RING-PR00/src/lib.rs
  rust/rings/GOLD-RING-PR00/src/openai.rs
  rust/rings/GOLD-RING-PR00/src/replicate.rs
Due: prettier --write

feat: AI Hub Platform — subscriptions + AI chat (#358)
  src/core/supabase/getTranslation.ts
  src/core/supabase/getUserDetailsSubscription.ts
  src/core/supabase/isLimitAi.ts
  src/hearsHandlers.ts
  src/interfaces/modes.ts
  src/interfaces/subscription.interface.ts
  src/navigation/config/categories.config.ts
  src/navigation/registerCommands.ts
  src/navigation/unified-navigation.config.ts
  src/price/constants/index.ts
  src/price/priceCalculator.ts
  src/scenes/aiChatWizard/index.ts
  src/scenes/getRuBillWizard/helper.ts
  src/scenes/getRuBillWizard/index.ts
  src/scenes/index.ts
  src/scenes/menuScene/index.ts
  src/scenes/subscriptionCheckScene.ts
  src/scenes/subscriptionScene/index.ts
  src/services/aiChatService.ts
Due: prettier --write, eslint --fix

feat: marketplace for prompts, styles, LoRA models (#361)
  rust/WAVE_262_PLAN.md
  rust/rings/GOLD-RING-PR00/src/kie.rs
  rust/rings/GOLD-RING-PR00/src/lib.rs
  rust/rings/SILVER-RING-AI00/src/providers/mod.rs
  rust/rings/SILVER-RING-AI00/src/providers/replicate.rs
  src/interfaces/modes.ts
  src/navigation/config/categories.config.ts
  src/navigation/registerCommands.ts
  src/navigation/unified-navigation.config.ts
  src/scenes/index.ts
  src/scenes/marketplaceWizard/index.ts
  src/services/marketplaceService.ts
Due: prettier --write, eslint --fix

feat: self-improving skills system (#362)
  rust/rings/SILVER-RING-AI00/src/providers/elevenlabs.rs
  rust/rings/SILVER-RING-AI00/src/providers/fal.rs
  rust/rings/SILVER-RING-AI00/src/providers/hedra.rs
  rust/rings/SILVER-RING-AI00/src/providers/heygen.rs
  rust/rings/SILVER-RING-AI00/src/providers/kie.rs
  rust/rings/SILVER-RING-AI00/src/providers/openai.rs
  rust/rings/SILVER-RING-AI00/src/providers/replicate.rs
  src/inngest_app/functions/analytics/skillDetector.ts
  src/inngest_app/registerFunctions.ts
  src/services/generateNeuroPhotoHybrid.ts
  src/services/generateTextToImageDirect.ts
  src/services/skillManager.ts
Due: prettier --write, eslint --fix

feat: white-label B2B — Agent as a Service (#363)
  src/api_server/index.ts
  src/commands/billingCommand.ts
  src/services/whiteLabelConfig.ts
Due: prettier --write, eslint --fix

feat: Hermes-style persistent memory for AI Chat
  src/scenes/aiChatWizard/index.ts
  src/services/aiChatService.ts
  src/services/chatMemoryService.ts
Due: prettier --write, eslint --fix

fix: stop billing spam on bot restart
  src/services/bot-owner-billing.ts
Due: prettier --write, eslint --fix

fix: billing formula — 50/50 profit split, not full AI cost
  src/services/bot-owner-billing.ts
Due: prettier --write, eslint --fix

feat: Telegram Business bot — AI sales assistant from owner's account
  src/bot.ts
  src/navigation/registerCommands.ts
  src/services/businessBotService.ts
Due: prettier --write, eslint --fix

fix: business bot — raw middleware instead of unsupported .on()
  src/navigation/registerCommands.ts
  src/services/businessBotService.ts
Due: prettier --write, eslint --fix

fix: add business_connection/message to polling allowedUpdates
  src/index.ts
Due: prettier --write, eslint --fix

feat: AI fallback — bot replies to any text outside scenes
  src/index.ts
Due: prettier --write, eslint --fix

fix: AI fallback regex — was blocking Cyrillic text as emoji
  src/index.ts
Due: prettier --write, eslint --fix

fix: clean up startup logs — remove BOT_TOKEN_11 and Infisical noise
  src/core/infisical/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: AI fallback — use bot.use() instead of bot.on('text')
  src/index.ts
Due: prettier --write, eslint --fix

fix: move AI fallback inside registerCommands after stage
  src/index.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

fix: switch AI chat from OpenRouter (empty) to OpenAI API
  src/services/aiChatService.ts
Due: prettier --write, eslint --fix

fix: AI chat fallback chain — DeepSeek → OpenAI → OpenRouter
  src/services/aiChatService.ts
Due: prettier --write, eslint --fix
