Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

loop: виток №64 — латентность держится, третий виток решающий
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №65 — латентность вернулась к базе, наблюдение закрыто
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(ios): settle window restarts at 1, matching Remotion — and measureSpring is now under parity
  apps/vibee-ios/Vibee/Animation.swift
  apps/vibee-ios/parity/main.swift
  apps/vibee-ios/parity/ref.js
Due: none

fix(ios): settle window restarts at 1, matching Remotion — and measureSpring (#842)
  apps/vibee-ios/Vibee/Animation.swift
  apps/vibee-ios/parity/main.swift
  apps/vibee-ios/parity/ref.js
Due: none

loop: виток №66 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(ios): the tail was cut from every export
  apps/vibee-ios/Vibee/NativeRenderer.swift
Due: none

loop: виток №67 — латентность на спаде (4.8→0.8с)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(ios): the tail was cut from every export (#844)
  apps/vibee-ios/Vibee/NativeRenderer.swift
Due: none

loop: виток №68 — дежурство, латентность в норме
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №69 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №70 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №71 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №72 — дежурство, разовый пик 5.2с
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №73 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №74 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №75 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №76 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №77 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №78 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №79 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №80 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №81 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №82 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №83 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №84 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №85 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №86 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №87 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(ios): three animation factories now say which frames they take
  apps/vibee-ios/Vibee/LayerBuilder.swift
Due: none

fix(ios): three animation factories now say which frames they take (#866)
  apps/vibee-ios/Vibee/LayerBuilder.swift
Due: none

feat(auth): session storage — four tables and the rotation store
  apps/vibee-editor/render/session-store.ts
Due: prettier --write, eslint --fix

feat(auth): session storage — four tables and the rotation store (#867)
  apps/vibee-editor/render/session-store.ts
Due: prettier --write, eslint --fix

fix(loop): verify-landed.mjs не работал НИ РАЗУ — опечатка в пути (playom→playra)
  .claude/loop-opus/verify-landed.mjs
Due: none

fix(loop): verify-landed.mjs не работал НИ РАЗУ — опечатка в пути (playom→playra) (#868)
  .claude/loop-opus/verify-landed.mjs
Due: none

docs(loop): урок — инструмент самопроверки сам был сломан опечаткой в пути
  .claude/loop-opus/LESSONS.md
  .claude/loop-opus/landed.json
Due: prettier --write

docs(loop): урок — инструмент самопроверки сам был сломан опечаткой в пути (#869)
  .claude/loop-opus/LESSONS.md
  .claude/loop-opus/landed.json
Due: prettier --write

chore(tri): +5 команд для скорости цикла + версионируемая копия в репо
  .claude/loop-opus/tri.reference.sh
Due: none

chore(tri): +5 команд для скорости цикла + версионируемая копия в репо (#870)
  .claude/loop-opus/tri.reference.sh
Due: none

fix(лента): публикация от чужого имени — telegram_id брался из тела запроса
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(лента): публикация от чужого имени — telegram_id брался из тела запроса (#871)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
