Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs(loop): export with a video layer is fixed and proven end to end
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): export with a video layer is fixed and proven end to end (#1954)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(ios): stop the dropped-job recovery from adopting the previous generation
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: none

fix(ios): stop the dropped-job recovery from adopting the previous generation (#1955)
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: none

docs(loop): reread your own code from yesterday as if a stranger wrote it
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): reread your own code from yesterday as if a stranger wrote it (#1956)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

test(ios): add a unit-test target, because the defect I shipped was uncatchable
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ПодборЗадачи.swift
  apps/vibee-ios/VibeeTests/ПодборЗадачиTests.swift
  apps/vibee-ios/project.yml
Due: none

test(ios): add a unit-test target, because the defect I shipped was uncatchable (#1957)
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ПодборЗадачи.swift
  apps/vibee-ios/VibeeTests/ПодборЗадачиTests.swift
  apps/vibee-ios/project.yml
Due: none

docs(loop): if a defect cannot be caught, build the thing that catches it
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): if a defect cannot be caught, build the thing that catches it (#1958)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

refactor(billing): the server says which prices are per second, so the app stops guessing
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

refactor(billing): the server says which prices are per second, so the app stops guessing (#1959)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

docs(loop): "correct by accident" is not correct
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): "correct by accident" is not correct (#1960)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(money): quote the price we actually charge, not the average for the kind
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

fix(money): quote the price we actually charge, not the average for the kind (#1961)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

docs(loop): record the price defect that only numbers could reveal
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): record the price defect that only numbers could reveal (#1962)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(ios): the model list showed our purchase cost, not the price
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModelRow.swift
  apps/vibee-ios/Vibee/KieModels.swift
  apps/vibee-ios/Vibee/TimelineView.swift
  apps/vibee-ios/Vibee/Склонение.swift
  apps/vibee-ios/VibeeTests/СклонениеTests.swift
Due: none

fix(ios): the model list showed our purchase cost, not the price (#1963)
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModelRow.swift
  apps/vibee-ios/Vibee/KieModels.swift
  apps/vibee-ios/Vibee/TimelineView.swift
  apps/vibee-ios/Vibee/Склонение.swift
  apps/vibee-ios/VibeeTests/СклонениеTests.swift
Due: none

fix(money): two models sold below cost, four overcharged by a token
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-editor/render/src/agent/kie-prices.generated.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

fix(money): two models sold below cost, four overcharged by a token (#1964)
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-editor/render/src/agent/kie-prices.generated.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

docs(loop): the rule that a printed number gets read by eyes
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): the rule that a printed number gets read by eyes (#1965)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(money): per-second is a property of the model, not of the kind of work
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

fix(money): per-second is a property of the model, not of the kind of work (#1966)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

docs(loop): put a property on the thing that owns it
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): put a property on the thing that owns it (#1967)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(money): do not sell what cannot be priced per call
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/kie-prices.generated.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

fix(money): do not sell what cannot be priced per call (#1968)
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/kie-prices.generated.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

docs(loop): refuse the sale when no sum can be named
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): refuse the sale when no sum can be named (#1969)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

feat(pipeline): a whole-pipeline check that spends nothing
  apps/vibee-editor/render/package.json
  apps/vibee-editor/render/scripts/pipeline-check.ts
Due: prettier --write, eslint --fix

feat(pipeline): a whole-pipeline check that spends nothing (#1970)
  apps/vibee-editor/render/package.json
  apps/vibee-editor/render/scripts/pipeline-check.ts
Due: prettier --write, eslint --fix

docs(loop): the web and the app, tab by tab
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): the web and the app, tab by tab (#1971)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(pipeline): offer only the models we can actually feed
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/scripts/pipeline-check.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

fix(pipeline): offer only the models we can actually feed (#1972)
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/scripts/pipeline-check.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

docs(loop): a stale working copy reads like broken code
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): a stale working copy reads like broken code (#1973)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write
