Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(profile): align template cards with feed
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write, eslint --fix

fix(profile): harden template preview playback
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(video): tolerate non-unique telegram_id in getUserHelper (unblock image-to-video)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/videoHelperNonUniqueTelegramId.test.ts
  src/modules/videoGenerator/helpers/supabaseHelper.ts
Due: prettier --write, eslint --fix

fix(video): tolerate non-unique telegram_id in getUserHelper (unblock image-to-video) (#1599)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/videoHelperNonUniqueTelegramId.test.ts
  src/modules/videoGenerator/helpers/supabaseHelper.ts
Due: prettier --write, eslint --fix

fix(profile): lazy-load template preview frames
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(tts): clear a saved voice_id only on an authoritative negative, not any 404
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/ttsVoiceClearAuthoritative.test.ts
  src/core/elevenlabs/createAudioFileFromText.ts
Due: prettier --write, eslint --fix

fix(tts): clear a saved voice_id only on an authoritative negative, not any 404 (#1600)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/ttsVoiceClearAuthoritative.test.ts
  src/core/elevenlabs/createAudioFileFromText.ts
Due: prettier --write, eslint --fix

fix(profile): stabilize preview viewport tracking
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

tool(tri): single-telegram audit -- find .single() on non-unique telegram_id queries
  .claude/loop-opus/single-telegram-audit.mjs
Due: none

tool(tri): single-telegram audit -- find .single() on non-unique telegram_id queries (#1601)
  .claude/loop-opus/single-telegram-audit.mjs
Due: none

fix(db): migrate 3 safe users-getters off .single()-on-non-unique-telegram_id
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/singleTelegramMigratedFiles.test.ts
  src/__tests__/services/getAspectRatioNoThrow.test.ts
  src/core/supabase/getAspectRatio.ts
  src/core/supabase/getUserLevel.ts
  src/core/supabase/getUserModel.ts
Due: prettier --write, eslint --fix

fix(db): migrate 3 safe users-getters off .single()-on-non-unique-telegram_id (#1603)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/singleTelegramMigratedFiles.test.ts
  src/__tests__/services/getAspectRatioNoThrow.test.ts
  src/core/supabase/getAspectRatio.ts
  src/core/supabase/getUserLevel.ts
  src/core/supabase/getUserModel.ts
Due: prettier --write, eslint --fix

fix(db): migrate ai.ts getAspectRatio off .single()-on-non-unique-telegram_id
  src/__tests__/reliability/singleTelegramMigratedFiles.test.ts
  src/core/supabase/ai.ts
Due: prettier --write, eslint --fix

fix(db): migrate ai.ts getAspectRatio off .single()-on-non-unique-telegram_id (#1604)
  src/__tests__/reliability/singleTelegramMigratedFiles.test.ts
  src/core/supabase/ai.ts
Due: prettier --write, eslint --fix

tool(tri): single-telegram audit now splits LIVE vs DEAD sites
  .claude/loop-opus/single-telegram-audit.mjs
Due: none

tool(tri): single-telegram audit now splits LIVE vs DEAD sites (#1605)
  .claude/loop-opus/single-telegram-audit.mjs
Due: none

tool(tri): single-telegram audit excludes the safe .limit().single() idiom
  .claude/loop-opus/single-telegram-audit.mjs
Due: none

tool(tri): single-telegram audit excludes the safe .limit().single() idiom (#1606)
  .claude/loop-opus/single-telegram-audit.mjs
Due: none

fix(db): migrate getUserProfileAndSettings off .single()-on-non-unique-telegram_id
  src/__tests__/reliability/singleTelegramMigratedFiles.test.ts
  src/db/userSettings.ts
Due: prettier --write, eslint --fix

fix(db): migrate getUserProfileAndSettings off .single()-on-non-unique-telegram_id (#1607)
  src/__tests__/reliability/singleTelegramMigratedFiles.test.ts
  src/db/userSettings.ts
Due: prettier --write, eslint --fix

feat(script): write scripts through KieAI instead of failing on a missing xAI key
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/kie-display-names.ts
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-editor/render/src/agent/kie-price-names.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

feat(script): write scripts through KieAI instead of failing on a missing xAI key (#1608)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/kie-display-names.ts
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-editor/render/src/agent/kie-price-names.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModels.swift
  loop/.zcode-heartbeat
  node_modules
Due: prettier --write, eslint --fix

fix(repo): stop tracking the node_modules symlink (broken absolute path)
  .gitignore
  node_modules
Due: none

fix(repo): stop tracking the node_modules symlink (broken absolute path) (#1609)
  .gitignore
  node_modules
Due: none

fix(script): the button sent an image request; add GLM-5.3 on its own endpoint
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/kie-display-names.ts
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-editor/render/src/agent/kie-price-names.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

fix(script): the button sent an image request; add GLM-5.3 on its own endpoint (#1610)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/kie-display-names.ts
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-editor/render/src/agent/kie-price-names.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

tool(tri): repo-hygiene audit -- flag tracked symlinks + absolute machine paths
  .claude/loop-opus/repo-hygiene-audit.mjs
Due: none

tool(tri): repo-hygiene audit -- flag tracked symlinks + absolute machine paths (#1611)
  .claude/loop-opus/repo-hygiene-audit.mjs
Due: none

fix(auth): accept the agent key the app already stores, so generation is reachable
  apps/vibee-editor/render/auth-agent-key.test.ts
  apps/vibee-editor/render/auth.ts
Due: prettier --write, eslint --fix

fix(auth): accept the agent key the app already stores, so generation is reachable (#1612)
  apps/vibee-editor/render/auth-agent-key.test.ts
  apps/vibee-editor/render/auth.ts
Due: prettier --write, eslint --fix

fix(users): dedup concurrent createUserByTelegramId (root cause of duplicate telegram_id rows)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/createUserInFlightDedup.test.ts
  src/core/supabase/getUserByTelegramId.ts
Due: prettier --write, eslint --fix

fix(users): dedup concurrent createUserByTelegramId (root cause of duplicate telegram_id rows) (#1613)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/createUserInFlightDedup.test.ts
  src/core/supabase/getUserByTelegramId.ts
Due: prettier --write, eslint --fix

ci(hooks): gate tracked symlinks in pre-push (prevent the #1608 repo-breaking class)
  .claude/loop-opus/guards.mjs
  .claude/loop-opus/repo-hygiene-audit.mjs
  lefthook.yml
  src/__tests__/reliability/repoHygieneHookWired.test.ts
Due: prettier --write, eslint --fix

ci(hooks): gate tracked symlinks in pre-push (prevent the #1608 repo-breaking class) (#1614)
  .claude/loop-opus/guards.mjs
  .claude/loop-opus/repo-hygiene-audit.mjs
  lefthook.yml
  src/__tests__/reliability/repoHygieneHookWired.test.ts
Due: prettier --write, eslint --fix

fix(ios): the sign-in screen wiped its own error message before anyone saw it
  apps/vibee-ios/Vibee/SignIn.swift
Due: none

fix(ios): the sign-in screen wiped its own error message before anyone saw it (#1615)
  apps/vibee-ios/Vibee/SignIn.swift
Due: none

fix(ios): sign-in stores the session; Keychain failures are no longer swallowed
  apps/vibee-ios/Vibee/Identity.swift
  apps/vibee-ios/Vibee/Vibee-Simulator.entitlements
  apps/vibee-ios/Vibee/Vibee.entitlements
  apps/vibee-ios/project.yml
Due: none

fix(ios): sign-in stores the session; Keychain failures are no longer swallowed (#1616)
  apps/vibee-ios/Vibee/Identity.swift
  apps/vibee-ios/Vibee/Vibee-Simulator.entitlements
  apps/vibee-ios/Vibee/Vibee.entitlements
  apps/vibee-ios/project.yml
Due: none

fix(quota): superhero-generation counter accumulates (was stuck at 2, bypassing the 3/month free cap)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/superheroQuotaCounterAccumulates.test.ts
  src/core/supabase/incrementSuperheroGeneration.ts
Due: prettier --write, eslint --fix

fix(quota): superhero-generation counter accumulates (was stuck at 2, bypassing the 3/month free cap) (#1617)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/superheroQuotaCounterAccumulates.test.ts
  src/core/supabase/incrementSuperheroGeneration.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
