Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

checkpoint: Изучи, как у нас происходит создание промо. Поч...
  src/core/supabase/createModelTraining.ts
  src/interfaces/supabase.interface.ts
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

fix: Исправлен баг определения пола модели в нейрофото
  migrations/add_gender_to_model_trainings.sql
  src/hearsHandlers.ts
  src/interfaces/supabase.interface.ts
  src/scenes/improvePromptWizard/index.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/scenes/neuroPhotoWizardV2/index.ts
Due: prettier --write, eslint --fix

feat: Синхронизация с render-template-2-4 - полное исправление Template 2
  docs/AI_REELS_TEMPLATE2_CRASH_ANALYSIS.md
  docs/SYNCHRONIZATION_REPORT.md
  src/api_server/index.ts
  src/api_server/routes/diagnostic.routes.ts
  src/inngest_app/inngest-provider.ts
  src/scenes/lipSyncWizard/ai-reels-render-wizard.ts
Due: prettier --write, eslint --fix

fix: Принудительное обновление файлов из template-2
  avatar_brain/bg/01.mp4
  avatar_brain/bg/02.mp4
  avatar_brain/bg/03.mp4
  avatar_brain/bg/04.mp4
  avatar_brain/test.mp4
  avatar_brain/test1.mp4
Due: none

fix: Принудительное обновление файлов из template-2
  .env
  avatar_brain/bg/01.mp4
  avatar_brain/bg/02.mp4
  avatar_brain/bg/03.mp4
  avatar_brain/bg/04.mp4
  avatar_brain/test.mp4
  avatar_brain/test1.mp4
Due: none

🔐 SECURITY AUDIT: Critical secret keys leak detected and fixed
  SECURITY_AUDIT_REPORT.md
Due: prettier --write

🔐 SECURITY: Permanently remove .env file from production
  .env
Due: none

🔐 SECURITY: Permanently remove .env file from production
  scripts/manage-user-5781166218-production.js
  scripts/manage-user-5781166218.js
  scripts/manage-user-693774948.js
  src/inngest_app/functions/monitoring/criticalErrorMonitor.ts
  src/inngest_app/functions/monitoring/logMonitor.ts
Due: prettier --write, eslint --fix

🔐 SECURITY: Permanently remove .env file from production
  .env
  scripts/manage-user-5781166218-production.js
  scripts/manage-user-5781166218.js
  scripts/manage-user-693774948.js
  src/inngest_app/functions/monitoring/criticalErrorMonitor.ts
  src/inngest_app/functions/monitoring/logMonitor.ts
Due: prettier --write, eslint --fix

🔐 COMPLETE: Full Git history purge of .env files across ALL branches
  GIT_HISTORY_CLEANUP_REPORT.md
Due: prettier --write

fix: Исправлена синтаксическая ошибка в handleMenu.ts - восстановлена работа кнопок меню
  src/handlers/handleMenu.ts
  src/inngest_app/functions/monitoring/criticalErrorMonitor.ts
  src/inngest_app/functions/monitoring/logMonitor.ts
Due: prettier --write, eslint --fix

checkpoint: Кнопки перестали работать. В этом и заключается...
  src/inngest_app/functions/monitoring/criticalErrorMonitor.ts
  src/inngest_app/functions/monitoring/logMonitor.ts
Due: prettier --write, eslint --fix

🔐 SECURITY: Remove all files with hardcoded secrets
  .gitignore
Due: none

📋 FINAL REPORT: Complete repository security cleanup
  FINAL_SECURITY_CLEANUP_REPORT.md
Due: prettier --write

feat: Добавить Inngest функцию ai-reels-callback
  scripts/manage-user-5781166218-production.js
  scripts/manage-user-5781166218.js
  scripts/manage-user-693774948.js
  src/inngest_app/functions/ai-reels-callback.ts
  src/inngest_app/functions/index.ts
  src/inngest_app/functions/monitoring/criticalErrorMonitor.ts
  src/inngest_app/functions/monitoring/logMonitor.ts
Due: prettier --write, eslint --fix

feat: Включить Inngest API и ai-reels-callback функцию
  src/api_server/index.ts
  src/inngest_app/registerFunctions.ts
Due: prettier --write, eslint --fix

fix: Исправить импорт inngest client в ai-reels-callback
  src/inngest_app/functions/ai-reels-callback.ts
Due: prettier --write, eslint --fix

checkpoint: Так, что нам теперь нужно сделать?
  PRODUCTION_STATUS_AND_RECOMMENDATIONS.md
Due: prettier --write

fix: Восстановлена работа бота - исправлена ошибка с кнопками и переменными окружения
  package-lock.json
  package.json
Due: prettier --write

feat: Централизованная система отмены для всех wizard'ов
  package-lock.json
  package.json
  scripts/manage-user-5781166218-production.js
  scripts/manage-user-5781166218.js
  scripts/manage-user-693774948.js
  src/bot.ts
  src/inngest_app/functions/monitoring/criticalErrorMonitor.ts
  src/inngest_app/functions/monitoring/logMonitor.ts
  src/scenes/lipSyncWizard/index.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/utils/cancelHandler.ts
  src/utils/cancelKeyboard.ts
Due: prettier --write, eslint --fix

feat: Кардинальное упрощение системы навигации
  NAVIGATION_SYSTEM.md
  scripts/manage-user-5781166218-production.js
  scripts/manage-user-5781166218.js
  scripts/manage-user-693774948.js
  src/hearsHandlers.ts
  src/inngest_app/functions/monitoring/criticalErrorMonitor.ts
  src/inngest_app/functions/monitoring/logMonitor.ts
  src/menu/index.ts
  src/menu/simpleMenu.ts
  src/registerCommands.ts
  src/scenes/startScene/index.ts
  src/services/CancelButtonService.ts
  src/services/index.ts
Due: prettier --write, eslint --fix

🚀 DEPLOYMENT SUCCESS: Latest working snapshot deployed to development server
  DEPLOYMENT_SUCCESS_REPORT.md
Due: prettier --write

fix: Исключены тестовые боты из инициализации - остались только 10 основных
  src/core/bot/index.ts
Due: prettier --write, eslint --fix

Add .env file from .env.example (force)
  .env
Due: none

fix: Переключен на polling режим - исправлены кнопки и навигация бота
  src/index.ts
Due: prettier --write, eslint --fix

✅ КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: Восстановлены кнопки меню через setupHearsHandlers
  src/registerCommands.ts
Due: prettier --write, eslint --fix
