Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

✅ КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: Восстановлены кнопки меню через setupHearsHandlers
  src/registerCommands.ts
Due: prettier --write, eslint --fix

🚨 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: handleMenu ПОЛНОСТЬЮ УДАЛЁН из проекта
  src/commands/fluxKontextCommand/index.ts
  src/commands/priceCommand/index.ts
  src/core/supabase/getTranslation.ts
  src/handlers/handleMenu.ts
  src/handlers/handleTextMessage/index.ts
  src/handlers/index.ts
  src/registerCommands.ts
  src/scenes/menuScene/index.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/scenes/neuroPhotoWizardV2/index.ts
  src/scenes/paymentScene/index.ts
  src/scenes/startScene/index.ts
  src/scenes/subscriptionCheckScene.ts
  src/scenes/subscriptionScene/index.ts
  src/scenes/textToImageWizard/index.ts
  src/utils/buttonMappingIntegration.ts
  src/utils/wizardButtonHandlers.ts
Due: prettier --write, eslint --fix

🔧 ИСПРАВЛЛЕН ДЕПЛОЙ - добавлен path mapping для inngest_app_disabled
  tsconfig.json
Due: prettier --write

checkpoint: Invoke the deployment-manager agent to perform ...
  .env
  src/scenes/index.ts
Due: prettier --write, eslint --fix

🔐 КРИТИЧЕСКИЙ ФИКС - Реальные токены ботов добавлены!
  .env
  RULES.md
Due: prettier --write

🔧 КРИТИЧЕСКИЙ ФИКС: ADMIN_IDS исправлен для восстановления подписок
  .env
Due: none

checkpoint: Слушай, посмотри, какие ошибки у нас. Создай сп...
  ERRORS_ANALYSIS.md
Due: prettier --write

🔥 КРИТИЧЕСКИЙ ФИКС: Все реальные токены и ключи добавлены!
  .env
Due: none

checkpoint: Смотри, у нас там же ферма агентов, и у каждого...
  src/core/supabase/getBotWelcomeMessage.ts
  src/scenes/startScene/index.ts
Due: prettier --write, eslint --fix

🎉 ВОССТАНОВЛЕНЫ ПРИВЕТСТВИЯ ДЛЯ КАЖДОГО БОТА!
  src/scenes/startScene/index.ts
Due: prettier --write, eslint --fix

🔄 ИСПРАВЛЕНА: Приветствия теперь берутся из Supabase!
  src/core/supabase/getBotWelcomeMessage.ts
Due: prettier --write, eslint --fix

🔍 ИССЛЕДОВАНИЕ: ai-reels-callback endpoint за 3 дня
  FINAL_ACTION_PLAN.md
  RECOVERY_REPORT.md
  emergency-restore.sh
Due: prettier --write

feat: Централизованная система Cancel во всех wizard'ах
  package.json
  src/scenes/avatarBrainWizard/index.ts
  src/scenes/digitalAvatarBodyWizard/index.ts
  src/scenes/imageToVideoWizard/index.ts
  src/scenes/textToImageWizard/index.ts
  src/scenes/textToVideoWizard/index.ts
Due: prettier --write, eslint --fix

🎉 ВОССТАНОВЛЕН: ai-reels-callback endpoint
  FINAL_SUCCESS_REPORT.md
Due: prettier --write

checkpoint: Так отлично, но восстанови сам. Тогда проверь, ...
  debug-port-3000.sh
  deep-diagnosis.sh
  fix-and-restore.sh
  fix-docker-network.sh
  force-start-container.sh
  setup-nginx-host-network.sh
Due: none

🚀 УСПЕШНЫЙ ДЕПЛОЙ В MAIN: ai-reels-callback endpoint
  DEPLOYMENT_TO_MAIN_SUCCESS.md
Due: prettier --write

feat: Финальное обновление - Централизованная Cancel система во ВСЕХ wizard'ах
  src/scenes/voiceAvatarWizard/index.ts.bak
Due: none

checkpoint: Отлично, сохрани изменения до webhook.
  deploy-to-main.sh
  merge-to-main.sh
Due: none

🚨 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: nginx.conf для --network host
  .gitignore
  CLAUDE_ARCHITECTURE_RULES.md
  CRITICAL_FIX_REPORT.md
  nginx/nginx.conf
Due: prettier --write

✅ ФИНАЛЬНЫЙ СТАТУС АРХИТЕКТУРЫ
  FINAL_ARCHITECTURE_STATUS.md
Due: prettier --write

checkpoint: Удостоверься, что у нас сейчас эта архитектура....
  ARCHITECTURE_CHECK.sh
Due: none

🔥 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: Восстановлены импорты Inngest клиента
  src/inngest_app/functions/ai-reels-callback.ts
  src/inngest_app/functions/broadcast/broadcastMessage.ts
  src/inngest_app/functions/content/analyzeCompetitorReels.ts
  src/inngest_app/functions/content/extractTopContent.ts
  src/inngest_app/functions/content/findCompetitors.ts
  src/inngest_app/functions/content/generateContentScripts.ts
  src/inngest_app/functions/content/generateDetailedScript.ts
  src/inngest_app/functions/content/generateScenarioClips.ts
  src/inngest_app/functions/generation/neuroImageGeneration.ts
  src/inngest_app/functions/instagram/instagramScraper-v2.ts
  src/inngest_app/functions/monitoring/criticalErrorMonitor.ts
  src/inngest_app/functions/monitoring/logMonitor.ts
  src/inngest_app/functions/payments/paymentProcessing.ts
  src/inngest_app/functions/render/render.ts
  src/inngest_app/functions/render/renderAvatarVideo.ts
  src/inngest_app/functions/render/renderRiddle.ts
  src/inngest_app/functions/render/steps.ts
  src/inngest_app/functions/training/morphImages.ts
Due: prettier --write, eslint --fix

🔥 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: Восстановлены импорты Inngest клиента
  ИТОГОВЫЙ_ОТЧЕТ_ВОССТАНОВЛЕНИЕ_CALLBACK.md
  ПЛАН_РУЧНОГО_ТЕСТИРОВАНИЯ_INNGEST.md
Due: prettier --write

🚨 ИСПРАВЛЕНИЕ: voiceAvatarWizard scene registration
  src/registerCommands.ts
Due: prettier --write, eslint --fix

🚨 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: Все сцены в registerCommands.ts
  src/registerCommands.ts
Due: prettier --write, eslint --fix

🚨 ИСПРАВЛЕНИЕ: tsconfig.json rootDir для компиляции в dist/
  tsconfig.json
Due: prettier --write

🚨 ИСПРАВЛЕНИЕ Dockerfile: Копирование локально скомпилированных файлов
  Dockerfile
Due: none

🚨 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: убираем dist/ из .dockerignore для рабочего Docker build
  .dockerignore
Due: none

🔧 ИСПРАВЛЕНИЕ: tsconfig.json rootDir и types для корректной компиляции в dist/
  tsconfig.json
Due: prettier --write

🚨 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: Dockerfile COPY dist/ без builder stage
  Dockerfile
Due: none

🔧 ИСПРАВЛЕНИЕ: используем builder stage для компиляции и копирования dist/
  Dockerfile
Due: none

🔧 ИСПРАВЛЕНИЕ: удаляем _wrapped из sceneNames массива (несоответствие с scenesToRegister)
  src/registerCommands.ts
Due: prettier --write, eslint --fix

checkpoint: Почему боты молчат? Посмотри продакшн. У нас по...
  check-compiled-code.sh
  check-container-code.sh
  check-dist-structure.sh
  check-dockerignore.sh
  check-server-code.sh
  debug-compilation.sh
  deploy-fix-to-production.sh
  direct-production-fix.sh
  emergency-check-production.sh
  emergency-restore-production.sh
  final-dockerfile-fix-deploy.sh
  final-production-deploy.sh
  final-status-check.sh
  final-tsconfig-fix-deploy.sh
  force-production-code-update.sh
  force-rebuild-production.sh
  force-update-production.sh
  manual-typescript-compile.sh
  rebuild-with-compiled-code.sh
Due: none

🚨 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: добавляем export к startScene
  src/scenes/startScene/index.ts
Due: prettier --write, eslint --fix

🔥 Исправить импорты Inngest (без больших файлов)
  ОТЧЕТ_О_ПОЛНОТЕ_ПЕРЕНОСА.md
  ПОЛНАЯ_ДОКУМЕНТАЦИЯ_INNGEST.md
  ПОЛНЫЙ_РЕЕСТР_INNGEST_ФУНКЦИЙ.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
