Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(audio): let the chosen voice and speed reach whoever actually speaks
  apps/vibee-editor/player/src/atoms/voices.ts
  apps/vibee-editor/player/src/lib/generateApi.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/minimax-voices.test.ts
  apps/vibee-editor/render/src/agent/minimax-voices.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

fix(audio): let the chosen voice and speed reach whoever actually speaks (#2034)
  apps/vibee-editor/player/src/atoms/voices.ts
  apps/vibee-editor/player/src/lib/generateApi.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/minimax-voices.test.ts
  apps/vibee-editor/render/src/agent/minimax-voices.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

feat(ios): templates and tips on the script tab, as the web has had all along
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ШаблоныСценария.swift
  apps/vibee-ios/VibeeTests/ШаблоныСценарияTests.swift
Due: none

feat(ios): templates and tips on the script tab, as the web has had all along (#2035)
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ШаблоныСценария.swift
  apps/vibee-ios/VibeeTests/ШаблоныСценарияTests.swift
Due: none

fix(audio): three consequences of changing what /api/voices returns
  apps/vibee-editor/player/src/atoms/voices.test.ts
  apps/vibee-editor/player/src/atoms/voices.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/render/src/agent/minimax-voices.ts
Due: prettier --write, eslint --fix

fix(audio): three consequences of changing what /api/voices returns (#2036)
  apps/vibee-editor/player/src/atoms/voices.test.ts
  apps/vibee-editor/player/src/atoms/voices.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/render/src/agent/minimax-voices.ts
Due: prettier --write, eslint --fix

fix(lipsync): ask for the resolution the price was taken from
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
Due: prettier --write, eslint --fix

fix(lipsync): ask for the resolution the price was taken from (#2037)
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
Due: prettier --write, eslint --fix

fix(billing): bill an uploaded clip by measuring it, not by a chip nobody sends
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/VibeeTests/МераЦеныTests.swift
Due: prettier --write, eslint --fix

fix(billing): bill an uploaded clip by measuring it, not by a chip nobody sends (#2038)
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/VibeeTests/МераЦеныTests.swift
Due: prettier --write, eslint --fix

feat(ios): put the app's shop window through the server's admission, and fix the generator that fills it
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/ios-catalogue-servable.test.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

feat(ios): put the app's shop window through the server's admission, and fix the generator that fills it (#2039)
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/ios-catalogue-servable.test.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

docs(loop): two rules from auditing my own hour-old work
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): two rules from auditing my own hour-old work (#2040)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

chore(prices): refresh from the live KieAI feed, keeping the unit that explains a refusal
  apps/vibee-editor/player/src/components/Panels/FeedCard.css
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/kie-prices.generated.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

chore(prices): refresh from the live KieAI feed, keeping the unit that explains a refusal (#2041)
  apps/vibee-editor/player/src/components/Panels/FeedCard.css
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/kie-prices.generated.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

fix(ui): show a chip only when its field reaches the provider
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/player/src/lib/balance.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/ios-catalogue-servable.test.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

fix(ui): show a chip only when its field reaches the provider (#2042)
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/player/src/lib/balance.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/ios-catalogue-servable.test.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

test(ios): verify the money labels on screen without needing the owner's session
  .claude/skills/economical-testing/SKILL.md
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ПодставаДляПроверки.swift
  apps/vibee-ios/VibeeUITests/ДеньгиНаЭкранеTests.swift
Due: prettier --write

test(ios): verify the money labels on screen without needing the owner's session (#2043)
  .claude/skills/economical-testing/SKILL.md
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ПодставаДляПроверки.swift
  apps/vibee-ios/VibeeUITests/ДеньгиНаЭкранеTests.swift
Due: prettier --write

fix(audio): send a voice name only where that name is recognised, and un-red a stale UI test
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/minimax-voices.test.ts
  apps/vibee-editor/render/src/agent/minimax-voices.ts
  apps/vibee-ios/VibeeUITests/ИИЭкранTests.swift
Due: prettier --write, eslint --fix

fix(audio): send a voice name only where that name is recognised, and un-red a stale UI test (#2044)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/minimax-voices.test.ts
  apps/vibee-editor/render/src/agent/minimax-voices.ts
  apps/vibee-ios/VibeeUITests/ИИЭкранTests.swift
Due: prettier --write, eslint --fix

test(web): let the prices be seen without a session, the way the app now can
  apps/vibee-editor/player/src/lib/balance.test.ts
  apps/vibee-editor/player/src/lib/balance.ts
Due: prettier --write, eslint --fix

test(web): let the prices be seen without a session, the way the app now can (#2045)
  apps/vibee-editor/player/src/lib/balance.test.ts
  apps/vibee-editor/player/src/lib/balance.ts
Due: prettier --write, eslint --fix

docs(loop): two rules -- what a check costs, and that verification debt never clears
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): two rules -- what a check costs, and that verification debt never clears (#2046)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(audio): speed reaches the third leg too, and two dead names leave the lipsync list
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/ios-catalogue-servable.test.ts
  apps/vibee-editor/render/src/agent/minimax-voices.test.ts
  apps/vibee-editor/render/src/agent/minimax-voices.ts
Due: prettier --write, eslint --fix

fix(audio): speed reaches the third leg too, and two dead names leave the lipsync list (#2047)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/ios-catalogue-servable.test.ts
  apps/vibee-editor/render/src/agent/minimax-voices.test.ts
  apps/vibee-editor/render/src/agent/minimax-voices.ts
Due: prettier --write, eslint --fix

docs(loop): rule 36 -- a dead name in a list reads as a promise
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): rule 36 -- a dead name in a list reads as a promise (#2048)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(ui): the aspect chip on Photo obeys the contract too, and the script reply names who answered
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/ios-catalogue-servable.test.ts
Due: prettier --write, eslint --fix

fix(ui): the aspect chip on Photo obeys the contract too, and the script reply names who answered (#2049)
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/ios-catalogue-servable.test.ts
Due: prettier --write, eslint --fix

docs(loop): publishing approval, measured -- and a walkthrough that found my own half-change
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): publishing approval, measured -- and a walkthrough that found my own half-change (#2050)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

feat(feed): nothing reaches the feed without the owner pressing approve
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfilePending.test.ts
  apps/vibee-editor/player/src/components/Profile/ProfilePending.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.tsx
  apps/vibee-editor/player/src/components/Profile/index.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/feed-approval.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

feat(feed): nothing reaches the feed without the owner pressing approve (#2051)
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfilePending.test.ts
  apps/vibee-editor/player/src/components/Profile/ProfilePending.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.tsx
  apps/vibee-editor/player/src/components/Profile/index.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/feed-approval.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

docs(loop): approval shipped, and a prefix that opened a route nobody chose
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): approval shipped, and a prefix that opened a route nobody chose (#2052)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

test(web): see the own-profile sections without the owner's signature
  apps/vibee-editor/player/src/components/Profile/profileOwnership.test.ts
  apps/vibee-editor/player/src/components/Profile/useIsOwnProfile.ts
Due: prettier --write, eslint --fix

test(web): see the own-profile sections without the owner's signature (#2053)
  apps/vibee-editor/player/src/components/Profile/profileOwnership.test.ts
  apps/vibee-editor/player/src/components/Profile/useIsOwnProfile.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
