Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

loop: cycle 202 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 202 - standby (#1460)
  loop/ZCODE_LOOP.md
Due: prettier --write

docs(skill): a reel is a JSON, and everything I built by hand was already in the schema
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(money): processBalanceVideoOperation refuses a non-positive price (no free video)
  src/__tests__/money/processBalanceVideoOperationNonPositive.test.ts
  src/price/helpers/processBalanceVideoOperation.ts
Due: prettier --write, eslint --fix

fix(money): processBalanceVideoOperation refuses a non-positive price (no free video) (#1461)
  src/__tests__/money/processBalanceVideoOperationNonPositive.test.ts
  src/price/helpers/processBalanceVideoOperation.ts
Due: prettier --write, eslint --fix

loop: cycle 203 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 203 - standby (#1462)
  loop/ZCODE_LOOP.md
Due: prettier --write

tool(tri): guards -- run the critical invariant ratchets as one fast suite
  .claude/loop-opus/guards.mjs
Due: none

tool(tri): guards -- run the critical invariant ratchets as one fast suite (#1463)
  .claude/loop-opus/guards.mjs
Due: none

loop: cycle 204 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 204 - standby (#1464)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 205 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 205 - standby (#1465)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(reliability): add a timeout to the voice-avatar file download
  src/core/elevenlabs/createVoiceElevenLabs.ts
Due: prettier --write, eslint --fix

fix(reliability): add a timeout to the voice-avatar file download (#1466)
  src/core/elevenlabs/createVoiceElevenLabs.ts
Due: prettier --write, eslint --fix

loop: cycle 206 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 206 - standby (#1467)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(money): cancelPredictionsWizard refunds once, not once per prediction
  src/__tests__/scenes/cancelPredictionsRefundOnce.test.ts
  src/scenes/cancelPredictionsWizard/index.ts
Due: prettier --write, eslint --fix

fix(money): cancelPredictionsWizard refunds once, not once per prediction (#1468)
  src/__tests__/scenes/cancelPredictionsRefundOnce.test.ts
  src/scenes/cancelPredictionsWizard/index.ts
Due: prettier --write, eslint --fix

loop: cycle 207 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 207 - standby (#1469)
  loop/ZCODE_LOOP.md
Due: prettier --write

test(money): ratchet that refunds are not called inside a loop (mint #1468)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/refundNotInLoop.test.ts
Due: prettier --write, eslint --fix

test(money): ratchet that refunds are not called inside a loop (mint #1468) (#1470)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/refundNotInLoop.test.ts
Due: prettier --write, eslint --fix

loop: cycle 208 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 208 - standby (#1471)
  loop/ZCODE_LOOP.md
Due: prettier --write

test(money): broaden the loop-mint ratchet to all credits + all live code
  .claude/loop-opus/guards.mjs
  src/__tests__/money/creditNotInLoop.test.ts
  src/__tests__/money/refundNotInLoop.test.ts
Due: prettier --write, eslint --fix

test(money): broaden the loop-mint ratchet to all credits + all live code (#1472)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/creditNotInLoop.test.ts
  src/__tests__/money/refundNotInLoop.test.ts
Due: prettier --write, eslint --fix

loop: cycle 209 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 209 - standby (#1473)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(x402): fail-closed guard on POST /x402-payment credit path
  .claude/loop-opus/guards.mjs
  src/__tests__/security/x402CreditFailClosed.test.ts
  src/api_server/routes/x402.routes.ts
Due: prettier --write, eslint --fix

fix(x402): fail-closed guard on POST /x402-payment credit path (#1474)
  .claude/loop-opus/guards.mjs
  src/__tests__/security/x402CreditFailClosed.test.ts
  src/api_server/routes/x402.routes.ts
Due: prettier --write, eslint --fix

loop: cycle 210 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 210 - standby (#1475)
  loop/ZCODE_LOOP.md
Due: prettier --write

test(security): repo-wide ratchet - credit-webhook routes must be authenticated
  .claude/loop-opus/guards.mjs
  src/__tests__/security/creditWebhookAuthenticated.test.ts
Due: prettier --write, eslint --fix

test(security): repo-wide ratchet - credit-webhook routes must be authenticated (#1476)
  .claude/loop-opus/guards.mjs
  src/__tests__/security/creditWebhookAuthenticated.test.ts
Due: prettier --write, eslint --fix

loop: cycle 211 - standby, mimosa sql false positive
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 211 - standby, mimosa sql false positive (#1477)
  loop/ZCODE_LOOP.md
Due: prettier --write

test(money): ratchet - inngest money mutations must be inside step.run
  .claude/loop-opus/guards.mjs
  src/__tests__/money/inngestMoneyInStepRun.test.ts
Due: prettier --write, eslint --fix

test(money): ratchet - inngest money mutations must be inside step.run (#1478)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/inngestMoneyInStepRun.test.ts
Due: prettier --write, eslint --fix

loop: cycle 212 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write
