Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs(skill): record that a tool choosing among candidates is controlled by their distinguishability (#1735)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(probes): "cannot tell" was being counted as "charged and nothing made"
  scripts/probe-paid-nothing-made.cjs
Due: none

fix(probes): "cannot tell" was being counted as "charged and nothing made" (#1736)
  scripts/probe-paid-nothing-made.cjs
Due: none

docs(skill): record that a comparison has three outcomes, not two
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record that a comparison has three outcomes, not two (#1737)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(probes): a training whose date will not parse was counted as trained for free
  scripts/probe-training-charges.cjs
Due: none

fix(probes): a training whose date will not parse was counted as trained for free (#1738)
  scripts/probe-training-charges.cjs
Due: none

fix(probes): an unreadable last-spend date was reported as a churned user
  scripts/probe-retention.cjs
Due: none

fix(probes): an unreadable last-spend date was reported as a churned user (#1739)
  scripts/probe-retention.cjs
Due: none

fix(probes): the last instance of the class, and it points BOTH ways
  scripts/probe-abuse-traces.cjs
Due: none

fix(probes): the last instance of the class, and it points BOTH ways (#1740)
  scripts/probe-abuse-traces.cjs
Due: none

docs(skill): record that one missing third outcome can err in both directions at once
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record that one missing third outcome can err in both directions at once (#1741)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

feat(kie): open every priced live model, and price each one by itself
  apps/vibee-editor/render/kie-web-provider.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-editor/render/src/agent/kie-prices.generated.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

feat(kie): open every priced live model, and price each one by itself (#1742)
  apps/vibee-editor/render/kie-web-provider.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-editor/render/src/agent/kie-prices.generated.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

refactor(avatar): one hero-button table instead of two that had drifted apart
  .test-baseline.txt
  src/__tests__/scenes/avatarHeroButtonSeam.test.ts
  src/scenes/avatarTransformScene/index.ts
Due: prettier --write, eslint --fix

refactor(avatar): one hero-button table instead of two that had drifted apart (#1743)
  .test-baseline.txt
  src/__tests__/scenes/avatarHeroButtonSeam.test.ts
  src/scenes/avatarTransformScene/index.ts
Due: prettier --write, eslint --fix

docs(skill): record that the measuring tools were less careful than the measured code
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record that the measuring tools were less careful than the measured code (#1744)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(billing): a failed query made a paying bot owner look like they owed the full share
  .test-baseline.txt
  src/__tests__/money/ownerDebtPaymentsUnknown.test.ts
  src/services/bot-owner-billing.ts
Due: prettier --write, eslint --fix

fix(billing): a failed query made a paying bot owner look like they owed the full share (#1745)
  .test-baseline.txt
  src/__tests__/money/ownerDebtPaymentsUnknown.test.ts
  src/services/bot-owner-billing.ts
Due: prettier --write, eslint --fix

docs(skill): record the first application of the where-the-cost-looked-low heuristic
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record the first application of the where-the-cost-looked-low heuristic (#1746)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(training): a record with no model was calling itself SUCCESS, against its own comment
  .test-baseline.txt
  src/__tests__/inngest/trainingIncompleteStaysVisible.test.ts
  src/inngest_app/functions/existing/handleModelTrainingCompleted.ts
Due: prettier --write, eslint --fix

fix(training): a record with no model was calling itself SUCCESS, against its own comment (#1747)
  .test-baseline.txt
  src/__tests__/inngest/trainingIncompleteStaysVisible.test.ts
  src/inngest_app/functions/existing/handleModelTrainingCompleted.ts
Due: prettier --write, eslint --fix

docs(skill): record that the line under a comment can do the opposite of what it says
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record that the line under a comment can do the opposite of what it says (#1748)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(owner): recheck the decision queue against today's code, and separate fact from August's numbers
  docs/OWNER-DECISIONS.md
  scripts/probe-ghost-payers.cjs
Due: prettier --write

docs(owner): recheck the decision queue against today's code, and separate fact from August's numbers (#1749)
  docs/OWNER-DECISIONS.md
  scripts/probe-ghost-payers.cjs
Due: prettier --write

docs(skill): record what to do when a claim in the owner-facing document turns out false
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record what to do when a claim in the owner-facing document turns out false (#1750)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(watchdog): a training nobody could date was the one training nobody heard about
  .test-baseline.txt
  src/__tests__/inngest/stuckTrainingAgeUnknown.test.ts
  src/inngest_app/functions/training/checkStuckTrainings.ts
Due: prettier --write, eslint --fix

fix(watchdog): a training nobody could date was the one training nobody heard about (#1751)
  .test-baseline.txt
  src/__tests__/inngest/stuckTrainingAgeUnknown.test.ts
  src/inngest_app/functions/training/checkStuckTrainings.ts
Due: prettier --write, eslint --fix

docs(skill): record that new Date(null) is the epoch, not an invalid date
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record that new Date(null) is the epoch, not an invalid date (#1752)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

probe: census symbols re-exported by a barrel but imported nowhere
  scripts/probe-dead-exports.cjs
  tri
Due: none

probe: census symbols re-exported by a barrel but imported nowhere (#1753)
  scripts/probe-dead-exports.cjs
  tri
Due: none

skill: file reachability hides symbol deadness
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

skill: file reachability hides symbol deadness (#1754)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

probe: count dynamic imports, not only static ones
  scripts/probe-dead-exports.cjs
Due: none
