Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(cards): a turn that shows nothing no longer destroys the card on screen
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/tg-proposals.test.ts
Due: prettier --write, eslint --fix

feat(tri): orphans says what came of each eviction, not just that it happened
  bin/helpers/orphans.sh
Due: none

docs(skill): two forms about acting too early and reading a list too kindly
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(tri): the funnel was reading a field the journal does not have
  bin/helpers/funnel.sh
Due: none

fix(tri): turn-time was reading the same missing field
  bin/helpers/turn-time.sh
Due: none

docs(skill): form 79, a field that does not exist reads as empty on every row
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(tri): a counter younger than the window is not a zero
  bin/helpers/funnel.sh
Due: none

docs(skill): form 80, a counter younger than the window it is read over
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): when presses cannot be counted, bound them instead of shrugging
  bin/helpers/funnel.sh
Due: none

fix(tri): say when the journal window is a ceiling, not a history
  bin/helpers/funnel.sh
Due: none

feat(tri): rescue five more tools, and a queue view for the PRs they pile up
  bin/helpers/alive.sh
  bin/helpers/books.sh
  bin/helpers/queue.sh
  bin/helpers/rotten.sh
  bin/helpers/self.sh
  bin/helpers/vs-main.sh
  bin/tri
Due: none

docs(skill): forms 81 and 82, on losing lineage and on checks that do not check
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): stale -- is what a PR carries already on main, by content
  bin/helpers/stale.sh
  bin/tri
Due: none

docs(skill): form 83, a percentage computed over the wrong denominator
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): attention -- where the seller spends its cards, with both definitions printed
  bin/helpers/attention.sh
  bin/tri
Due: none

docs(skill): form 84, subtracting two lists built on different definitions
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

docs(loop): cycle 55 -- the seller picks correctly, which changes the question
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(crm): a card nobody pressed moves that person to the back of the queue
  src/__tests__/services/crmProactive.test.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

docs(skill): form 85, borrowing the link between an act and its undo
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(crm): the card says why this person, in the seller's own words
  bin/helpers/card.sh
  bin/helpers/card.ts
  bin/tri
  src/__tests__/services/crmProactive.test.ts
  src/services/crmProactive.ts
  src/services/crmSweepScope.ts
  src/services/telegramProposals.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

docs(skill): form 86 on backticks in a commit message, and a note on form 65
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(crm): the card shows what they said, so it stops sending the owner to the chat
  apps/vibee-editor/render/src/agent/chat-memory.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/telegram-tools-boundary.test.ts
  bin/helpers/card.ts
  src/__tests__/services/crmProactive.test.ts
  src/services/telegramProposals.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

test(render): the lead guard watches the draft, not the spelling
  apps/vibee-editor/render/the-crm-audit-of-2026-09-12.test.ts
Due: prettier --write, eslint --fix

docs(skill): form 87, a guard that watches the spelling instead of the property
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): spelling -- tests that watch how the source is written, not what it does
  bin/helpers/spelling.sh
  bin/tri
Due: none

feat(crm): a holding seller says it is alive, four times a day at most
  apps/vibee-editor/render/src/hive/a-note-from-the-bot-lands-in-the-journal.test.ts
  apps/vibee-editor/render/src/hive/journal.ts
  apps/vibee-editor/render/src/hive/note-route.ts
  src/__tests__/services/crmProactive.test.ts
  src/__tests__/services/theSweepWritesItselfIntoTheHive.test.ts
  src/services/crmProactive.ts
  src/services/hiveNote.ts
Due: prettier --write, eslint --fix

docs(skill): form 88, silence that means two different things
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(crm): a cut message says it was cut, so the seller stops answering half a sentence
  apps/vibee-editor/render/crm-offer.test.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
Due: prettier --write, eslint --fix

docs(skill): form 89, a truncation that changes the meaning
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

chore(tri): register spelling next to scan, so three branches stop colliding
  bin/tri
Due: none

chore(tri): register card next to prices, away from the crowded anchor
  bin/tri
Due: none

feat(tri): rehearse -- will the open PRs merge into each other, in order
  bin/helpers/rehearse.sh
  bin/tri
Due: none

docs(skill): form 90, mergeable against main is not mergeable against the queue
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(tri): alive reads the bot log first, where held is not silent
  bin/helpers/alive.sh
Due: none

docs(skill): form 91, a tool built on a source that does not hold the answer
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(hive): the render notices when the seller has stopped, because the seller cannot
  apps/vibee-editor/render/src/hive/journal.ts
  apps/vibee-editor/render/src/hive/queen-report.ts
  apps/vibee-editor/render/src/hive/seller-silence.test.ts
  apps/vibee-editor/render/src/hive/seller-silence.ts
Due: prettier --write, eslint --fix

docs(skill): form 92, a watchdog in the same compartment as what it watches
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): rehearse shows the disputed code, not just the file name
  bin/helpers/rehearse.sh
Due: none

test(crm): insert before a neighbour instead of appending at the end of the file
  src/__tests__/services/crmProactive.test.ts
Due: prettier --write, eslint --fix
