Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: AI chat via Replicate LLM (all other providers empty)
  src/services/aiChatService.ts
Due: prettier --write, eslint --fix

debug: add diagnostic logs for /start flow investigation
  src/navigation/registerCommands.ts
  src/scenes/avatarTransformScene/index.ts
  src/scenes/createUserScene.ts
  src/scenes/marketplaceWizard/index.ts
Due: prettier --write, eslint --fix

fix: 9 navigation anomalies — commands work inside wizards now
  src/hearsHandlers.ts
  src/navigation/config/buttons.config.ts
  src/navigation/registerCommands.ts
  src/registerCommands.ts
  src/scenes/categoryScenes/index.ts
  src/store/index.ts
Due: prettier --write, eslint --fix

fix: 5 more navigation anomalies — broken modes, missing leave/answerCb
  src/handlers/paymentActions.ts
  src/handlers/paymentHandlers/handleTopUp.ts
  src/handlers/setupLevelHandlers/index.ts
  src/navigation/config/categories.config.ts
Due: prettier --write, eslint --fix

fix(deploy): Railway-ready port binding and config
  railway.toml
  src/api_server/index.ts
Due: prettier --write, eslint --fix

fix(deploy): simplify Railway config to avoid env interpolation issues
  railway.toml
Due: none

feat(skills): add /doctor production health-check skill
  .claude/commands/doctor.md
  .claude/skills/doctor/SKILL.md
Due: prettier --write

fix(billing): keep bots running despite debt; do not auto-stop on high debt
  src/services/bot-owner-billing.ts
Due: prettier --write, eslint --fix

ci(railway): deploy on any source/config change, not only rust
  .github/workflows/railway-deploy.yml
Due: none

fix(billing): keep bots running despite debt + deploy all source changes (#364)
  .claude/commands/doctor.md
  .claude/skills/doctor/SKILL.md
  .github/workflows/railway-deploy.yml
  src/api_server/index.ts
  src/services/bot-owner-billing.ts
Due: prettier --write, eslint --fix

fix(billing): stop inflating owner reports by 4 orders of magnitude
  src/__tests__/billingFilters.test.ts
  src/commands/billingCommand.ts
  src/services/bot-owner-billing.ts
  src/utils/billingFilters.ts
Due: prettier --write, eslint --fix

fix(billing): stop inflating owner reports by 4 orders of magnitude (#365)
  src/__tests__/billingFilters.test.ts
  src/commands/billingCommand.ts
  src/services/bot-owner-billing.ts
  src/utils/billingFilters.ts
Due: prettier --write, eslint --fix

fix(image-to-prompt): handle Gradio error events instead of misreporting
  src/services/plan_b/generateImageToPrompt.ts
Due: prettier --write, eslint --fix

docs(vibee-editor): document service layout, Railway root directory and TMA wiring
  apps/vibee-editor/README.md
Due: prettier --write

feat(navigation): add VIBEE mini app button to the main menu
  src/__tests__/navigation/miniAppButton.test.ts
  src/navigation/config/miniApp.config.ts
  src/navigation/helpers/menuKeyboard.ts
Due: prettier --write, eslint --fix

fix(vibee-editor): open the app on the feed instead of the landing page
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.tsx
  apps/vibee-editor/player/src/components/Telegram/TelegramProvider.tsx
Due: none

fix(vibee-editor): detect Telegram without relying on initData
  apps/vibee-editor/player/src/lib/telegram.ts
Due: prettier --write, eslint --fix

fix(assets): stop writing opaque ids into public_url
  scripts/probe-assets-schema.cjs
  scripts/repair-assets-urls.cjs
  src/__tests__/core/saveVideoUrlToSupabase.test.ts
  src/core/ai-server/generateAiServerLipSync.ts
  src/core/lipsync/functional/providers.ts
  src/core/lipsync/providers/fal-veed-fabric-provider.ts
  src/core/lipsync/providers/replicate-kling-provider.ts
  src/core/lipsync/providers/sync-lipsync-provider.ts
  src/core/replicate/generateKlingLipSync.ts
  src/core/supabase/saveVideoUrlToSupabase.ts
  src/core/sync/generateSyncLipSync.ts
  src/inngest_app/functions/video-upload-helper.ts
  src/services/plan_b/generateLipSync.ts
Due: prettier --write, eslint --fix

fix(vibee-editor): stop model cards collapsing and clipping their subtitle
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.css
Due: none

fix(vibee-editor): do not render the Telegram login widget inside the Mini App
  apps/vibee-editor/player/src/components/Auth/TelegramLoginButton.tsx
Due: none

feat(vibee-render): bring the Remotion render server into the monorepo
  apps/vibee-editor/player/src/lib/mediaUrl.ts
  apps/vibee-editor/render/Dockerfile
  apps/vibee-editor/render/package.json
  apps/vibee-editor/render/railway.toml
  apps/vibee-editor/render/remotion.config.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/Root.tsx
  apps/vibee-editor/render/src/components/Captions.tsx
  apps/vibee-editor/render/src/compositions/SplitTalkingHead.tsx
  apps/vibee-editor/render/src/constants/captions.ts
  apps/vibee-editor/render/src/factory/TemplateFactory.tsx
  apps/vibee-editor/render/src/factory/VariationGenerator.ts
  apps/vibee-editor/render/src/factory/index.ts
  apps/vibee-editor/render/src/factory/parts/AvatarLayouts.tsx
  apps/vibee-editor/render/src/factory/parts/AvatarMorph.tsx
  apps/vibee-editor/render/src/factory/parts/BRollPatterns.tsx
  apps/vibee-editor/render/src/factory/parts/CaptionStyles.tsx
  apps/vibee-editor/render/src/factory/parts/HookStyles.tsx
  apps/vibee-editor/render/src/factory/parts/index.ts
  apps/vibee-editor/render/src/factory/schemas.ts
  apps/vibee-editor/render/src/factory/templates/talking-head.json
  apps/vibee-editor/render/src/factory/types.ts
  apps/vibee-editor/render/src/fonts/cyrillicFonts.ts
  apps/vibee-editor/render/src/index.ts
  apps/vibee-editor/render/src/lib/faceDetection.ts
  apps/vibee-editor/render/src/lib/fetchCaptions.ts
  apps/vibee-editor/render/src/lib/transcribe.ts
  apps/vibee-editor/render/src/shared/compositions.ts
  apps/vibee-editor/render/src/shared/constants.ts
  apps/vibee-editor/render/src/shared/fonts.ts
  apps/vibee-editor/render/src/shared/mediaPath.ts
  apps/vibee-editor/render/src/shared/types.ts
  apps/vibee-editor/render/tsconfig.json
Due: prettier --write, eslint --fix

docs(vibee-render): document the service, and trigger its first correctly-configured deploy
  apps/vibee-editor/render/README.md
Due: prettier --write

fix(vibee-render): resolve the service config path Railway actually uses
  apps/vibee-editor/render/railway.toml
Due: none

fix(vibee-render): copy the workspace dep so Remotion can resolve jotai
  apps/vibee-editor/render/Dockerfile
Due: none

fix(vibee-atoms): point the default endpoints at the live render server
  apps/vibee-editor/packages/vibee-atoms/src/defaults.ts
Due: prettier --write, eslint --fix

fix(vibee-editor): fetch bundled media from this app, not the render server
  apps/vibee-editor/player/src/atoms/captions.ts
  apps/vibee-editor/player/src/components/landing/Hero.tsx
  apps/vibee-editor/player/src/lib/mediaUrl.ts
Due: prettier --write, eslint --fix

fix(vibee-render): say why media 404s here and where to fetch it
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(vibee-render): hoist userInfo so the fallback publish does not ReferenceError
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(vibee-render): make S3 work against MinIO on Railway
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(vibee-editor): ship favicon, PWA icons and a real manifest
  apps/vibee-editor/nginx/default.conf.template
  apps/vibee-editor/player/index.html
  apps/vibee-editor/player/public/favicon.ico
  apps/vibee-editor/player/public/icons/icon-192x192.png
  apps/vibee-editor/player/public/icons/icon-512x512.png
  apps/vibee-editor/player/public/manifest.json
Due: prettier --write

chore(scripts): read-only Supabase inventory probe
  scripts/probe-supabase.cjs
Due: none

feat(migration): move the Supabase data to Railway Postgres, verified
  scripts/migrate-apply-schema.cjs
  scripts/migrate-data.cjs
  scripts/migrate-schema.sql
  scripts/migrate-verify.cjs
  scripts/probe-identity.cjs
  scripts/probe-money-wire.cjs
  scripts/probe-openapi.cjs
  scripts/probe-precision.cjs
  scripts/probe-storage-inventory.cjs
  scripts/probe-storage-reconcile.cjs
Due: none

feat(supabase-gateway): PostgREST + path-stripping gateway on Railway
  apps/supabase-gateway/Dockerfile
  apps/supabase-gateway/docker-entrypoint.sh
  apps/supabase-gateway/nginx.conf.template
  scripts/apply-sql.cjs
  scripts/postgrest-mint-keys.cjs
  scripts/postgrest-roles.sql
Due: none

docs(supabase-gateway): document the stack, and trigger a configured deploy
  apps/supabase-gateway/README.md
Due: prettier --write

fix(supabase-gateway): answer both /health and /healthz
  apps/supabase-gateway/nginx.conf.template
Due: none

test(postgrest): prove supabase-js works unchanged against the new stack
  scripts/postgrest-smoke.cjs
Due: none

fix(avatars): stop inventing a directory from the avatar filename
  src/__tests__/handlers/getPhotoUrl.test.ts
  src/handlers/getPhotoUrl.ts
Due: prettier --write, eslint --fix

feat(migration): copy Supabase Storage into MinIO
  scripts/migrate-storage.cjs
Due: none

fix(vibee-render): unauthenticated GET killed the process, and search was injectable
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
