Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix menu
  ROADMAP.md
  src/handlers/handleBuy/index.ts
  src/handlers/paymentHandlers/handleTopUp.ts
  src/registerCommands.ts
Due: prettier --write, eslint --fix

vitest init
  .cursor/rules/user-start-flow.mdc
  PAYMENTS_README.md
  README.md
  ROADMAP.md
  __tests__/commands/help.test.ts
  jest.config.js
  jest.globalSetup.js
  jest.setup.js
  payments_diff.md
  src/interfaces/telegram.interface.test.ts
  src/scenes/startScene/startScene.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

clean
  ROADMAP.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

plan
  .cursor/rules/current-task.mdc
  .cursor/rules/user-start-flow.mdc
  ROADMAP.md
Due: prettier --write

✅ Добавлены упрощенные тесты для menuScene, все тесты проходят
  __tests__/scenes/menuScene.test.ts
Due: prettier --write, eslint --fix

📝 Обновлен ROADMAP: menuScene отмечен как выполненный (✅)
  src/core/mcp/agent/memory-bank/NeuroBlogger/ROADMAP.md
Due: prettier --write

🕉️ fix(isRussian): Refactor isRussian to accept MyContext, fix tests & calls; feat(tests): Add __tests__/README.md
  .cursor/rules/tdd-workflow.mdc
  README.md
  ROADMAP.md
  __tests__/README.md
  __tests__/bot.test.ts
  __tests__/commands/support.test.ts
  __tests__/helpers/MemorySessionStore.ts
  __tests__/helpers/language.test.ts
  __tests__/mocks/setup.ts
  __tests__/scenes/startScene.test.ts
  package.json
  pnpm-lock.yaml
  src/helpers/language.ts
  src/scenes/imageToPromptWizard/index.ts
  src/scenes/startScene/index.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

menu
  __tests__/scenes/menuScene.test.ts
  __tests__/simple.test.ts
  package.json
  pnpm-lock.yaml
  src/core/mcp/agent/memory-bank/NeuroBlogger/ROADMAP.md
  vitest.config.ts
Due: prettier --write, eslint --fix

fix: исправлена ошибка с LOCK_FILE_PATH, используется функция из utils/checkAndCreateLockFile
  src/bot.ts
Due: prettier --write, eslint --fix

✅ test(user): Fix createUser tests (23505 race condition) & mocks | Refactored createUser catch block, fixed logger mock, adjusted test assertions, updated test README. All tests passing (37/37).
  ROADMAP.md
  __tests__/README.md
  __tests__/core/supabase/user.test.ts
  __tests__/mocks/setup.ts
  __tests__/scenes/startScene.test.ts
  src/core/supabase/createUser.ts
Due: prettier --write, eslint --fix

✅ TEST: Fix startScene tests, refactor startMenu
  ROADMAP.md
  __tests__/scenes/startScene.test.ts
  src/scenes/startScene/index.ts
Due: prettier --write, eslint --fix

start
  __tests__/README.md
  __tests__/scenes/menuScene.test.ts
  __tests__/scenes/startScene.test.ts
  src/bot.ts
  src/scenes/menuScene/index.ts
Due: prettier --write, eslint --fix

fix menu
  src/menu/mainMenu.ts
Due: prettier --write, eslint --fix

pre-push
  .husky/pre-push
Due: none

test
  .gitignore
  CHANGELOG-VITE.md
  README-RU.md
  README.md
  VITE-NODE.md
  __tests__/README.md
  __tests__/helper.ts
  __tests__/helpers/MemorySessionStore.ts
  __tests__/scenes/menuScene.test.ts
  __tests__/setup.ts
  nodemon-legacy.json
  nodemon-vite.json
  package.json
  pnpm-lock.yaml
  run-vite-dev.sh
  scripts/dev-utils.js
  scripts/dev.js
  scripts/kill-port.cjs
  scripts/server/docker-pm2.sh
  scripts/start-enhanced.js
  scripts/test-fs-module.js
  src/bot.ts
  src/core/mcp/agent/memory-bank/NeuroBlogger/ROADMAP.md
  src/createImagesZip.ts
  src/helpers/images/createImagesZip.ts
  src/test-modules.ts
  src/utils/checkAndCreateLockFile.ts
  src/utils/logger.ts
  src/vite-dev.ts
  temp/test.json
  tsconfig.json
  tsconfig.node.json
  vite-bot.config.ts
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

husky
  .husky/pre-push
  __tests__/bot.test.ts
Due: prettier --write, eslint --fix

ru pay
  .cursor/rules/payments-subscriptions-logic.mdc
  ROADMAP.md
  src/interfaces/payments.interface.ts
  src/menu/mainMenu.ts
  src/scenes/getRuBillWizard/index.ts
  src/scenes/paymentScene/index.ts
  src/scenes/rublePaymentScene.ts
  src/scenes/subscriptionScene/index.ts
  src/store/index.ts
Due: prettier --write, eslint --fix

password
  src/config/index.ts
  src/scenes/rublePaymentScene.ts
Due: prettier --write, eslint --fix

ru pay
  src/scenes/emailWizard/index.ts
  src/scenes/getRuBillWizard/helper.ts
  src/scenes/neuroPhotoWizard/log-local.md
  src/scenes/neuroPhotoWizard/log-server.md
  src/scenes/startScene/logs.backend.md
  src/scenes/startScene/logs.local.md
Due: prettier --write, eslint --fix

docs
  .cursor/rules/payments-and-subscriptions-unified.mdc
  .cursor/rules/payments-subscriptions-logic.mdc
  .cursor/rules/price-calculation-consistency.mdc
  .cursor/rules/star-payment-notifications.mdc
  PAYMENTS_README.md
  ROADMAP.md
  docs/DEPLOYMENT.md
  docs/README-RU.md
  docs/README-neuroblogger.md
  docs/README.md
  docs/README_DEPLOYMENT.md
  docs/ROADMAP.md
  docs/docker/Dockerfile
  docs/docker/Dockerfile.dev
  docs/docker/Dockerfile.prod
  docs/docker/Dockerfile.test
  docs/docker/docker-compose-new.yml
  docs/docker/docker-compose.dev.yml
  docs/docker/docker-compose.fix.yml
  docs/docker/docker-compose.multi.yml
  docs/docker/docker-compose.simple.yml
  docs/docker/docker-compose.standalone.yml
  docs/docker/docker-compose.test.yml
  docs/docker/docker-compose.webhook.yml
  docs/docker/docker-compose.yml
  docs/docker/docker-entrypoint.sh
  docs/docker/nginx.conf
  docs/docker/nginx.conf.fix
  docs/docker/start.sh
  docs/payment_system_overview.md
  payments_diff.md
Due: prettier --write

✅ Fix: Исправлены ошибки в типах и модуле telegraf.mock.ts - заменен namespace на экспорты классов
  .cursor/rules/current-task.mdc
  README.md
  __mocks__/telegraf/index.js
  __mocks__/telegraf/scenes.js
  __tests__/README.md
  __tests__/helpers/menuSceneTestHelpers.ts
  __tests__/mocks/TelegrafInlineKeyboard.mock.ts
  __tests__/mocks/interfaces/subscription.interface.ts
  __tests__/mocks/scenes/helpScene.ts
  __tests__/mocks/scenes/index.ts
  __tests__/mocks/scenes/menuScene.js
  __tests__/mocks/scenes/menuScene.ts
  __tests__/mocks/scenes/startScene.ts
  __tests__/mocks/subscription.interface.ts
  __tests__/mocks/telegraf.mock.ts
  __tests__/mocks/telegraf/scenes.js
  __tests__/mocks/telegraf/typings/core/types/typegram.ts
  __tests__/mocks/telegraf/typings/scenes.d.ts
  __tests__/mocks/telegraf/typings/scenes.ts
  __tests__/mocks/telegraf/typings/scenes/index.js
  __tests__/mocks/telegram-bot.interface.ts
  __tests__/mocks/typegram.mock.ts
  __tests__/scenes/menuScene.test.ts
  __tests__/setup.ts
  html/assets/index-2UFxPWgF.js
  html/assets/index-q4pyilCh.css
  html/html.meta.json.gz
  html/index.html
  package.json
  pnpm-lock.yaml
  src/core/mcp/agent/memory-bank/NeuroBlogger/ROADMAP.md
  src/menu/index.ts
  src/test/mocks/telegraf-scenes.mock.ts
  src/test/mocks/telegraf.mock.ts
  src/test/setup.ts
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

✅ Fix: Исправлены ошибки типизации в menuSceneTestHelpers и service.utils
  __tests__/helpers/menuSceneTestHelpers.fixed.ts
  src/core/mcp/agent/memory-bank/NeuroBlogger/ROADMAP.md
  src/utils/service.utils.ts
Due: prettier --write, eslint --fix

✨ Enhancement: Обновлена конфигурация Vite с новыми плагинами и улучшенными настройками производительности
  docs/VITE_ECOSYSTEM.md
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

📝 Doc: Обновление ROADMAP.md с информацией о настройке экосистемы Vite
  src/core/mcp/agent/memory-bank/NeuroBlogger/ROADMAP.md
Due: prettier --write

✨ Модернизация тестовой инфраструктуры: обновление моков telegraf, исправление vitest.config.ts и setup.ts
  .cursor/rules/current-task.mdc
  __tests__/mocks/@telegraf/types.ts
  __tests__/mocks/setup.ts
  __tests__/mocks/telegraf.mock.ts
  __tests__/mocks/telegraf/index.ts
  __tests__/mocks/telegraf/lib/scenes/index.ts
  __tests__/mocks/telegraf/types.ts
  __tests__/mocks/telegraf/typings/core/types/typegram.ts
  __tests__/mocks/telegraf/typings/index.ts
  __tests__/mocks/telegraf/typings/scenes.ts
  __tests__/mocks/telegraf/typings/scenes/base.ts
  __tests__/mocks/telegraf/typings/scenes/context.ts
  __tests__/mocks/telegraf/typings/scenes/index.ts
  __tests__/mocks/telegraf/typings/scenes/session.ts
  __tests__/setup/setup.ts
  pnpm-lock.yaml
  scripts/fix-imports.sh
  src/core/mcp/agent/memory-bank/NeuroBlogger/ROADMAP.md
  src/interfaces/index.ts
  src/scenes/digitalAvatarBodyWizard/index.ts
  src/services/generateNeuroPhotoDirect.ts
  src/store/index.ts
  src/test/setup.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

feat: Add vercel.json for build and routing configuration
  vercel.json
Due: prettier --write

feat: Add Vercel config and update deployment docs
  .vercelignore
  DEPLOYMENT.md
Due: prettier --write

refactor: Adapt server for Vercel serverless environment
  .cursor/rules/current-task.mdc
  .gitignore
  package.json
  pnpm-lock.yaml
  src/api-server.ts
  src/bot.ts
  src/fastify-server.ts
Due: prettier --write, eslint --fix

debug: Add entry log to Vercel handler
  src/bot.ts
Due: prettier --write, eslint --fix

fix: Resolve build errors for Vercel deployment
  src/fastify-server.ts
  src/vite-dev.ts
Due: prettier --write, eslint --fix

refactor(vite): Externalize all dependencies for Vercel build
  vite.config.ts
Due: prettier --write, eslint --fix

chore: Align Vite output and vercel.json entrypoint
  vercel.json
  vite.config.ts
Due: prettier --write, eslint --fix
