Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

checkpoint: Тексту видео, а фото, ту видео у нас поддержива...
  src/modules/videoGenerator/generateImageToVideo.ts
  src/scenes/imageToVideoWizard/index.ts
Due: prettier --write, eslint --fix

checkpoint: Еще раз посмотри, чтобы логика была вся связана...
  src/api_server/index.ts
  src/api_server/routes/instagram.routes.ts
  src/commands/instagramTestCommand.ts
  src/core/bot/index.ts
  src/handlers/notificationHandler.ts
  src/helpers/pulse.ts
  src/services/instagramScrapingService.ts
  src/services/plan_b/broadcast.service.ts
  src/services/telegramNotifications.ts
Due: prettier --write, eslint --fix

checkpoint: Короче, выяснилось, что у VEO FAST длина 8 секу...
  src/config/unified-pricing.config.ts
Due: prettier --write, eslint --fix

Улучшение стабильности фермы ботов: увеличен timeout, добавлено детальное логирование
  index.js
  railway.toml
Due: none

checkpoint: Е-Админам еще должна быть доступна, чтобы тести...
  src/hearsHandlers.ts
  src/menu/mainMenu.ts
Due: prettier --write, eslint --fix

Временно ограничиваем до 4 ботов для стабилизации Railway деплоя
  index.js
Due: none

Кардинальная переработка: HTTP сервер запускается первым, боты инициализируются асинхронно
  index.js
Due: none

checkpoint: Ну, сейчас очевидно, у нас подключена таблица. ...
  check-db-tables.js
  check-users.js
  src/core/supabase/getUserProjects.ts
Due: prettier --write, eslint --fix

Добавлен простейший тест сервер для диагностики Railway
  railway.toml
  simple.js
Due: none

checkpoint: Сука. У нас, во-первых, одна кнопка. Никакого, ...
  docs/INSTAGRAM_UNIVERSAL_PARSING_SYSTEM.md
  src/api_server/index.ts
  src/api_server/routes/instagram.routes.ts
  src/hearsHandlers.ts
  src/services/directInstagramParsing.ts
  src/services/instagramScrapingService.ts
  test-instagram-parsing.js
Due: prettier --write, eslint --fix

checkpoint: Нет, ты, короче, видимо, не понял еще логику. К...
  src/hearsHandlers.ts
  src/menu/mainMenu.ts
  src/services/competitorSubscriptionService.ts
Due: prettier --write, eslint --fix

Исправление сборки: удаляем pnpm-lock.yaml для использования npm на Railway
  bun.lock
  pnpm-lock.yaml
Due: none

Переключение обратно на ферму ботов index.js
  railway.toml
Due: none

checkpoint: Список готовых конкурентов: @neuro_sage, @ai_sa...
  src/handlers/handleTextMessage/index.ts
  src/interfaces/telegram-bot.interface.ts
  src/services/competitorSubscriptionService.ts
  test-competitor-monitoring.js
Due: prettier --write, eslint --fix

checkpoint: Ну, ты можешь как-то на Railway задеплоить напр...
  package-lock.json
  package.full.json
  package.minimal.json
Due: prettier --write
