Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(kie-veed-fabric): read the taskStatus query shape so webhook-loss poll delivers (no timeout-refund of a succeeded job) (#1519)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/kieVeedFabricStatusFields.test.ts
  src/core/lipsync/providers/kie-veed-fabric-provider.ts
Due: prettier --write, eslint --fix

feat(tri): add 'tri guards' to run the loop-fable invariant ratchets by one exit code
  tri
Due: none

feat(tri): add 'tri guards' to run the loop-fable invariant ratchets by one exit code (#1520)
  tri
Due: none

loop: cycle 231 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 231 - standby (#1521)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 232 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 232 - standby (#1522)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(training): bound modelTrainingV2's post-charge provider calls with timeouts (no charged-not-delivered hang)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/modelTrainingV2ProviderTimeouts.test.ts
  src/inngest_app/functions/training/modelTrainingV2.ts
Due: prettier --write, eslint --fix

fix(training): bound modelTrainingV2's post-charge provider calls with timeouts (no charged-not-delivered hang) (#1523)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/modelTrainingV2ProviderTimeouts.test.ts
  src/inngest_app/functions/training/modelTrainingV2.ts
Due: prettier --write, eslint --fix

feat(tri): add 'tri timeouts' to triage axios calls with no timeout
  tri
Due: none

feat(tri): add 'tri timeouts' to triage axios calls with no timeout (#1524)
  tri
Due: none

loop: cycle 233 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 233 - standby (#1525)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(aiPhotoshop): in-flight lock on both direct upscaleImage sites (no double-tap double-charge)
  .claude/loop-opus/guards.mjs
  src/__tests__/scenes/aiPhotoshopUpscaleInflightGuard.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/aiPhotoshopScene/index.ts
Due: prettier --write, eslint --fix

fix(aiPhotoshop): in-flight lock on both direct upscaleImage sites (no double-tap double-charge) (#1526)
  .claude/loop-opus/guards.mjs
  src/__tests__/scenes/aiPhotoshopUpscaleInflightGuard.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/aiPhotoshopScene/index.ts
Due: prettier --write, eslint --fix

loop: cycle 234 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 234 - standby (#1527)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(video): the Sending-status edit must not abort delivery (no permanently lost video)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/videoDeliveryEditGuarded.test.ts
  src/handlers/handleTextToVideoDirect.ts
Due: prettier --write, eslint --fix

fix(video): the Sending-status edit must not abort delivery (no permanently lost video) (#1528)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/videoDeliveryEditGuarded.test.ts
  src/handlers/handleTextToVideoDirect.ts
Due: prettier --write, eslint --fix

fix(getUserProjects): bound the projectsCache Map (no unbounded-Map leak)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/getUserProjectsCacheBounded.test.ts
  src/core/supabase/getUserProjects.ts
Due: prettier --write, eslint --fix

fix(getUserProjects): bound the projectsCache Map (no unbounded-Map leak) (#1529)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/getUserProjectsCacheBounded.test.ts
  src/core/supabase/getUserProjects.ts
Due: prettier --write, eslint --fix

feat(tri): add 'tri inflight' to audit paid .action handlers missing an in-flight guard
  .claude/loop-opus/inflight-audit.mjs
  tri
Due: none

feat(tri): add 'tri inflight' to audit paid .action handlers missing an in-flight guard (#1530)
  .claude/loop-opus/inflight-audit.mjs
  tri
Due: none

loop: cycle 235 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 235 - standby (#1531)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(tri): inflight audit skips feature-flag-gated charges (drop a standing false positive)
  .claude/loop-opus/inflight-audit.mjs
Due: none

fix(tri): inflight audit skips feature-flag-gated charges (drop a standing false positive) (#1532)
  .claude/loop-opus/inflight-audit.mjs
Due: none

loop: cycle 236 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 236 - standby (#1533)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(voiceAvatar): do not charge for the Cloudflare-fallback stock voice (charged-for-wrong-product)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/voiceAvatarFallbackNotCharged.test.ts
  src/scenes/voiceAvatarWizard/index.ts
  src/services/plan_b/createVoiceAvatar.ts
Due: prettier --write, eslint --fix

fix(voiceAvatar): do not charge for the Cloudflare-fallback stock voice (charged-for-wrong-product) (#1534)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/voiceAvatarFallbackNotCharged.test.ts
  src/scenes/voiceAvatarWizard/index.ts
  src/services/plan_b/createVoiceAvatar.ts
Due: prettier --write, eslint --fix

loop: cycle 237 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(training): dedup a replayed completion webhook before re-notifying (no duplicate message)
  .claude/loop-opus/guards.mjs
  src/__tests__/inngest/trainingCompletedReplayDedup.test.ts
  src/inngest_app/functions/existing/handleModelTrainingCompleted.ts
Due: prettier --write, eslint --fix

loop: cycle 237 - standby (#1535)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(training): dedup a replayed completion webhook before re-notifying (no duplicate message) (#1536)
  .claude/loop-opus/guards.mjs
  src/__tests__/inngest/trainingCompletedReplayDedup.test.ts
  src/inngest_app/functions/existing/handleModelTrainingCompleted.ts
Due: prettier --write, eslint --fix

fix(fluxKontextPro): unlink the saved local image (no per-call temp-file leak)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/fluxKontextProTempFileCleanup.test.ts
  src/services/generateFluxKontextPro.ts
Due: prettier --write, eslint --fix

fix(fluxKontextPro): unlink the saved local image (no per-call temp-file leak) (#1537)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/fluxKontextProTempFileCleanup.test.ts
  src/services/generateFluxKontextPro.ts
Due: prettier --write, eslint --fix

feat(tri): add 'tri leaks' to audit saveFileLocally temp-file leaks
  .claude/loop-opus/leaks-audit.mjs
  tri
Due: none

feat(tri): add 'tri leaks' to audit saveFileLocally temp-file leaks (#1538)
  .claude/loop-opus/leaks-audit.mjs
  tri
Due: none

loop: cycle 238 - new day, watching factory morning window
  loop/ZCODE_LOOP.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
