Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(projects): record what jsonb actually preserves, measured on production
  apps/vibee-editor/render/project-routes.ts
Due: prettier --write, eslint --fix

fix(render): audio TTS falls back to Replicate when ElevenLabs is unavailable
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

docs(projects): record what jsonb actually preserves, measured on production (#948)
  apps/vibee-editor/render/project-routes.ts
Due: prettier --write, eslint --fix

fix(render): audio TTS falls back to Replicate when ElevenLabs is unavailable (#949)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: цикл №253 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(tri): a guard 401 does not tell you whether the route exists
  tri
Due: none

fix(tri): a guard 401 does not tell you whether the route exists (#950)
  tri
Due: none

feat(generate): a dropped connection no longer loses a paid generation
  apps/vibee-editor/render/generate-jobs.test.ts
  apps/vibee-editor/render/generate-jobs.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(generate): a dropped connection no longer loses a paid generation (#951)
  apps/vibee-editor/render/generate-jobs.test.ts
  apps/vibee-editor/render/generate-jobs.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

docs(skill): one interception beats four edits, and an empty owner matches nothing
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): one interception beats four edits, and an empty owner matches nothing (#952)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(loop): the shape guard covered one collection and not its neighbour
  .claude/loop-opus/dashboard.mjs
Due: none

fix(loop): the shape guard covered one collection and not its neighbour (#953)
  .claude/loop-opus/dashboard.mjs
Due: none

loop: цикл №254 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(ios): a dropped connection now asks whether the work already finished
  apps/vibee-editor/render/generate-jobs.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

feat(ios): a dropped connection now asks whether the work already finished (#954)
  apps/vibee-editor/render/generate-jobs.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

docs(skill): pin a cross-language contract where a rename fails loudly
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): pin a cross-language contract where a rename fails loudly (#955)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(music): Kie AI music generation now polls for the async result
  src/services/video-providers/KieAiProvider.ts
Due: prettier --write, eslint --fix

fix(music): Kie AI music generation now polls for the async result (#956)
  src/services/video-providers/KieAiProvider.ts
Due: prettier --write, eslint --fix

feat(jobs): write the rescue index to a table, and fix a tool that lied about it
  apps/vibee-editor/render/generate-jobs.test.ts
  apps/vibee-editor/render/generate-jobs.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(jobs): write the rescue index to a table, and fix a tool that lied about it (#957)
  apps/vibee-editor/render/generate-jobs.test.ts
  apps/vibee-editor/render/generate-jobs.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

test(jobs): prove write-through at the write, since the read hid the failure
  apps/vibee-editor/render/generate-jobs.test.ts
Due: prettier --write, eslint --fix

loop: цикл №255 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

test(jobs): prove write-through at the write, since the read hid the failure (#958)
  apps/vibee-editor/render/generate-jobs.test.ts
Due: prettier --write, eslint --fix

fix(inngest): register the video-generation webhook guard subscriber
  scripts/orphan-events-baseline.json
  src/__tests__/inngest/registration.test.ts
  src/inngest_app/registerFunctions.ts
Due: prettier --write, eslint --fix

fix(inngest): register the video-generation webhook guard subscriber (#959)
  scripts/orphan-events-baseline.json
  src/__tests__/inngest/registration.test.ts
  src/inngest_app/registerFunctions.ts
Due: prettier --write, eslint --fix

loop: цикл №256 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

test(music): mock test for Kie AI (Suno) music generation
  src/__tests__/services/kieAiMusic.test.ts
Due: prettier --write, eslint --fix

test(music): mock test for Kie AI (Suno) music generation (#961)
  src/__tests__/services/kieAiMusic.test.ts
Due: prettier --write, eslint --fix

fix(test): route-seams was failing on main, and pointed 30 lines off
  src/__tests__/api/route-seams.test.ts
Due: prettier --write, eslint --fix

feat(tri): find the literal colours that make design drift back
  tri
Due: none

feat(tri): find the literal colours that make design drift back (#962)
  tri
Due: none

loop: цикл №257 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(ios): give the native app one place for design, taken from the web
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/Vibee/FeedView.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/NativeRenderer.swift
  apps/vibee-ios/Vibee/PreviewView.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
  apps/vibee-ios/Vibee/PropertiesView.swift
  apps/vibee-ios/Vibee/SignIn.swift
  apps/vibee-ios/Vibee/Theme.swift
  apps/vibee-ios/Vibee/TimelineView.swift
  apps/vibee-ios/Vibee/VibeeApp.swift
Due: none

test(render): guard the agent-routes seam, which has now broken both ways
  apps/vibee-editor/render/agent-routes-contract.test.ts
Due: prettier --write, eslint --fix

feat(ios): give the native app one place for design, taken from the web (#963)
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/Vibee/FeedView.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/NativeRenderer.swift
  apps/vibee-ios/Vibee/PreviewView.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
  apps/vibee-ios/Vibee/PropertiesView.swift
  apps/vibee-ios/Vibee/SignIn.swift
  apps/vibee-ios/Vibee/Theme.swift
  apps/vibee-ios/Vibee/TimelineView.swift
  apps/vibee-ios/Vibee/VibeeApp.swift
Due: none

test(render): guard the agent-routes seam, which has now broken both ways (#964)
  apps/vibee-editor/render/agent-routes-contract.test.ts
Due: prettier --write, eslint --fix

feat(render): report the auth mode on /health so #902 can be measured
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(render): report the auth mode on /health so #902 can be measured (#965)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
