Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

test(crm): insert before a different neighbour than the sibling branch chose
  src/__tests__/services/crmProactive.test.ts
Due: prettier --write, eslint --fix

docs(skill): form 93, the end of a file is a shared anchor
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(gate): count unreachable FUNCTIONS, and stop calling a rename alias an orphan
  scripts/orphan-events.cjs
Due: none

docs(skill): form 94, a heading counted beside its list rather than from it
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

docs(loop): bring the hand-off up to the night of 17.09.2026
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(tri): rehearse --test runs the suites on the merged tree
  bin/helpers/rehearse.sh
Due: none

fix(hive): an alarm in the Queen report names its subject
  apps/vibee-editor/render/hive-report.test.ts
  apps/vibee-editor/render/src/hive/queen-report.ts
Due: prettier --write, eslint --fix

fix(tri): sweep stops calling a legitimate hold a brake in the code
  bin/helpers/sweep.sh
Due: none

docs(loop): the verified order now covers the whole queue, not just tonight's
  .claude/loop-state/crm-loop.md
Due: prettier --write

docs(skill): form 95, a tool ages more quietly than code
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(crm): the sentence that promises a default is built from the default
  apps/vibee-editor/render/crm-waiting-describes-its-defaults.test.ts
  apps/vibee-editor/render/src/agent/crm-touch-tools.ts
Due: prettier --write, eslint --fix

feat(tri): promises --defaults checks the sentences a model reads against the code
  bin/helpers/promises.sh
  bin/tri
Due: none

fix(crm): the stopped sweep tells the owner the wait that actually happened
  src/__tests__/services/crmProactive.test.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

feat(tri): boundary -- do the tools keep their promise not to send
  bin/helpers/boundary.sh
  bin/tri
Due: none

docs(skill): form 96, the main guarantee lives in prose and nothing checks prose
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

chore(gate): the boundary check runs on every push
  lefthook.yml
Due: none

chore(gate): the described default is checked on every push
  lefthook.yml
Due: none

chore(gate): a new spelling-watching guard stops a push
  bin/helpers/spelling.sh
  bin/tri
  lefthook.yml
  scripts/spelling-baseline.json
Due: prettier --write

docs(skill): form 97, eight bad tests are one untestable seam
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

test(render): the wiring guard matches the call by name, not by signature
  apps/vibee-editor/render/delete-own-photo.test.ts
Due: prettier --write, eslint --fix

feat(render): the service owner namespace moves where a test can call it
  apps/vibee-editor/render/generation-owner-contract.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/auth/service-owner.test.ts
  apps/vibee-editor/render/src/auth/service-owner.ts
Due: prettier --write, eslint --fix

feat(render): the hang-up promise is run instead of read
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/telegram-tools-hangup.test.ts
Due: prettier --write, eslint --fix

docs(skill): form 98, the recipe for converting a spelling guard into a real one
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

test(render): a shared route harness, and the sign-in proves it does not wait
  apps/vibee-editor/render/launch-family.test.ts
  apps/vibee-editor/render/notify-sign-in.test.ts
  apps/vibee-editor/render/pairing-e2e.test.ts
  apps/vibee-editor/render/test-support/route-double.ts
Due: prettier --write, eslint --fix

fix(gates): the Cyrillic gate stops truncating its own evidence, and gets tests
  .claude/skills/blind-guards/SKILL.md
  scripts/check-dead-domain.cjs
  scripts/cyrillic-why.cjs
  scripts/no-cyrillic-guard.cjs
  scripts/no-cyrillic-guard.test.ts
  tri
Due: prettier --write, eslint --fix

feat(tri): measure which scripts lose their own output, do not guess
  .claude/skills/blind-guards/SKILL.md
  scripts/exit-truncates.cjs
  scripts/exit-truncates.test.ts
  scripts/payment-method-census.cjs
  scripts/report-network-tests.cjs
  scripts/test-guard.cjs
  tri
Due: prettier --write, eslint --fix

feat(tri): count what the seller loses, instead of reading the journal one line at a time
  .claude/skills/blind-guards/SKILL.md
  scripts/hive-failures.cjs
  scripts/hive-failures.test.ts
  tri
Due: prettier --write, eslint --fix

fix(tri): split the census at the running build, and stop reading a zero as a fact
  .claude/skills/blind-guards/SKILL.md
  scripts/hive-failures.cjs
  scripts/hive-failures.test.ts
Due: prettier --write, eslint --fix

fix(pay): the mini app's pay buttons had nowhere to land
  src/__tests__/navigation/paywallDeepLinkLandsSomewhere.test.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

test(cards): two different deaths, two different sentences
  apps/vibee-editor/render/tg-proposals.test.ts
Due: prettier --write, eslint --fix

feat(clone): the two finished pieces of the digital clone nobody could reach
  .claude/skills/blind-guards/SKILL.md
  src/__tests__/bot/theVoiceCloneHasADoor.test.ts
  src/__tests__/helpers/resolveAvatarPhoto.test.ts
  src/__tests__/services/crmProactive.ownAbort.test.ts
  src/handlers/inlineQuery.ts
  src/helpers/resolveAvatarPhoto.ts
  src/interfaces/user.interface.ts
  src/scenes/lipSyncWizard/ai-reels-render-wizard.ts
  src/scenes/lipSyncWizard/fal-render-wizard.ts
  src/scenes/lipSyncWizard/hedra-render-wizard.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

feat(tri): can a client pay right now, in one command
  scripts/can-a-client-pay.cjs
  tri
Due: none

feat(clone): the voice becomes a step, because now the road can tell when it is done
  .claude/skills/blind-guards/SKILL.md
  apps/vibee-editor/player/src/atoms/clone.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Profile/WelcomeOnboarding.tsx
  apps/vibee-editor/player/src/components/Profile/welcomeSteps.test.ts
  apps/vibee-editor/player/src/components/Profile/welcomeSteps.ts
  apps/vibee-editor/player/src/pages/Hive.test.tsx
  apps/vibee-editor/player/src/pages/Profile.tsx
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/clone-readiness.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/clone-readiness.ts
Due: prettier --write, eslint --fix

feat(tri): which pieces of the digital clone a person actually has
  scripts/clone-state.cjs
  tri
Due: none

feat(pay): a cashier on the screen that shows the balance
  .claude/cache/telegram-api.txt
  .claude/skills/blind-guards/SKILL.md
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/TokenTopUpCard.test.tsx
  apps/vibee-editor/player/src/components/Profile/TokenTopUpCard.tsx
  apps/vibee-editor/player/src/hooks/useTokenTopUp.ts
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/player/src/pages/Profile.css
  apps/vibee-editor/player/src/pages/Profile.tsx
  scripts/can-a-client-pay.cjs
Due: prettier --write, eslint --fix

fix(pay): the way a person said they want to pay reaches the cashier
  src/__tests__/helpers/railsForThisPerson.test.ts
  src/helpers/railsForThisPerson.ts
  src/interfaces/telegram-bot.interface.ts
  src/navigation/registerCommands.ts
  src/scenes/subscriptionScene/index.ts
Due: prettier --write, eslint --fix

fix(money): a guard on the credit path had been broken for two days, silently
  .claude/skills/blind-guards/SKILL.md
  scripts/text-readers.cjs
  src/__tests__/money/creditedIsNotOk.test.ts
  tri
Due: prettier --write, eslint --fix

fix(gate): related-tests now sees the guards that READ a file
  .claude/skills/blind-guards/SKILL.md
  scripts/test-guard.cjs
  scripts/text-readers.cjs
Due: prettier --write

inngest: withdraw five functions from registerFunctions (control code-only/unregistered)
  scripts/orphan-events-baseline.json
  src/__tests__/inngest/functionGranularRegistration.test.ts
  src/__tests__/inngest/probeSuite.test.ts
  src/__tests__/inngest/registration.test.ts
  src/__tests__/money/unregisteredChargers.test.ts
  src/inngest_app/functions.manifest.json
  src/inngest_app/registerFunctions.ts
Due: prettier --write, eslint --fix

docs(skill): a conflict that cut a comment opener in half
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write
