Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs(regression): document the 5 gated safety-class ratchets (#1395)
  REGRESSION_PATTERNS.md
Due: prettier --write

docs(owner): add the two verified money/trust bugs awaiting an owner decision
  docs/OWNER-DECISIONS.md
Due: prettier --write

docs(owner): add the two verified money/trust bugs awaiting an owner decision (#1396)
  docs/OWNER-DECISIONS.md
Due: prettier --write

fix(money): a cache-invalidation throw must not flip a committed charge to false (#1397)
  src/__tests__/core/supabase/updateUserBalance.test.ts
  src/core/supabase/updateUserBalance.ts
Due: prettier --write, eslint --fix

fix(money): a cache-invalidation throw must not flip a committed charge to false (#1397) (#1398)
  src/__tests__/core/supabase/updateUserBalance.test.ts
  src/core/supabase/updateUserBalance.ts
Due: prettier --write, eslint --fix

fix(money): isolate directPayment's post-commit reads from the committed return (#1399)
  src/__tests__/money/directPaymentPostCommit.test.ts
  src/core/supabase/directPayment.ts
Due: prettier --write, eslint --fix

fix(money): isolate directPayment's post-commit reads from the committed return (#1399) (#1400)
  src/__tests__/money/directPaymentPostCommit.test.ts
  src/core/supabase/directPayment.ts
Due: prettier --write, eslint --fix

test(money): gate the #1397 class — every invalidateBalanceCache call stays isolated
  .claude/loop-opus/ratchets.mjs
  src/__tests__/money/cache-invalidation-isolated-ratchet.test.ts
Due: prettier --write, eslint --fix

test(money): gate the #1397 class — every invalidateBalanceCache call stays isolated (#1401)
  .claude/loop-opus/ratchets.mjs
  src/__tests__/money/cache-invalidation-isolated-ratchet.test.ts
Due: prettier --write, eslint --fix

fix(instagram-scene): honesty-gate the charge-claim message (#1393 class sibling)
  src/__tests__/money/instagramSceneChargeChecked.test.ts
  src/scenes/instagramParserScene/index.ts
Due: prettier --write, eslint --fix

fix(instagram-scene): honesty-gate the charge-claim message (#1393 class sibling) (#1403)
  src/__tests__/money/instagramSceneChargeChecked.test.ts
  src/scenes/instagramParserScene/index.ts
Due: prettier --write, eslint --fix

feat(tri): add `tri sweep <symbol>` — class-sweep call-site helper
  .claude/loop-opus/sweep.mjs
  tri
Due: none

feat(tri): add `tri sweep <symbol>` — class-sweep call-site helper (#1404)
  .claude/loop-opus/sweep.mjs
  tri
Due: none

docs(dedup): document deduplicateUsers keep-policy product-sensitivity (#1406)
  src/core/supabase/deduplicateUsers.ts
Due: prettier --write, eslint --fix

docs(dedup): document deduplicateUsers keep-policy product-sensitivity (#1406) (#1407)
  src/core/supabase/deduplicateUsers.ts
Due: prettier --write, eslint --fix

fix(workflows): status.js used a stale absolute repo path that breaks cd here
  .claude/workflows/status.js
Due: none

fix(workflows): status.js used a stale absolute repo path that breaks cd here (#1408)
  .claude/workflows/status.js
Due: none

loop: cycle 187 - recovery after 25h queue pause
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 187 - recovery after 25h queue pause (#1409)
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(workflows): add money-safety-scout — a whole-repo adversarial audit workflow
  .claude/workflows/money-safety-scout.js
Due: none

feat(workflows): add money-safety-scout — a whole-repo adversarial audit workflow (#1410)
  .claude/workflows/money-safety-scout.js
Due: none

loop: cycle 188 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 188 - standby (#1411)
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(loop-opus): add tri postcommit — #1397 post-commit-false-negative auditor
  .claude/loop-opus/README.md
  .claude/loop-opus/postcommit.mjs
Due: prettier --write

feat(loop-opus): add tri postcommit — #1397 post-commit-false-negative auditor (#1412)
  .claude/loop-opus/README.md
  .claude/loop-opus/postcommit.mjs
Due: prettier --write

loop: cycle 189 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 189 - standby (#1413)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(money): getAspectRatio must not throw into a post-charge caller (charge-no-refund)
  src/__tests__/services/getAspectRatioNoThrow.test.ts
  src/core/supabase/ai.ts
Due: prettier --write, eslint --fix

fix(money): getAspectRatio must not throw into a post-charge caller (charge-no-refund) (#1415)
  src/__tests__/services/getAspectRatioNoThrow.test.ts
  src/core/supabase/ai.ts
Due: prettier --write, eslint --fix

fix(money): harden the 2nd getAspectRatio copy too (charge-no-refund, #1414)
  src/__tests__/services/getAspectRatioNoThrow.test.ts
  src/core/supabase/getAspectRatio.ts
Due: prettier --write, eslint --fix

fix(money): harden the 2nd getAspectRatio copy too (charge-no-refund, #1414) (#1416)
  src/__tests__/services/getAspectRatioNoThrow.test.ts
  src/core/supabase/getAspectRatio.ts
Due: prettier --write, eslint --fix

loop: cycle 190 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 190 - standby (#1417)
  loop/ZCODE_LOOP.md
Due: prettier --write

docs(competitors): add the Russian Telegram segment the prior survey skipped
  .claude/loop-opus/COMPETITORS.md
Due: prettier --write

docs(competitors): add the Russian Telegram segment the prior survey skipped (#1418)
  .claude/loop-opus/COMPETITORS.md
Due: prettier --write

fix(telegram): escape LLM prompt inside the MarkdownV2 code block (improve-prompt)
  src/__tests__/helpers/escapeMarkdown.test.ts
  src/__tests__/helpers/sendImprovedPromptEscape.test.ts
  src/helpers/escapeMarkdown.ts
  src/helpers/sendLongMessage.ts
  src/services/plan_b/generateImageToPrompt.ts
Due: prettier --write, eslint --fix

fix(telegram): escape LLM prompt inside the MarkdownV2 code block (improve-prompt) (#1419)
  src/__tests__/helpers/escapeMarkdown.test.ts
  src/__tests__/helpers/sendImprovedPromptEscape.test.ts
  src/helpers/escapeMarkdown.ts
  src/helpers/sendLongMessage.ts
  src/services/plan_b/generateImageToPrompt.ts
Due: prettier --write, eslint --fix

fix(chat): plain-text fallback when the AI reply is not valid MarkdownV2
  src/__tests__/handlers/handleTextMessageMarkdownFallback.test.ts
  src/handlers/handleTextMessage/index.ts
Due: prettier --write, eslint --fix

fix(chat): plain-text fallback when the AI reply is not valid MarkdownV2 (#1420)
  src/__tests__/handlers/handleTextMessageMarkdownFallback.test.ts
  src/handlers/handleTextMessage/index.ts
Due: prettier --write, eslint --fix

feat(loop): the dashboard showed my retelling, not a measurement
  .claude/loop-opus/.gitignore
  .claude/loop-opus/collect-status.mjs
  .claude/loop-opus/dashboard.mjs
  .claude/workflows/loop-cycle.js
  tri
Due: none
