Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

bugs!!!!
  Dockerfile.prod
  docker-compose.yml
  package.json
  src/helpers/error/errorHandler.ts
  src/index.ts
  src/menu/index.ts
  src/price/helpers/calculateFinalPrice.ts
  src/price/index.ts
  src/scenes/generateImage/index.ts
  src/scenes/improvePromptWizard/index.ts
  src/scenes/textToVideoWizard/index.ts
  src/scenes/voiceAvatarWizard/index.ts
  src/services/generateImageFromPrompt.ts
  src/services/generateTextToImage.ts
  src/services/generateTextToVideo.ts
  src/webhook.ts
Due: prettier --write, eslint --fix

long poling
  Dockerfile.dev
  docker-compose.multi.yml
  pnpm-lock.yaml
Due: none

init
  ROADMAP.md
  docker-compose.longpolling.yml
  docker-compose.webhook.yml
  scripts/diagnose.sh
  scripts/kill-port.js
Due: prettier --write

GOLD PROMPT
  docs/ROADMAP.md
Due: prettier --write

GOLD
  ROADMAP.md
Due: prettier --write

step 1
  ROADMAP.md
  nodemon.json
  package.json
  roles/nginx/tasks/main.yml
  roles/nginx/templates/api.locations.j2
  roles/nginx/templates/bot4.locations.j2
  roles/nginx/templates/bot5.locations.j2
  roles/nginx/templates/bot6.locations.j2
  roles/nginx/templates/bot7.locations.j2
  scripts/diagnose.sh
  src/bot.ts
  src/core/bot/index.ts
  src/core/supabase/index.ts
  src/utils/launch.ts
Due: prettier --write, eslint --fix

docker
  Dockerfile
  docker-compose.longpolling.yml
Due: none

clean
  src/core/bot/index.ts
  src/core/bot/utils.ts
  src/index.ts
  src/multi.ts
  src/webhook.ts
Due: prettier --write, eslint --fix

step 2
  ROADMAP.md
  diagnostic_report.txt
  scripts/diagnose.sh
Due: prettier --write

step 3
  ROADMAP.md
  diagnostic_report.txt
  package.json
  pnpm-lock.yaml
  scripts/diagnose.sh
  scripts/kill-port.cjs
  src/core/elevenlabs/createVoiceElevenLabs.ts
  src/core/supabase/ai.ts
  src/core/supabase/createModelTraining.ts
  src/core/supabase/ensureSupabaseAuth.ts
  src/core/supabase/getAspectRatio.ts
  src/core/supabase/getGeneratedImages.ts
  src/core/supabase/getHistory.ts
  src/core/supabase/getModel.ts
  src/core/supabase/getUserBalance.ts
  src/core/supabase/savePrompt.ts
  src/core/supabase/updateModelTraining.ts
  src/core/supabase/video.ts
  src/scenes/voiceAvatarWizard/index.ts
  src/utils/config.ts
  src/utils/logger.ts
  src/utils/tokenStorage.ts
  src/utils/webhooks.ts
Due: prettier --write, eslint --fix

fix: use build:nocheck to skip type errors during Docker build
  Dockerfile
Due: none

paths
  .swcrc
  Dockerfile
  ROADMAP.md
  diagnostic_report.txt
  package.json
  scripts/deploy.sh
  tsconfig.json
Due: prettier --write

fix: отключение проблемных volume-монтирований в docker-compose
  docker-compose.yml
Due: none

fix: восстановление важных путей монтирования для nginx в docker-compose
  docker-compose.yml
Due: none

docs: добавлена детальная информация о конфигурации инфраструктуры и скрипты диагностики
  ROADMAP.md
  scripts/fix-errors/docker-restart.sh
  scripts/fix-errors/fix-errors.sh
  scripts/fix-errors/git-ownership-fix.sh
  scripts/fix-errors/token-validator.sh
Due: prettier --write

fix: временно отключен бот ZavaraBot из-за недействительного токена
  ROADMAP.md
  src/core/bot/index.ts
Due: prettier --write, eslint --fix

step 4
  ROADMAP.md
  roles/nginx/tasks/main.yml
  src/core/bot/index.ts
  vault.yml
Due: prettier --write, eslint --fix

fix: prevent test bot setup in prod & enhance diagnostics
  ROADMAP.md
  scripts/diagnose.sh
  src/bot.ts
Due: prettier --write, eslint --fix

fix(nginx): use correct upstream service, port, and path in bot templates
  roles/nginx/templates/bot1.locations.j2
  roles/nginx/templates/bot2.locations.j2
  roles/nginx/templates/bot3.locations.j2
  roles/nginx/templates/bot4.locations.j2
  roles/nginx/templates/bot5.locations.j2
  roles/nginx/templates/bot6.locations.j2
  roles/nginx/templates/bot7.locations.j2
Due: none

fix: обновлена конфигурация Nginx для поддержки HTTPS и корректного проксирования ботов через отдельные порты
  nginx-config/default.conf
Due: none

docs: обновлен ROADMAP с информацией о конфигурации Nginx и настройке прокси для ботов
  ROADMAP.md
Due: prettier --write

fix url
  .gitignore
  .vault_password.example
  playbook.yml
  roles/nginx/tasks/main.yml
  scripts/fix-errors/fix-elestio-url.sh
  src/services/generateNeuroImage.ts
Due: prettier --write, eslint --fix

fix: исправлена проверка URL в функции generateNeuroImage для поддержки резервного URL AI-сервера
  src/services/generateNeuroImage.ts
Due: prettier --write, eslint --fix

docs: добавлена информация об исправлении функции генерации нейроизображений
  ROADMAP.md
Due: prettier --write

fix: исправлены пути вебхуков в nginx для соответствия настройкам ботов
  nginx-config/default.conf
Due: none

fix: исправлена конфигурация Nginx для поддержки вебхуков
  nginx-config/default.conf
  src/bot.ts
  src/services/generateNeuroImage.ts
Due: prettier --write, eslint --fix

fix: исправлена конфигурация Nginx для правильного проксирования запросов к ботам
  nginx-config/default.conf
Due: none

fix: активирован бот ZavaraBot с новым токеном
  nginx-config/default.conf
Due: none

fix: исправлена конфигурация nginx для избежания редиректов при обработке webhook запросов
  nginx-config/default.conf
Due: none

fix: добавлен параметр в proxy_pass для перенаправления webhook запросов
  nginx-config/default.conf
Due: none

fix: улучшена обработка ошибок при настройке вебхуков
  ROADMAP.md
  src/utils/launch.ts
Due: prettier --write, eslint --fix

docs: обновлен ROADMAP с информацией о настройке вебхуков
  ROADMAP.md
Due: prettier --write

fix: исправлена конфигурация Nginx для правильной обработки запросов без слеша
  nginx-config/default.conf
Due: none

fix: упрощена конфигурация Nginx для прямого проксирования запросов
  nginx-config/default.conf
Due: none

fix: добавлен каталог для SSH ключей в Dockerfile
  Dockerfile
Due: none

fix: добавлены специальные локации для вебхуков в конфигурацию Nginx
  nginx-config/default.conf
Due: none

fix: добавлена обработка ошибок при установке команд бота
  src/setCommands.ts
Due: prettier --write, eslint --fix

fix: добавлена улучшенная обработка ошибок при работе с вебхуками
  ROADMAP.md
  src/utils/launch.ts
  src/utils/removeWebhooks.ts
Due: prettier --write, eslint --fix

fix: возврат к рабочей конфигурации Nginx для вебхуков из коммита ff3f2ae
  ROADMAP.md
  nginx-config/default.conf
Due: prettier --write

Step 5
  ROADMAP.md
  src/bot.ts
  src/setCommands.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
