Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

test(money): the else branch, not 2000 characters after the anchor (#1874)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/lib/call-args.cjs
  src/__tests__/money/refundFailureIsAnnounced.test.ts
Due: prettier --write, eslint --fix

test(money): two more windows replaced by the guard bodies they stood for
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/lib/call-args.cjs
  src/__tests__/money/training-refunds-checked.test.ts
Due: prettier --write, eslint --fix

test(money): two more windows replaced by the guard bodies they stood for (#1875)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/lib/call-args.cjs
  src/__tests__/money/training-refunds-checked.test.ts
Due: prettier --write, eslint --fix

test(money): two more windows replaced by the guard bodies they stood for
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/geminiChargedNoRefund.test.ts
  src/__tests__/money/refund-needs-charge.test.ts
Due: prettier --write, eslint --fix

test(money): two more windows replaced by the guard bodies they stood for (#1876)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/geminiChargedNoRefund.test.ts
  src/__tests__/money/refund-needs-charge.test.ts
Due: prettier --write, eslint --fix

fix(test): the aiReels mystery was a bare builtin import inside the test's own mock
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/scenes/aiReelsWizard.test.ts
  src/__tests__/tools/noBareStreamImport.test.ts
Due: prettier --write, eslint --fix

fix(test): the aiReels mystery was a bare builtin import inside the test's own mock (#1877)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/scenes/aiReelsWizard.test.ts
  src/__tests__/tools/noBareStreamImport.test.ts
Due: prettier --write, eslint --fix

test(tools): guard the mock-factory position on the AST, not a regex
  scripts/lib/mock-factory-imports.cjs
  src/__tests__/tools/noBareBuiltinInMockFactory.test.ts
  tri
Due: prettier --write, eslint --fix

test(tools): guard the mock-factory position on the AST, not a regex (#1878)
  scripts/lib/mock-factory-imports.cjs
  src/__tests__/tools/noBareBuiltinInMockFactory.test.ts
  tri
Due: prettier --write, eslint --fix

docs(skill): four lessons from the mock-factory census (260-263)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): four lessons from the mock-factory census (260-263) (#1879)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(test): the stream guard must read code, not prose
  src/__tests__/tools/noBareStreamImport.test.ts
Due: prettier --write, eslint --fix

fix(test): the stream guard must read code, not prose (#1880)
  src/__tests__/tools/noBareStreamImport.test.ts
Due: prettier --write, eslint --fix

test(money): three money ratchets stop proving their case with a width
  src/__tests__/money/neurophoto-multi-batch-gate.test.ts
  src/__tests__/money/sibling-batch-double-refund.test.ts
  src/__tests__/money/videoDoubleChargeIdempotency.test.ts
Due: prettier --write, eslint --fix

test(money): three money ratchets stop proving their case with a width (#1881)
  src/__tests__/money/neurophoto-multi-batch-gate.test.ts
  src/__tests__/money/sibling-batch-double-refund.test.ts
  src/__tests__/money/videoDoubleChargeIdempotency.test.ts
Due: prettier --write, eslint --fix

chore(tri): name the population a green gate could not see
  .claude/skills/vibee-stack-hard-won/SKILL.md
  tri
Due: prettier --write

chore(tri): name the population a green gate could not see (#1882)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  tri
Due: prettier --write

fix(guards): judge the tree that will be committed, not the index
  scripts/lib/repo-sources.cjs
  src/__tests__/guards/prod-write-intent-ratchet.test.ts
  src/__tests__/security/no-secrets-in-repo.test.ts
  src/__tests__/tools/no-silent-blindness.test.ts
  src/__tests__/tools/noBareBuiltinInMockFactory.test.ts
  src/__tests__/tools/noBareStreamImport.test.ts
  tri
Due: prettier --write, eslint --fix

fix(guards): judge the tree that will be committed, not the index (#1883)
  scripts/lib/repo-sources.cjs
  src/__tests__/guards/prod-write-intent-ratchet.test.ts
  src/__tests__/security/no-secrets-in-repo.test.ts
  src/__tests__/tools/no-silent-blindness.test.ts
  src/__tests__/tools/noBareBuiltinInMockFactory.test.ts
  src/__tests__/tools/noBareStreamImport.test.ts
  tri
Due: prettier --write, eslint --fix

docs(skill): blindness needs a control, a detector that read text not population (268-270)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): blindness needs a control, a detector that read text not population (268-270) (#1884)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

chore(tri): untracked is no longer a synonym for unscanned
  tri
Due: none

chore(tri): untracked is no longer a synonym for unscanned (#1885)
  tri
Due: none

fix(tri): dupes has been dead, and its self-check passed anyway
  tri
Due: none

fix(tri): dupes has been dead, and its self-check passed anyway (#1886)
  tri
Due: none

fix(tri): two censuses counted code written in comments
  scripts/lib/mask-preload.cjs
  scripts/lib/mock-factory-imports.cjs
  scripts/probe-registry-scopes.cjs
  src/__tests__/tools/noBareBuiltinInMockFactory.test.ts
  tri
Due: prettier --write, eslint --fix

fix(tri): two censuses counted code written in comments (#1887)
  scripts/lib/mask-preload.cjs
  scripts/lib/mock-factory-imports.cjs
  scripts/probe-registry-scopes.cjs
  src/__tests__/tools/noBareBuiltinInMockFactory.test.ts
  tri
Due: prettier --write, eslint --fix

docs(skill): a negative assertion must prove the tool ran (271-274)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): a negative assertion must prove the tool ran (271-274) (#1888)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(tri): dupes could not tell "no duplicates" from "read nothing"
  scripts/lib/crash-preload-selective.cjs
  scripts/lib/crash-preload.cjs
  tri
Due: none

fix(tri): dupes could not tell "no duplicates" from "read nothing" (#1889)
  scripts/lib/crash-preload-selective.cjs
  scripts/lib/crash-preload.cjs
  tri
Due: none

docs(skill): a swallowed read makes a tool unfalsifiable (275-277)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): a swallowed read makes a tool unfalsifiable (275-277) (#1890)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(probes): six tools answered confidently while reading nothing
  scripts/lib/read-census.cjs
  scripts/probe-dead-exports.cjs
  scripts/probe-optional-guards.cjs
  scripts/probe-reachability.cjs
  scripts/probe-shell-callers.cjs
  scripts/probe-timers.cjs
  scripts/probe-tool-blindness.cjs
  tri
Due: none

fix(probes): six tools answered confidently while reading nothing (#1891)
  scripts/lib/read-census.cjs
  scripts/probe-dead-exports.cjs
  scripts/probe-optional-guards.cjs
  scripts/probe-reachability.cjs
  scripts/probe-shell-callers.cjs
  scripts/probe-timers.cjs
  scripts/probe-tool-blindness.cjs
  tri
Due: none

docs(skill): a checked-count can be counting the list (278-280)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): a checked-count can be counting the list (278-280) (#1892)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(probes): the blindness detector was matching prose, and two probes dropped bad URLs
  scripts/lib/url-host.cjs
  scripts/probe-asset-links.cjs
  scripts/probe-foreign-links.cjs
  scripts/probe-tool-blindness.cjs
Due: none

fix(probes): the blindness detector was matching prose, and two probes dropped bad URLs (#1893)
  scripts/lib/url-host.cjs
  scripts/probe-asset-links.cjs
  scripts/probe-foreign-links.cjs
  scripts/probe-tool-blindness.cjs
Due: none

docs(skill): a detector catches the file that documents it (281-283)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write
