Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: Switch to tsconfig-paths for runtime alias resolution
  .swcrc
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

fix: Move tsconfig-paths to dependencies for Docker runtime
  Dockerfile
  package.json
Due: prettier --write

fix: Correct nginx proxy_pass to use 'app' service and original ports
  Dockerfile
  package.json
  roles/nginx/templates/api.locations.j2
  roles/nginx/templates/bot1.locations.j2
  roles/nginx/templates/bot2.locations.j2
  roles/nginx/templates/bot3.locations.j2
  roles/nginx/templates/bot4.locations.j2
  roles/nginx/templates/bot5.locations.j2
  roles/nginx/templates/bot6.locations.j2
  src/bot.ts
Due: prettier --write, eslint --fix

test
  package.json
  scripts/check-ports.sh
  scripts/free-ports.sh
  src/config/ports.ts
  src/test-utils/README.md
  src/test-utils/helpers/createMockContext.ts
  src/test-utils/tests/system/portValidator.test.ts
  src/test-utils/tests/webhooks/paymentWebhook.test.ts
Due: prettier --write, eslint --fix

fix: Correct nginx volumes in docker-compose for server config
  docker-compose.yml
Due: none

fix: Configure Ansible playbook, inventory, and related files
  docker-compose.yml
  inventory
  package.json
  playbook.yml
Due: prettier --write

feat: Run Ansible from within app container
  Dockerfile
  docker-compose.yml
  update-docker.sh
Due: none

fix: Copy Ansible files into image and fix update script
  Dockerfile
  update-docker.sh
Due: none

fix: Disable Ansible host key checking in update script
  update-docker.sh
Due: none

fix: Mount host SSH keys for Ansible in Docker
  docker-compose.yml
  inventory
  update-docker.sh
Due: none

test: Replace playbook run with ping test for Ansible SSH
  update-docker.sh
Due: none

refactor: Revert running Ansible from Docker, require host Ansible
  Dockerfile
  docker-compose.yml
  update-docker.sh
Due: none

fix: Revert to basic setup with host Ansible and corrected Nginx config
  docker-compose.yml
  inventory
  playbook.yml
  roles/nginx/templates/api.locations.j2
  roles/nginx/templates/bot1.locations.j2
  roles/nginx/templates/bot2.locations.j2
  roles/nginx/templates/bot3.locations.j2
  roles/nginx/templates/bot4.locations.j2
  roles/nginx/templates/bot5.locations.j2
  roles/nginx/templates/bot6.locations.j2
  roles/nginx/templates/bot7.locations.j2
Due: none

fix: Configure Ansible playbook, inventory, and related files
  package.json
Due: prettier --write

fix: Correct proxy_pass for bot7 (ai_koshey_bot)
  roles/nginx/templates/bot7.locations.j2
Due: none

fix: Install Ansible via apk in Dockerfile (PEP 668)
  Dockerfile
Due: none

fix: Disable SSH host key checking for Ansible in docker exec
  update-docker.sh
Due: none
