Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(loop): record the refund faucet and the wiring lesson
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): record the refund faucet and the wiring lesson (#1995)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(rescue): register a job for images and voiceovers too
  apps/vibee-editor/render/kie-swift-sync.test.ts
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

fix(rescue): register a job for images and voiceovers too (#1996)
  apps/vibee-editor/render/kie-swift-sync.test.ts
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

feat(cli): tri all - because green in my files is not green in the project
  .claude/loop-opus/dashboard.html
  bin/tri
Due: none

feat(cli): tri all - because green in my files is not green in the project (#1997)
  .claude/loop-opus/dashboard.html
  bin/tri
Due: none

feat(web): one row of tabs - the four script outputs become sections
  apps/vibee-editor/player/src/pages/Script.css
  apps/vibee-editor/player/src/pages/Script.tsx
Due: none

feat(web): one row of tabs - the four script outputs become sections (#1998)
  apps/vibee-editor/player/src/pages/Script.css
  apps/vibee-editor/player/src/pages/Script.tsx
Due: none

feat(ui): call the step what it does - Lipsync, not Avatar; and larger previews
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/lib/aiPipeline.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ПревьюФайла.swift
Due: prettier --write, eslint --fix

feat(ui): call the step what it does - Lipsync, not Avatar; and larger previews (#1999)
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/lib/aiPipeline.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ПревьюФайла.swift
Due: prettier --write, eslint --fix

fix(ios): the editor's history shows the material, not a track glyph
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: none

fix(ios): the editor's history shows the material, not a track glyph (#2000)
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: none

feat(voice): say that the voiceover is priced per thousand characters
  apps/vibee-editor/render/render-server.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ЦенаНажатия.swift
  apps/vibee-ios/VibeeTests/ЦенаНажатияTests.swift
Due: prettier --write, eslint --fix

feat(voice): say that the voiceover is priced per thousand characters (#2001)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ЦенаНажатия.swift
  apps/vibee-ios/VibeeTests/ЦенаНажатияTests.swift
Due: prettier --write, eslint --fix

fix(ios): a tab's history shows that tab's work, not the track's
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ИсторияВида.swift
  apps/vibee-ios/Vibee/Слои.swift
  apps/vibee-ios/VibeeTests/ИсторияВидаTests.swift
Due: none

fix(ios): a tab's history shows that tab's work, not the track's (#2002)
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/ИсторияВида.swift
  apps/vibee-ios/Vibee/Слои.swift
  apps/vibee-ios/VibeeTests/ИсторияВидаTests.swift
Due: none

docs(loop): the screen walk finds what reading cannot
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): the screen walk finds what reading cannot (#2003)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

feat(feed): give a post an address, because it had none
  apps/vibee-editor/player/src/components/Panels/FeedCard.tsx
  apps/vibee-editor/player/src/pages/Feed.tsx
Due: none

feat(feed): give a post an address, because it had none (#2004)
  apps/vibee-editor/player/src/components/Panels/FeedCard.tsx
  apps/vibee-editor/player/src/pages/Feed.tsx
Due: none

docs(loop): "not found" on a still-loading page is not an answer
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): "not found" on a still-loading page is not an answer (#2005)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(deps): npm ci, not npm install - and pin Node 20 for the runner
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
  bin/tri
Due: prettier --write

fix(deps): npm ci, not npm install - and pin Node 20 for the runner (#2006)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
  bin/tri
Due: prettier --write

docs(loop): the dashboard leads with what the night was worth
  .claude/loop-opus/dashboard.html
Due: none

docs(loop): the dashboard leads with what the night was worth (#2007)
  .claude/loop-opus/dashboard.html
Due: none

fix(money): charge for what is actually bought - five holes, four of them mine
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

fix(money): charge for what is actually bought - five holes, four of them mine (#2008)
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

fix(money): one price table, and the test compares numbers not imports
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(money): one price table, and the test compares numbers not imports (#2009)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(money): bill by the second only where we set the seconds
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
Due: prettier --write, eslint --fix

fix(money): bill by the second only where we set the seconds (#2010)
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-prices.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
Due: prettier --write, eslint --fix

fix(feed): say so when a linked post is not on the page
  apps/vibee-editor/player/src/pages/Feed.css
  apps/vibee-editor/player/src/pages/Feed.tsx
Due: none

fix(feed): say so when a linked post is not on the page (#2011)
  apps/vibee-editor/player/src/pages/Feed.css
  apps/vibee-editor/player/src/pages/Feed.tsx
Due: none

fix(money): the one wallet never charged was the one forbidden to work
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

fix(money): the one wallet never charged was the one forbidden to work (#2012)
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: prettier --write, eslint --fix

docs(loop): three more lines on the board, all of them measured
  .claude/loop-opus/dashboard.html
Due: none

docs(loop): three more lines on the board, all of them measured (#2013)
  .claude/loop-opus/dashboard.html
Due: none

fix(loop): the cleaner has to know about its own rubbish
  .claude/loop-opus/free-disk.sh
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(loop): the cleaner has to know about its own rubbish (#2014)
  .claude/loop-opus/free-disk.sh
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
