Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(loop): record pairing production rollout
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(ios): wire the export button, so the editor can hand over a file
  apps/vibee-ios/Vibee/VibeeApp.swift
Due: none

feat(ios): wire the export button, so the editor can hand over a file (#1638)
  apps/vibee-ios/Vibee/VibeeApp.swift
Due: none

style(ios): take the timeline clip colour from the web, and decline its contrast bug
  apps/vibee-ios/Vibee/TimelineView.swift
Due: none

style(ios): take the timeline clip colour from the web, and decline its contrast bug (#1639)
  apps/vibee-ios/Vibee/TimelineView.swift
Due: none

chore(loop): add the improvement-loop dashboard and hand-off status
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

test(player): preserve jotai atoms in profile mock
  apps/vibee-editor/player/src/components/Profile/ProfileHeader.test.tsx
Due: none

fix(editor): keep AI controls above tablet timeline
  apps/vibee-editor/player/e2e/editor-ai-layout.spec.ts
  apps/vibee-editor/player/src/App.css
Due: prettier --write, eslint --fix

feat(projects): sync owner drafts across clients
  apps/vibee-editor/player/e2e/editor-project-sync.spec.ts
  apps/vibee-editor/player/src/components/Timeline/CloudProjectControls.css
  apps/vibee-editor/player/src/components/Timeline/CloudProjectControls.tsx
  apps/vibee-editor/player/src/components/Timeline/Timeline.tsx
  apps/vibee-editor/player/src/lib/projectSync.test.ts
  apps/vibee-editor/player/src/lib/projectSync.ts
  apps/vibee-editor/render/project-routes.ts
  apps/vibee-editor/render/src/agent/project-tools.test.ts
  apps/vibee-editor/render/src/agent/project-tools.ts
  apps/vibee-editor/render/src/agent/tools.ts
  docs/architecture/PROJECT_SYNC_CONTRACT.md
Due: prettier --write, eslint --fix

feat(ai): align web pipeline with native editor
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/components/AI/AiAssemblyBar.css
  apps/vibee-editor/player/src/components/AI/AiAssemblyBar.tsx
  apps/vibee-editor/player/src/components/AI/AiPipelineNav.css
  apps/vibee-editor/player/src/components/AI/AiPipelineNav.tsx
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.tsx
  apps/vibee-editor/player/src/components/Navigation/aiPipelineNavigation.test.ts
  apps/vibee-editor/player/src/components/Navigation/index.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.css
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/player/src/lib/aiAssembly.test.ts
  apps/vibee-editor/player/src/lib/aiAssembly.ts
  apps/vibee-editor/player/src/lib/aiPipeline.ts
  apps/vibee-editor/player/src/lib/brollPromptQueue.test.ts
  apps/vibee-editor/player/src/lib/brollPromptQueue.ts
  apps/vibee-editor/player/src/lib/primaryNavigation.ts
  apps/vibee-editor/player/src/pages/Editor.tsx
  apps/vibee-editor/player/src/pages/Generate.css
  apps/vibee-editor/player/src/pages/Generate.tsx
  apps/vibee-editor/player/src/pages/Script.tsx
  apps/vibee-ios/Vibee/GenerateScreen.swift
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write, eslint --fix

fix(editor): contain tablet properties overlay
  apps/vibee-editor/player/e2e/editor-ai-layout.spec.ts
  apps/vibee-editor/player/src/App.css
Due: prettier --write, eslint --fix

feat(ai): connect Kie media and preserve timed captions
  apps/vibee-editor/player/e2e/generate-ai.spec.ts
  apps/vibee-editor/player/src/atoms/captions.ts
  apps/vibee-editor/player/src/atoms/generateResults.ts
  apps/vibee-editor/player/src/atoms/index.ts
  apps/vibee-editor/player/src/components/AI/AiAssemblyBar.tsx
  apps/vibee-editor/player/src/components/Canvas/InteractiveCanvas.tsx
  apps/vibee-editor/player/src/components/Panels/CaptionsPanel.css
  apps/vibee-editor/player/src/components/Panels/CaptionsPanel.tsx
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/player/src/components/Panels/PropertiesPanel.tsx
  apps/vibee-editor/player/src/lib/generateApi.ts
  apps/vibee-editor/player/src/lib/kieProvider.test.ts
  apps/vibee-editor/player/src/lib/kieProvider.ts
  apps/vibee-editor/player/src/lib/timedCaptions.test.ts
  apps/vibee-editor/player/src/lib/timedCaptions.ts
  apps/vibee-editor/player/src/pages/Editor.tsx
  apps/vibee-editor/render/image-chain.test.ts
  apps/vibee-editor/render/kie-run.test.ts
  apps/vibee-editor/render/kie-web-provider.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/Root.tsx
  apps/vibee-editor/render/src/agent/kie-run.ts
  apps/vibee-editor/render/src/agent/kie-web-provider.ts
  apps/vibee-editor/render/src/lib/fetchCaptions.ts
  apps/vibee-editor/render/src/lib/timedCaptions.test.ts
  apps/vibee-editor/render/src/lib/timedCaptions.ts
  apps/vibee-editor/render/tts-timed-captions.test.ts
  apps/vibee-ios/Vibee/Composition.swift
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/Слои.swift
  docs/architecture/TIMED_CAPTIONS_CONTRACT.md
Due: prettier --write, eslint --fix

chore(loop): free disk automatically, instead of stopping to ask
  .claude/loop-opus/free-disk.sh
Due: none

feat(ai): unify web native agent media flow
  apps/vibee-editor/player/e2e/chat-attachments.spec.ts
  apps/vibee-editor/player/e2e/generate-ai.spec.ts
  apps/vibee-editor/player/playwright.config.ts
  apps/vibee-editor/player/src/atoms/agentChat.ts
  apps/vibee-editor/player/src/lib/agentStream.test.ts
  apps/vibee-editor/player/src/lib/agentStream.ts
  apps/vibee-editor/player/src/lib/appSession.test.ts
  apps/vibee-editor/player/src/lib/generateApi.ts
  apps/vibee-editor/player/src/lib/projectSync.test.ts
  apps/vibee-editor/player/src/lib/s3Upload.ts
  apps/vibee-editor/player/src/pages/Chat.css
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/generation-owner-contract.test.ts
  apps/vibee-editor/render/miniapp-billing.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-editor/render/src/lib/remoteMediaDuration.test.ts
  apps/vibee-editor/render/src/lib/remoteMediaDuration.ts
  apps/vibee-editor/render/upload-boundary-contract.test.ts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/Composition.swift
Due: prettier --write, eslint --fix

fix(editor): give timeline clip labels a readable colour
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
Due: none

fix(render): bound media network and upload resources
  apps/vibee-editor/render/package-lock.json
  apps/vibee-editor/render/package.json
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/lib/boundedUpload.test.ts
  apps/vibee-editor/render/src/lib/boundedUpload.ts
  apps/vibee-editor/render/src/lib/remoteMediaDuration.test.ts
  apps/vibee-editor/render/src/lib/remoteMediaDuration.ts
  apps/vibee-editor/render/upload-boundary-contract.test.ts
Due: prettier --write, eslint --fix

fix(auth): the app sign-in button opened the feed, so there was never a code
  apps/vibee-editor/player/src/components/Profile/PairWithApp.tsx
  apps/vibee-editor/player/src/components/Telegram/TelegramProvider.tsx
  apps/vibee-editor/player/src/components/Telegram/__tests__/startParamContract.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-ios/Vibee/Identity.swift
Due: prettier --write, eslint --fix

docs(skill): a reel is a JSON, and everything I built by hand was already in the schema
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(auth): the app sign-in button opened the feed, so there was never a code (#1644)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  apps/vibee-editor/player/src/components/Profile/PairWithApp.tsx
  apps/vibee-editor/player/src/components/Telegram/TelegramProvider.tsx
  apps/vibee-editor/player/src/components/Telegram/__tests__/startParamContract.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-ios/Vibee/Identity.swift
Due: prettier --write, eslint --fix

feat(migration): igla — a rescue needle that re-does the Supabase transfer
  scripts/supabase-exit/igla.mjs
Due: none

feat(migration): igla — a rescue needle that re-does the Supabase transfer (#1645)
  scripts/supabase-exit/igla.mjs
Due: none

fix(i18n): bilingualize video-delivery captions in KIE-AI and AI-Reels webhooks
  src/__tests__/api/video-delivery-captions-bilingual.test.ts
  src/api_server/routes/ai-reels-callback.routes.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
Due: prettier --write, eslint --fix

fix(i18n): bilingualize video-delivery captions in KIE-AI and AI-Reels webhooks (#1646)
  src/__tests__/api/video-delivery-captions-bilingual.test.ts
  src/api_server/routes/ai-reels-callback.routes.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
Due: prettier --write, eslint --fix

test(guards): register the two in-flight guards missing from the paid-wizard ratchet
  src/__tests__/scenes/paid-wizard-guard-ratchet.test.ts
Due: prettier --write, eslint --fix

test(guards): register the two in-flight guards missing from the paid-wizard ratchet (#1647)
  src/__tests__/scenes/paid-wizard-guard-ratchet.test.ts
Due: prettier --write, eslint --fix

fix(editor): make track badges opaque, so their contrast stops depending on the clip
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
Due: none

fix(money): refund FLUX Kontext Pro on post-generation failure, mint-safe
  src/__tests__/services/fluxkontextpro-refund.test.ts
  src/services/generateFluxKontextPro.ts
Due: prettier --write, eslint --fix

fix(money): refund FLUX Kontext Pro on post-generation failure, mint-safe (#1649)
  src/__tests__/services/fluxkontextpro-refund.test.ts
  src/services/generateFluxKontextPro.ts
Due: prettier --write, eslint --fix

fix(money): stop the batch double-refund AND uncharged mint in SeedEdit3 + FluxKontextMax
  src/__tests__/money/sibling-batch-double-refund.test.ts
  src/services/generateFluxKontextMax.ts
  src/services/generateSeedEdit3.ts
Due: prettier --write, eslint --fix

fix(money): stop the batch double-refund AND uncharged mint in SeedEdit3 + FluxKontextMax (#1650)
  src/__tests__/money/sibling-batch-double-refund.test.ts
  src/services/generateFluxKontextMax.ts
  src/services/generateSeedEdit3.ts
Due: prettier --write, eslint --fix

fix(money): add an in-flight guard to imageUpscalerWizard (double-tap double-charge)
  src/__tests__/scenes/paid-wizard-guard-ratchet.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/imageUpscalerWizard/index.ts
Due: prettier --write, eslint --fix

fix(money): add an in-flight guard to imageUpscalerWizard (double-tap double-charge) (#1651)
  src/__tests__/scenes/paid-wizard-guard-ratchet.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/imageUpscalerWizard/index.ts
Due: prettier --write, eslint --fix

fix(money): isolate the local save in generateNeuroPhotoDirect so a save failure can't skip delivery
  src/__tests__/services/neurophoto-direct-save-isolation.test.ts
  src/services/generateNeuroPhotoDirect.ts
Due: prettier --write, eslint --fix

fix(money): isolate the local save in generateNeuroPhotoDirect so a save failure can't skip delivery (#1652)
  src/__tests__/services/neurophoto-direct-save-isolation.test.ts
  src/services/generateNeuroPhotoDirect.ts
Due: prettier --write, eslint --fix

fix(security): stop 6 scenes leaking the raw caught error via sendGenericErrorMessage (CWE-209)
  src/__tests__/scenes/no-raw-error-to-user.test.ts
  src/scenes/aiChatWizard/index.ts
  src/scenes/cancelPredictionsWizard/index.ts
  src/scenes/menuScene/index.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/scenes/neuroPhotoWizardV2/index.ts
  src/scenes/uploadTrainFluxModelScene/index.ts
Due: prettier --write, eslint --fix

fix(security): stop 6 scenes leaking the raw caught error via sendGenericErrorMessage (CWE-209) (#1653)
  src/__tests__/scenes/no-raw-error-to-user.test.ts
  src/scenes/aiChatWizard/index.ts
  src/scenes/cancelPredictionsWizard/index.ts
  src/scenes/menuScene/index.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/scenes/neuroPhotoWizardV2/index.ts
  src/scenes/uploadTrainFluxModelScene/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
