Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

loop: отчёт цикла №120 — дежурство, b-roll на пороге
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(автопилот): ретрай b-roll — транзиент сети не должен стоить видео-слоя
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №121 — день 4/4, b-roll с ретраем завтра
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(типы): 45 → 14, и среди них два настоящих ReferenceError
  apps/vibee-editor/player/src/atoms/profile.ts
  apps/vibee-editor/player/src/atoms/soul.ts
  apps/vibee-editor/player/src/components/SyncDemo.tsx
  apps/vibee-editor/player/src/components/Video/ProgressiveVideo.tsx
  apps/vibee-editor/player/src/components/Video/ThumbnailPreview.tsx
  apps/vibee-editor/player/src/components/Video/VideoSkeleton.tsx
  apps/vibee-editor/player/src/components/learn/compiler.ts
  apps/vibee-editor/player/src/compositions/SplitTalkingHead.tsx
  apps/vibee-editor/player/src/hooks/useLearnTranslation.ts
  apps/vibee-editor/player/src/hooks/useOffscreenDecoder.ts
  apps/vibee-editor/player/src/hooks/useVideoFrameCallback.ts
  apps/vibee-editor/player/src/hooks/useWebCodecsHW.ts
  apps/vibee-editor/player/src/lib/adaptiveQuality.ts
  apps/vibee-editor/player/src/lib/compiler.ts
  apps/vibee-editor/player/src/lib/moqClient.ts
  apps/vibee-editor/player/src/pages/Learn.tsx
  apps/vibee-editor/player/src/providers/ConditionalWeb3Provider.tsx
  apps/vibee-editor/player/src/store/learn.ts
  apps/vibee-editor/player/src/workers/videoDecoder.worker.ts
Due: prettier --write, eslint --fix

fix(типы): 45 → 14, и среди них два настоящих ReferenceError (#690)
  apps/vibee-editor/player/src/atoms/profile.ts
  apps/vibee-editor/player/src/atoms/soul.ts
  apps/vibee-editor/player/src/components/SyncDemo.tsx
  apps/vibee-editor/player/src/components/Video/ProgressiveVideo.tsx
  apps/vibee-editor/player/src/components/Video/ThumbnailPreview.tsx
  apps/vibee-editor/player/src/components/Video/VideoSkeleton.tsx
  apps/vibee-editor/player/src/components/learn/compiler.ts
  apps/vibee-editor/player/src/compositions/SplitTalkingHead.tsx
  apps/vibee-editor/player/src/hooks/useLearnTranslation.ts
  apps/vibee-editor/player/src/hooks/useOffscreenDecoder.ts
  apps/vibee-editor/player/src/hooks/useVideoFrameCallback.ts
  apps/vibee-editor/player/src/hooks/useWebCodecsHW.ts
  apps/vibee-editor/player/src/lib/adaptiveQuality.ts
  apps/vibee-editor/player/src/lib/compiler.ts
  apps/vibee-editor/player/src/lib/moqClient.ts
  apps/vibee-editor/player/src/pages/Learn.tsx
  apps/vibee-editor/player/src/providers/ConditionalWeb3Provider.tsx
  apps/vibee-editor/player/src/store/learn.ts
  apps/vibee-editor/player/src/workers/videoDecoder.worker.ts
Due: prettier --write, eslint --fix

chore(ворота): храповик по ошибкам типов плеера — число может только падать
  lefthook.yml
  package.json
  scripts/check-player-types.cjs
Due: prettier --write

chore(ворота): храповик по ошибкам типов плеера — число может только падать (#691)
  lefthook.yml
  package.json
  scripts/check-player-types.cjs
Due: prettier --write

docs(скилл): храповик по типам плеера и закрытый список мёртвых файлов
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): храповик по типам плеера и закрытый список мёртвых файлов (#692)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №122 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №123 — новые сутки конвейера
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(канал): ссылка в постах ведёт на app.t27.ai/feed и переживает обрезку
  apps/vibee-editor/player/src/components/Modals/PublishModal.tsx
  apps/vibee-editor/player/src/components/Modals/__tests__/publishCaption.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(канал): ссылка в постах ведёт на app.t27.ai/feed и переживает обрезку (#693)
  apps/vibee-editor/player/src/components/Modals/PublishModal.tsx
  apps/vibee-editor/player/src/components/Modals/__tests__/publishCaption.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

chore(плеер): удалены семнадцать мёртвых файлов — 4800 строк, которых никто не рендерил
  apps/vibee-editor/player/src/atoms/agentChat.ts
  apps/vibee-editor/player/src/atoms/chat.ts
  apps/vibee-editor/player/src/components/AssetBrowser/AssetBrowser.css
  apps/vibee-editor/player/src/components/AssetBrowser/AssetBrowser.tsx
  apps/vibee-editor/player/src/components/AssetBrowser/index.ts
  apps/vibee-editor/player/src/components/Assets/AssetCollections.css
  apps/vibee-editor/player/src/components/Assets/AssetCollections.tsx
  apps/vibee-editor/player/src/components/Assets/RecentFavorites.css
  apps/vibee-editor/player/src/components/Assets/RecentFavorites.tsx
  apps/vibee-editor/player/src/components/Messages/DirectMessages.css
  apps/vibee-editor/player/src/components/Messages/DirectMessages.tsx
  apps/vibee-editor/player/src/components/Navigation/BottomNavigation.css
  apps/vibee-editor/player/src/components/Navigation/BottomNavigation.tsx
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.tsx
  apps/vibee-editor/player/src/components/Navigation/VerticalTabs.css
  apps/vibee-editor/player/src/components/Navigation/VerticalTabs.tsx
  apps/vibee-editor/player/src/components/Navigation/index.ts
  apps/vibee-editor/player/src/components/Panels/ChatPanel.css
  apps/vibee-editor/player/src/components/Panels/ChatPanel.tsx
  apps/vibee-editor/player/src/components/Panels/PropertiesPanel.tsx
  apps/vibee-editor/player/src/components/Panels/index.ts
  apps/vibee-editor/player/src/components/Timeline/Timeline.tsx
  apps/vibee-editor/player/src/index.css
  apps/vibee-editor/player/src/lib/agentApi.ts
  apps/vibee-editor/player/src/lib/faceApi.ts
Due: prettier --write, eslint --fix

chore(плеер): удалены семнадцать мёртвых файлов — 4800 строк, которых никто не рендерил (#694)
  apps/vibee-editor/player/src/atoms/agentChat.ts
  apps/vibee-editor/player/src/atoms/chat.ts
  apps/vibee-editor/player/src/components/AssetBrowser/AssetBrowser.css
  apps/vibee-editor/player/src/components/AssetBrowser/AssetBrowser.tsx
  apps/vibee-editor/player/src/components/AssetBrowser/index.ts
  apps/vibee-editor/player/src/components/Assets/AssetCollections.css
  apps/vibee-editor/player/src/components/Assets/AssetCollections.tsx
  apps/vibee-editor/player/src/components/Assets/RecentFavorites.css
  apps/vibee-editor/player/src/components/Assets/RecentFavorites.tsx
  apps/vibee-editor/player/src/components/Messages/DirectMessages.css
  apps/vibee-editor/player/src/components/Messages/DirectMessages.tsx
  apps/vibee-editor/player/src/components/Navigation/BottomNavigation.css
  apps/vibee-editor/player/src/components/Navigation/BottomNavigation.tsx
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.tsx
  apps/vibee-editor/player/src/components/Navigation/VerticalTabs.css
  apps/vibee-editor/player/src/components/Navigation/VerticalTabs.tsx
  apps/vibee-editor/player/src/components/Navigation/index.ts
  apps/vibee-editor/player/src/components/Panels/ChatPanel.css
  apps/vibee-editor/player/src/components/Panels/ChatPanel.tsx
  apps/vibee-editor/player/src/components/Panels/PropertiesPanel.tsx
  apps/vibee-editor/player/src/components/Panels/index.ts
  apps/vibee-editor/player/src/components/Timeline/Timeline.tsx
  apps/vibee-editor/player/src/index.css
  apps/vibee-editor/player/src/lib/agentApi.ts
  apps/vibee-editor/player/src/lib/faceApi.ts
Due: prettier --write, eslint --fix

docs(скилл): публичный адрес app.t27.ai и закрытый список мёртвого кода
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): публичный адрес app.t27.ai и закрытый список мёртвого кода (#695)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №124 — очередь 23 темы, дисциплина меток (опыт №31)
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
  loop/topics.json
Due: prettier --write

loop: отчёт цикла №125 — дежурство, буфер очереди по канону
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №126 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(лента): первый экран — подпись видна целиком и говорит о ролике
  apps/vibee-editor/player/src/components/Panels/FeedCard.tsx
  apps/vibee-editor/player/src/components/Panels/FeedPanel.css
Due: none

fix(лента): первый экран — подпись видна целиком и говорит о ролике (#696)
  apps/vibee-editor/player/src/components/Panels/FeedCard.tsx
  apps/vibee-editor/player/src/components/Panels/FeedPanel.css
Due: none

loop: отчёт цикла №127 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №128 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(вход): «Bot domain invalid» в шапке — правило домена перевёрнуто
  apps/vibee-editor/player/src/components/Auth/TelegramLoginButton.tsx
  apps/vibee-editor/player/src/components/Auth/__tests__/loginFallback.test.ts
Due: prettier --write, eslint --fix

fix(вход): «Bot domain invalid» в шапке — правило домена перевёрнуто (#697)
  apps/vibee-editor/player/src/components/Auth/TelegramLoginButton.tsx
  apps/vibee-editor/player/src/components/Auth/__tests__/loginFallback.test.ts
Due: prettier --write, eslint --fix

docs(скилл): первый экран ленты и положительный список доменов входа
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): первый экран ленты и положительный список доменов входа (#698)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №129 — дежурство, сид-фаза готова
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №130 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №131 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(экраны): прошёл вкладки глазами — приветствие с начала, слова вместо цифр
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: prettier --write, eslint --fix

fix(экраны): прошёл вкладки глазами — приветствие с начала, слова вместо цифр (#699)
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: prettier --write, eslint --fix

docs(скилл): порядок осмотра экранов и правило про спрятанную информацию
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): порядок осмотра экранов и правило про спрятанную информацию (#700)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №133 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №134 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(генерация): на телефоне видна кнопка, ради которой человек пришёл
  apps/vibee-editor/player/src/components/Results/ResultsGallery.css
  apps/vibee-editor/player/src/pages/Generate.css
Due: none

fix(генерация): на телефоне видна кнопка, ради которой человек пришёл (#701)
  apps/vibee-editor/player/src/components/Results/ResultsGallery.css
  apps/vibee-editor/player/src/pages/Generate.css
Due: none

loop: отчёт цикла №135 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write
