Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(render): a ratchet that read a spelling, and a window with no end
  apps/vibee-editor/render/error-disclosure-ratchet.test.ts
  apps/vibee-editor/render/feed-approval.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): a ratchet that read a spelling, and a window with no end (#2094)
  apps/vibee-editor/render/error-disclosure-ratchet.test.ts
  apps/vibee-editor/render/feed-approval.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(auth): anyone could close the login door for everyone, for free
  .claude/skills/blind-guards/SKILL.md
  apps/vibee-editor/render/entry-throttle.test.ts
  apps/vibee-editor/render/pairing-e2e.test.ts
  apps/vibee-editor/render/pairing.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session-store.ts
  apps/vibee-editor/render/src/entry-throttle.ts
  bin/tri
  src/commands/appLoginCommand.ts
Due: prettier --write, eslint --fix

fix(auth): anyone could close the login door for everyone, for free (#2095)
  .claude/skills/blind-guards/SKILL.md
  apps/vibee-editor/render/entry-throttle.test.ts
  apps/vibee-editor/render/pairing-e2e.test.ts
  apps/vibee-editor/render/pairing.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session-store.ts
  apps/vibee-editor/render/src/entry-throttle.ts
  bin/tri
  src/commands/appLoginCommand.ts
Due: prettier --write, eslint --fix

fix(auth): a rate limit keyed on the proxy address counts everyone as one
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/render/device-binding.test.ts
  apps/vibee-editor/render/entry-throttle.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session.ts
  apps/vibee-editor/render/src/entry-throttle.ts
  bin/tri
Due: prettier --write, eslint --fix

fix(auth): a rate limit keyed on the proxy address counts everyone as one (#2096)
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/render/device-binding.test.ts
  apps/vibee-editor/render/entry-throttle.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session.ts
  apps/vibee-editor/render/src/entry-throttle.ts
  bin/tri
Due: prettier --write, eslint --fix

fix(auth): when the client cannot be told apart, do not apply the per-client limit
  apps/vibee-editor/render/entry-throttle.test.ts
  apps/vibee-editor/render/src/entry-throttle.ts
Due: prettier --write, eslint --fix

fix(auth): when the client cannot be told apart, do not apply the per-client limit (#2097)
  apps/vibee-editor/render/entry-throttle.test.ts
  apps/vibee-editor/render/src/entry-throttle.ts
Due: prettier --write, eslint --fix

docs(auth): record that the forwarded-for header does reach the container
  apps/vibee-editor/render/src/entry-throttle.ts
  bin/tri
Due: prettier --write, eslint --fix

docs(auth): record that the forwarded-for header does reach the container (#2098)
  apps/vibee-editor/render/src/entry-throttle.ts
  bin/tri
Due: prettier --write, eslint --fix

docs: record the entry-door loop in the work queue
  docs/ОЧЕРЕДЬ.md
Due: prettier --write

docs: record the entry-door loop in the work queue (#2099)
  docs/ОЧЕРЕДЬ.md
Due: prettier --write

fix(auth): two open tabs were read as a stolen token and logged the person out
  apps/vibee-editor/player/src/lib/appSession.ts
  apps/vibee-editor/render/refresh-race.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session.test.ts
  apps/vibee-editor/render/session.ts
Due: prettier --write, eslint --fix

fix(auth): two open tabs were read as a stolen token and logged the person out (#2100)
  apps/vibee-editor/player/src/lib/appSession.ts
  apps/vibee-editor/render/refresh-race.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session.test.ts
  apps/vibee-editor/render/session.ts
Due: prettier --write, eslint --fix

fix(ios): a self-collided refresh wiped the login instead of retrying
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/render/refresh-race.test.ts
  apps/vibee-ios/Vibee/Identity.swift
  bin/tri
Due: prettier --write, eslint --fix

fix(ios): a self-collided refresh wiped the login instead of retrying (#2101)
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/render/refresh-race.test.ts
  apps/vibee-ios/Vibee/Identity.swift
  bin/tri
Due: prettier --write, eslint --fix

docs: record the refresh-race loop in the work queue
  docs/ОЧЕРЕДЬ.md
Due: prettier --write

docs: record the refresh-race loop in the work queue (#2102)
  docs/ОЧЕРЕДЬ.md
Due: prettier --write

fix(auth): a one-day initData minted unlimited sixty-day token families
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/render/launch-family.test.ts
  apps/vibee-editor/render/schema-honesty.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session-store.ts
  bin/helpers/schema-drift.mjs
  bin/tri
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

fix(auth): a one-day initData minted unlimited sixty-day token families (#2103)
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/render/launch-family.test.ts
  apps/vibee-editor/render/schema-honesty.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session-store.ts
  bin/helpers/schema-drift.mjs
  bin/tri
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

fix(auth): the iOS app could not be signed into at all, and we did it
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/components/Profile/PairWithApp.test.tsx
  apps/vibee-editor/player/src/components/Profile/PairWithApp.tsx
  apps/vibee-editor/render/code-length-agreement.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session-store.ts
  apps/vibee-ios/Vibee/Identity.swift
  apps/vibee-ios/Vibee/SignIn.swift
  apps/vibee-ios/Vibee/Theme.swift
  bin/helpers/code-length-copies.py
  bin/tri
  docs/ОЧЕРЕДЬ.md
  src/commands/appLoginCommand.ts
Due: prettier --write, eslint --fix

fix(auth): the iOS app could not be signed into at all, and we did it (#2104)
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/components/Profile/PairWithApp.test.tsx
  apps/vibee-editor/player/src/components/Profile/PairWithApp.tsx
  apps/vibee-editor/render/code-length-agreement.test.ts
  apps/vibee-editor/render/session-routes.ts
  apps/vibee-editor/render/session-store.ts
  apps/vibee-ios/Vibee/Identity.swift
  apps/vibee-ios/Vibee/SignIn.swift
  apps/vibee-ios/Vibee/Theme.swift
  bin/helpers/code-length-copies.py
  bin/tri
  docs/ОЧЕРЕДЬ.md
  src/commands/appLoginCommand.ts
Due: prettier --write, eslint --fix

fix(ios): running the sign-in screen found a copy seven text guards missed
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/components/Profile/PairWithApp.tsx
  apps/vibee-editor/render/autopilot-poster-record.test.ts
  apps/vibee-editor/render/code-length-agreement.test.ts
  apps/vibee-ios/Vibee/SignIn.swift
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

fix(ios): running the sign-in screen found a copy seven text guards missed (#2105)
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/components/Profile/PairWithApp.tsx
  apps/vibee-editor/render/autopilot-poster-record.test.ts
  apps/vibee-editor/render/code-length-agreement.test.ts
  apps/vibee-ios/Vibee/SignIn.swift
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

fix(ios): the missing-simulator message was unreachable from birth
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-ios/run.sh
Due: prettier --write

fix(ios): the missing-simulator message was unreachable from birth (#2106)
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-ios/run.sh
Due: prettier --write

fix(app): the Profile tab was a dead end blaming a signature that had arrived
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/__tests__/profile-redirect.test.tsx
  apps/vibee-editor/player/src/__tests__/telegram-dev-mock.test.ts
  apps/vibee-editor/player/src/lib/telegramDevMock.ts
  apps/vibee-editor/player/src/main.tsx
  apps/vibee-editor/player/vite.config.ts
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

fix(app): the Profile tab was a dead end blaming a signature that had arrived (#2107)
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/__tests__/profile-redirect.test.tsx
  apps/vibee-editor/player/src/__tests__/telegram-dev-mock.test.ts
  apps/vibee-editor/player/src/lib/telegramDevMock.ts
  apps/vibee-editor/player/src/main.tsx
  apps/vibee-editor/player/vite.config.ts
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

feat(tri): tri tma prints the addresses that open the entry screens
  bin/tri
Due: none

feat(tri): tri tma prints the addresses that open the entry screens (#2108)
  bin/tri
Due: none

fix(app): sign-out inside Telegram left the screen contradicting itself
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/__tests__/logout-only-where-it-works.test.tsx
  apps/vibee-editor/player/src/components/Auth/TelegramLoginButton.tsx
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/render/session-store.ts
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

fix(app): sign-out inside Telegram left the screen contradicting itself (#2109)
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/__tests__/logout-only-where-it-works.test.tsx
  apps/vibee-editor/player/src/components/Auth/TelegramLoginButton.tsx
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/render/session-store.ts
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

feat(tri): tri tma also checks the sign-out control is conditional
  bin/tri
Due: none

feat(tri): tri tma also checks the sign-out control is conditional (#2110)
  bin/tri
Due: none

feat(app): the mini app finally takes a session, and says what that does not fix
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/__tests__/launch-session.test.ts
  apps/vibee-editor/player/src/components/Telegram/TelegramProvider.tsx
  apps/vibee-editor/player/src/lib/apiFetch.ts
  apps/vibee-editor/player/src/lib/appSession.ts
  bin/tri
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

feat(app): the mini app finally takes a session, and says what that does not fix (#2111)
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/__tests__/launch-session.test.ts
  apps/vibee-editor/player/src/components/Telegram/TelegramProvider.tsx
  apps/vibee-editor/player/src/lib/apiFetch.ts
  apps/vibee-editor/player/src/lib/appSession.ts
  bin/tri
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

fix(app): the bot promised a window with a code and opened the templates tab
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/__tests__/pair-deep-link.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.tsx
  apps/vibee-editor/player/src/components/Telegram/TelegramProvider.tsx
  apps/vibee-editor/player/src/components/Telegram/__tests__/startParamContract.test.ts
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

fix(app): the bot promised a window with a code and opened the templates tab (#2112)
  .claude/skills/continuous-improvement-loop/SKILL.md
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/__tests__/pair-deep-link.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.tsx
  apps/vibee-editor/player/src/components/Telegram/TelegramProvider.tsx
  apps/vibee-editor/player/src/components/Telegram/__tests__/startParamContract.test.ts
  docs/ОЧЕРЕДЬ.md
Due: prettier --write, eslint --fix

feat(tri): tri shipped asks two different questions -- did it ship, is it used
  bin/helpers/shipped.sh
  bin/tri
Due: none

feat(tri): tri shipped asks two different questions -- did it ship, is it used (#2113)
  bin/helpers/shipped.sh
  bin/tri
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
