Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

loop: cycle 238 - new day, watching factory morning window (#1539)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(image-edit): unlink the orphaned local copy in Qwen + SeedEdit3 (temp-file leak sweep)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/imageEditRemoteDeliverCleanup.test.ts
  src/services/generateQwenImageEdit.ts
  src/services/generateSeedEdit3.ts
Due: prettier --write, eslint --fix

fix(image-edit): unlink the orphaned local copy in Qwen + SeedEdit3 (temp-file leak sweep) (#1540)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/imageEditRemoteDeliverCleanup.test.ts
  src/services/generateQwenImageEdit.ts
  src/services/generateSeedEdit3.ts
Due: prettier --write, eslint --fix

loop: cycle 239 - standby, awaiting factory window
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 239 - standby, awaiting factory window (#1541)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(tri): leaks audit must exclude served /uploads artifacts (not orphans)
  .claude/loop-opus/leaks-audit.mjs
Due: none

fix(tri): leaks audit must exclude served /uploads artifacts (not orphans) (#1542)
  .claude/loop-opus/leaks-audit.mjs
Due: none

fix(neuroPhoto): unlink the orphaned per-image local copy (leak sweep, flagship)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/neuroPhotoDirectTempFileCleanup.test.ts
  src/services/generateNeuroPhotoDirect.ts
Due: prettier --write, eslint --fix

fix(neuroPhoto): unlink the orphaned per-image local copy (leak sweep, flagship) (#1543)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/neuroPhotoDirectTempFileCleanup.test.ts
  src/services/generateNeuroPhotoDirect.ts
Due: prettier --write, eslint --fix

loop: cycle 240 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 240 - standby (#1544)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(ai-reels): align the cost DISPLAY to the Step 6 charge (no over-quote)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/aiReelsRenderDisplayMatchesCharge.test.ts
  src/scenes/lipSyncWizard/ai-reels-render-wizard.ts
Due: prettier --write, eslint --fix

fix(ai-reels): align the cost DISPLAY to the Step 6 charge (no over-quote) (#1545)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/aiReelsRenderDisplayMatchesCharge.test.ts
  src/scenes/lipSyncWizard/ai-reels-render-wizard.ts
Due: prettier --write, eslint --fix

loop: cycle 241 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 241 - standby (#1546)
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(tri): add 'tri ratchet-audit' to meta-check guard quality (+ fix the gap it found)
  .claude/loop-opus/ratchet-audit.mjs
  src/__tests__/reliability/avatarBrainNoHtmlParse.test.ts
  tri
Due: prettier --write, eslint --fix

feat(tri): add 'tri ratchet-audit' to meta-check guard quality (+ fix the gap it found) (#1547)
  .claude/loop-opus/ratchet-audit.mjs
  src/__tests__/reliability/avatarBrainNoHtmlParse.test.ts
  tri
Due: prettier --write, eslint --fix

fix(ton): credit the TON top-up only to the payment owner (block cross-user theft)
  .claude/loop-opus/guards.mjs
  src/__tests__/security/tonPaymentOwnershipGuard.test.ts
  src/scenes/tonNativePaymentScene/index.ts
  src/scenes/tonPaymentScene/index.ts
Due: prettier --write, eslint --fix

fix(ton): credit the TON top-up only to the payment owner (block cross-user theft) (#1548)
  .claude/loop-opus/guards.mjs
  src/__tests__/security/tonPaymentOwnershipGuard.test.ts
  src/scenes/tonNativePaymentScene/index.ts
  src/scenes/tonPaymentScene/index.ts
Due: prettier --write, eslint --fix

loop: cycle 242 - factory awake in window, ton theft closed
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 242 - factory awake in window, ton theft closed (#1549)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 243 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 243 - standby (#1550)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(upscale): consume the image before charging so a stale Upscale button re-tap cannot re-charge (wave-14)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/upscaleImageConsumeBeforeCharge.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

fix(upscale): consume the image before charging so a stale Upscale button re-tap cannot re-charge (wave-14) (#1551)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/upscaleImageConsumeBeforeCharge.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

feat(ios): the model picker drives the generate button
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: none

feat(ios): the model picker drives the generate button (#1552)
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: none

fix(aiPhotoshop): consume the last photo before charging so a stale Upscale-last button re-tap cannot re-charge
  .claude/loop-opus/guards.mjs
  src/__tests__/money/aiPhotoshopUpscaleLastConsumeBeforeCharge.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/aiPhotoshopScene/index.ts
Due: prettier --write, eslint --fix

fix(aiPhotoshop): consume the last photo before charging so a stale Upscale-last button re-tap cannot re-charge (#1553)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/aiPhotoshopUpscaleLastConsumeBeforeCharge.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/aiPhotoshopScene/index.ts
Due: prettier --write, eslint --fix

fix(neurophoto): consume the image before charging so a stale Upscale button re-tap cannot re-charge (+ tri replay)
  .claude/loop-opus/guards.mjs
  .claude/loop-opus/replay-audit.mjs
  src/__tests__/money/upscaleNeuroPhotoConsumeBeforeCharge.test.ts
  src/navigation/registerCommands.ts
  tri
Due: prettier --write, eslint --fix

fix(neurophoto): consume the image before charging so a stale Upscale button re-tap cannot re-charge (+ tri replay) (#1554)
  .claude/loop-opus/guards.mjs
  .claude/loop-opus/replay-audit.mjs
  src/__tests__/money/upscaleNeuroPhotoConsumeBeforeCharge.test.ts
  src/navigation/registerCommands.ts
  tri
Due: prettier --write, eslint --fix

test(ton): ratchet the atomic status-CAS that blocks a TON top-up double-credit mint
  .claude/loop-opus/guards.mjs
  src/__tests__/money/tonCheckAtomicCreditGuard.test.ts
Due: prettier --write, eslint --fix

test(ton): ratchet the atomic status-CAS that blocks a TON top-up double-credit mint (#1555)
  .claude/loop-opus/guards.mjs
  src/__tests__/money/tonCheckAtomicCreditGuard.test.ts
Due: prettier --write, eslint --fix

fix(hero-validation): ring-buffer cap the process-lifetime errorLog static array (slow-OOM guard)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/heroValidationErrorLogBounded.test.ts
  src/services/HeroValidationService.ts
Due: prettier --write, eslint --fix

fix(hero-validation): ring-buffer cap the process-lifetime errorLog static array (slow-OOM guard) (#1556)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/heroValidationErrorLogBounded.test.ts
  src/services/HeroValidationService.ts
Due: prettier --write, eslint --fix

feat(tri): add 'tri mint' -- inventory of every MONEY_INCOME credit + its mint guard
  .claude/loop-opus/mint-audit.mjs
  tri
Due: none

feat(tri): add 'tri mint' -- inventory of every MONEY_INCOME credit + its mint guard (#1557)
  .claude/loop-opus/mint-audit.mjs
  tri
Due: none

fix(aiPhotoshop): guard the dialog status reply so a Markdown 400 cannot drop the edit or lock the dialog
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/aiPhotoshopDialogReplyGuarded.test.ts
  src/scenes/aiPhotoshopScene/index.ts
Due: prettier --write, eslint --fix

fix(aiPhotoshop): guard the dialog status reply so a Markdown 400 cannot drop the edit or lock the dialog (#1558)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/aiPhotoshopDialogReplyGuarded.test.ts
  src/scenes/aiPhotoshopScene/index.ts
Due: prettier --write, eslint --fix

fix(heygen-render): answer the callback spinner on every branch (no ~30s hang)
  .claude/loop-opus/guards.mjs
  src/__tests__/reliability/heygenRenderAnswerCbQuery.test.ts
  src/scenes/lipSyncWizard/heygen-render-wizard.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
