Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

checkpoint: Но опять же ты не так сделал, посмотри в историю изменений пожалуйста
  src/services/competitorMonitoringApiService.ts
Due: prettier --write, eslint --fix

fix: Исправлен запрос парсинга на правильный endpoint Inngest
  src/services/competitorMonitoringApiService.ts
Due: prettier --write, eslint --fix

checkpoint: <session_context> <session_context> Call #1: Us...
  docs/VEO3_ISSUE_REPORT.md
  src/handlers/handleTextToVideoDirect.ts
  src/services/generateTextToVideo.ts
  tests/test-veo3-generation.ts
Due: prettier --write, eslint --fix

🚀 Optimize photo sending: skip URL method for Telegram file URLs
  src/helpers/sendPhotoWithFallback.ts
Due: prettier --write, eslint --fix

fix: Синхронизация package-lock.json для production деплоя
  package-lock.json
Due: prettier --write

fix: Исправлен Docker build - создание .env файла в workflow
  .github/workflows/production-deploy.yml
  Dockerfile
Due: none

fix: Исправлена интеграция Veo 3 видео генерации
  docs/VEO3_FIX_REPORT.md
  src/services/generateTextToVideo.ts
  tests/test-server-endpoints.ts
  tests/test-veo-generation.ts
Due: prettier --write, eslint --fix

fix: Исправлен вызов функции парсинга Instagram на правильное событие
  src/services/generateInstagramScraping.ts
Due: prettier --write, eslint --fix

fix: Исправлен путь к Docker образу в GitHub Container Registry
  .github/workflows/production-deploy.yml
Due: none

fix: Исправлен URL mock видео для корректной отправки в Telegram
  src/services/generateTextToVideo.ts
Due: prettier --write, eslint --fix

feat: Реализована полная интеграция с Kie.ai API для Veo 3
  src/services/generateTextToVideo.ts
  src/services/video-providers/KieAiProvider.ts
  tests/test-veo-with-status.ts
Due: prettier --write, eslint --fix

Fix model training: send URL instead of file stream to AI server
  src/scenes/uploadTrainFluxModelScene/index.ts
  src/services/createModelTraining.ts
Due: prettier --write, eslint --fix

Add @types/node dev dependency for TypeScript compilation
  package-lock.json
  package.json
Due: prettier --write

feat: Реализована защита с Plan A/B для Veo генерации
  src/services/generateTextToVideo.ts
  tests/test-plan-a-b.ts
  tests/test-plan-a-production.ts
Due: prettier --write, eslint --fix

🔧 Исправлен Dockerfile в production: убраны ссылки на удаленные файлы
  Dockerfile
Due: none

�� Добавлен remote-deploy.sh для удаленного деплоя
  remote-deploy.sh
Due: none

📋 Добавлен пример конфигурации для продакшн окружения
  env.production.example
Due: none

🔧 Исправлен путь для загрузки файлов модели
  src/scenes/uploadTrainFluxModelScene/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
