Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

loop: cycle 113 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 113 - standby (#1132)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(feed): scope like/star personalization to the verified viewer, not a query param
  apps/vibee-editor/render/feed-viewer-idor.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(i18n): hero-validation errors follow the user's language, not a stub
  src/__tests__/services/herovalidation-i18n.test.ts
  src/services/HeroValidationService.ts
Due: prettier --write, eslint --fix

fix(feed): scope like/star personalization to the verified viewer, not a query param (#1133)
  apps/vibee-editor/render/feed-viewer-idor.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(i18n): hero-validation errors follow the user's language, not a stub (#1134)
  src/__tests__/services/herovalidation-i18n.test.ts
  src/services/HeroValidationService.ts
Due: prettier --write, eslint --fix

loop: cycle 114 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 114 - standby (#1135)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(privacy): stop logging the biometric training-ZIP public URL
  src/__tests__/scenes/biometric-zip-url-not-logged.test.ts
  src/scenes/uploadTrainFluxModelScene/index.ts
Due: prettier --write, eslint --fix

fix(privacy): stop logging the biometric training-ZIP public URL (#1136)
  src/__tests__/scenes/biometric-zip-url-not-logged.test.ts
  src/scenes/uploadTrainFluxModelScene/index.ts
Due: prettier --write, eslint --fix

fix(training): put the face-photo ZIP in a private bucket with a signed URL
  src/__tests__/scenes/trainingZipPrivateBucket.test.ts
  src/scenes/uploadTrainFluxModelScene/index.ts
Due: prettier --write, eslint --fix

fix(training): put the face-photo ZIP in a private bucket with a signed URL (#1137)
  src/__tests__/scenes/biometric-zip-url-not-logged.test.ts
  src/__tests__/scenes/trainingZipPrivateBucket.test.ts
  src/scenes/uploadTrainFluxModelScene/index.ts
Due: prettier --write, eslint --fix

loop: cycle 115 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 115 - standby (#1138)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(voice): put the voice-training audio in a private bucket with a signed URL
  src/__tests__/scenes/voiceAudioPrivateBucket.test.ts
  src/scenes/voiceTrainingWizard/index.ts
Due: prettier --write, eslint --fix

fix(voice): put the voice-training audio in a private bucket with a signed URL (#1139)
  src/__tests__/scenes/voiceAudioPrivateBucket.test.ts
  src/scenes/voiceTrainingWizard/index.ts
Due: prettier --write, eslint --fix

fix(i18n): derive video-completion language from the user, not hardcoded ru
  src/__tests__/api/video-completion-language-not-hardcoded.test.ts
  src/api_server/routes/ai-reels-callback.routes.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
Due: prettier --write, eslint --fix

fix(i18n): derive video-completion language from the user, not hardcoded ru (#1140)
  src/__tests__/api/video-completion-language-not-hardcoded.test.ts
  src/api_server/routes/ai-reels-callback.routes.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
Due: prettier --write, eslint --fix

loop: cycle 116 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 116 - standby (#1141)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(training): dedup by the column the handler inserts (telegram_id), not user_id
  src/__tests__/inngest/trainingDedupColumn.test.ts
  src/inngest_app/functions/existing/generateModelTrainingFunction.ts
Due: prettier --write, eslint --fix

fix(training): dedup by the column the handler inserts (telegram_id), not user_id (#1142)
  src/__tests__/inngest/trainingDedupColumn.test.ts
  src/inngest_app/functions/existing/generateModelTrainingFunction.ts
Due: prettier --write, eslint --fix

loop: cycle 117 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 117 - standby (#1143)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 118 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 118 - standby (#1144)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(morphing): cap the collected-image count to stop an in-memory OOM crash
  src/__tests__/scenes/morphingImageCap.test.ts
  src/scenes/morphingWizard/index.ts
Due: prettier --write, eslint --fix

fix(morphing): cap the collected-image count to stop an in-memory OOM crash (#1145)
  src/__tests__/scenes/morphingImageCap.test.ts
  src/scenes/morphingWizard/index.ts
Due: prettier --write, eslint --fix

loop: cycle 119 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 119 - standby (#1146)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(ai-photoshop): cap the collected-image count to stop an in-memory OOM crash
  src/__tests__/scenes/aiPhotoshopImageCap.test.ts
  src/scenes/aiPhotoshopScene/index.ts
Due: prettier --write, eslint --fix

fix(ai-photoshop): cap the collected-image count to stop an in-memory OOM crash (#1147)
  src/__tests__/scenes/aiPhotoshopImageCap.test.ts
  src/scenes/aiPhotoshopScene/index.ts
Due: prettier --write, eslint --fix

loop: cycle 120 - daily counter from feed, one truth source
  loop/SKILL.md
  loop/ZCODE_LOOP.md
  loop/regression-check.sh
Due: prettier --write

loop: cycle 120 - daily counter from feed, one truth source (#1148)
  loop/SKILL.md
  loop/ZCODE_LOOP.md
  loop/regression-check.sh
Due: prettier --write

fix(lipsync): deliver via the job's owning bot, not the singleton this.bot
  src/__tests__/core/lipsync/asyncLipsyncCrossBot.test.ts
  src/core/lipsync/async-lipsync-manager.ts
Due: prettier --write, eslint --fix

fix(lipsync): deliver via the job's owning bot, not the singleton this.bot (#1150)
  src/__tests__/core/lipsync/asyncLipsyncCrossBot.test.ts
  src/core/lipsync/async-lipsync-manager.ts
Due: prettier --write, eslint --fix

chore(loop-fable): add crossbot-delivery regression guard
  .claude/loop-fable/audit-crossbot-delivery.mjs
Due: none

chore(loop-fable): add crossbot-delivery regression guard (#1151)
  .claude/loop-fable/audit-crossbot-delivery.mjs
Due: none

loop: cycle 121 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 121 - standby (#1152)
  loop/ZCODE_LOOP.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
