Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(skills): eighteen broken commands were hiding where the checker never looked
  .claude/skills/fix-empty-api-keys/CHANGELOG.md
  .claude/skills/fix-empty-api-keys/README.md
  .claude/skills/fix-empty-api-keys/SKILL.md
  .claude/skills/fix-empty-api-keys/resources/quick-fix.md
  .claude/skills/restore-env-from-infisical/SKILL.md
  .claude/skills/t27-model-training/scripts/report.mjs
  .claude/skills/telegram-bot-expert/SKILL.md
  bin/tri
  scripts/skills-drift.cjs
Due: prettier --write

fix(tri): I wrote a second tri space, and it would have shadowed the first
  .claude/skills/t27-model-training/SKILL.md
  bin/tri
Due: prettier --write

feat(crm): a personal seller -- a pitch and a one-tap Stars invoice, proposed, never sent
  apps/vibee-editor/render/crm-offer.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/an-unreconcilable-invoice-is-visible.test.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/crm-touch-tools.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/src/agent/token-invoice.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/token-invoice.test.ts
Due: prettier --write, eslint --fix

chore(loop): cycle 2 state, blind-guard forms 15-16, tri crm-waiting and crm-pitch
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
  bin/tri
Due: prettier --write

fix(tri): crm-waiting hands the answer to python through the environment, not stdin
  bin/tri
Due: none

feat(igla): score real answers, and the cache that ate 200 MB a minute
  .claude/skills/t27-model-training/scripts/report.mjs
  .claude/skills/t27-model-training/scripts/score-by-execution.mjs
  .claude/skills/t27-model-training/scripts/score-spec-answers.mjs
  bin/tri
Due: none

fix(tri): the root tri now reaches bin/tri, which it never did
  bin/tri
  tri
Due: none

fix(tri): one usage for one typo -- bin/tri stays quiet when the root is asking
  bin/tri
  tri
Due: none

feat(money): the pending payments, triaged before anyone is accused
  scripts/robokassa-reconcile.cjs
  scripts/tri-liveness.cjs
  src/__tests__/money/pendingRowsAreTriagedNotAccused.test.ts
Due: prettier --write, eslint --fix

chore(loop): the two-tri finding, recorded where the next cycle reads first
  .claude/loop-state/crm-loop.md
  .claude/skills/continuous-improvement-loop/SKILL.md
Due: prettier --write

fix(crm): six defects the pre-merge probes found in the personal seller
  apps/vibee-editor/render/crm-offer.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/an-unreconcilable-invoice-is-visible.test.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/src/agent/token-invoice.ts
  apps/vibee-editor/render/token-invoice.test.ts
Due: prettier --write, eslint --fix

fix(crm): the cashier survives a missing DATABASE_URL the way getPool actually fails
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/an-unreconcilable-invoice-is-visible.test.ts
Due: prettier --write, eslint --fix

fix(crm): a lead's display name cannot put its own link above the payment link
  apps/vibee-editor/render/crm-offer.test.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
Due: prettier --write, eslint --fix

feat(money): the pending payments, triaged before anyone is accused (#2216)
  scripts/robokassa-reconcile.cjs
  scripts/tri-liveness.cjs
  src/__tests__/money/pendingRowsAreTriagedNotAccused.test.ts
Due: prettier --write, eslint --fix

fix(crm): the owner wall comes first, a bare number must be a known person, and self is refused
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
Due: prettier --write, eslint --fix

fix(crm): a person, not a place -- channels, groups, bots and zero-led numbers are refused
  apps/vibee-editor/render/crm-offer.test.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
Due: prettier --write, eslint --fix

chore(loop): cycle 2 closed -- what shipped, what was verified live, three options for cycle 3
  .claude/loop-state/crm-loop.md
Due: prettier --write

fix(tri): a tool that reports an error is not a tool that is one
  scripts/tri-liveness.cjs
  src/__tests__/tools/reportingAnErrorIsNotBeingOne.test.ts
Due: prettier --write, eslint --fix

fix(tri): a tool that reports an error is not a tool that is one (#2218)
  scripts/tri-liveness.cjs
  src/__tests__/tools/reportingAnErrorIsNotBeingOne.test.ts
Due: prettier --write, eslint --fix

fix(tri): slow is not broken, and the sweep now says so
  scripts/tri-liveness.cjs
  src/__tests__/tools/reportingAnErrorIsNotBeingOne.test.ts
Due: prettier --write, eslint --fix

feat(igla): a relevance column with a middle, and a report that stops lying by omission
  .claude/skills/t27-model-training/scripts/score-spec-answers.mjs
  scripts/skills-drift.cjs
Due: none

fix(tri): slow is not broken, and the sweep now says so (#2219)
  scripts/tri-liveness.cjs
  src/__tests__/tools/reportingAnErrorIsNotBeingOne.test.ts
Due: prettier --write, eslint --fix

fix(render): the factory stopped 382 hours ago and nothing said so
  apps/vibee-editor/render/autopilot-supervisor-survives.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): the factory stopped 382 hours ago and nothing said so (#2220)
  apps/vibee-editor/render/autopilot-supervisor-survives.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(skills): every broken address closed, and the measure that punished the fix
  .claude/skills/ai-pipeline-orchestration/SKILL.md
  .claude/skills/code-quality-guardian/SKILL.md
  .claude/skills/docker-testing-expert/SKILL.md
  .claude/skills/ecosystem-monitor/SKILL.md
  .claude/skills/git-workflow/SKILL.md
  .claude/skills/infisical-secrets/SKILL.md
  .claude/skills/production-deployment/SKILL.md
  .claude/skills/tdd-automation/SKILL.md
  .claude/skills/telegram-bot-expert/SKILL.md
  .claude/skills/version-management/SKILL.md
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/skills-drift.cjs
Due: prettier --write

fix(tri): the alarm was wrong, not the factory
  src/__tests__/tools/theAlarmNamesTheLikeliestCauseFirst.test.ts
  tri
Due: prettier --write, eslint --fix

feat(crm): the door opens to clients, and every reader hangs up
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/telegram-tools-boundary.test.ts
  apps/vibee-editor/render/telegram-tools-sockets.test.ts
  apps/vibee-editor/render/tg-unanswered.test.ts
Due: prettier --write, eslint --fix

fix(tri): the alarm was wrong, not the factory (#2221)
  src/__tests__/tools/theAlarmNamesTheLikeliestCauseFirst.test.ts
  tri
Due: prettier --write, eslint --fix

feat(crm): the door opens to clients, and every reader hangs up (#2222)
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/telegram-tools-boundary.test.ts
  apps/vibee-editor/render/telegram-tools-sockets.test.ts
  apps/vibee-editor/render/tg-unanswered.test.ts
Due: prettier --write, eslint --fix

fix(igla): the harness was manufacturing the failure class it then reported
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/scripts/score-by-execution.mjs
Due: prettier --write

feat(product): where a first visit ends, measured and split by cohort
  scripts/first-visit.cjs
  src/__tests__/money/theTwoCohortsAreReadApart.test.ts
  tri
Due: prettier --write, eslint --fix

feat(product): where a first visit ends, measured and split by cohort (#2223)
  scripts/first-visit.cjs
  src/__tests__/money/theTwoCohortsAreReadApart.test.ts
  tri
Due: prettier --write, eslint --fix

feat(product): what the first generation was on, and whether they came back
  scripts/first-visit.cjs
  scripts/lib/require-columns.cjs
  src/__tests__/money/whatTheFirstGenerationWasOn.test.ts
Due: prettier --write, eslint --fix

feat(product): what the first generation was on, and whether they came back (#2224)
  scripts/first-visit.cjs
  scripts/lib/require-columns.cjs
  src/__tests__/money/whatTheFirstGenerationWasOn.test.ts
Due: prettier --write, eslint --fix

fix(gate): say WHY a file produced no tests, instead of blaming the tests
  scripts/test-gate.cjs
  src/__tests__/tools/theGateSaysWhyAFileProducedNothing.test.ts
Due: prettier --write, eslint --fix

fix(gate): say WHY a file produced no tests, instead of blaming the tests (#2225)
  scripts/test-gate.cjs
  src/__tests__/tools/theGateSaysWhyAFileProducedNothing.test.ts
Due: prettier --write, eslint --fix

feat(crm): the card names the person, and a cancelled offer un-pends its invoice
  apps/vibee-editor/render/crm-offer.test.ts
  apps/vibee-editor/render/invoice-orphans.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/an-unreconcilable-invoice-is-visible.test.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/crm-touch-tools.ts
  apps/vibee-editor/render/src/agent/invoice-orphans.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/src/agent/token-invoice.ts
  apps/vibee-editor/render/tg-proposals.test.ts
  apps/vibee-editor/render/token-invoice.test.ts
  bin/tri
  src/__tests__/bot/nothingSendsWithoutAPress.test.ts
  src/services/telegramProposals.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

fix(tri): the total was visible every run; the culprit was not
  bin/tri
Due: none

fix(gate): the snapshot must not forget what the run could not measure
  scripts/test-gate.cjs
  src/__tests__/tools/theSnapshotKeepsWhatItCouldNotMeasure.test.ts
Due: prettier --write, eslint --fix

fix(gate): the snapshot must not forget what the run could not measure (#2227)
  scripts/test-gate.cjs
  src/__tests__/tools/theSnapshotKeepsWhatItCouldNotMeasure.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
