Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

loop: отчёт цикла №155 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(блог): потолок 30с на RSS-fetch + ретрай зонда (виток №157: апстрим 7.2с давал ложный FAIL)
  apps/vibee-editor/render/render-server.ts
  loop/.zcode-heartbeat
  loop/regression-check.sh
Due: prettier --write, eslint --fix

fix(агент): фон при смене вкладок, вёрстка ответов и переписка переживает сброс
  apps/vibee-editor/player/src/components/Chat/ChatAssets.css
  apps/vibee-editor/player/src/components/Chat/ChatAssets.tsx
  apps/vibee-editor/player/src/lib/agentStream.ts
  apps/vibee-editor/player/src/main.tsx
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: prettier --write, eslint --fix

fix(агент): фон при смене вкладок, вёрстка ответов и переписка переживает сброс (#714)
  apps/vibee-editor/player/src/components/Chat/ChatAssets.css
  apps/vibee-editor/player/src/components/Chat/ChatAssets.tsx
  apps/vibee-editor/player/src/lib/agentStream.ts
  apps/vibee-editor/player/src/main.tsx
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: prettier --write, eslint --fix

fix(лента): перенос длинных слов — URL и хэштеги вылезали за карточки
  apps/vibee-editor/player/src/components/Feed/VerticalFeedItem.css
  apps/vibee-editor/player/src/components/Panels/FeedPanel.css
Due: none

fix(агент): запасной путь остался внутри z.ai, OpenAI больше не обязателен
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/provider.ts
Due: prettier --write, eslint --fix

fix(агент): запасной путь остался внутри z.ai, OpenAI больше не обязателен (#716)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/provider.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №158 — фикс верстки карточек (PR #715)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/state.json
Due: prettier --write

loop: чужие правки скилла + state автопилота
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

feat(агентность): агент проверяет провайдеров, прежде чем обещать
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

feat(агентность): агент проверяет провайдеров, прежде чем обещать (#717)
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

chore(deploy-probe): маркер в index.html — проверка, что сборка vibee-editor жива (CSS #715 не дошёл за 2.5ч)
  apps/vibee-editor/player/index.html
Due: none

loop: сердцебиение
  loop/.zcode-heartbeat
Due: none

docs(скилл): поиск аномалий первой командой витка и шпаргалка команд
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): поиск аномалий первой командой витка и шпаргалка команд (#719)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: правка скилла продуктового лупа
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

chore(css-probe): маркер в index.css — HTML-деплой жив (маркер #718 прошёл), а CSS-хэш стагнирует
  apps/vibee-editor/player/src/index.css
Due: none

loop: отчёт цикла №159 — фикс верстки подтверждён на проде, опыт №32
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write

loop: отчёт цикла №160 — пост 3/4
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №161 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №162 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №163 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(навигация): на широком экране одна навигация вместо двух
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.css
Due: none

loop: отчёт цикла №164 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(навигация): на широком экране одна навигация вместо двух (#721)
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.css
Due: none

loop: отчёт цикла №165 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №167 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №168 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №170 юбилейный
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №171 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(загрузка): вместо чёрного экрана — сообщение и один автоповтор
  apps/vibee-editor/player/index.html
Due: none

fix(загрузка): вместо чёрного экрана — сообщение и один автоповтор (#722)
  apps/vibee-editor/player/index.html
Due: none

loop: отчёт цикла №172 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

docs(скилл): мутационная проверка запасного экрана и различающий замер
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): мутационная проверка запасного экрана и различающий замер (#723)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №173 — день 4/4, b-roll системно падает
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

perf(сборка): значки одним файлом — чанков 45 → 21, запросов на холодную меньше на 24
  apps/vibee-editor/player/vite.config.ts
Due: prettier --write, eslint --fix

perf(сборка): значки одним файлом — чанков 45 → 21, запросов на холодную меньше на 24 (#724)
  apps/vibee-editor/player/vite.config.ts
Due: prettier --write, eslint --fix

fix(рендер): IPv4-first для fetch — ETIMEDOUT AggregateError убивал b-roll два дня
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №174 — корень b-roll починен (ipv4first)
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write
