Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: one command that checks release readiness without CI
  CLAUDE.md
  package.json
  scripts/verify.cjs
Due: prettier --write

fix(бот+мини-апп): text-to-video доставка + dev-режим только админам
  apps/vibee-editor/player/src/config/admin.ts
  apps/vibee-editor/player/src/lib/generateApi.ts
  src/handlers/handleTextToVideoDirect.ts
Due: prettier --write, eslint --fix

feat(tri): a CLI where the hard-won lessons are commands, not prose
  tri
Due: none

feat(tri): a CLI where the hard-won lessons are commands, not prose (#931)
  tri
Due: none

fix(бот+мини-апп): text-to-video доставка + dev-режим только админам (#932)
  apps/vibee-editor/player/src/config/admin.ts
  apps/vibee-editor/player/src/lib/generateApi.ts
  src/handlers/handleTextToVideoDirect.ts
Due: prettier --write, eslint --fix

fix: the Profile tab showed the feed, and the code field took no focus
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-ios/Vibee/SignIn.swift
Due: none

fix: the Profile tab showed the feed, and the code field took no focus (#933)
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-ios/Vibee/SignIn.swift
Due: none

loop: цикл №248 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(ios): the editor is native — 3,943 lines of written engine were wired to nothing
  apps/vibee-ios/Vibee/VibeeApp.swift
Due: none

feat(ios): the editor is native — 3,943 lines of written engine were wired to nothing (#934)
  apps/vibee-ios/Vibee/VibeeApp.swift
Due: none

chore: drop four report commands that could never run
  package.json
  scripts/financial/generateFinancialReport.ts
  scripts/financial/testExcelGenerator.ts
Due: prettier --write, eslint --fix

fix(обучение): подключить обработчик завершения тренировки модели
  src/__tests__/inngest/registration.test.ts
  src/inngest_app/registerFunctions.ts
Due: prettier --write, eslint --fix

feat(ios): the Profile tab is native — the last screen that was guaranteed wrong
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/Vibee/Identity.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: none

feat(ios): the Profile tab is native — the last screen that was guaranteed wrong (#936)
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/Vibee/Identity.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: none

docs(skill): two of my own recorded facts were refuted, and one root cause found
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): two of my own recorded facts were refuted, and one root cause found (#937)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: цикл №249 — дежурство: граница разноса отработала строго
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

chore(lefthook): block Cyrillic in code comments and commit messages
  lefthook.yml
  scripts/no-cyrillic-guard.cjs
Due: none

fix(обучение): подключить обработчик завершения тренировки модели (#935)
  src/__tests__/inngest/registration.test.ts
  src/inngest_app/registerFunctions.ts
Due: prettier --write, eslint --fix

chore(lefthook): block Cyrillic in code comments and commit messages (#938)
  lefthook.yml
  scripts/no-cyrillic-guard.cjs
Due: none

docs(skill): the mirror of an orphan event — a live sender with no subscriber
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): the mirror of an orphan event — a live sender with no subscriber (#939)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: цикл №250 — юбилейный: пост 3/4 по расписанию, вечером b-roll-дебют
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/state.json
Due: prettier --write

fix(tri): refuse to measure a stale working copy instead of answering wrongly
  tri
Due: none

fix(tri): refuse to measure a stale working copy instead of answering wrongly (#940)
  tri
Due: none

fix(auth): a wrong verb answered 404, telling the client to fix the wrong thing
  apps/vibee-editor/render/pairing-e2e.test.ts
  apps/vibee-editor/render/session-routes.ts
Due: prettier --write, eslint --fix

fix(auth): a wrong verb answered 404, telling the client to fix the wrong thing (#941)
  apps/vibee-editor/render/pairing-e2e.test.ts
  apps/vibee-editor/render/session-routes.ts
Due: prettier --write, eslint --fix

feat(ios): make the AI tab native, removing the last WebScreen
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/VibeeApp.swift
  apps/vibee-ios/Vibee/WebScreen.swift
Due: none

feat(ios): make the AI tab native, removing the last WebScreen (#942)
  apps/vibee-ios/Vibee/GenerateScreen.swift
  apps/vibee-ios/Vibee/VibeeApp.swift
  apps/vibee-ios/Vibee/WebScreen.swift
Due: none

feat(ios): give the native feed the actions it never had
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/FeedView.swift
Due: none

feat(ios): give the native feed the actions it never had (#943)
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/FeedView.swift
Due: none

loop: цикл №251 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/state.json
Due: prettier --write

style: write this branch's own comments in English
  packages/plugin-neurophoto/src/__tests__/actions/generateImage.test.ts
  scripts/bun-test-env.ts
  scripts/check-dead-domain.cjs
  scripts/financial/generateFinancialReport.ts
  scripts/financial/testExcelGenerator.ts
  scripts/verify.cjs
  src/__tests__/ai-reels-fal-integration.test.ts
  src/__tests__/ai-reels-fal-provider.test.ts
  src/__tests__/fal-debug.test.ts
  src/__tests__/fal-markup-verification.test.ts
  src/__tests__/fal-pricing-update.test.ts
  src/__tests__/fal-veed-fabric-integration.test.ts
  src/__tests__/fal-veed-fabric-provider.test.ts
  src/__tests__/fal-veed-fabric-simple.test.ts
  src/__tests__/money/referral-reward.test.ts
  src/__tests__/scenes/lipsyncZodValidation.test.ts
  src/__tests__/services/ai-models.test.ts
  src/api_server/routes/diagnostic.routes.ts
  src/helpers/uploadTelegramFileLocal.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

feat(editor): give the native editor real projects instead of a hardcoded demo
  .claude/loop-opus/check-routes.mjs
  apps/vibee-editor/render/package.json
  apps/vibee-editor/render/project-routes.test.ts
  apps/vibee-editor/render/project-routes.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/vitest.config.mts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/VibeeApp.swift
Due: prettier --write, eslint --fix

feat(editor): give the native editor real projects instead of a hardcoded demo (#944)
  .claude/loop-opus/check-routes.mjs
  apps/vibee-editor/render/package.json
  apps/vibee-editor/render/project-routes.test.ts
  apps/vibee-editor/render/project-routes.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/vitest.config.mts
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/VibeeApp.swift
Due: prettier --write, eslint --fix

fix(nav): AI Reels menu entered a scene id that does not exist
  src/interfaces/modes.ts
Due: prettier --write, eslint --fix

loop: цикл №252 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(nav): AI Reels menu entered a scene id that does not exist (#946)
  src/interfaces/modes.ts
Due: prettier --write, eslint --fix

chore(ci): stop two redundant/broken deploy workflows from auto-running
  .github/workflows/deploy.yml
  .github/workflows/railway-deploy.yml
Due: none

chore(ci): stop two redundant/broken deploy workflows from auto-running (#947)
  .github/workflows/deploy.yml
  .github/workflows/railway-deploy.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
