Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

loop: виток №50 — дежурство, main на TestFlight (#806)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: цикл №224 — триаж зависимостей: remotion RCE — приоритет №1
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №51 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(ios): native render engine — Core Animation instead of Remotion
  apps/vibee-ios/Vibee/Animation.swift
  apps/vibee-ios/Vibee/LayerBuilder.swift
  apps/vibee-ios/Vibee/NativeRenderer.swift
  apps/vibee-ios/Vibee/PreviewView.swift
Due: none

feat(ios): native render engine — Core Animation instead of Remotion (#816)
  apps/vibee-ios/Vibee/Animation.swift
  apps/vibee-ios/Vibee/LayerBuilder.swift
  apps/vibee-ios/Vibee/NativeRenderer.swift
  apps/vibee-ios/Vibee/PreviewView.swift
Due: none

loop: виток №52 — дежурство, iOS на Core Animation (#816)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: цикл №225 — remotion 4.0.518: RCE закрыт, живой рендер подтверждён
  apps/vibee-editor/render/package-lock.json
  apps/vibee-editor/render/package.json
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №53 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: цикл №227 — tfjs-node удалён: аудит рендера 0 уязвимостей
  apps/vibee-editor/render/package-lock.json
  apps/vibee-editor/render/package.json
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(ios): three severe render-engine defects — export was a black frame
  apps/vibee-ios/Vibee/LayerBuilder.swift
  apps/vibee-ios/Vibee/NativeRenderer.swift
  apps/vibee-ios/Vibee/PreviewView.swift
Due: none

fix(ios): three severe render-engine defects — export was a black frame (#821)
  apps/vibee-ios/Vibee/LayerBuilder.swift
  apps/vibee-ios/Vibee/NativeRenderer.swift
  apps/vibee-ios/Vibee/PreviewView.swift
Due: none

loop: виток №54 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(ios): numeric parity check — Swift spring vs Remotion, frame by frame
  apps/vibee-ios/parity/check.sh
  apps/vibee-ios/parity/main.swift
  apps/vibee-ios/parity/ref.js
Due: none

feat(ios): numeric parity check — Swift spring vs Remotion, frame by frame (#823)
  apps/vibee-ios/parity/check.sh
  apps/vibee-ios/parity/main.swift
  apps/vibee-ios/parity/ref.js
Due: none

loop: цикл №228 — player на remotion 4.0.518: RCE-линия закрыта и на фронте
  apps/vibee-editor/player/package-lock.json
  apps/vibee-editor/player/package.json
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(ios): easing clamps — circle returned NaN where Remotion returns 1
  apps/vibee-ios/Vibee/Animation.swift
  apps/vibee-ios/parity/check.sh
  apps/vibee-ios/parity/main.swift
  apps/vibee-ios/parity/ref.js
Due: none

fix(ios): easing clamps — circle returned NaN where Remotion returns 1 (#824)
  apps/vibee-ios/Vibee/Animation.swift
  apps/vibee-ios/parity/check.sh
  apps/vibee-ios/parity/main.swift
  apps/vibee-ios/parity/ref.js
Due: none

loop: виток №55 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(ios): one fps, and extrapolateRight defaults to extend like Remotion
  apps/vibee-ios/Vibee/Animation.swift
Due: none

fix(ios): one fps, and extrapolateRight defaults to extend like Remotion (#826)
  apps/vibee-ios/Vibee/Animation.swift
Due: none

loop: цикл №229 — боты: critical закрыт (axios/hono/overrides), security-арка трёх сервисов завершена
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  package-lock.json
  package.json
Due: prettier --write

fix(security): sync-from-telegram trusted an unsigned header
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(security): sync-from-telegram trusted an unsigned header (#827)
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: виток №56 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(auth): app session module — short access token, rotating refresh
  apps/vibee-editor/render/session.test.ts
  apps/vibee-editor/render/session.ts
Due: prettier --write, eslint --fix

feat(auth): app session module — short access token, rotating refresh (#829)
  apps/vibee-editor/render/session.test.ts
  apps/vibee-editor/render/session.ts
Due: prettier --write, eslint --fix

loop: виток №57 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: цикл №231 — тесты бэкенда: правки чисты, фон миграции размечен
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №58 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: цикл №232 — тест-env для юнитов: 22 падения возвращены зелёным
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  vitest.config.ts
  vitest.setup.ts
Due: prettier --write, eslint --fix

loop: виток №59 — латентность ушла, 77👁
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: цикл №233 — UX: отсутствие голоса даёт понятную /voice-подсказку вместо общей ошибки
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  src/scenes/lipSyncWizard/ai-reels-wizard.ts
Due: prettier --write, eslint --fix

loop: виток №60 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(ии): page height and a visible scroll affordance
  apps/vibee-editor/player/src/pages/Generate.css
Due: none

fix(ии): page height and a visible scroll affordance (#834)
  apps/vibee-editor/player/src/pages/Generate.css
Due: none

loop: виток №61 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №62 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(types): jotai was installed twice — setters inferred as `never`
  apps/vibee-editor/packages/vibee-atoms/package.json
  scripts/check-player-types.cjs
Due: prettier --write

fix(types): jotai was installed twice — setters inferred as `never` (#838)
  apps/vibee-editor/packages/vibee-atoms/package.json
  scripts/check-player-types.cjs
Due: prettier --write

loop: виток №63 — латентность колеблется, наблюдение
  loop/ZCODE_LOOP.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
