Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

test(scenes): ratchet that paid wizards keep their in-flight guard
  src/__tests__/scenes/paid-wizard-guard-ratchet.test.ts
Due: prettier --write, eslint --fix

test(scenes): ratchet that paid wizards keep their in-flight guard (#1113)
  src/__tests__/scenes/paid-wizard-guard-ratchet.test.ts
Due: prettier --write, eslint --fix

loop: cycle 109 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 109 - standby (#1114)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(notifications): actually increment attempts so a failed message stops retrying
  src/__tests__/handlers/notificationRetryCap.test.ts
  src/handlers/notificationHandler.ts
Due: prettier --write, eslint --fix

fix(notifications): actually increment attempts so a failed message stops retrying (#1115)
  src/__tests__/handlers/notificationRetryCap.test.ts
  src/handlers/notificationHandler.ts
Due: prettier --write, eslint --fix

test(loop): the alarm, the gate and the deploy check could not fail
  .claude/loop-opus/.gitignore
  .claude/loop-opus/anomalies-fake.mjs
  .claude/loop-opus/anomalies-keys.mjs
  .claude/loop-opus/anomalies-selftest.mjs
  .claude/loop-opus/anomalies.mjs
  .claude/loop-opus/fixtures/landed-empty.json
  .claude/loop-opus/fixtures/landed-lost.json
  .claude/loop-opus/fixtures/verify-quiet.mjs
  .claude/loop-opus/verify-landed.mjs
  tri
Due: prettier --write

test(loop): the alarm, the gate and the deploy check could not fail (#1116)
  .claude/loop-opus/.gitignore
  .claude/loop-opus/anomalies-fake.mjs
  .claude/loop-opus/anomalies-keys.mjs
  .claude/loop-opus/anomalies-selftest.mjs
  .claude/loop-opus/anomalies.mjs
  .claude/loop-opus/fixtures/landed-empty.json
  .claude/loop-opus/fixtures/landed-lost.json
  .claude/loop-opus/fixtures/verify-quiet.mjs
  .claude/loop-opus/verify-landed.mjs
  tri
Due: prettier --write

fix(autopilot): the day counter and topic cursor died with every deploy
  apps/vibee-editor/render/autopilot-pool-error.test.ts
  apps/vibee-editor/render/autopilot-sql-shape.test.ts
  apps/vibee-editor/render/autopilot-startable.test.ts
  apps/vibee-editor/render/autopilot-state.test.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/autopilot-state.ts
Due: prettier --write, eslint --fix

fix(autopilot): the day counter and topic cursor died with every deploy (#1117)
  apps/vibee-editor/render/autopilot-pool-error.test.ts
  apps/vibee-editor/render/autopilot-sql-shape.test.ts
  apps/vibee-editor/render/autopilot-startable.test.ts
  apps/vibee-editor/render/autopilot-state.test.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/autopilot-state.ts
Due: prettier --write, eslint --fix

docs(loop): cycle 228 -- three lessons about checks that report on themselves
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

docs(loop): cycle 228 -- three lessons about checks that report on themselves (#1118)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(agent): Telegram tools over MTProto, reading and acting kept apart (#1104)
  apps/vibee-editor/render/package.json
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/telegram-tools-boundary.test.ts
  apps/vibee-ios/Vibee/AgentChatView.swift
Due: prettier --write, eslint --fix

feat(bot): /app mints the sign-in code the iOS app has been asking for (#1112)
  src/__tests__/app-login-command.test.ts
  src/commands/appLoginCommand.ts
  src/navigation/registerCommands.ts
  src/setCommands.ts
Due: prettier --write, eslint --fix

fix(ios): main did not build -- a theme token name truncated at a Cyrillic ё
  apps/vibee-ios/Vibee/AgentChatView.swift
Due: none

fix(ios): main did not build -- a theme token name truncated at a Cyrillic ё (#1119)
  apps/vibee-ios/Vibee/AgentChatView.swift
Due: none

fix(training): reject an invalid steps count in the served handler (defense-in-depth)
  src/__tests__/inngest/trainingServedStepsGuard.test.ts
  src/inngest_app/functions/existing/generateModelTrainingFunction.ts
Due: prettier --write, eslint --fix

fix(training): reject an invalid steps count in the served handler (defense-in-depth) (#1120)
  src/__tests__/inngest/trainingServedStepsGuard.test.ts
  src/inngest_app/functions/existing/generateModelTrainingFunction.ts
Due: prettier --write, eslint --fix

fix(video): stop the status poller from piling up overlapping/hung requests
  src/__tests__/handlers/video-poller-pileup.test.ts
  src/handlers/handleTextToVideoDirect.ts
  src/services/generateTextToVideo.ts
Due: prettier --write, eslint --fix

chore(format): fix prettier indentation in setCommands.ts to unbreak the gate
  src/setCommands.ts
Due: prettier --write, eslint --fix

chore(format): fix prettier indentation in setCommands.ts to unbreak the gate (#1121)
  src/setCommands.ts
Due: prettier --write, eslint --fix

fix(video): stop the status poller from piling up overlapping/hung requests (#1122)
  src/__tests__/handlers/video-poller-pileup.test.ts
  src/handlers/handleTextToVideoDirect.ts
  src/services/generateTextToVideo.ts
Due: prettier --write, eslint --fix

chore(db): prepare the deduct_balance (#999) and increment_attempts (#1115) RPCs
  docs/owner/atomic-rpcs.md
  sql/migrations/20260829_deduct_balance_rpc.sql
  sql/migrations/20260829_increment_attempts_rpc.sql
Due: prettier --write

fix(billing): make the delivered-video charge idempotent per job
  src/__tests__/api/sora-webhook-idempotent-charge.test.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
Due: prettier --write, eslint --fix

chore(db): prepare deduct_balance (#999) and increment_attempts (#1115) RPCs (owner to apply) (#1123)
  docs/owner/atomic-rpcs.md
  sql/migrations/20260829_deduct_balance_rpc.sql
  sql/migrations/20260829_increment_attempts_rpc.sql
Due: prettier --write

fix(billing): make the delivered-video charge idempotent per job (#1124)
  src/__tests__/api/sora-webhook-idempotent-charge.test.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
Due: prettier --write, eslint --fix

loop: cycles 110-111 - idempotent video charge, standby
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(neurophoto-v2): guard a missing userModel instead of crashing the step
  src/__tests__/scenes/neurophoto-v2-usermodel-guard.test.ts
  src/scenes/neuroPhotoWizardV2/index.ts
Due: prettier --write, eslint --fix

loop: cycles 110-111 - idempotent video charge, standby (#1125)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(neurophoto-v2): guard a missing userModel instead of crashing the step (#1126)
  src/__tests__/scenes/neurophoto-v2-usermodel-guard.test.ts
  src/scenes/neuroPhotoWizardV2/index.ts
Due: prettier --write, eslint --fix

fix(aicover): don't mint stars — refund only a charge that actually happened
  src/__tests__/scenes/aiCoverRefundMint.test.ts
  src/scenes/aiCoverWizard/index.ts
Due: prettier --write, eslint --fix

fix(aicover): don't mint stars — refund only a charge that actually happened (#1127)
  src/__tests__/scenes/aiCoverRefundMint.test.ts
  src/scenes/aiCoverWizard/index.ts
Due: prettier --write, eslint --fix

loop: cycle 112 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 112 - standby (#1128)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(business): keep an untrusted sender name out of the LLM system prompt
  src/__tests__/services/businessPromptInjection.test.ts
  src/services/businessBotService.ts
Due: prettier --write, eslint --fix

fix(business): keep an untrusted sender name out of the LLM system prompt (#1129)
  src/__tests__/services/businessPromptInjection.test.ts
  src/services/businessBotService.ts
Due: prettier --write, eslint --fix

fix(neurophoto): refund a delivery failure, not only a generation failure
  src/__tests__/services/neurophoto-direct-refund-on-delivery.test.ts
  src/services/generateNeuroPhotoDirect.ts
Due: prettier --write, eslint --fix

fix(neurophoto): refund a delivery failure, not only a generation failure (#1130)
  src/__tests__/services/neurophoto-direct-refund-on-delivery.test.ts
  src/services/generateNeuroPhotoDirect.ts
Due: prettier --write, eslint --fix

fix(neurophoto): check the delivery-refund result (unblock the money ratchet)
  src/services/generateNeuroPhotoDirect.ts
Due: prettier --write, eslint --fix

fix(neurophoto): check the delivery-refund result (unblock the money ratchet) (#1131)
  src/services/generateNeuroPhotoDirect.ts
Due: prettier --write, eslint --fix
