Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Улучшен скрипт запуска тестов платежной системы с поддержкой категорий тестов
  .env.test
  Dockerfile.test
  PAYMENT-TESTS-README.md
  docker-compose.test.yml
  run-tests.sh
  src/core/elevenlabs/index.ts
  src/localizations/en/chats.json
  src/localizations/en/common.json
  src/localizations/ru/chats.json
  src/localizations/ru/common.json
  src/test-utils/setup.ts
  src/test-utils/test-config.ts
  src/test-utils/tests/payment/paymentProcessorTest.ts
  src/test-utils/types/global.d.ts
  src/types/modes.ts
Due: prettier --write, eslint --fix

docker
  docker-compose.yml
  nginx/nginx.conf
  src/interfaces/payments.interface.ts
  src/localizations/en/chats.json
  src/localizations/en/common.json
  src/localizations/ru/chats.json
  src/localizations/ru/common.json
  src/test-utils/tests/payment/PaymentTester.ts
  src/test-utils/tests/payment/balance.test.ts
  src/test-utils/tests/payment/paymentProcessorTest.ts
Due: prettier --write, eslint --fix

fix
  Dockerfile
  README-server.md
  docker-compose.yml
  nginx/conf.d/default.conf
  nginx/nginx.conf
  scripts/check-env.js
  src/localizations/en/features.json
  src/localizations/ru/features.json
  src/test-utils/tests/payment/balance.test.ts
Due: prettier --write, eslint --fix

Исправлена несогласованность в именах переменных окружения Supabase. SUPABASE_ANON_KEY заменен на SUPABASE_KEY, добавлен дополнительный supabaseClient.
  src/config/index.ts
  src/core/supabase/index.ts
Due: prettier --write, eslint --fix

fix
  docker-compose.yml
Due: none

Исправлена конфигурация nginx для локальной разработки. Отключен HTTPS для разработки.
  nginx/conf.d/default.conf
Due: none

SUPABASE_SERVICE_KEY
  .github/workflows/ci.yml
  DOCKER.md
  README-server.md
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
  nginx/conf.d/api.conf
  nginx/conf.d/default.conf
  nginx/nginx.conf
  scripts/check-env.js
  src/config/index.ts
  src/config/test.ts
  src/core/supabase/getUserBalance.ts
  src/core/supabase/index.ts
  src/supabase.ts
  src/test-utils/core/setup.ts
  src/test-utils/helpers/users.ts
  src/test-utils/tests/payment/balance.test.ts
  src/types/tests.ts
Due: prettier --write, eslint --fix

SUPABASE_SERVICE_KEY
  .env.test
  .github/workflows/ci.yml
  DOCKER.md
  README-server.md
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
  nginx/conf.d/api.conf
  nginx/conf.d/default.conf
  nginx/nginx.conf
  scripts/check-env.js
  src/config/index.ts
  src/config/test.ts
  src/core/supabase/getUserBalance.ts
  src/core/supabase/index.ts
  src/supabase.ts
  src/test-utils/core/setup.ts
  src/test-utils/helpers/users.ts
  src/test-utils/tests/payment/balance.test.ts
  src/types/tests.ts
Due: prettier --write, eslint --fix

docs: add comprehensive Robokassa payment system documentation
  docs/PAYMENT_ROBOKASSA.md
Due: prettier --write

fix
  Dockerfile
  default.conf.fixed
  nginx/conf.d/api.conf
  src/interfaces/payments.interface.ts
  src/test-utils/tests/payment/balance.test.ts
  src/utils/bot.ts
Due: prettier --write, eslint --fix

fix bill
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/core/supabase/generateUniqueInvoiceId.ts
  src/scenes/getRuBillWizard/helper.ts
  src/scenes/getRuBillWizard/index.ts
  src/scenes/paymentScene/index.ts
  src/test-utils/core/runTests.ts
  src/test-utils/mocks/botMock.ts
  src/test-utils/mocks/index.ts
  src/test-utils/mocks/inngestMock.ts
  src/test-utils/mocks/supabase.ts
  src/test-utils/roadmap.md
  src/test-utils/tests/helloWorld.test.ts
  src/test-utils/tests/payment/duplicateInvoiceId.test.ts
  src/test-utils/tests/payment/index.ts
  src/test-utils/tests/payment/robokassaFormValidator.test.ts
Due: prettier --write, eslint --fix

fix bill
  .env.dev
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/core/supabase/generateUniqueInvoiceId.ts
  src/scenes/getRuBillWizard/helper.ts
  src/scenes/getRuBillWizard/index.ts
  src/scenes/paymentScene/index.ts
  src/test-utils/core/runTests.ts
  src/test-utils/mocks/botMock.ts
  src/test-utils/mocks/index.ts
  src/test-utils/mocks/inngestMock.ts
  src/test-utils/mocks/supabase.ts
  src/test-utils/roadmap.md
  src/test-utils/tests/helloWorld.test.ts
  src/test-utils/tests/payment/duplicateInvoiceId.test.ts
  src/test-utils/tests/payment/index.ts
  src/test-utils/tests/payment/robokassaFormValidator.test.ts
Due: prettier --write, eslint --fix

fix bill
  package.json
  src/localizations/ru/bot.json
Due: prettier --write

fix
  Dockerfile
  default.conf.fixed
  docker-compose.yml
  package-lock.json
  package.json
Due: prettier --write

fix
  docker-compose.prod.yml
  docker-compose.yml
Due: none

Fix logger imports and Docker build process
  fix-imports.sh
  fix-logger-imports.sh
  fix-path-in-config.sh
  src/config/index.ts
  src/utils/logger.ts
  update-docker.sh
Due: prettier --write, eslint --fix

clean
  fix-logger-imports.sh
  src/scenes/neuroPhotoWizard/index.ts
  src/scenes/neuroPhotoWizardV2/index.ts
  src/scripts/fix-dist-imports.sh
  src/scripts/fix-dist-manually.sh
  src/scripts/fix-imports.sh
  src/scripts/fix-path-in-config.sh
  update-docker.sh
Due: prettier --write, eslint --fix

bugfix
  Dockerfile
  docker-compose.yml
  nginx.conf
  nginx/conf.d/default.conf
  nginx/nginx.conf
  package.json
  src/test-utils/core/InteractiveRunner.ts
  update-docker.sh
Due: prettier --write, eslint --fix

webhook test
  docker-compose.yml
  src/test-utils/tests/payment/balance.test.ts
  src/test-utils/tests/webhooks/webhook.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

echo
  Dockerfile
Due: none

docker
  Dockerfile
Due: none

feat: Switch to tsconfig-paths for runtime alias resolution
  .swcrc
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
