Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

chore(loop): the thirteenth pass -- where the five cards went
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(cards): the card says WHY this person, not only who and what
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  src/__tests__/bot/nothingSendsWithoutAPress.test.ts
  src/services/telegramProposals.ts
Due: prettier --write, eslint --fix

chore(loop): the fourteenth pass -- the press made cheaper
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(cards): every card says why this person, not only the one with an invoice
  apps/vibee-editor/render/crm-reason-on-every-card.test.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/crm-reason.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
Due: prettier --write, eslint --fix

chore(loop): the reason reaches every card
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(crm): crm_money -- the funnel nobody could see
  apps/vibee-editor/render/crm-money-tool.test.ts
  apps/vibee-editor/render/every-column-the-code-uses-exists.test.ts
  apps/vibee-editor/render/src/agent/crm-money-tool.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

chore(loop): the fifteenth pass -- the money funnel, and form 32
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): waiting -- what sits in the open PR, by risk
  .claude/loop-state/crm-loop.md
  .claude/skills/continuous-improvement-loop/SKILL.md
  bin/helpers/waiting.sh
  bin/tri
Due: prettier --write

chore(loop): main is red and blocks every push; the branch is 132 behind
  .claude/loop-state/crm-loop.md
Due: prettier --write

fix(test): the leads fixture aged out of the window it was testing
  apps/vibee-editor/render/crm-memory-tools.test.ts
Due: prettier --write, eslint --fix

fix(money): the invoice is closed by a credit, not before one
  apps/vibee-editor/render/cashier-one-intake.test.ts
  apps/vibee-editor/render/invoice-orphans.test.ts
  apps/vibee-editor/render/render-server.ts
  src/__tests__/money/creditedIsNotOk.test.ts
Due: prettier --write, eslint --fix

fix(money): every Stars payment was taken and credited nothing
  apps/vibee-editor/render/src/token-ledger.ts
  apps/vibee-editor/render/the-lock-and-the-credit-commit-together.test.ts
Due: prettier --write, eslint --fix

chore(loop): main unblocked, money filed as its own PR
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): clock -- run the suite as if N days had passed
  .claude/skills/blind-guards/SKILL.md
  apps/vibee-editor/render/crm-memory-tools.test.ts
  bin/helpers/clock.sh
  bin/helpers/clock/shift-now.mjs
  bin/tri
Due: prettier --write, eslint --fix

chore(loop): the eighteenth pass -- the clock became a tool
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(tri): clock subtracts the background, landing says if the work can ship
  bin/helpers/clock.sh
  bin/helpers/landing.sh
  bin/tri
Due: none

fix(money): the wallet was refused and the image handed over anyway
  docs/money-ratchets.md
  src/__tests__/money/aRefusedChargeStopsTheGeneration.test.ts
  src/__tests__/money/refusalOffersAWayToPay.test.ts
  src/__tests__/money/theFreeGenerationWasNeverFree.test.ts
  src/core/supabase/checkSuperheroGenerationUsage.ts
  src/price/helpers/index.ts
  src/price/helpers/processBalanceOperation.ts
  src/price/helpers/refuseUnpaidGeneration.ts
  src/scenes/avatarTransformScene/index.ts
  src/services/generateFluxKontext.ts
  src/services/generateFluxKontextMax.ts
  src/services/generateFluxKontextPro.ts
  src/services/generateQwenImageEdit.ts
  src/services/generateSeedEdit3.ts
  src/services/generateTextToImageDirect.ts
  src/services/imageUpscaler.ts
Due: prettier --write, eslint --fix

feat(tri): rescue nine loop tools that existed on one branch only
  .claude/skills/blind-guards/SKILL.md
  .claude/skills/continuous-improvement-loop/SKILL.md
  bin/helpers/clock.sh
  bin/helpers/clock/shift-now.mjs
  bin/helpers/landing.sh
  bin/helpers/mutate.sh
  bin/helpers/owners.sh
  bin/helpers/promises.sh
  bin/helpers/scan.sh
  bin/helpers/tg-api.sh
  bin/helpers/waiting.sh
  bin/helpers/wired.sh
  bin/tri
Due: prettier --write

fix(render): one zero byte made the whole tool registry invisible to grep
  apps/vibee-editor/render/src/agent/tools.ts
  src/__tests__/tools/noControlBytesInSource.test.ts
Due: prettier --write, eslint --fix

chore(loop): the nineteenth pass -- work that could not reach main
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
  .claude/skills/continuous-improvement-loop/SKILL.md
  bin/helpers/promises.sh
Due: prettier --write

docs(skill): forms 34-36, and the loop cuts its branch from main
  .claude/skills/blind-guards/SKILL.md
  .claude/skills/continuous-improvement-loop/SKILL.md
Due: prettier --write

fix(tri): a merge-tree that failed must not read as zero conflicts
  bin/helpers/landing.sh
Due: none

docs(skill): 88 tools in production, and crm_money is not one of them
  .claude/skills/mcp-owner-access/SKILL.md
Due: prettier --write

docs(skill): a skill quoted in a session summary can be older than the file
  .claude/skills/continuous-improvement-loop/SKILL.md
Due: prettier --write

docs(skill): the production door, and reading the file instead of the retelling
  .claude/skills/continuous-improvement-loop/SKILL.md
  .claude/skills/mcp-owner-access/SKILL.md
Due: prettier --write

fix(crm): the tool that answers "who is waiting" was reading the empty table
  apps/vibee-editor/render/crm-nudge-cap.test.ts
  apps/vibee-editor/render/crm-waiting-from-messages.test.ts
  apps/vibee-editor/render/src/agent/crm-playbook.ts
  apps/vibee-editor/render/src/agent/crm-stages.ts
  apps/vibee-editor/render/src/agent/crm-touch-tools.ts
Due: prettier --write, eslint --fix

feat(tri): facts -- what the derived facts of the CRM actually stand on
  bin/helpers/facts.sh
  bin/tri
Due: none

docs(skill): forms 37-39 -- two truths, the wrong runner, and a spent budget
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

chore(loop): the twentieth pass -- the waiting tool was reading the empty table
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(tri): facts -- what the CRM's derived facts actually stand on
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/facts.sh
  bin/tri
Due: prettier --write

fix(crm): the sweep state was one per process, and there are two sellers
  src/__tests__/services/crmProactive.audit.test.ts
  src/__tests__/services/crmProactive.test.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

docs(crm): say why the two remaining module globals are process-wide
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

fix(tri): owners took a path and ignored it, then reported the tree as clean
  bin/helpers/owners.sh
Due: none

docs(skill): forms 40 and 41 -- a skipped input reads as clean, and two tenants
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(tri): owners took a path and ignored it, then called the tree clean
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/owners.sh
Due: prettier --write

chore(loop): the twenty-first pass -- two sellers, one shared state
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(crm): the sweep line says whose sweep it was
  src/__tests__/services/crmProactive.test.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

feat(tri): sweep -- what the seller's rounds actually do in production
  bin/helpers/sweep.sh
  bin/tri
Due: none
