Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(checkBalanceScene): Add admin access bypass - skip subscription check for admins
  src/scenes/checkBalanceScene.ts
Due: prettier --write, eslint --fix

🔧 Переключаем production на polling для стабильности
  .env
Due: none

🔧 Полировка polling режима: запуск ВСЕХ ботов в polling
  src/index.ts
Due: prettier --write, eslint --fix

🔧 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: Запуск всех ботов параллельно в polling
  src/index.ts
Due: prettier --write, eslint --fix

🎯 ДОБАВЛЕНО: Единый deploy.sh для автоматизированного деплоя
  deploy.sh
Due: none

🎯 СИСТЕМА DEPLOY/ROLLBACK ПОЛНОСТЬЮ ГОТОВА
  README-DEPLOY.md
  rollback.sh
Due: prettier --write

🔒 ИСПРАВЛЕНО: Callback URL на HTTPS для безопасности
  src/inngest_app/render-server-client.ts
Due: prettier --write, eslint --fix

🎯 СИСТЕМА ПОЛНОСТЬЮ ГОТОВА: Callback + Nginx + Deploy + Recovery
  EMERGENCY-RECOVERY-PLAN.md
  deploy.sh
  nginx/nginx.conf
Due: prettier --write

fix(checkBalanceScene): Critical admin bypass - immediate access before any checks
  src/scenes/checkBalanceScene.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
