Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

🔧 Дополнительные исправления для нейрофото
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

➕ Добавлены модели пользователю 7669741878 для тестирования выбора
  scripts/add_models_to_artem.js
Due: none

🎛️ Исправлено отображение клавиатуры при выборе моделей
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

fix: Fix TypeScript errors in Foundation modules
  src/core/foundation/Foundation.ts
  src/core/foundation/LanguageManager.ts
  src/core/foundation/examples/FoundationUsageExamples.ts
Due: prettier --write, eslint --fix

fix: Fix remaining TypeScript errors
  src/core/foundation/Foundation.ts
  src/core/foundation/examples/FoundationUsageExamples.ts
Due: prettier --write, eslint --fix

security: Add security documentation and tooling
  .gitignore
  Dockerfile
  index.js.backup
  package-lock.json
  src/api_server/index.ts
  src/core/foundation/Foundation.ts
  src/core/foundation/LanguageManager.ts
  src/core/foundation/examples/FoundationUsageExamples.ts
Due: prettier --write, eslint --fix

security: Add security documentation and tooling
  .gitignore
  Dockerfile
  GIT_CLEANUP_PLAN.md
  index.js.backup
  package-lock.json
  scripts/clean-git-secrets.sh
  scripts/pre-commit-security.sh
  scripts/security-scan.sh
  src/api_server/index.ts
  src/core/foundation/Foundation.ts
  src/core/foundation/LanguageManager.ts
  src/core/foundation/examples/FoundationUsageExamples.ts
Due: prettier --write, eslint --fix

security: Add security documentation and tooling
  .gitignore
  Dockerfile
  GIT_CLEANUP_PLAN.md
  SECURITY.md
  index.js.backup
  package-lock.json
  scripts/clean-git-secrets.sh
  scripts/pre-commit-security.sh
  scripts/security-scan.sh
  src/api_server/index.ts
  src/core/foundation/Foundation.ts
  src/core/foundation/LanguageManager.ts
  src/core/foundation/examples/FoundationUsageExamples.ts
Due: prettier --write, eslint --fix

chore: fix worktrees git configuration
  .gitignore
  GIT_CLEANUP_PLAN.md
  SECURITY.md
  scripts/clean-git-secrets.sh
  scripts/pre-commit-security.sh
  scripts/security-scan.sh
Due: prettier --write

chore: fix worktrees git configuration
  .gitignore
Due: none

chore: update security scripts
  scripts/git-clean-secrets.sh
  scripts/security-scan.sh
Due: none

chore: add security cleanup scripts and documentation
  GIT_CLEANUP_PLAN.md
  scripts/clean-git-secrets.sh
  scripts/pre-commit-security.sh
  scripts/security-scan.sh
Due: prettier --write

feat: add Veo3 improvements and type safety
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .hive-mind/hive.db
  .hive-mind/hive.db-shm
  .hive-mind/hive.db-wal
  .hive-mind/memory.db
  .hive-mind/sessions/hive-mind-prompt-swarm-1756275711237-knvzysb7h.txt
  .hive-mind/sessions/session-1756275711239-4dn6u8jm5-auto-pause.json
  .hive-mind/sessions/session-1756275711239-4dn6u8jm5-auto-save-1756275741240.json
  .swarm/memory.db
  .swarm/memory.db-shm
  .swarm/memory.db-wal
Due: prettier --write

feat: add Veo3 improvements and type safety
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .hive-mind/hive.db
  .hive-mind/hive.db-shm
  .hive-mind/hive.db-wal
  .hive-mind/memory.db
  .hive-mind/sessions/hive-mind-prompt-swarm-1756275711237-knvzysb7h.txt
  .hive-mind/sessions/session-1756275711239-4dn6u8jm5-auto-pause.json
  .hive-mind/sessions/session-1756275711239-4dn6u8jm5-auto-save-1756275741240.json
  .swarm/memory.db-shm
  .swarm/memory.db-wal
Due: prettier --write

chore: clean up worktrees configuration
  .gitignore
Due: none

chore: clean up worktree configuration
  .gitignore
Due: none

chore: add security cleanup scripts and documentation
  scripts/README.md
  scripts/add_bonus_stars.ts
  scripts/add_models_to_artem.js
  scripts/add_models_to_users.sql
  scripts/check-build-health.sh
  scripts/check-video-server.js
  scripts/check-webhooks.sh
  scripts/deployment/deploy-dev-cicd.sh
  scripts/deployment/deploy-full-setup.sh
  scripts/deployment/quick-deploy.sh
  scripts/deployment/server-manager.sh
  scripts/deployment/setup-dev-environment.sh
  scripts/deployment/ssh-dev-connect.sh
  scripts/direct_insert_models.js
  scripts/docker-entrypoint.sh
  scripts/execute_add_models_function.js
  scripts/fix-lipsync-server-integration.js
  scripts/install-security-hooks.sh
  scripts/kill-port.cjs
  scripts/pre-merge-check.sh
  scripts/quick-build-check.sh
  scripts/quick-health-check.js
  scripts/restart-production.sh
  scripts/test-ai-server-lipsync.js
  scripts/test-api-connections.js
  scripts/test-api-integration.js
  scripts/test-lipsync-admin-restrictions.js
  scripts/test-lipsync-diagnosis.js
  scripts/test-lipsync-final.js
  scripts/test-lipsync-simple.js
  scripts/test-railway-api.js
  scripts/test-replicate-fallback.js
  scripts/test-video-flow.js
Due: prettier --write, eslint --fix

chore: add security cleanup scripts and documentation
  GIT_CLEANUP_PLAN.md
  scripts/README.md
  scripts/add_bonus_stars.ts
  scripts/add_models_to_artem.js
  scripts/add_models_to_users.sql
  scripts/check-build-health.sh
  scripts/check-video-server.js
  scripts/check-webhooks.sh
  scripts/clean-git-secrets.sh
  scripts/deployment/deploy-dev-cicd.sh
  scripts/deployment/deploy-full-setup.sh
  scripts/deployment/quick-deploy.sh
  scripts/deployment/server-manager.sh
  scripts/deployment/setup-dev-environment.sh
  scripts/deployment/ssh-dev-connect.sh
  scripts/direct_insert_models.js
  scripts/docker-entrypoint.sh
  scripts/execute_add_models_function.js
  scripts/fix-lipsync-server-integration.js
  scripts/install-security-hooks.sh
  scripts/kill-port.cjs
  scripts/pre-commit-security.sh
  scripts/pre-merge-check.sh
  scripts/quick-build-check.sh
  scripts/quick-health-check.js
  scripts/restart-production.sh
  scripts/test-ai-server-lipsync.js
  scripts/test-api-connections.js
  scripts/test-api-integration.js
  scripts/test-lipsync-admin-restrictions.js
  scripts/test-lipsync-diagnosis.js
  scripts/test-lipsync-final.js
  scripts/test-lipsync-simple.js
  scripts/test-railway-api.js
  scripts/test-replicate-fallback.js
  scripts/test-video-flow.js
Due: prettier --write, eslint --fix

chore: fix worktree configuration
  .gitignore
Due: none

chore: update gitignore for worktrees
  .gitignore
Due: none
