Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(hive): a failed payment reaches the owner (#2338)
  apps/vibee-editor/player/src/atoms/club.ts
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/player/src/lib/payOutcome.ts
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/a-failed-payment-reaches-the-owner.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/club-membership.ts
  apps/vibee-editor/render/src/agent/payment-alarms.ts
  apps/vibee-editor/render/src/hive/journal.ts
  apps/vibee-editor/render/src/hive/queen-report.ts
Due: prettier --write, eslint --fix

fix(agent): a slash on the provider base no longer knocks nemotron out of the chain
  apps/vibee-editor/render/provider.test.ts
  apps/vibee-editor/render/src/agent/provider.ts
  src/core/openai/glm-provider.ts
Due: prettier --write, eslint --fix

chore(deps): close the four critical Dependabot alerts; the club invoice type learns `stars`
  apps/vibee-editor/packages/vibee-atoms/package-lock.json
  apps/vibee-editor/packages/vibee-atoms/package.json
  apps/vibee-editor/player/package-lock.json
  apps/vibee-editor/player/package.json
  apps/vibee-editor/player/src/atoms/club.ts
  mobile/package-lock.json
  mobile/package.json
Due: prettier --write, eslint --fix

fix(crm): the sweep names its model and asks for one that calls tools
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/provider.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/src/agent/the-sweep-gets-a-model-that-calls-tools.test.ts
  src/__tests__/services/theSweepNamesItsModel.test.ts
  src/services/crmProactive.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

chore(deps): close high Dependabot alerts without major upgrades
  apps/vibee-editor/player/package-lock.json
  apps/vibee-editor/player/package.json
  mobile/package-lock.json
  mobile/package.json
  package-lock.json
  package.json
  rust/Cargo.lock
Due: prettier --write

fix(crm): the sweep names its model and asks for one that calls tools (#2342)
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/provider.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/src/agent/the-sweep-gets-a-model-that-calls-tools.test.ts
  src/__tests__/services/theSweepNamesItsModel.test.ts
  src/services/crmProactive.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

chore(deps): update @opentelemetry/auto-instrumentations-node within inngest range
  package-lock.json
Due: prettier --write

feat(hive): every sweep of the seller is written into the hive journal
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/hive/a-note-from-the-bot-lands-in-the-journal.test.ts
  apps/vibee-editor/render/src/hive/journal.ts
  apps/vibee-editor/render/src/hive/note-route.ts
  apps/vibee-editor/render/src/hive/queen-report.ts
  src/__tests__/services/theSweepWritesItselfIntoTheHive.test.ts
  src/services/crmProactive.ts
  src/services/hiveNote.ts
Due: prettier --write, eslint --fix

feat(hive): every sweep of the seller is written into the hive journal (#2345)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/hive/a-note-from-the-bot-lands-in-the-journal.test.ts
  apps/vibee-editor/render/src/hive/journal.ts
  apps/vibee-editor/render/src/hive/note-route.ts
  apps/vibee-editor/render/src/hive/queen-report.ts
  src/__tests__/services/theSweepWritesItselfIntoTheHive.test.ts
  src/services/crmProactive.ts
  src/services/hiveNote.ts
Due: prettier --write, eslint --fix

chore(rust): teloxide 0.13 -> 0.14 to drop rustls 0.21 / rustls-webpki 0.101
  rust/Cargo.lock
  rust/Cargo.toml
  rust/tests/e2e-tests/tests/e2e_webhooks.rs
Due: none

feat(club): a guest pass by @username opens the avatar setup; the road is faster
  apps/vibee-editor/player/src/atoms/club.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Profile/WelcomeOnboarding.no-later-on-paywall.test.ts
  apps/vibee-editor/player/src/components/Profile/WelcomeOnboarding.tsx
  apps/vibee-editor/player/src/components/Profile/welcomeSteps.test.ts
  apps/vibee-editor/player/src/components/Profile/welcomeSteps.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/club-guests.ts
  apps/vibee-editor/render/src/agent/club-membership.ts
  apps/vibee-editor/render/the-club-opens-to-invited-guests.test.ts
Due: prettier --write, eslint --fix

fix(crm): nine anomalies from the 2026-09-12 audit
  apps/vibee-editor/render/crm-summary-tool.test.ts
  apps/vibee-editor/render/src/agent/chat-memory.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/crm-summary-tool.ts
  apps/vibee-editor/render/src/agent/crm-tools.ts
  apps/vibee-editor/render/src/agent/crm-touch-tools.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/the-crm-audit-of-2026-09-12.test.ts
  docs/crm-audit-2026-09-12.md
  src/__tests__/services/crmProactive.audit.test.ts
  src/navigation/helpers/actionButtons.ts
  src/services/crmProactive.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

chore(deps): replace xlsx with exceljs-backed shim (Dependabot #17, #19)
  docs/audit/dependabot-high-2026-09-12.md
  package-lock.json
  package.json
  scripts/financial/bot-financial-report.js
  scripts/financial/create-50-50-analysis.js
  scripts/financial/create-COMPREHENSIVE-FINANCIAL-REPORT.js
  scripts/financial/create-FULL-BOTS-DASHBOARD.js
  scripts/financial/create-INVESTOR-REPORT.js
  scripts/financial/create-all-money-analysis.js
  scripts/financial/create-beautiful-report.js
  scripts/financial/create-detailed-payments-table.js
  scripts/financial/create-final-correct-analysis.js
  scripts/financial/create-metamuse-excel-report-corrected.js
  scripts/financial/create-metamuse-excel-report.js
  scripts/financial/create-real-money-analysis.js
  scripts/financial/generate-metamuse-financial-report.ts
  scripts/financial/testExcelGenerator.ts
  src/__tests__/utils/excelCompat.test.ts
  src/inngest_app/functions/content/generateScenarioClips.ts
  src/inngest_app/functions/instagram/instagramScraper-v2.ts
  src/utils/adminExcelReportGenerator.ts
  src/utils/excelCompat.ts
  src/utils/excelReportGenerator.ts
Due: prettier --write, eslint --fix

feat(club): a guest pass by @username opens the avatar setup; the road is faster (#2347)
  apps/vibee-editor/player/src/atoms/club.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Profile/WelcomeOnboarding.no-later-on-paywall.test.ts
  apps/vibee-editor/player/src/components/Profile/WelcomeOnboarding.tsx
  apps/vibee-editor/player/src/components/Profile/welcomeSteps.test.ts
  apps/vibee-editor/player/src/components/Profile/welcomeSteps.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/club-guests.ts
  apps/vibee-editor/render/src/agent/club-membership.ts
  apps/vibee-editor/render/the-club-opens-to-invited-guests.test.ts
Due: prettier --write, eslint --fix

fix(crm): nine anomalies from the 2026-09-12 audit (#2348)
  apps/vibee-editor/render/crm-summary-tool.test.ts
  apps/vibee-editor/render/src/agent/chat-memory.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/crm-summary-tool.ts
  apps/vibee-editor/render/src/agent/crm-tools.ts
  apps/vibee-editor/render/src/agent/crm-touch-tools.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/the-crm-audit-of-2026-09-12.test.ts
  docs/crm-audit-2026-09-12.md
  src/__tests__/services/crmProactive.audit.test.ts
  src/navigation/helpers/actionButtons.ts
  src/services/crmProactive.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

feat(auth): add draft-only Leela agent scope
  .github/workflows/leela-editorial-scope.yml
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/editorial-key-scope.test.ts
  apps/vibee-editor/render/editorial-key-scope.ts
  apps/vibee-editor/render/editorial-mcp-dispatch.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/plan-tools.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/src/agent/tools.ts
  docs/agent/leela-editorial-key-scope.md
Due: prettier --write, eslint --fix

fix(deps): exceljs is a runtime dependency, not a dev one
  package-lock.json
  package.json
  src/__tests__/runtime-deps-are-not-dev.test.ts
Due: prettier --write, eslint --fix

feat(crm): move the proactive seller sweep to an Inngest cron (crm-proactive-sweep)
  .mcp.json
  MCP_SETUP_GUIDE.md
  docs/inngest/functions.md
  src/__tests__/inngest/probeSuite.test.ts
  src/__tests__/services/crmPlanWiring.test.ts
  src/__tests__/services/crmProactive.inngest.test.ts
  src/__tests__/services/crmProactive.test.ts
  src/bot.ts
  src/index.ts
  src/inngest_app/functions.manifest.json
  src/inngest_app/functions/crm/crmProactiveSweep.ts
  src/inngest_app/registerFunctions.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

inngest status: split lastRun from lastProbe; Supabase key by JWT role; audit docs
  docs/audit/inngest-functions-audit-2026-09-13.md
  docs/audit/review/CHECKLIST.md
  docs/audit/review/best-practices.md
  docs/audit/review/group-a-generation.md
  docs/audit/review/group-b-training-payments.md
  docs/audit/review/group-c-content-monitoring.md
  docs/inngest/lessons/2026-09-13-supabase-key-role.md
  docs/inngest/mcp.md
  docs/inngest/probe-suite.md
  docs/inngest/witness/2026-09-13-probe-suite-02-17Z.json
  src/__tests__/core/supabaseKeySelection.test.ts
  src/__tests__/inngest/functionsStatus.test.ts
  src/core/supabase/client.ts
  src/inngest_app/manifest.ts
  src/inngest_app/mcp-server.ts
  src/inngest_app/probe/probeSuite.ts
  src/inngest_app/status/functionsStatus.ts
Due: prettier --write, eslint --fix

inngest: fix four deterministic defects from the 2026-09-13 function review
  docs/audit/inngest-improvement-plan-2026-09-13.md
  src/__tests__/inngest/p0Fixes2026-09-13.test.ts
  src/inngest_app/functions/analytics/dailySalesAdvisor.ts
  src/inngest_app/functions/existing/generateAIReelsFunction.ts
  src/inngest_app/functions/existing/generateAdvancedLoopingVideoFunction.ts
  src/inngest_app/functions/monitoring/logMonitor.ts
Due: prettier --write, eslint --fix

fix(render): hang up gramjs clients with destroy(), not disconnect()
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/hang-up.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tg-connect.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/telegram-tools-hangup.test.ts
Due: prettier --write, eslint --fix

docs(audit): Railway logs audit 2026-09-13 (exceljs, gramjs TIMEOUT, Inngest event key, probe burst)
  docs/audit/railway-logs-2026-09-13.md
Due: prettier --write

fix(deps): exceljs is a runtime dependency, not a dev one (#2351)
  package-lock.json
  package.json
  src/__tests__/runtime-deps-are-not-dev.test.ts
Due: prettier --write, eslint --fix

feat(crm): move the proactive seller sweep to an Inngest cron (crm-proactive-sweep) (#2352)
  .mcp.json
  MCP_SETUP_GUIDE.md
  docs/inngest/functions.md
  src/__tests__/inngest/probeSuite.test.ts
  src/__tests__/services/crmPlanWiring.test.ts
  src/__tests__/services/crmProactive.inngest.test.ts
  src/__tests__/services/crmProactive.test.ts
  src/bot.ts
  src/index.ts
  src/inngest_app/functions.manifest.json
  src/inngest_app/functions/crm/crmProactiveSweep.ts
  src/inngest_app/registerFunctions.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

fix(render): закрывать gramjs-клиентов через destroy(), а не disconnect() — зомби-цикл пингов и TIMEOUT-спам (#2353)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/hang-up.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tg-connect.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/telegram-tools-hangup.test.ts
  docs/audit/railway-logs-2026-09-13.md
Due: prettier --write, eslint --fix

feat(inngest): REST v2 -> MCP proxy so self-hosted Inngest data tools stop answering 401
  .mcp.json
  MCP_SETUP_GUIDE.md
  package.json
  src/__tests__/inngest/mcpRestProxy.test.ts
  src/inngest_app/mcp-rest-proxy.ts
Due: prettier --write, eslint --fix

feat(inngest): REST v2 -> MCP proxy so self-hosted Inngest data tools stop answering 401 (#2356)
  .mcp.json
  MCP_SETUP_GUIDE.md
  package.json
  src/__tests__/inngest/mcpRestProxy.test.ts
  src/inngest_app/mcp-rest-proxy.ts
Due: prettier --write, eslint --fix

docs(skills): inngest-prod-mcp skill + scripts/inngest-mcp-enable.sh so agents enable Inngest data tools themselves
  .claude/skills/inngest-prod-mcp/SKILL.md
  MCP_SETUP_GUIDE.md
  scripts/inngest-mcp-enable.sh
Due: prettier --write

docs(skills): inngest-prod-mcp skill + scripts/inngest-mcp-enable.sh so agents enable Inngest data tools themselves (#2357)
  .claude/skills/inngest-prod-mcp/SKILL.md
  MCP_SETUP_GUIDE.md
  scripts/inngest-mcp-enable.sh
Due: prettier --write

feat(crm): lead magnet — client's own photo redrawn 9:16 as a free gift; ≤2 buttons per row
  apps/vibee-editor/render/crm-summary-tool.test.ts
  apps/vibee-editor/render/dm-delivery.test.ts
  apps/vibee-editor/render/kie-input-shape.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/crm-deliver-tool.ts
  apps/vibee-editor/render/src/agent/crm-notes.ts
  apps/vibee-editor/render/src/agent/crm-playbook.ts
  apps/vibee-editor/render/src/agent/crm-touches.ts
  apps/vibee-editor/render/src/agent/pricing.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/src/kie-image.ts
  docs/crm-lead-magnet-2026-09-13.md
  src/__tests__/navigation/crmMenu.test.ts
  src/navigation/helpers/crmMenu.ts
  src/navigation/registerCommands.ts
  src/services/crmPlan.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

feat(crm): lead magnet — client's own photo redrawn 9:16 as a free gift; ≤2 buttons per row (#2358)
  apps/vibee-editor/render/crm-summary-tool.test.ts
  apps/vibee-editor/render/dm-delivery.test.ts
  apps/vibee-editor/render/kie-input-shape.test.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/crm-deliver-tool.ts
  apps/vibee-editor/render/src/agent/crm-notes.ts
  apps/vibee-editor/render/src/agent/crm-playbook.ts
  apps/vibee-editor/render/src/agent/crm-touches.ts
  apps/vibee-editor/render/src/agent/pricing.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/src/kie-image.ts
  docs/crm-lead-magnet-2026-09-13.md
  src/__tests__/navigation/crmMenu.test.ts
  src/navigation/helpers/crmMenu.ts
  src/navigation/registerCommands.ts
  src/services/crmPlan.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

feat(crm): every connected account is a seller — requireSeller, crm_sellers, per-seller sweep
  apps/vibee-editor/render/crm-memory-tools.test.ts
  apps/vibee-editor/render/crm-offer.test.ts
  apps/vibee-editor/render/crm-owner-gate.test.ts
  apps/vibee-editor/render/crm-sellers.test.ts
  apps/vibee-editor/render/crm-summary-tool.test.ts
  apps/vibee-editor/render/dm-context.test.ts
  apps/vibee-editor/render/dm-delivery.test.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/crm-deliver-tool.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/crm-playbook.ts
  apps/vibee-editor/render/src/agent/crm-sellers-tool.ts
  apps/vibee-editor/render/src/agent/crm-summary-tool.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tools.ts
  docs/crm-sellers-2026-09-13.md
  src/__tests__/services/crmSellers.test.ts
  src/index.ts
  src/inngest_app/functions/crm/crmProactiveSweep.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

feat(crm): every connected account is a seller — requireSeller, crm_sellers, per-seller sweep (#2359)
  apps/vibee-editor/render/crm-memory-tools.test.ts
  apps/vibee-editor/render/crm-offer.test.ts
  apps/vibee-editor/render/crm-owner-gate.test.ts
  apps/vibee-editor/render/crm-sellers.test.ts
  apps/vibee-editor/render/crm-summary-tool.test.ts
  apps/vibee-editor/render/dm-context.test.ts
  apps/vibee-editor/render/dm-delivery.test.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/crm-deliver-tool.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/crm-playbook.ts
  apps/vibee-editor/render/src/agent/crm-sellers-tool.ts
  apps/vibee-editor/render/src/agent/crm-summary-tool.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tools.ts
  docs/crm-sellers-2026-09-13.md
  src/__tests__/services/crmSellers.test.ts
  src/index.ts
  src/inngest_app/functions/crm/crmProactiveSweep.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

ci: add workflow_dispatch to ci.yml and security.yml for the Queen scheduler
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

ci: add workflow_dispatch to ci.yml and security.yml for the Queen scheduler (#2360)
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

feat(crm): crm_agent_link — link a connected seller to her Leela editorial agent
  apps/vibee-editor/render/crm-agent-link.test.ts
  apps/vibee-editor/render/src/agent/crm-agent-link-tool.ts
  apps/vibee-editor/render/src/agent/tools.ts
  docs/leela-agent-link-2026-09-13.md
Due: prettier --write, eslint --fix

feat(crm): crm_agent_link — link a connected seller to her Leela editorial agent (#2361)
  apps/vibee-editor/render/crm-agent-link.test.ts
  apps/vibee-editor/render/src/agent/crm-agent-link-tool.ts
  apps/vibee-editor/render/src/agent/tools.ts
  docs/leela-agent-link-2026-09-13.md
Due: prettier --write, eslint --fix

feat(crm): crm_duet — seller agent sells to a connected buyer in real Telegram, content for Leela Chakra
  apps/vibee-editor/render/crm-duet.test.ts
  apps/vibee-editor/render/src/agent/crm-duet-tool.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/src/agent/tools.ts
  docs/crm-duet-2026-09-13.md
Due: prettier --write, eslint --fix

feat(crm): crm_duet — seller agent sells to a connected buyer in real Telegram, content for Leela Chakra (#2362)
  apps/vibee-editor/render/crm-duet.test.ts
  apps/vibee-editor/render/src/agent/crm-duet-tool.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/src/agent/tools.ts
  docs/crm-duet-2026-09-13.md
Due: prettier --write, eslint --fix

fix(inngest): stop printing key prefixes at startup; register reels-loop-generate on the shared client
  src/index.ts
  src/inngest_app/functions/existing/generateAdvancedLoopingVideoFunction.ts
Due: prettier --write, eslint --fix
