Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

🚨 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: Кнопки 1️⃣,2️⃣,3️⃣,4️⃣ НЕ должны генерировать новые фото
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

fix: Replace inline buttons with reply keyboard in Neurophoto
  src/scenes/neuroPhotoWizard/index.ts
  src/services/generateNeuroPhotoDirect.ts
  src/services/generateNeuroPhotoHybrid.ts
Due: prettier --write, eslint --fix

fix: Prioritize LOCAL_SERVER_URL for KIE.ai webhook callback
  src/bot.ts
  src/config/agentConfig.ts
  src/config/lipsync-models.config.ts
  src/config/wan25-config.ts
  src/core/lipsync/interfaces/lipsync-provider.interface.ts
  src/core/lipsync/providers/kie-veed-fabric-provider.ts
  src/core/lipsync/schemas/lipsync-schemas.ts
  src/hearsHandlers.ts
  src/helpers/sendLongMessage.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/improvePromptWizard/index.ts
  src/scenes/lipSyncWizard/ai-reels-wizard.ts
  src/scenes/lipSyncWizard/veed-fabric-wizard.ts
  src/utils/blockedUsersCheck.ts
  src/utils/buttonMapping.ts
  src/utils/modelButtonMapping.ts
  src/utils/systemErrorHandlers.ts
  tests/test-async-lipsync-manager.ts
  tests/test-diagnostic-detailed.ts
  tests/test-elevenlabs-only.ts
  tests/test-existing-supabase-file.ts
  tests/test-kie-provider-direct.ts
  tests/test-local-veed-generation.ts
  tests/test-reliable-image.ts
  tests/test-success-scenario.ts
  tests/test-supabase-upload.ts
  tests/test-veed-wizard-flow.ts
  tests/test-webhook-callback.ts
  tests/test-webhook-final.ts
  tests/test-webhook-integration.ts
  tests/test-webhook-simple.ts
  tests/test-with-public-image.ts
Due: prettier --write, eslint --fix

feat: Add explicit logging for KIE.ai callback URL
  src/core/lipsync/providers/kie-veed-fabric-provider.ts
Due: prettier --write, eslint --fix

docs: Add HTTPS webhook configuration documentation
  docs/webhook-https-setup.md
Due: prettier --write

fix: Update webhook URL to three-head-dragon.shop
  docs/webhook-https-setup.md
Due: prettier --write

docs: Add comprehensive nginx webhook fix documentation
  docs/nginx-webhook-fix.md
Due: prettier --write

fix: Update production deployment directory path
  .github/workflows/production-deploy.yml
Due: none

fix: Allow Docker build with TypeScript errors
  Dockerfile
Due: none

fix: Change deployment strategy to local Docker build
  .github/workflows/production-deploy.yml
Due: none

fix: Use rsync for code deployment instead of git pull
  .github/workflows/production-deploy.yml
Due: none

fix: Restore git pull with rsync fallback for production
  .github/workflows/production-deploy.yml
Due: none

fix: Fix SSH key format issue in deployment workflow
  .github/workflows/production-deploy.yml
Due: none

feat: Complete production deployment workflow rewrite
  .github/workflows/production-deploy.yml
  docs/DEPLOYMENT_FIX_SUMMARY.md
  docs/DEPLOYMENT_QUICK_REFERENCE.md
  docs/PRE_DEPLOY_CHECKLIST.md
  docs/PRODUCTION_DEPLOYMENT_FIX.md
Due: prettier --write

feat: Add debug logging around bot.launch() for polling investigation
  src/bot.ts
Due: prettier --write, eslint --fix

feat: Make MODE=polling work independently of NODE_ENV
  src/bot.ts
Due: prettier --write, eslint --fix

fix: Remove TEST_BOT_NAME from NODE_ENV override logic
  src/config/index.ts
Due: prettier --write, eslint --fix

fix: Apply MODE=polling logic to src/index.ts (actual function)
  src/index.ts
Due: prettier --write, eslint --fix

fix: Change Docker entrypoint to use dist/index.js instead of dist/bot.js
  scripts/docker-entrypoint.sh
Due: none

docs: Complete deployment automation setup
  .claude/agents/deployment-manager.md
  .github/workflows/production-deploy.yml
  docs/DEPLOYMENT_GUIDE.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
