Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs(skills): подробный разбор — что делали и зачем (#568)
  .claude/skills/continuous-improvement-loop/SKILL.md
  .claude/skills/continuous-improvement-loop/reference/WHAT-AND-WHY.md
Due: prettier --write

fix(money): долг обучения вычищен — и обучение оказалось бесплатным с ноября
  .claude/skills/continuous-improvement-loop/SKILL.md
  docs/OWNER-DECISIONS.md
  docs/audit/training-charge-gone.md
  scripts/probe-training-charges.cjs
  src/__tests__/money/training-refunds-checked.test.ts
  src/__tests__/money/unchecked-money-result.test.ts
  src/inngest_app/functions/training/generateModelTraining.ts
  src/inngest_app/functions/training/modelTrainingV2.ts
  src/inngest_app/functions/training/voiceTrainingRVC.ts
  src/scenes/voiceTrainingWizard/index.ts
Due: prettier --write, eslint --fix

feat(render): промо-рилс RelaunchReel + локальная озвучка Silero
  .gitignore
  apps/vibee-editor/render/package-lock.json
  apps/vibee-editor/render/public/vo/vo1.wav
  apps/vibee-editor/render/public/vo/vo2.wav
  apps/vibee-editor/render/public/vo/vo3.wav
  apps/vibee-editor/render/public/vo/vo4.wav
  apps/vibee-editor/render/public/vo/vo5.wav
  apps/vibee-editor/render/src/Root.tsx
  apps/vibee-editor/render/src/compositions/RelaunchReel.tsx
  apps/vibee-editor/render/src/index.relaunch.ts
  tools/tts/silero_say.py
Due: prettier --write, eslint --fix

feat(bot): /promoreel — первый живой мост бота к рендер-серверу
  src/__tests__/services/renderServerClient.test.ts
  src/handlers/promoReelCommand.ts
  src/navigation/registerCommands.ts
  src/services/renderServer/client.ts
Due: prettier --write, eslint --fix

fix(render): 36 вкладок Chrome на 48 «ядрах» Railway роняли каждый рендер
  apps/vibee-editor/render/render-server.ts
  src/services/renderServer/client.ts
Due: prettier --write, eslint --fix

feat(club): «Золотая Литейная» в @t27ai_bot — уровни, инвойсы в звёздах, оплата в payments_v2
  docker-compose.yml
  src/commands/interactiveStatsCommand.ts
  src/core/bot/index.ts
  src/core/getBotTokenByName.ts
  src/handlers/foundryClub/index.ts
  src/handlers/paymentHandlers/index.ts
  src/index.ts
  src/interfaces/subscription.interface.ts
  src/interfaces/telegram-bot.interface.ts
  src/navigation/registerCommands.ts
  src/setCommands.ts
Due: prettier --write, eslint --fix

fix(club): находки quality-gate — взнос не раздувает баланс, честная выдача, гейт на клубного бота
  .claude/workflows/quality-gate.js
  scripts/constants/bots.js
  src/__tests__/commands/interactiveStatsCommand.test.ts
  src/handlers/foundryClub/index.ts
  src/handlers/paymentHandlers/index.ts
  src/interfaces/subscription.interface.ts
  src/interfaces/telegram-bot.interface.ts
  src/navigation/registerCommands.ts
  src/scenes/createUserScene.ts
Due: prettier --write, eslint --fix

fix(render): SplitTalkingHead на OffthreadVideo — чёрные вспышки на стыках и краши прода
  apps/vibee-editor/render/src/compositions/SplitTalkingHead.tsx
Due: none

feat(reel): NoirReel — канонический шаблон рилсов клуба «Золотая Литейная»
  apps/vibee-editor/render/src/compositions/NoirReel.tsx
  apps/vibee-editor/render/src/index.noir.ts
  docs/brand/club-reel-noir.md
Due: prettier --write, eslint --fix

feat(factory): контент-завод и витрина шаблонов для мини-аппа
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/Root.tsx
  apps/vibee-editor/render/src/templates/registry.ts
  src/services/contentFactory/canons.ts
  src/services/contentFactory/index.ts
  src/services/contentFactory/pipeline.ts
  src/services/contentFactory/replicate.ts
  src/services/contentFactory/stages.ts
  src/services/contentFactory/storage.ts
  src/services/contentFactory/types.ts
Due: prettier --write, eslint --fix

feat(factory): команда /factory — рилс из текста прямо в боте
  src/handlers/factoryCommand.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

feat(club): «Золотая Литейная» в @t27ai_bot — оплата звёздами (#571)
  .claude/workflows/quality-gate.js
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/Root.tsx
  apps/vibee-editor/render/src/compositions/NoirReel.tsx
  apps/vibee-editor/render/src/compositions/SplitTalkingHead.tsx
  apps/vibee-editor/render/src/index.noir.ts
  apps/vibee-editor/render/src/templates/registry.ts
  docker-compose.yml
  docs/brand/club-reel-noir.md
  scripts/constants/bots.js
  src/__tests__/commands/interactiveStatsCommand.test.ts
  src/commands/interactiveStatsCommand.ts
  src/core/bot/index.ts
  src/core/getBotTokenByName.ts
  src/handlers/factoryCommand.ts
  src/handlers/foundryClub/index.ts
  src/handlers/paymentHandlers/index.ts
  src/index.ts
  src/interfaces/subscription.interface.ts
  src/interfaces/telegram-bot.interface.ts
  src/navigation/registerCommands.ts
  src/scenes/createUserScene.ts
  src/services/contentFactory/canons.ts
  src/services/contentFactory/index.ts
  src/services/contentFactory/pipeline.ts
  src/services/contentFactory/replicate.ts
  src/services/contentFactory/stages.ts
  src/services/contentFactory/storage.ts
  src/services/contentFactory/types.ts
  src/setCommands.ts
Due: prettier --write, eslint --fix

fix(miniapp): вход не работал ни из одного бота — подпись сверялась одним токеном
  apps/vibee-editor/render/auth.test.ts
  apps/vibee-editor/render/auth.ts
Due: prettier --write, eslint --fix

fix(miniapp): вход, шаблоны и загрузка ассетов — семь блокеров UI
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/atoms/serverTemplates.ts
  apps/vibee-editor/player/src/atoms/telegramAuth.ts
  apps/vibee-editor/player/src/components/Auth/LoginModal.tsx
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/player/src/components/Header/styles.css
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.tsx
  apps/vibee-editor/player/src/components/Panels/TemplatesPanel.css
  apps/vibee-editor/player/src/components/Panels/TemplatesPanel.tsx
  apps/vibee-editor/player/src/components/Telegram/TelegramProvider.tsx
  apps/vibee-editor/player/src/components/Timeline/Timeline.tsx
  apps/vibee-editor/player/src/lib/apiFetch.ts
  apps/vibee-editor/player/src/lib/mediaUrl.ts
  apps/vibee-editor/player/src/pages/Profile.tsx
  apps/vibee-editor/player/src/pages/Token.tsx
  apps/vibee-editor/player/src/token-entry.tsx
  apps/vibee-editor/render/scripts/blog-reel.mjs
  apps/vibee-editor/render/src/compositions/TrinityBlogReel.tsx
  apps/vibee-editor/render/src/index.blog.ts
Due: prettier --write, eslint --fix

fix(miniapp): вход и шаблоны — семь блокеров, из-за которых нельзя было сделать рилс (#572)
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/atoms/serverTemplates.ts
  apps/vibee-editor/player/src/atoms/telegramAuth.ts
  apps/vibee-editor/player/src/components/Auth/LoginModal.tsx
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/player/src/components/Header/styles.css
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.tsx
  apps/vibee-editor/player/src/components/Panels/TemplatesPanel.css
  apps/vibee-editor/player/src/components/Panels/TemplatesPanel.tsx
  apps/vibee-editor/player/src/components/Telegram/TelegramProvider.tsx
  apps/vibee-editor/player/src/components/Timeline/Timeline.tsx
  apps/vibee-editor/player/src/lib/apiFetch.ts
  apps/vibee-editor/player/src/lib/mediaUrl.ts
  apps/vibee-editor/player/src/pages/Profile.tsx
  apps/vibee-editor/player/src/pages/Token.tsx
  apps/vibee-editor/player/src/token-entry.tsx
  apps/vibee-editor/render/auth.test.ts
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/scripts/blog-reel.mjs
  apps/vibee-editor/render/src/compositions/TrinityBlogReel.tsx
  apps/vibee-editor/render/src/index.blog.ts
Due: prettier --write, eslint --fix

fix(export): кнопка отжималась через пару секунд — поток прогресса получал 401
  apps/vibee-editor/player/src/components/Timeline/Timeline.tsx
  apps/vibee-editor/render/auth.test.ts
  apps/vibee-editor/render/auth.ts
Due: prettier --write, eslint --fix

fix(export): кнопка отжималась через пару секунд — поток прогресса получал 401 (#573)
  apps/vibee-editor/player/src/components/Timeline/Timeline.tsx
  apps/vibee-editor/render/auth.test.ts
  apps/vibee-editor/render/auth.ts
Due: prettier --write, eslint --fix

fix(export): маршрут SSE не совпадал со ссылкой, несущей подпись
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(export): маршрут SSE не совпадал со ссылкой, несущей подпись (#574)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(mobile): редактор в Telegram — панель за краем экрана и тупик на тапе по клипу
  apps/vibee-editor/player/index.html
  apps/vibee-editor/player/src/components/BottomSheet/BottomSheet.tsx
  apps/vibee-editor/player/src/components/Header/styles.css
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
  apps/vibee-editor/player/src/components/Timeline/TrackItem.tsx
  apps/vibee-editor/player/src/pages/Editor.tsx
  apps/vibee-editor/player/src/styles/design-system.css
  apps/vibee-editor/player/src/styles/telegram.css
Due: none

fix(mobile): редактор в Telegram — панель за краем экрана и тупик на тапе по клипу (#575)
  apps/vibee-editor/player/index.html
  apps/vibee-editor/player/src/components/BottomSheet/BottomSheet.tsx
  apps/vibee-editor/player/src/components/Header/styles.css
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
  apps/vibee-editor/player/src/components/Timeline/TrackItem.tsx
  apps/vibee-editor/player/src/pages/Editor.tsx
  apps/vibee-editor/player/src/styles/design-system.css
  apps/vibee-editor/player/src/styles/telegram.css
Due: none

fix(render): экспорт падал на 38% — конкурентность считалась по ядрам хоста
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): экспорт падал на 38% — конкурентность считалась по ядрам хоста (#576)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(miniapp): white label по боту + превью во всю высоту
  apps/vibee-editor/player/src/App.css
  apps/vibee-editor/player/src/atoms/branding.ts
  apps/vibee-editor/player/src/components/Canvas/CanvasOverlays.css
  apps/vibee-editor/player/src/components/Canvas/InteractiveCanvas.css
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/player/src/components/Header/styles.css
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.tsx
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
  apps/vibee-editor/player/src/components/Timeline/Timeline.tsx
  apps/vibee-editor/player/src/styles/telegram.css
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(miniapp): white label по боту + превью во всю высоту (#577)
  apps/vibee-editor/player/src/App.css
  apps/vibee-editor/player/src/atoms/branding.ts
  apps/vibee-editor/player/src/components/Canvas/CanvasOverlays.css
  apps/vibee-editor/player/src/components/Canvas/InteractiveCanvas.css
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/player/src/components/Header/styles.css
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.tsx
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
  apps/vibee-editor/player/src/components/Timeline/Timeline.tsx
  apps/vibee-editor/player/src/styles/telegram.css
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(mobile): Play был за экраном, встроенные кнопки плеера 6x9 px, слипшиеся цели
  apps/vibee-editor/player/src/components/Canvas/CanvasOverlays.css
  apps/vibee-editor/player/src/components/Canvas/InteractiveCanvas.tsx
  apps/vibee-editor/player/src/components/Header/styles.css
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.css
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.tsx
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
Due: none

fix(mobile): Play был за экраном, встроенные кнопки плеера 6x9 px, слипшиеся цели (#578)
  apps/vibee-editor/player/src/components/Canvas/CanvasOverlays.css
  apps/vibee-editor/player/src/components/Canvas/InteractiveCanvas.tsx
  apps/vibee-editor/player/src/components/Header/styles.css
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.css
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.tsx
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
Due: none

fix(mobile): Play пропадал на 641-705px и на планшете уезжал под экран
  apps/vibee-editor/player/src/components/Canvas/InteractiveCanvas.css
  apps/vibee-editor/player/src/components/Canvas/TabletPlaybackControls.tsx
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.css
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
Due: none

fix(mobile): Play пропадал на 641-705px и на планшете уезжал под экран (#579)
  apps/vibee-editor/player/src/components/Canvas/InteractiveCanvas.css
  apps/vibee-editor/player/src/components/Canvas/TabletPlaybackControls.tsx
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.css
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
Due: none

fix(mobile): панель свойств открывается на весь экран, навигация её больше не режет
  apps/vibee-editor/player/src/components/BottomSheet/BottomSheet.css
  apps/vibee-editor/player/src/components/BottomSheet/BottomSheet.tsx
  apps/vibee-editor/player/src/components/Panels/PropertiesPanel.css
Due: none

fix(mobile): панель свойств открывается на весь экран, навигация её больше не режет (#580)
  apps/vibee-editor/player/src/components/BottomSheet/BottomSheet.css
  apps/vibee-editor/player/src/components/BottomSheet/BottomSheet.tsx
  apps/vibee-editor/player/src/components/Panels/PropertiesPanel.css
Due: none

fix(mobile): ступень-тупик, зависшая анимация листа и неверная запись о причине
  apps/vibee-editor/player/src/components/BottomSheet/BottomSheet.css
  apps/vibee-editor/player/src/components/BottomSheet/BottomSheet.tsx
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.css
  apps/vibee-editor/player/src/components/Panels/PropertiesPanel.css
  apps/vibee-editor/player/src/index.css
Due: none

fix(mobile): ступень-тупик, зависшая анимация листа и неверная запись о причине (#581)
  apps/vibee-editor/player/src/components/BottomSheet/BottomSheet.css
  apps/vibee-editor/player/src/components/BottomSheet/BottomSheet.tsx
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.css
  apps/vibee-editor/player/src/components/Panels/PropertiesPanel.css
  apps/vibee-editor/player/src/index.css
Due: none

fix(mobile): панель холста ушла в пустое поле слева от кадра
  apps/vibee-editor/player/src/components/Canvas/CanvasOverlays.css
  apps/vibee-editor/player/src/components/Canvas/InteractiveCanvas.css
Due: none

fix(mobile): панель холста ушла в пустое поле слева от кадра (#582)
  apps/vibee-editor/player/src/components/Canvas/CanvasOverlays.css
  apps/vibee-editor/player/src/components/Canvas/InteractiveCanvas.css
Due: none

fix(money): каждая оплата TON сообщала об ошибке зачисления, подписка за рубли — «0 звёзд»
  src/__tests__/money/inv-id-update.test.ts
  src/api_server/routes/robokassa.routes.ts
  src/core/supabase/updateUserBalance.ts
Due: prettier --write, eslint --fix

fix(money): каждая оплата TON сообщала об ошибке зачисления, подписка за рубли — «0 звёзд» (#583)
  src/__tests__/money/inv-id-update.test.ts
  src/api_server/routes/robokassa.routes.ts
  src/core/supabase/updateUserBalance.ts
Due: prettier --write, eslint --fix

fix(feed): настройки шаблона приходили двойным кодированием, повтор плодил копии
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(feed): настройки шаблона приходили двойным кодированием, повтор плодил копии (#584)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(canon): Trinity S³AI — каноничное имя компании во всех шаблонах
  apps/vibee-editor/render/src/Root.tsx
  apps/vibee-editor/render/src/compositions/NoirReel.tsx
  apps/vibee-editor/render/src/compositions/PromoReelV2.tsx
  apps/vibee-editor/render/src/compositions/PromoReelV3.tsx
  apps/vibee-editor/render/src/compositions/TrinityBlogReel.tsx
  apps/vibee-editor/render/src/index.noir.ts
  apps/vibee-editor/render/src/index.promo2.ts
  apps/vibee-editor/render/src/index.promo3.ts
  docs/brand/blog-reel-identity.md
  docs/brand/club-reel-noir.md
  src/services/contentFactory/pipeline.ts
Due: prettier --write, eslint --fix
