Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs(tests): replace a guessed reason with a measured one on the seven skipped multiPhoto tests (#1715)
  src/tests/multiPhotoNeurophoto.test.ts
Due: prettier --write, eslint --fix

docs(skill): record that a bare vi.mock picks a branch rather than staying neutral
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record that a bare vi.mock picks a branch rather than staying neutral (#1716)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(tests): build the multiPhoto stand, and find the second bare mock I said did not exist
  .test-baseline.txt
  src/tests/multiPhotoNeurophoto.test.ts
Due: prettier --write, eslint --fix

fix(tests): build the multiPhoto stand, and find the second bare mock I said did not exist (#1717)
  .test-baseline.txt
  src/tests/multiPhotoNeurophoto.test.ts
Due: prettier --write, eslint --fix

docs(skill): record that I scoped a defect class by its instance, not its mechanism
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record that I scoped a defect class by its instance, not its mechanism (#1718)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

test(avatar): four tests were checking the test file against itself; add one that checks the scene
  .test-baseline.txt
  src/__tests__/scenes/avatarHeroButtonSeam.test.ts
  src/__tests__/scenes/avatarTransformScene.test.ts
Due: prettier --write, eslint --fix

test(avatar): four tests were checking the test file against itself; add one that checks the scene (#1719)
  .test-baseline.txt
  src/__tests__/scenes/avatarHeroButtonSeam.test.ts
  src/__tests__/scenes/avatarTransformScene.test.ts
Due: prettier --write, eslint --fix

docs(skill): record the test that checks its own copy of the product's data
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record the test that checks its own copy of the product's data (#1720)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(avatar): one hero's button resolved to nothing, and my own guard could not see it
  .test-baseline.txt
  src/__tests__/scenes/avatarHeroButtonSeam.test.ts
  src/scenes/avatarTransformScene/index.ts
Due: prettier --write, eslint --fix

fix(avatar): one hero's button resolved to nothing, and my own guard could not see it (#1721)
  .test-baseline.txt
  src/__tests__/scenes/avatarHeroButtonSeam.test.ts
  src/scenes/avatarTransformScene/index.ts
Due: prettier --write, eslint --fix

feat(tri): add `tri dupes` -- a function declared twice in one file, where the first is dead
  tri
Due: none

feat(tri): add `tri dupes` -- a function declared twice in one file, where the first is dead (#1722)
  tri
Due: none

docs(skill): record that a guard reading one of two copies certifies one of two paths
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record that a guard reading one of two copies certifies one of two paths (#1723)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(tri): `tri dupes` counted code inside string literals; 9 of its 10 findings were not code
  tri
Due: none

fix(tri): `tri dupes` counted code inside string literals; 9 of its 10 findings were not code (#1724)
  tri
Due: none

fix(tri): `tri probes` accepted a mention of a self-check as a self-check
  tri
Due: none

fix(tri): `tri probes` accepted a mention of a self-check as a self-check (#1725)
  tri
Due: none

docs(skill): record three matchers in a row that counted text instead of behaviour
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record three matchers in a row that counted text instead of behaviour (#1726)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(tri): a probe was filed as live-data because the word axios sat inside its regex
  scripts/probe-charge-order.cjs
  tri
Due: none

fix(tri): a probe was filed as live-data because the word axios sat inside its regex (#1727)
  scripts/probe-charge-order.cjs
  tri
Due: none

fix(tri): strip string literals in the skipped-test census too
  tri
Due: none

fix(tri): strip string literals in the skipped-test census too (#1728)
  tri
Due: none

docs(skill): record how to audit a number you have already published
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record how to audit a number you have already published (#1729)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(probes): "a live-data probe cannot have a stable sample" was an excuse, not a measurement
  scripts/probe-money-wire.cjs
  tri
Due: none

fix(probes): "a live-data probe cannot have a stable sample" was an excuse, not a measurement (#1730)
  scripts/probe-money-wire.cjs
  tri
Due: none

docs(skill): record that a caveat is a deferred measurement
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record that a caveat is a deferred measurement (#1731)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

feat(probes): read all 23 live-data probes and record the honest number: 21 of them CAN be controlled
  scripts/live-probe-matchers.txt
  tri
Due: none

feat(probes): read all 23 live-data probes and record the honest number: 21 of them CAN be controlled (#1732)
  scripts/live-probe-matchers.txt
  tri
Due: none

docs(skill): record what to do when the thing you need is a judgement, not a measurement
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): record what to do when the thing you need is a judgement, not a measurement (#1733)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

feat(probes): control the two money probes the registry pointed at
  scripts/probe-balance-formula.cjs
  scripts/probe-testdata-victims.cjs
  tri
Due: none

feat(probes): control the two money probes the registry pointed at (#1734)
  scripts/probe-balance-formula.cjs
  scripts/probe-testdata-victims.cjs
  tri
Due: none

docs(skill): record that a tool choosing among candidates is controlled by their distinguishability
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write
