Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(loop): the thirtieth pass -- stopped guessing, installed the measure
  .claude/loop-state/crm-loop.md
Due: prettier --write

fix(crm): a conversation nobody wrote a touch for is still a conversation
  apps/vibee-editor/render/crm-nudge-cap.test.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/crm-stages.ts
  apps/vibee-editor/render/src/agent/crm-summary-tool.ts
  apps/vibee-editor/render/src/agent/crm-touch-tools.ts
Due: prettier --write, eslint --fix

chore(loop): the thirty-first pass -- the funnel showed an empty log, not a business
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(tri): funnel -- the owner's board, in one screen, until the product has one
  bin/helpers/funnel.sh
  bin/tri
Due: none

feat(tri): funnel -- the owner's board in one screen, until the product has one
  bin/helpers/funnel.sh
  bin/tri
Due: none

chore(loop): the thirty-second pass -- every competitor makes the funnel a screen
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(crm): the summary screen shows what happens between a card and a press
  src/__tests__/services/crmSummary.test.ts
  src/navigation/registerCommands.ts
  src/services/crmSummary.ts
Due: prettier --write, eslint --fix

chore(loop): the thirty-third pass -- a correction, and the leak on the owner's screen
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(crm): the morning plan stops framing the day as capacity unused
  src/__tests__/services/crmPlan.test.ts
  src/__tests__/services/crmPlanWiring.test.ts
  src/services/crmPlan.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

docs(skill): forms 54 and 55 -- read the screen, and make the double refuse
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

chore(loop): the thirty-fourth pass -- audited the screens, the morning one lied
  .claude/loop-state/crm-loop.md
Due: prettier --write

docs(crm): mark the morning line as reviewed for the headroom rule
  src/services/crmPlan.ts
Due: prettier --write, eslint --fix

feat(tri): headroom -- numbers that report spare capacity where losses belong
  bin/helpers/headroom.sh
  bin/tri
Due: none

chore(loop): the thirty-fifth pass -- hunting numbers that report headroom
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(tri): the shell reaches main -- 18 commands, and a check that they are reachable
  .gitignore
  bin/helpers/binary.sh
  bin/helpers/clock.sh
  bin/helpers/clock/shift-now.mjs
  bin/helpers/facts.sh
  bin/helpers/funnel.sh
  bin/helpers/headroom.sh
  bin/helpers/landing.sh
  bin/helpers/lost.sh
  bin/helpers/mutate.sh
  bin/helpers/owners.sh
  bin/helpers/promises.sh
  bin/helpers/scan.sh
  bin/helpers/self.sh
  bin/helpers/sweep.sh
  bin/helpers/tg-api.sh
  bin/helpers/waiting.sh
  bin/helpers/wired.sh
  bin/tri
Due: none

docs(loop): the merge of #2414 was measured and abandoned -- and why that was right
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): self -- is every command reachable, named, and backed by a helper
  .gitignore
  bin/helpers/self.sh
  bin/tri
Due: none

docs(loop): run tri waiting before building, not after
  .claude/loop-state/crm-loop.md
Due: prettier --write

fix(test): take main's fixture ages, because the same fix landed there first
  apps/vibee-editor/render/crm-memory-tools.test.ts
Due: prettier --write, eslint --fix

feat(tri): rotten -- which open PRs conflict, grouped by the cause they share
  bin/helpers/rotten.sh
  bin/tri
Due: none

docs(loop): nine PRs, one cause -- and the command that says so
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

chore(tri): self and rotten on the branch the work actually happens on
  bin/helpers/rotten.sh
  bin/helpers/self.sh
  bin/tri
Due: none

fix(crm): the plan stops naming a step the platform cannot take today
  apps/vibee-editor/render/image-health.test.ts
  apps/vibee-editor/render/src/agent/chat-memory.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/crm-summary-tool.ts
Due: prettier --write, eslint --fix

docs(loop): why 64 cards were prepared and 5 were sent
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(crm): a card addressed by @username records its touch when pressed
  apps/vibee-editor/render/a-pressed-card-writes-its-touch.test.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/the-crm-audit-of-2026-09-12.test.ts
Due: prettier --write, eslint --fix

feat(tri): books -- facts the code reads that production has never written
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/books.sh
  bin/tri
Due: prettier --write

docs(loop): correct cycle 38's cause, and record what the five actually measured
  .claude/loop-state/crm-loop.md
Due: prettier --write

docs(skill): a stray character in form 60
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(tri): books gives three verdicts, because a zero has three causes
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/books.sh
Due: prettier --write

docs(loop): four zeroes, four different causes, and none of them what I said
  .claude/loop-state/crm-loop.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
