Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docker
  Dockerfile
Due: none

fix errors
  src/services/plan_b/generateTextToVideo.ts
  src/webhookHandler.ts
  src/webhooks/robokassa.ts
  src/webhooks/robokassa/robokassa.handler.ts
Due: prettier --write, eslint --fix

chore: Use pnpm instead of npm in Dockerfile
  Dockerfile
  pnpm-lock.yaml
Due: none

docker -compose
  package.json
  package.prod.json
Due: prettier --write

fix
  scripts/check-local.sh
  src/bot.ts
  src/utils/launch.ts
  src/webhookHandler.ts
  src/webhooks/robokassa/robokassa.handler.ts
Due: prettier --write, eslint --fix

fix
  src/bot.ts
  src/menu/sendGenerationCancelledMessage.ts
  src/price/helpers/refundUser.ts
  src/scenes/helpScene/index.ts
  src/scenes/levelQuestWizard/handlers.ts
  src/scenes/levelQuestWizard/index.ts
  src/scenes/menuScene/index.ts
  src/scenes/voiceAvatarWizard/index.ts
  src/services/generateNeuroPhotoDirect.ts
  src/utils/launch.ts
  src/webhookHandler.ts
  src/webhooks/robokassa.ts
  src/webhooks/robokassa/robokassa.handler.ts
Due: prettier --write, eslint --fix

delete
  src/webhookHandler.ts
  src/webhooks/robokassa.ts
  src/webhooks/robokassa/robokassa.handler.ts
Due: prettier --write, eslint --fix

update
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix
  src/utils/launch.ts
Due: prettier --write, eslint --fix

fix
  src/server.ts
  src/utils/launch.ts
  src/webhookHandler.ts
  src/webhookServer.ts
Due: prettier --write, eslint --fix

hide
  src/utils/launch.ts
Due: prettier --write, eslint --fix

CLEAN
  src/bot.ts
  src/webhookHandler.ts
  src/webhookServer.ts
Due: prettier --write, eslint --fix

express
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: исправлены типы в launch.ts для webhookCallback и Express Response
  ROADMAP.md
Due: prettier --write

fix: исправлена проблема с типами в launch.ts - правильное приведение типов webhookCallback
  src/utils/launch.ts
Due: prettier --write, eslint --fix

fix: исправлены новые ошибки типизации в launch.ts с express.json() и webhookCallback
  src/utils/launch.ts
Due: prettier --write, eslint --fix

fastify
  ROADMAP.md
  package.json
  pnpm-lock.yaml
  src/utils/launch.ts
Due: prettier --write, eslint --fix

http
  src/utils/launch.ts
Due: prettier --write, eslint --fix

fix: полный переход на Fastify и исправление проблем сборки Docker (tsc-alias)
  Dockerfile
  ROADMAP.md
  package.json
Due: prettier --write

fix: исправлена ошибка сборки Docker с husky в скрипте prepare
  Dockerfile
Due: none

docs: обновлен ROADMAP с информацией о исправлении ошибки husky в Docker
  ROADMAP.md
Due: prettier --write

fix: исправлена ошибка с отсутствием /app/dist/bot.js в Docker
  Dockerfile
Due: none

docs: обновлен ROADMAP с информацией о решении проблемы отсутствия bot.js
  ROADMAP.md
Due: prettier --write

fix: исключение тестовых файлов при сборке в Docker
  Dockerfile
Due: none

docs: обновлен ROADMAP с информацией о tsconfig.build.json и исключении тестов из Docker сборки
  ROADMAP.md
Due: prettier --write

fix: добавлен скрипт автосоздания .env файла для решения проблемы в Docker
  Dockerfile
  docker-entrypoint.sh
Due: none

docs: обновлен ROADMAP с информацией об исправлении проблемы с .env файлом
  ROADMAP.md
Due: prettier --write

fix
  Dockerfile
Due: none

docs: ROADMAP обновлен после удаления Ansible/Nginx и ускорения сборки
  ROADMAP.md
Due: prettier --write

nginx
  ROADMAP.md
  nginx-config/default.conf
  scripts/get-token-hashes.js
Due: prettier --write

webhooks
  ROADMAP.md
  scripts/get-token-hashes.js
  src/bot.ts
  src/utils/launch.ts
Due: prettier --write, eslint --fix

start
  ROADMAP.md
  package.json
  pnpm-lock.yaml
  src/core/supabase/createUser.ts
  src/menu/mainMenu.ts
  src/scenes/createUserScene.ts
  src/scenes/menuScene/index.ts
  src/scenes/startScene/index.ts
  src/scenes/subscriptionCheckScene.ts
Due: prettier --write, eslint --fix

starts menu
  ROADMAP.md
  src/menu/mainMenu.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
