Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

test(money-paths): mock tests for neurophoto, video, and lipsync
  src/__tests__/services/lipsyncKieVeedFabric.test.ts
  src/__tests__/services/neuroPhotoHybrid.test.ts
  src/modules/videoGenerator/test/generateTextToVideo.test.ts
Due: prettier --write, eslint --fix

feat(ios): add the profile gold palette, verified against the web
  apps/vibee-ios/Vibee/Theme.swift
Due: none

test(money-paths): mock tests for neurophoto, video, and lipsync (#968)
  src/__tests__/services/lipsyncKieVeedFabric.test.ts
  src/__tests__/services/neuroPhotoHybrid.test.ts
  src/modules/videoGenerator/test/generateTextToVideo.test.ts
Due: prettier --write, eslint --fix

feat(ios): add the profile gold palette, verified against the web (#967)
  apps/vibee-ios/Vibee/Theme.swift
Due: none

loop: цикл №258 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(render): a deployed instance can no longer be talked out of enforcing
  apps/vibee-editor/render/auth-fail-closed.test.ts
  apps/vibee-editor/render/auth.ts
Due: prettier --write, eslint --fix

fix(render): a deployed instance can no longer be talked out of enforcing (#969)
  apps/vibee-editor/render/auth-fail-closed.test.ts
  apps/vibee-editor/render/auth.ts
Due: prettier --write, eslint --fix

fix(tri): make the colour detector fire on literals only, and prove it both ways
  tri
Due: none

fix(tri): make the colour detector fire on literals only, and prove it both ways (#970)
  tri
Due: none

test(render): pin that public /api/assets handlers check identity first
  apps/vibee-editor/render/assets-identity-order.test.ts
Due: prettier --write, eslint --fix

test(render): pin that public /api/assets handlers check identity first (#971)
  apps/vibee-editor/render/assets-identity-order.test.ts
Due: prettier --write, eslint --fix

build(ios): make TestFlight readiness measurable, with upload deliberately off
  apps/vibee-ios/AppIcon.xcassets/AppIcon.appiconset/AppIcon-1024.png
  apps/vibee-ios/AppIcon.xcassets/AppIcon.appiconset/Contents.json
  apps/vibee-ios/AppIcon.xcassets/Contents.json
  apps/vibee-ios/README.md
  apps/vibee-ios/Vibee/Info.plist
  apps/vibee-ios/fastlane/Appfile
  apps/vibee-ios/fastlane/Fastfile
  apps/vibee-ios/project.yml
  apps/vibee-ios/run.sh
Due: prettier --write

feat(ios): give the profile screen the web's gold palette, not the app's green
  apps/vibee-ios/Vibee/ProfileScreen.swift
  apps/vibee-ios/Vibee/SignIn.swift
  apps/vibee-ios/Vibee/Theme.swift
Due: none

build(ios): make TestFlight readiness measurable, with upload deliberately off (#972)
  apps/vibee-ios/AppIcon.xcassets/AppIcon.appiconset/AppIcon-1024.png
  apps/vibee-ios/AppIcon.xcassets/AppIcon.appiconset/Contents.json
  apps/vibee-ios/AppIcon.xcassets/Contents.json
  apps/vibee-ios/README.md
  apps/vibee-ios/Vibee/Info.plist
  apps/vibee-ios/fastlane/Appfile
  apps/vibee-ios/fastlane/Fastfile
  apps/vibee-ios/project.yml
  apps/vibee-ios/run.sh
Due: prettier --write

fix(ios): make the TestFlight build number actually change
  apps/vibee-ios/README.md
  apps/vibee-ios/Vibee/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/vibee-ios/Vibee/Assets.xcassets/Contents.json
  apps/vibee-ios/Vibee/Info.plist
  apps/vibee-ios/fastlane/Fastfile
  apps/vibee-ios/project.yml
Due: prettier --write

loop: цикл №259 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(ios): give the profile screen the web's gold palette, not the app's green (#973)
  apps/vibee-ios/Vibee/ProfileScreen.swift
  apps/vibee-ios/Vibee/SignIn.swift
  apps/vibee-ios/Vibee/Theme.swift
Due: none

fix(render): sync-from-telegram believed an initData nobody had checked
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/sync-from-telegram-verify.test.ts
Due: prettier --write, eslint --fix

fix(render): sync-from-telegram believed an initData nobody had checked (#975)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/sync-from-telegram-verify.test.ts
Due: prettier --write, eslint --fix

fix(ios): the build number was being silently reset to 1 between bump and upload
  apps/vibee-ios/project.yml
Due: none

fix(ios): the build number was being silently reset to 1 between bump and upload (#976)
  apps/vibee-ios/project.yml
Due: none

fix(round2): five verified bugs — video contract regression, TON back buttons, billing
  src/handlers/handleImageToVideoDirect.ts
  src/handlers/handleTextToVideoDirect.ts
  src/modules/videoGenerator/generateImageToVideo.ts
  src/scenes/tonNativePaymentScene/index.ts
  src/scenes/tonPaymentScene/index.ts
  src/services/generateTextToImageDirect.ts
Due: prettier --write, eslint --fix

fix(ios): make preflight fail, and check the icon instead of assuming it
  apps/vibee-ios/README.md
  apps/vibee-ios/fastlane/Fastfile
Due: prettier --write

fix(ios): make preflight fail, and check the icon instead of assuming it (#974)
  apps/vibee-ios/README.md
  apps/vibee-ios/fastlane/Fastfile
Due: prettier --write

fix(round2): five verified bugs — video contract regression, TON back buttons, billing (#977)
  src/handlers/handleImageToVideoDirect.ts
  src/handlers/handleTextToVideoDirect.ts
  src/modules/videoGenerator/generateImageToVideo.ts
  src/scenes/tonNativePaymentScene/index.ts
  src/scenes/tonPaymentScene/index.ts
  src/services/generateTextToImageDirect.ts
Due: prettier --write, eslint --fix

fix(ios): drop the duplicate version keys two parallel PRs left in project.yml
  apps/vibee-ios/project.yml
Due: none

fix(ios): drop the duplicate version keys two parallel PRs left in project.yml (#978)
  apps/vibee-ios/project.yml
Due: none

loop: цикл №260 — дежурство
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

chore(ios): declare export compliance and drop the blanket ATS exemption
  apps/vibee-ios/README.md
  apps/vibee-ios/Vibee/Info.plist
  apps/vibee-ios/project.yml
Due: prettier --write

chore(ios): declare export compliance and drop the blanket ATS exemption (#979)
  apps/vibee-ios/README.md
  apps/vibee-ios/Vibee/Info.plist
  apps/vibee-ios/project.yml
Due: prettier --write

loop: цикл №261 — дежурство: go/no-go b-roll = GO
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(billing): AI Photoshop ALL_MODELS double-charged flux_kontext_max
  src/scenes/aiPhotoshopScene/index.ts
  src/services/generateFluxKontextMax.ts
Due: prettier --write, eslint --fix

fix(monitoring): healthCheck cron probed a dead localhost instead of the API
  src/inngest_app/functions/monitoring/criticalErrorMonitor.ts
Due: prettier --write, eslint --fix

fix(round3): AI Photoshop double-charge + healthCheck false alarms (#980)
  src/inngest_app/functions/monitoring/criticalErrorMonitor.ts
  src/scenes/aiPhotoshopScene/index.ts
  src/services/generateFluxKontextMax.ts
Due: prettier --write, eslint --fix

fix(api): internal-key guard was 401-ing /api/inngest -- all crons dead 9 days
  src/__tests__/api_server/mountOrder.test.ts
  src/api_server/index.ts
Due: prettier --write, eslint --fix

fix(api): internal-key guard was 401-ing /api/inngest -- all crons dead 9 days (#982)
  src/__tests__/api_server/mountOrder.test.ts
  src/api_server/index.ts
Due: prettier --write, eslint --fix

fix(security): verify the callback token on every branch, not one of six
  src/__tests__/security/callback-protection.test.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
  src/services/generateNanoBananaKie.ts
Due: prettier --write, eslint --fix

fix(security): verify the callback token on every branch, not one of six (#983)
  src/__tests__/security/callback-protection.test.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
  src/services/generateNanoBananaKie.ts
Due: prettier --write, eslint --fix

feat(ios): apply the profile gold and chat palettes to native screens
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
  apps/vibee-ios/Vibee/SignIn.swift
  apps/vibee-ios/Vibee/Theme.swift
Due: none

fix(security): feed/publish takes the owner from the signer, not the body
  apps/vibee-editor/render/feed-publish-owner.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
