Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

Create dependabot.yml
  .github/dependabot.yml
Due: none

fix
  .github/workflows/pr-checks.yml
Due: none

bun
  .github/workflows/pr-checks.yml
Due: none

fix test
  .github/workflows/pr-checks.yml
Due: none

image to video
  src/menu/imageModelMenu.ts
  src/menu/videoModelMenu.ts
  src/modules/localImageToVideo/VIDEO_MODELS_CONFIG.ts
  src/modules/localImageToVideo/__tests__/generateImageToVideo.unit.test.ts
  src/modules/localImageToVideo/downloadFile.ts
  src/modules/localImageToVideo/generateImageToVideo.ts
  src/modules/localImageToVideo/types.ts
  src/price/models/IMAGES_MODELS.ts
  src/price/models/index.ts
  src/scenes/imageToVideoWizard/index.ts
  src/scenes/textToImageWizard/index.ts
  src/services/generateImageToVideo.ts
  src/services/generateImageToVideoAdapter.ts
  src/services/index.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

kaya bot
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  nginx-config/default.conf
  src/bot.ts
  src/config/index.ts
  src/core/bot/index.ts
  src/core/getBotTokenByName.ts
  src/interfaces/telegram-bot.interface.ts
Due: prettier --write, eslint --fix

kaya bot
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  nginx-config/default.conf
  src/bot.ts
  src/config/index.ts
  src/core/bot/index.ts
  src/core/getBotTokenByName.ts
  src/helpers/botName.helper.ts
  src/interfaces/telegram-bot.interface.ts
Due: prettier --write, eslint --fix

fix pay
  src/scenes/paymentScene/index.ts
Due: prettier --write, eslint --fix

WIP on new_bot_8
  README.md
  src/modules/localImageToVideo/README.md
Due: prettier --write

feat: Reimplement replicate based test
  src/modules/localImageToVideo/README.md
Due: prettier --write

feat: add ROADMAP and replicator API config
  .cursor/rules/current_task.mdc
  ROADMAP.md
Due: prettier --write

refactor(localImageToVideo): Improve modularity, clean up types, config, and adapter
  .cursor/rules/current_task.mdc
  scripts/generate_video_from_image.sh
  src/modules/localImageToVideo/README.md
  src/modules/localImageToVideo/VIDEO_MODELS_CONFIG.ts
  src/modules/localImageToVideo/types.ts
  src/modules/localImageToVideo/utils/findModel.ts
  src/services/generateImageToVideoAdapter.ts
Due: prettier --write, eslint --fix

feat(husky): add pre-push hook to prevent direct pushes to main
  .husky/pre-push
Due: none

refactoring
  .cursor-rules/current-task.mdc
  .cursor/rules/current_task.mdc
  SUCCESS_HISTORY.md
  __tests__/setup.ts
  bun.lock
  src/__tests__/services/plan_b/generateTextToImage.test.ts
  src/__tests__/services/plan_b/generateTextToVideo.test.ts
  src/hearsHandlers.ts
  src/modules/generateTextToImage/README.md
  src/modules/generateTextToImage/__tests__/generateTextToImage.test.ts
  src/modules/generateTextToImage/generateTextToImage.ts
  src/modules/generateTextToImage/index.ts
  src/modules/generateTextToImage/types.ts
  src/modules/generateTextToImage/utils/sizeCalculator.ts
  src/modules/generateTextToVideo/__tests__/generateTextToVideo.test.ts
  src/modules/generateTextToVideo/generateTextToVideo.ts
  src/modules/generateTextToVideo/index.ts
  src/modules/generateTextToVideo/types.ts
  src/modules/localImageToVideo/__tests__/generateImageToVideo.unit.test.ts
  src/modules/localImageToVideo/generateImageToVideo.ts
  src/modules/localImageToVideo/types.ts
  src/modules/localImageToVideo/utils/findModel.ts
  src/price/models/VIDEO_MODELS_CONFIG.ts
  src/scenes/improvePromptWizard/index.ts
  src/scenes/textToImageWizard/index.ts
  src/scenes/textToVideoWizard/index.ts
  src/services/generateTextToImage.ts
  src/services/index.ts
  src/services/plan_b/generateImageToVideo.ts
  src/services/plan_b/generateTextToVideo.ts
  src/services/plan_b/index.ts
Due: prettier --write, eslint --fix

fix menu
  src/commands/selectModelCommand/getAvailableModels.ts
  src/core/supabase/updateUserModel.ts
  src/registerCommands.ts
  src/scenes/selectModelWizard/index.ts
Due: prettier --write, eslint --fix

git ignore
  .cursor/rules/current_task.mdc
  .gitignore
Due: none

fix
  src/interfaces/telegram-bot.interface.ts
  src/price/helpers/modelsCost.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/scenes/subscriptionCheckScene.ts
  src/services/generateNeuroPhotoDirect.ts
Due: prettier --write, eslint --fix

refactor(text-to-image): Implement direct generation call, fix session model conflict, keyboard handling, pulse call & pricing display
  .gitignore
  SUCCESS_HISTORY.md
  src/interfaces/telegram-bot.interface.ts
  src/price/models/imageModelPrices.ts
  src/scenes/improvePromptWizard/index.ts
  src/scenes/sizeWizard/index.ts
  src/scenes/textToImageWizard/index.ts
  src/services/generateTextToImage.ts
  src/services/plan_b/generateTextToImage.ts
  src/services/plan_b/generateTextToImageDirect.ts
  src/services/plan_b/index.ts
Due: prettier --write, eslint --fix

feat: Refactor VideoService module, fix generateTextToVideo tests
  .cursor/rules/current_task.mdc
  src/modules/generateSpeech/README.md
  src/modules/generateSpeech/generateSpeech.ts
  src/modules/generateSpeech/index.ts
  src/modules/generateSpeech/types.ts
  src/modules/generateTextToVideo/README.md
  src/modules/generateTextToVideo/__tests__/generateTextToVideo.test.ts
  src/modules/videoService/README.md
  src/modules/videoService/__tests__/videoService.test.ts
  src/modules/videoService/index.ts
  src/modules/videoService/types.ts
  src/modules/videoService/videoService.ts
  src/services/plan_b/index.ts
  src/services/plan_b/videoService.ts
Due: prettier --write, eslint --fix

modules
  .cursor/rules/current_task.mdc
  src/__tests__/services/plan_b/videoService.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/modules/generateSpeech/__tests__/generateSpeech.test.ts
  src/modules/generateSpeech/generateSpeech.ts
  src/modules/generateSpeech/types.ts
  src/modules/uploadVideoService/README.md
  src/modules/uploadVideoService/__tests__/uploadVideoService.test.ts
  src/modules/uploadVideoService/index.ts
  src/modules/uploadVideoService/types.ts
  src/modules/uploadVideoService/uploadVideoService.ts
  src/modules/videoService/__tests__/videoService.test.ts
  src/modules/videoService/types.ts
  src/scenes/rublePaymentScene.ts
  src/scenes/uploadVideoScene/index.ts
  src/services/index.ts
  src/services/uploadVideoToServer.ts
  src/store/index.ts
Due: prettier --write, eslint --fix

refactor: Update imports after moving generateImageToVideo
  src/modules/imageToVideoGenerator/__tests__/common-scenarios.test.ts
  src/modules/imageToVideoGenerator/__tests__/helpers.ts
  src/modules/imageToVideoGenerator/__tests__/morphing-mode.test.ts
  src/modules/imageToVideoGenerator/__tests__/standard-mode.test.ts
  src/scenes/imageToVideoWizard/index.ts
  src/services/index.ts
Due: prettier --write, eslint --fix

chore: Skip fs-related tests temporarily
  src/modules/imageToVideoGenerator/__tests__/common-scenarios.test.ts
  src/modules/imageToVideoGenerator/__tests__/morphing-mode.test.ts
  src/modules/imageToVideoGenerator/__tests__/standard-mode.test.ts
Due: prettier --write, eslint --fix

fix: Apply type fixes to test helper
  src/modules/imageToVideoGenerator/__tests__/helpers.ts
Due: prettier --write, eslint --fix

Refactor: Isolate generateImageToVideo module, move config, fix imports/tests
  src/__tests__/services/plan_b/generateTextToVideo.test.ts
  src/interfaces/cost.interface.ts
  src/interfaces/telegram-bot.interface.ts
  src/modules/imageToVideoGenerator/__tests__/common-scenarios.test.ts
  src/modules/imageToVideoGenerator/__tests__/helpers.ts
  src/modules/imageToVideoGenerator/__tests__/morphing-mode.test.ts
  src/modules/imageToVideoGenerator/__tests__/standard-mode.test.ts
  src/modules/imageToVideoGenerator/config/models.config.ts
  src/modules/imageToVideoGenerator/generateImageToVideo.ts
  src/modules/imageToVideoGenerator/helpers/downloadFileHelper.ts
  src/modules/imageToVideoGenerator/helpers/index.ts
  src/modules/imageToVideoGenerator/helpers/priceHelper.ts
  src/modules/imageToVideoGenerator/helpers/supabaseHelper.ts
  src/modules/imageToVideoGenerator/index.ts
  src/price/helpers/calculateFinalPrice.ts
  src/price/helpers/validateAndCalculateVideoModelPrice.ts
  src/price/processBalanceVideoOperation.ts
  src/scenes/imageToVideoWizard/index.ts
  src/scenes/textToVideoWizard/index.ts
  src/services/plan_b/generateImageToVideo.ts
  src/services/plan_b/generateTextToVideo.ts
  uploads/54321/image-to-video/1746331671586_morph.mp4
  ✅
Due: prettier --write, eslint --fix

clean
  .cursor/rules/current_task.mdc
  src/handlers/handleTextMessage/index.ts
  src/scenes/imageToVideoWizard/index.ts
Due: prettier --write, eslint --fix

time
  src/core/replicate/index.ts
Due: prettier --write, eslint --fix

fix
  .gitignore
  src/bot.ts
  src/core/replicate/index.ts
  src/scenes/imageToVideoWizard/index.ts
Due: prettier --write, eslint --fix

fix
  src/scenes/subscriptionScene/index.ts
Due: prettier --write, eslint --fix

fix
  src/price/priceCalculator.ts
Due: prettier --write, eslint --fix

fix: Resolve subscription purchase flow and ctx.scene errors
  .cursor/rules/current_task.mdc
  src/bot.ts
  src/handlers/handleBuySubscription/index.ts
  src/handlers/paymentActions.ts
  src/handlers/paymentHandlers/handlePreCheckoutQuery.ts
  src/handlers/paymentHandlers/index.ts
  src/interfaces/telegram-bot.interface.ts
  src/price/priceCalculator.ts
  src/registerCommands.ts
  src/scenes/starPaymentScene.ts
  src/scenes/subscriptionScene/index.ts
Due: prettier --write, eslint --fix
