Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

checkpoint: А можно как-то связать issues на GitHub, чтобы ...
  .claude-flow/metrics/system-metrics.json
  .claude-flow/self-healing/architecture.md
  .claude-flow/self-healing/github-issues-bot.js
  .claude-flow/self-healing/smart-fixes-integration.js
  .hive-mind/hive.db-shm
  .hive-mind/hive.db-wal
  demo-self-healing-standalone.js
  demo-self-healing-system.js
Due: prettier --write

checkpoint: ✅ Парсинг завершен!
  src/services/instagramScraperDirect.ts
Due: prettier --write, eslint --fix

checkpoint: А зачем тебе Pify токен, если мы решаем эту зад...
  src/services/instagramScraperDirect.ts
Due: prettier --write, eslint --fix

hotfix: restore critical index.js for production deployment
  index.js
Due: none

checkpoint: Не понимаю, почему у нас риелс 0 написано.
  src/services/instagramScraperDirect.ts
Due: prettier --write, eslint --fix

🚨 HOTFIX: restore critical index.js for production deployment
  index.js
Due: none

checkpoint: https://ai-server-production-production-8e2d.up...
  src/config/index.ts
  src/inngest_app/client.ts
Due: prettier --write, eslint --fix

checkpoint: Необходимо создать еще одно Dev-окружение, и De...
  deployment/ansible/inventory-dev
  deployment/docker/docker-compose.dev.yml
  docs/DEV_ENVIRONMENT_SETUP.md
  scripts/deployment/deploy-dev-cicd.sh
  scripts/deployment/ssh-dev-connect.sh
Due: prettier --write

checkpoint: Проведи тесты, чтобы проверить, что у нас липси...
  scripts/test-ai-server-lipsync.js
Due: none

checkpoint: Да, только я хочу настроить окружение разработч...
  scripts/deployment/setup-dev-environment.sh
Due: none

checkpoint: Мы вот эти токены используем для тестирования ф...
  docs/DEV_ENVIRONMENT_READY.md
Due: prettier --write

checkpoint: root@999-multibots-u14194:/opt/app/999-multibot...
  docker-compose.yml
Due: none

fix(ci): Исправлен CI/CD pipeline для работы с Bun и ветками Jest-Test/cicd
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/security.yml
Due: none
