Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(скилл): два урока цикла 65
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(скилл): два урока цикла 65 (#781)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №211 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №41 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(лиды): пустой список перестал выдаваться за отсутствие лидов
  apps/vibee-editor/player/src/atoms/leads.ts
  apps/vibee-editor/player/src/components/Leads/AccountSelector.tsx
  apps/vibee-editor/player/src/pages/Search.css
  apps/vibee-editor/player/src/pages/Search.tsx
Due: prettier --write, eslint --fix

fix(лиды): пустой список перестал выдаваться за отсутствие лидов (#783)
  apps/vibee-editor/player/src/atoms/leads.ts
  apps/vibee-editor/player/src/components/Leads/AccountSelector.tsx
  apps/vibee-editor/player/src/pages/Search.css
  apps/vibee-editor/player/src/pages/Search.tsx
Due: prettier --write, eslint --fix

loop: виток №42 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №212 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №43 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №44 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №45 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: виток №46 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №213 — дежурство
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/state.json
Due: prettier --write

loop: виток №47 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: цикл №214 — ретроспектива конвейера (скрипт+первый прогон) и фикс названия в журнале автопилота
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/scripts/pipeline-retrospective.ts
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/RETROSPECTIVE.md
Due: prettier --write, eslint --fix

loop: виток №48 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: цикл №215 — маяк ретроспективы в MORNING.md и опыт №33 (кириллица в регулярках)
  apps/vibee-editor/render/scripts/morning-summary.ts
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/MORNING.md
  loop/SKILL.md
Due: prettier --write, eslint --fix

loop: хронометраж цикла №215 по date -u (опыт №31)
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №49 — дежурство
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: цикл №216 — дельта-история ретроспективы (тренд между прогонами)
  apps/vibee-editor/render/scripts/pipeline-retrospective.ts
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/RETROSPECTIVE.md
  loop/retro-history.json
Due: prettier --write, eslint --fix

feat(ios): нативная оболочка — лента, агент и профиль на SwiftUI
  apps/vibee-ios/.gitignore
  apps/vibee-ios/README.md
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/Vibee/FeedView.swift
  apps/vibee-ios/Vibee/Info.plist
  apps/vibee-ios/Vibee/VibeeApp.swift
  apps/vibee-ios/Vibee/WebScreen.swift
  apps/vibee-ios/project.yml
Due: prettier --write

loop: цикл №217 — скелет автопостинга в TG-канал (dry-run по умолчанию)
  apps/vibee-editor/render/scripts/telegram-autopost.ts
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write, eslint --fix

fix(таймлайн): подпись клипа не читалась на светлой заливке
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
Due: none

fix(таймлайн): подпись клипа не читалась на светлой заливке (#793)
  apps/vibee-editor/player/src/components/Timeline/Timeline.css
Due: none

Нативная оболочка для iOS: лента, агент и профиль на SwiftUI (#792)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/scripts/morning-summary.ts
  apps/vibee-editor/render/scripts/pipeline-retrospective.ts
  apps/vibee-editor/render/scripts/telegram-autopost.ts
  apps/vibee-ios/.gitignore
  apps/vibee-ios/README.md
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/AgentChatView.swift
  apps/vibee-ios/Vibee/FeedView.swift
  apps/vibee-ios/Vibee/Info.plist
  apps/vibee-ios/Vibee/VibeeApp.swift
  apps/vibee-ios/Vibee/WebScreen.swift
  apps/vibee-ios/project.yml
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/MORNING.md
  loop/RETROSPECTIVE.md
  loop/regression-check.sh
  loop/retro-history.json
  loop/state.json
  loop/topics.json
Due: prettier --write, eslint --fix

loop: цикл №218 — инцидент вебхука кассира: восстановление + периодический re-set + опыт №34
  apps/vibee-editor/render/render-server.ts
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write, eslint --fix

feat(ios): общее ядро композиции — одно на все три этапа
  apps/vibee-ios/Vibee/Composition.swift
Due: none

Общее ядро композиции — одно на все три этапа (#794)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-ios/Vibee/Composition.swift
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write, eslint --fix

feat(ios): нативные таймлайн и свойства клипа (этап А)
  apps/vibee-ios/Vibee/PropertiesView.swift
  apps/vibee-ios/Vibee/TimelineView.swift
  apps/vibee-ios/Vibee/VibeeApp.swift
Due: none

feat(ios): нативные таймлайн и свойства клипа (этап А) (#795)
  apps/vibee-ios/Vibee/PropertiesView.swift
  apps/vibee-ios/Vibee/TimelineView.swift
  apps/vibee-ios/Vibee/VibeeApp.swift
Due: none

loop: цикл №220 — рецидив вебхука кассира: механизм найден, поднят страж (мост до деплоя)
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
  loop/cashier-watch.sh
Due: prettier --write

loop: цикл №221 — надзор стража в регрессе, порог реестра 32
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/regression-check.sh
Due: prettier --write

chore(ios): сборка, установка и запуск одной командой
  apps/vibee-ios/run.sh
Due: none

Сборка, установка и запуск iOS одной командой (#796)
  apps/vibee-ios/run.sh
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
  loop/cashier-watch.sh
  loop/regression-check.sh
Due: prettier --write

loop: цикл №222 — страж кассира: боевая валидация и кэш env
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/cashier-watch.sh
Due: prettier --write

fix(ios): прятать веб-таймлайн по точному имени класса
  apps/vibee-ios/Vibee/WebScreen.swift
Due: none

fix(ios): прятать веб-таймлайн по точному имени класса (#805)
  apps/vibee-ios/Vibee/WebScreen.swift
Due: none

loop: цикл №223 — гвард кассира в бэкенде: вебхук рендера неприкосновенен
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  src/index.ts
Due: prettier --write, eslint --fix

feat(ios): fastlane для выкладки в TestFlight
  apps/vibee-ios/README.md
  apps/vibee-ios/fastlane/.gitignore
  apps/vibee-ios/fastlane/Appfile
  apps/vibee-ios/fastlane/Fastfile
  apps/vibee-ios/project.yml
Due: prettier --write

feat(ios): fastlane для выкладки в TestFlight (#806)
  apps/vibee-ios/README.md
  apps/vibee-ios/fastlane/.gitignore
  apps/vibee-ios/fastlane/Appfile
  apps/vibee-ios/fastlane/Fastfile
  apps/vibee-ios/project.yml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
