Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

loop: отчёт цикла №6
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: A/B заголовки — чередование стилей и измеримость
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №7, опыт
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write

loop: разнос постов по дню — минимум 3 часа между публикациями
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №8
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: честные описания инструментов — trust calibration
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №9
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: утренняя сводка — вся ночь одним файлом
  apps/vibee-editor/render/scripts/morning-summary.ts
  loop/MORNING.md
Due: prettier --write, eslint --fix

loop: отчёт цикла №10
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: починен откат очереди при смене дня + стек в сводке
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/scripts/morning-summary.ts
  loop/MORNING.md
Due: prettier --write, eslint --fix

loop: отчёт цикла №11, опыт
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write

loop: регресс-чек конвейера — аудит одной командой
  loop/regression-check.sh
Due: none

loop: отчёт цикла №12, опыт
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write

loop: регресс-чек проверяет честность описаний инструментов
  loop/regression-check.sh
Due: none

loop: отчёт цикла №13
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: утренние витки обновляют MORNING.md — правило в скилле
  loop/MORNING.md
  loop/SKILL.md
Due: prettier --write

loop: отчёт цикла №14
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №15 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №16 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №17 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: рассвет конвейера — пост id 9, A/B начат, сводка обновлена
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/MORNING.md
  loop/state.json
Due: prettier --write

loop: отчёт цикла №19 (утреннее дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/MORNING.md
Due: prettier --write

loop: отчёт цикла №20 (дежурство, хук-идея в план)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №21 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №22 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №23 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №24 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №25 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №26 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №27 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №28 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №29 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: честная маркировка AI-контента в постах автопилота
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №30
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №31 — пост id 10, стиль B, маркировка жива
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/state.json
Due: prettier --write

loop: отчёт цикла №32 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №33 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №34, план — недельная ретро
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №35 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(звёзды): контурная звезда до первого подарка + ffmpeg-обёртки
  apps/vibee-editor/packages/vibee-atoms/src/types.ts
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/player/src/components/Panels/FeedCard.tsx
  apps/vibee-editor/player/src/components/Panels/FeedPanel.css
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
