Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(loop): record what the 39-model list actually looks like on screen
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): record what the 39-model list actually looks like on screen (#1854)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

test(security): the one guard in this repo that had never passed
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/probe-silent-reds.cjs
  src/__tests__/security/noEmbeddedDbCredentials.test.ts
  tri
Due: prettier --write, eslint --fix

test(security): the one guard in this repo that had never passed (#1855)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/probe-silent-reds.cjs
  src/__tests__/security/noEmbeddedDbCredentials.test.ts
  tri
Due: prettier --write, eslint --fix

test(tools): pin that a switched-off test says why it is off
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/probe-skips.cjs
  src/__tests__/tools/skipsExplained.test.ts
  tri
Due: prettier --write, eslint --fix

test(tools): pin that a switched-off test says why it is off (#1856)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/probe-skips.cjs
  src/__tests__/tools/skipsExplained.test.ts
  tri
Due: prettier --write, eslint --fix

feat(ios): split the script result into the three tabs the web already has
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: none

feat(ios): split the script result into the three tabs the web already has (#1857)
  apps/vibee-ios/Vibee/GenerateScreen.swift
Due: none

fix(imports): the worktree degradation was a bare 'stream' import
  .claude/skills/vibee-stack-hard-won/SKILL.md
  apps/vibee-editor/render/src/lib/transcribe.ts
  docs/audit/worktree-degradation.md
  src/__tests__/tools/noBareStreamImport.test.ts
  src/core/elevenlabs/index.ts
  src/services/videoTranscription.ts
  tri
Due: prettier --write, eslint --fix

fix(imports): the worktree degradation was a bare 'stream' import (#1858)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  apps/vibee-editor/render/src/lib/transcribe.ts
  docs/audit/worktree-degradation.md
  src/__tests__/tools/noBareStreamImport.test.ts
  src/core/elevenlabs/index.ts
  src/services/videoTranscription.ts
  tri
Due: prettier --write, eslint --fix

fix(vitest): give each worktree its own vite cache, and retract a false report
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .gitignore
  .test-baseline.txt
  src/__tests__/tools/viteCacheNotShared.test.ts
  tri
  vitest.config.ts
Due: prettier --write, eslint --fix

fix(vitest): give each worktree its own vite cache, and retract a false report (#1859)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .gitignore
  .test-baseline.txt
  src/__tests__/tools/viteCacheNotShared.test.ts
  tri
  vitest.config.ts
Due: prettier --write, eslint --fix

chore(worktrees): sweep 25 stale trees to 4, and ask merge status correctly
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/probe-worktrees.cjs
  tri
Due: prettier --write

chore(worktrees): sweep 25 stale trees to 4, and ask merge status correctly (#1860)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/probe-worktrees.cjs
  tri
Due: prettier --write

fix(marketplace): release the in-flight key in a finally, or paid content goes free
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/creditSiteCensus.test.ts
  src/__tests__/money/marketplaceInFlightReleased.test.ts
  src/services/marketplaceService.ts
Due: prettier --write, eslint --fix

fix(marketplace): release the in-flight key in a finally, or paid content goes free (#1861)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/creditSiteCensus.test.ts
  src/__tests__/money/marketplaceInFlightReleased.test.ts
  src/services/marketplaceService.ts
Due: prettier --write, eslint --fix

test(money): check the guard each credit is described as having, not just the list
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/credit-guards.cjs
  src/__tests__/money/creditGuardsHold.test.ts
  tri
Due: prettier --write, eslint --fix

test(money): check the guard each credit is described as having, not just the list (#1862)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/credit-guards.cjs
  src/__tests__/money/creditGuardsHold.test.ts
  tri
Due: prettier --write, eslint --fix

test(money): ratchet the charge sites too, reading money-map instead of rewriting it
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/chargeSiteCensus.test.ts
Due: prettier --write, eslint --fix

test(money): ratchet the charge sites too, reading money-map instead of rewriting it (#1863)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/chargeSiteCensus.test.ts
Due: prettier --write, eslint --fix

fix(money-map): a function with no direction parameter can only charge
  .claude/loop-opus/money-map.mjs
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/chargeSiteCensus.test.ts
Due: prettier --write, eslint --fix

fix(money-map): a function with no direction parameter can only charge (#1864)
  .claude/loop-opus/money-map.mjs
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/chargeSiteCensus.test.ts
Due: prettier --write, eslint --fix

test(security): widen the callback-number registry to match what its header promises
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/scenes/callbackNumberParseRegistry.test.ts
Due: prettier --write, eslint --fix

test(security): widen the callback-number registry to match what its header promises (#1865)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/scenes/callbackNumberParseRegistry.test.ts
Due: prettier --write, eslint --fix

test(money): pin the deadness of two charging files nobody calls
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/chargeSiteCensus.test.ts
Due: prettier --write, eslint --fix

test(money): pin the deadness of two charging files nobody calls (#1866)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/chargeSiteCensus.test.ts
Due: prettier --write, eslint --fix

fix(money-map): one function, two rules for one word -- REFUND was only half known
  .claude/loop-opus/money-map.mjs
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/moneyMapKnowsBothCreditSpellings.test.ts
Due: prettier --write, eslint --fix

fix(ios): declare thumbnailUrl and actually draw it, so reel cards stop being black
  apps/vibee-ios/Vibee/API.swift
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: none

fix(money-map): one function, two rules for one word -- REFUND was only half known (#1868)
  .claude/loop-opus/money-map.mjs
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/moneyMapKnowsBothCreditSpellings.test.ts
Due: prettier --write, eslint --fix

test(money): pin why a failure is free in the four files that never refund
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/charge-timing.cjs
  src/__tests__/money/chargeNotBeforeDelivery.test.ts
  tri
Due: prettier --write, eslint --fix

test(money): pin why a failure is free in the four files that never refund (#1869)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/charge-timing.cjs
  src/__tests__/money/chargeNotBeforeDelivery.test.ts
  tri
Due: prettier --write, eslint --fix

test(money): freeze the set of files from which a charge is reachable
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/charge-reachability.cjs
  src/__tests__/money/chargeReachability.test.ts
Due: prettier --write, eslint --fix

test(money): freeze the set of files from which a charge is reachable (#1870)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/charge-reachability.cjs
  src/__tests__/money/chargeReachability.test.ts
Due: prettier --write, eslint --fix

test(money): a census for consume-once, the last guard mechanism without one
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/consume-once.cjs
  src/__tests__/money/consumeOnceCensus.test.ts
Due: prettier --write, eslint --fix

test(money): a census for consume-once, the last guard mechanism without one (#1871)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/consume-once.cjs
  src/__tests__/money/consumeOnceCensus.test.ts
Due: prettier --write, eslint --fix

tools(scopes): measure what every ratchet actually walks -- and close the class
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/probe-registry-scopes.cjs
  tri
Due: prettier --write

tools(scopes): measure what every ratchet actually walks -- and close the class (#1872)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/probe-registry-scopes.cjs
  tri
Due: prettier --write

test(money): pin the assumption that makes every per-process guard sound
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/guardsAssumeOneProcess.test.ts
Due: prettier --write, eslint --fix

test(money): pin the assumption that makes every per-process guard sound (#1873)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/guardsAssumeOneProcess.test.ts
Due: prettier --write, eslint --fix

test(money): the else branch, not 2000 characters after the anchor
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/lib/call-args.cjs
  src/__tests__/money/refundFailureIsAnnounced.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
