Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: Increase sleep time and add app logs before Ansible exec
  update-docker.sh
Due: none

Checkpoint: Before reverting Docker build/run changes
  Dockerfile
  tsconfig.prod.json
  update-docker.sh
Due: prettier --write

fix: Re-apply Dockerfile sed fix for import paths & revert related files
  Dockerfile
  docker-compose.yml
  tsconfig.prod.json
  update-docker.sh
Due: prettier --write

mcp path
  Dockerfile
  package.json
  src/core/mcp/index.ts
  tsconfig.json
  update-docker.sh
Due: prettier --write, eslint --fix

fix
  Dockerfile
  package.json
  src/scenes/subscriptionCheckScene.ts
  tsconfig.json
  tsconfig.prod.json
  update-docker.sh
Due: prettier --write, eslint --fix

Исправлена ошибка при входе в главное меню с командой /menu
  tsconfig.prod.json.backup
Due: none

Исправлена проблема SSH-ключей в Ansible при деплое
  inventory
  update-docker.sh
Due: none

Добавлена директория для Nginx-конфигов и обработчик перезапуска
  roles/nginx/handlers/main.yml
  roles/nginx/tasks/main.yml
Due: none

Исправление конфигурации Nginx для вебхуков Telegram и создание документации
  NGINX-CONFIG-README.md
  docker-compose.yml
  nginx-config/default.conf
  nginx-helper.sh
  nginx.conf
  update-docker.sh
  update-nginx-config.sh
Due: prettier --write

clean
  docs/BOT-SETUP-README.md
  docs/NGINX-CONFIG-README.md
  docs/PAYMENT_RULES.md
  package.json
  roles/nginx/handlers/main.yml
  roles/nginx/tasks/main.yml
  roles/nginx/templates/api.locations.j2
  roles/nginx/templates/bot1.locations.j2
  roles/nginx/templates/bot2.locations.j2
  roles/nginx/templates/bot3.locations.j2
  roles/nginx/templates/bot4.locations.j2
  roles/nginx/templates/bot5.locations.j2
  roles/nginx/templates/bot6.locations.j2
  roles/nginx/templates/bot7.locations.j2
  roles/nginx/templates/nginx.conf.j2
  src/scenes/subscriptionCheckScene.ts
  src/test-utils/tests/inngest/createVoiceAvatarTest.ts
  src/utils/launch.ts
Due: prettier --write, eslint --fix

test
  package.json
  src/helpers/inngest/balanceHelpers.ts
  src/helpers/paymentHelpers.ts
  src/localizations/en/bot.json
  src/localizations/en/errors.json
  src/localizations/en/userBotChat.json
  src/localizations/en/userServerChat.json
  src/localizations/ru/bot.json
  src/localizations/ru/errors.json
  src/localizations/ru/userBotChat.json
  src/localizations/ru/userServerChat.json
  src/test-utils/tests/inngest/createVoiceAvatarTest.ts
  src/test-utils/tests/payment/PaymentTester.ts
  src/test-utils/tests/payment/payment.test.ts
  src/test-utils/tests/payment/paymentHelpers.test.ts
Due: prettier --write, eslint --fix

fix translation
  package.json
  src/core/supabase/getTranslation.ts
  src/core/supabase/index.ts
  src/inngest-functions/imageToVideo.inngest.ts
  src/scenes/chatWithAvatarWizard/index.ts
  src/scenes/startScene/index.ts
  src/scenes/subscriptionScene/index.ts
Due: prettier --write, eslint --fix

neurophoto
  README.md
  docker-compose.yml
  docs/configuration/inngest.md
  package.json
  src/inngest-functions/clients.ts
  src/inngest-functions/serve.ts
  src/registerCommands.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/scenes/selectModelWizard/index.ts
  src/scenes/selectNeuroPhotoScene/index.ts
Due: prettier --write, eslint --fix

fix payments
  src/core/supabase/createSuccessfulPayment.ts
  src/interfaces/payments.interface.ts
  src/scenes/subscriptionCheckScene.ts
  src/utils/launch.ts
Due: prettier --write, eslint --fix

digital avatar body
  src/price/helpers/modelsCost.ts
  src/registerCommands.ts
  src/scenes/helpScene/index.ts
  src/scenes/selectModelScene/index.ts
Due: prettier --write, eslint --fix

fix
  docker-compose.yml
  src/core/supabase/createSuccessfulPayment.ts
  src/inngest-functions/imageToVideo.inngest.ts
  src/inngest-functions/paymentProcessor.ts
  src/scenes/paymentScene/index.ts
  src/scenes/selectModelScene/index.ts
  src/test-utils/tests/payment/balance.test.ts
Due: prettier --write, eslint --fix

payments
  README.md
  docs/PAYMENT.md
  package.json
  src/helpers/sendTransactionNotification.ts
  src/interfaces/payments.interface.ts
  src/test-utils/index.ts
  src/test-utils/tests/payment/index.ts
  src/test-utils/tests/payment/paymentNotification.test.ts
Due: prettier --write, eslint --fix

Интеграция платежной системы с SelectModelWizard и исправление ошибок типизации
  CHANGELOG.md
  PULL_REQUEST.md
  README.md
  docker-compose.test.yml
  docker-compose.test.yml.bak
  docs/PAYMENT.md
  package.json
  scripts/run-ambassador-tests.sh
  scripts/run-select-model-tests.sh
  src/core/supabase/createSuccessfulPayment.ts
  src/helpers/sendAmbassadorNotification.ts
  src/inngest-functions/ambassadorNotification.ts
  src/inngest-functions/paymentProcessor.ts
  src/interfaces/selectModelWizard.interface.ts
  src/scenes/selectModelWizard/index.ts
  src/services/ambassadorPaymentNotifier.ts
  src/test-utils/helpers/createMockAmbassador.ts
  src/test-utils/helpers/createMockAvatarBot.ts
  src/test-utils/runAmbassadorNotificationTests.ts
  src/test-utils/runAmbassadorTests.ts
  src/test-utils/runSelectModelTests.ts
  src/test-utils/tests/ambassador/ambassadorNotificationTest.ts
  src/test-utils/tests/payment/ambassadorNotificationTest.ts
  src/test-utils/tests/payment/createSuccessfulPaymentTest.ts
  src/test-utils/tests/payment/index.ts
  src/test-utils/tests/payment/selectModelWizardPaymentTest.ts
  src/test-utils/types.ts
Due: prettier --write, eslint --fix

Реорганизация структуры тестов платежной системы
  CHANGELOG.md
  docs/TESTING.md
  package.json
  scripts/run-payment-tests.sh
  scripts/run-receipt-tests.sh
  scripts/run-simple-receipt-test.sh
  src/test-utils/payment/runPaymentReceiptTestsOnly.js
  src/test-utils/payment/runPaymentReceiptTestsOnly.ts
  src/test-utils/payment/runPaymentTests.js
  src/test-utils/payment/runPaymentTests.ts
  src/test-utils/payment/runSimpleReceiptTest.js
  src/test-utils/payment/runSimpleReceiptTest.ts
Due: prettier --write, eslint --fix

Добавлен TelegrafBotTester и тесты для аватар-ботов
  CHANGELOG.md
  PR.md
  package.json
  scripts/run-avatar-bot-tests.sh
  src/test-utils/examples/TelegrafBotTesterExample.ts
  src/test-utils/helpers/createMockAvatarBot.ts
  src/test-utils/runAvatarBotTests.ts
  src/test-utils/test-config.ts
  src/test-utils/testers/README.md
  src/test-utils/testers/TelegrafBotTester.ts
  src/test-utils/tests/bots/avatarBotTest.ts
Due: prettier --write, eslint --fix

Добавлен cg.log для отслеживания изменений проекта
  cg.log
Due: none

mcp
  cg-log.md
  package-lock.json
  package.json
  package.json.fixed
  scripts/install-mcp.sh
  src/core/mcp/agent/improvement-detector.ts
  src/core/mcp/agent/index.ts
  src/core/mcp/agent/scheduler.ts
  src/core/mcp/agent/self-improvement.ts
  src/core/mcp/agent/state.ts
  src/core/mcp/services/mcp.ts
  src/core/mcp/telegram/index.ts
  src/core/mcp/telegram/utils.ts
  src/core/mcp/types/index.ts
  src/test-utils/telegram-self-improvement.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
