Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(payments): отказ в зачислении теперь называет последствие, а не операцию (#509)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/ghost-payers.md
  scripts/probe-ghost-payers.cjs
  src/__tests__/core/supabase/updateUserBalance.test.ts
  src/core/supabase/updateUserBalance.ts
Due: prettier --write, eslint --fix

fix(inngest): события уходили в пустоту, а за них списывали деньги
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/event-seams.md
  scripts/probe-event-seams.cjs
  src/__tests__/inngest/client.test.ts
  src/__tests__/inngest/event-seams.test.ts
  src/inngest_app/client.ts
  src/inngest_app/inngestClient.ts
  src/inngest_app/mcp-server.ts
  src/scenes/instagramParserScene/index.ts
  src/scenes/instagramParserWizard/index.ts
  src/services/competitorMonitoringApiService.ts
  src/services/generateInstagramScraping.ts
Due: prettier --write, eslint --fix

fix(inngest): события уходили в пустоту, а за них списывали деньги (#510)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/event-seams.md
  scripts/probe-event-seams.cjs
  src/__tests__/inngest/client.test.ts
  src/__tests__/inngest/event-seams.test.ts
  src/inngest_app/client.ts
  src/inngest_app/inngestClient.ts
  src/inngest_app/mcp-server.ts
  src/scenes/instagramParserScene/index.ts
  src/scenes/instagramParserWizard/index.ts
  src/services/competitorMonitoringApiService.ts
  src/services/generateInstagramScraping.ts
Due: prettier --write, eslint --fix

fix(config): «AI-сервер не настроен» больше не выглядит как «сервер лежит»
  src/__tests__/config/aiServer.test.ts
  src/config/aiServer.ts
  src/services/generateNeuroPhotoHybrid.ts
  src/services/generateNeuroPhotoMulti.ts
Due: prettier --write, eslint --fix

chore(data): заведены профили 12 плательщикам, у которых их не было
  scripts/plan-ghost-profiles.cjs
Due: none

fix(config): AI-сервер и профили плательщиков (#511)
  scripts/plan-ghost-profiles.cjs
  src/__tests__/config/aiServer.test.ts
  src/config/aiServer.ts
  src/services/generateNeuroPhotoHybrid.ts
  src/services/generateNeuroPhotoMulti.ts
Due: prettier --write, eslint --fix

docs(skills): сравнение прогонов встык, а не по памяти
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skills): сравнение прогонов встык, а не по памяти (#512)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

test(gate): сравнение множеств вместо счётчиков
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/test-gate.md
  package.json
  scripts/test-gate.cjs
Due: prettier --write

fix(money): heygen списывал и не возвращал — дыру открыл я сам
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/charge-order.md
  scripts/probe-charge-order.cjs
  src/__tests__/money/charge-order.test.ts
  src/scenes/lipSyncWizard/heygen-render-wizard.ts
Due: prettier --write, eslint --fix

test(gate) + fix(money): честный счётчик регрессий и дыра, которую я сам открыл (#513)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/charge-order.md
  docs/audit/test-gate.md
  package.json
  scripts/probe-charge-order.cjs
  scripts/test-gate.cjs
  src/__tests__/money/charge-order.test.ts
  src/scenes/lipSyncWizard/heygen-render-wizard.ts
Due: prettier --write, eslint --fix

test(db): 27 имён таблиц из 46 в базе не существуют
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/table-seams.md
  scripts/probe-table-seams.cjs
  src/__tests__/db/table-seams.test.ts
Due: prettier --write, eslint --fix

test(db): 27 имён таблиц из 46 в базе не существуют (#514)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/table-seams.md
  scripts/probe-table-seams.cjs
  src/__tests__/db/table-seams.test.ts
Due: prettier --write, eslint --fix

test(inngest): 13 функций из 35 не зарегистрированы — три моих правки ушли туда
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/unregistered-functions.md
  scripts/probe-reachability.cjs
  src/__tests__/inngest/registration.test.ts
Due: prettier --write, eslint --fix

test(inngest): 13 функций из 35 не зарегистрированы — три моих правки ушли туда (#515)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/unregistered-functions.md
  scripts/probe-reachability.cjs
  src/__tests__/inngest/registration.test.ts
Due: prettier --write, eslint --fix

docs(audit): 27 несуществующих таблиц разделены на нужные и подлежащие удалению
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/table-seams.md
Due: prettier --write

docs(audit): 27 несуществующих таблиц разделены на нужные и подлежащие удалению (#516)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/table-seams.md
Due: prettier --write

docs(audit): отзываю объяснение зависших обучений — профиль отказов другой
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/stuck-trainings.md
  src/core/supabase/getBotsFromSupabase.ts
  src/core/supabase/isLimitAi.ts
  src/services/marketplaceService.ts
  src/services/whiteLabelConfig.ts
  src/utils/service.utils.ts
Due: prettier --write, eslint --fix

docs(audit): отзываю объяснение зависших обучений — профиль отказов другой (#517)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/stuck-trainings.md
  src/core/supabase/getBotsFromSupabase.ts
  src/core/supabase/isLimitAi.ts
  src/services/marketplaceService.ts
  src/services/whiteLabelConfig.ts
  src/utils/service.utils.ts
Due: prettier --write, eslint --fix

docs(audit): пострадал один человек, а не пятнадцать — считал строки вместо людей
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/training-money-truth.md
Due: prettier --write

docs(audit): пострадал один человек, а не пятнадцать — считал строки вместо людей (#518)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/training-money-truth.md
Due: prettier --write

docs(audit): пересчёт прошлых чисел по людям — «затронуто» не равно «навредит»
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/recount-by-people.md
Due: prettier --write

docs(audit): пересчёт прошлых чисел по людям — «затронуто» не равно «навредит» (#519)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/recount-by-people.md
Due: prettier --write

fix(assets): утечка вложений остановлена — зеркалирование через Supabase Storage
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/asset-links.md
  scripts/probe-asset-links.cjs
  src/__tests__/assets/no-direct-insert.test.ts
  src/core/supabase/saveVideoUrlToSupabase.ts
  src/modules/videoGenerator/helpers/supabaseHelper.ts
Due: prettier --write, eslint --fix

fix(assets): утечка вложений остановлена — зеркалирование через Supabase Storage (#520)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/asset-links.md
  scripts/probe-asset-links.cjs
  src/__tests__/assets/no-direct-insert.test.ts
  src/core/supabase/saveVideoUrlToSupabase.ts
  src/modules/videoGenerator/helpers/supabaseHelper.ts
Due: prettier --write, eslint --fix

fix(mirror): течь была в двадцать раз шире — 29 813 чужих ссылок в базе
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/foreign-links.md
  scripts/probe-foreign-links.cjs
  src/__tests__/assets/mirror-storage.test.ts
  src/core/supabase/mirrorToStorage.ts
  src/core/supabase/savePrompt.ts
  src/core/supabase/savePromptDirect.ts
  src/core/supabase/saveVideoUrlToSupabase.ts
Due: prettier --write, eslint --fix

fix(mirror): течь была в двадцать раз шире — 29 813 чужих ссылок в базе (#521)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/foreign-links.md
  scripts/probe-foreign-links.cjs
  src/__tests__/assets/mirror-storage.test.ts
  src/core/supabase/mirrorToStorage.ts
  src/core/supabase/savePrompt.ts
  src/core/supabase/savePromptDirect.ts
  src/core/supabase/saveVideoUrlToSupabase.ts
Due: prettier --write, eslint --fix

fix(replicate): модели не потеряны, но у троих сломана ссылка на них
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/model-weights.md
  src/__tests__/inngest/model-url-format.test.ts
  src/core/replicate/buildModelUrl.ts
  src/inngest_app/functions/existing/handleModelTrainingCompleted.ts
Due: prettier --write, eslint --fix

fix(replicate): модели не потеряны, но у троих сломана ссылка на них (#522)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/model-weights.md
  src/__tests__/inngest/model-url-format.test.ts
  src/core/replicate/buildModelUrl.ts
  src/inngest_app/functions/existing/handleModelTrainingCompleted.ts
Due: prettier --write, eslint --fix

security: токены шести действующих ботов лежали в базе открытым текстом
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/bot-tokens-in-db.md
  scripts/cnt.cjs
  scripts/probe-id-concat.cjs
  scripts/redact-tokens-in-photo-url.cjs
  src/__tests__/security/no-token-in-urls.test.ts
  src/middlewares/getUserPhotoUrl.ts
Due: prettier --write, eslint --fix

security: токены шести действующих ботов лежали в базе открытым текстом (#523)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/bot-tokens-in-db.md
  scripts/cnt.cjs
  scripts/probe-id-concat.cjs
  scripts/redact-tokens-in-photo-url.cjs
  src/__tests__/security/no-token-in-urls.test.ts
  src/middlewares/getUserPhotoUrl.ts
Due: prettier --write, eslint --fix

security: восемь действующих токенов ботов, а не шесть — и второе место хранения
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/bot-tokens-in-db.md
  scripts/probe-secrets-in-db.cjs
  scripts/redact-tokens-in-photo-url.cjs
Due: prettier --write

security: восемь действующих токенов ботов, а не шесть — и второе место хранения (#524)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/bot-tokens-in-db.md
  scripts/probe-secrets-in-db.cjs
  scripts/redact-tokens-in-photo-url.cjs
Due: prettier --write

security: рабочий служебный ключ базы в 11 файлах и два рабочих ключа в истории
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/secrets-in-repo.md
  scripts/probe-secrets-in-history.cjs
  src/__tests__/security/no-secrets-in-repo.test.ts
Due: prettier --write, eslint --fix

security: рабочий служебный ключ базы в 11 файлах и два рабочих ключа в истории (#525)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/secrets-in-repo.md
  scripts/probe-secrets-in-history.cjs
  src/__tests__/security/no-secrets-in-repo.test.ts
Due: prettier --write, eslint --fix

security: шесть внутренних маршрутов отдавали данные без авторизации
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/false-blockers.md
  src/__tests__/api/protected-routes.test.ts
  src/__tests__/api/route-seams.test.ts
  src/api_server/index.ts
  src/api_server/middleware/requireInternalKey.ts
Due: prettier --write, eslint --fix

security: шесть внутренних маршрутов отдавали данные без авторизации (#526)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  docs/audit/false-blockers.md
  src/__tests__/api/protected-routes.test.ts
  src/__tests__/api/route-seams.test.ts
  src/api_server/index.ts
  src/api_server/middleware/requireInternalKey.ts
Due: prettier --write, eslint --fix

security: открытые эндпоинты генерации и подделываемый обратный вызов
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/api/protected-routes.test.ts
  src/__tests__/security/callback-token.test.ts
  src/api_server/index.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
  src/utils/callbackToken.ts
  src/utils/webhookHealthCheck.ts
Due: prettier --write, eslint --fix

security: открытые эндпоинты генерации и подделываемый обратный вызов (#527)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/api/protected-routes.test.ts
  src/__tests__/security/callback-token.test.ts
  src/api_server/index.ts
  src/api_server/routes/kie-ai-webhook.routes.ts
  src/utils/callbackToken.ts
  src/utils/webhookHealthCheck.ts
Due: prettier --write, eslint --fix

docs(audit): следов злоупотребления не найдено — но доверять этому нельзя
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/abuse-traces.md
  scripts/probe-abuse-traces.cjs
  src/api_server/routes/neuro-photo.routes.ts
  src/api_server/routes/voice-avatar.routes.ts
Due: prettier --write, eslint --fix
