Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(autopilot): count the daily cap from the feed, not from an ephemeral file
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

docs(skill): acting on memory of my own edits instead of looking at state
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(autopilot): count the daily cap from the feed, not from an ephemeral file (#1073)
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

docs(skill): acting on memory of my own edits instead of looking at state (#1074)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

test(autopilot): nothing ever ran the script, so it stayed unrunnable for days
  apps/vibee-editor/render/autopilot-startable.test.ts
Due: prettier --write, eslint --fix

test(autopilot): nothing ever ran the script, so it stayed unrunnable for days (#1075)
  apps/vibee-editor/render/autopilot-startable.test.ts
Due: prettier --write, eslint --fix

loop: cycle 98 - factory autonomous, standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 98 - factory autonomous, standby (#1076)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 99 - last-post truth from feed
  loop/SKILL.md
  loop/ZCODE_LOOP.md
  loop/regression-check.sh
Due: prettier --write

docs(skill): a hook that cannot find its tool was letting commits through
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: cycle 99 - last-post truth from feed (#1077)
  loop/SKILL.md
  loop/ZCODE_LOOP.md
  loop/regression-check.sh
Due: prettier --write

docs(skill): a hook that cannot find its tool was letting commits through (#1078)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(gates): five checks could not fail, including two I had been trusting
  apps/vibee-editor/render/mock-test.py
  scripts/no-cyrillic-guard.cjs
  tri
Due: none

fix(gates): five checks could not fail, including two I had been trusting (#1079)
  apps/vibee-editor/render/mock-test.py
  scripts/no-cyrillic-guard.cjs
  tri
Due: none

docs(loop): cycle 225 -- five gates could not fail, and I quoted two as proof
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

docs(loop): cycle 225 -- five gates could not fail, and I quoted two as proof (#1080)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(welcome): enable the welcome-avatar lead magnet on owner request
  src/__tests__/inngest/registration.test.ts
  src/inngest_app/registerFunctions.ts
  src/scenes/createUserScene.ts
Due: prettier --write, eslint --fix

fix(tri): the factory check trusted a local file and reported a false stall
  tri
Due: none

fix(tri): the factory check trusted a local file and reported a false stall (#1081)
  tri
Due: none

fix(orphan-events): detect a send whose event is named by an INNGEST_EVENTS constant
  scripts/orphan-events.cjs
Due: none

feat(welcome): enable the welcome-avatar lead magnet (owner request)
  scripts/orphan-events.cjs
  src/__tests__/inngest/registration.test.ts
  src/inngest_app/registerFunctions.ts
  src/scenes/createUserScene.ts
Due: prettier --write, eslint --fix

fix(repo): node_modules was a committed symlink to a machine that does not exist
  apps/vibee-editor/player/node_modules
  node_modules
Due: none

fix(repo): node_modules was a committed symlink to a machine that does not exist (#1083)
  apps/vibee-editor/player/node_modules
  node_modules
Due: none

feat(agent): wire the self-service key routes their own handler documents
  apps/vibee-editor/render/agent-routes-contract.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: cycles 100-101 - day limit reached, empty node_modules
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(agent): wire the self-service key routes their own handler documents (#1084)
  apps/vibee-editor/render/agent-routes-contract.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: cycles 100-101 - day limit reached, empty node_modules (#1085)
  loop/ZCODE_LOOP.md
Due: prettier --write

test(money): prove the Stars path without spending money
  apps/vibee-editor/render/no-silent-revert.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/stars-credit.ts
  apps/vibee-editor/render/stars-credit.test.ts
Due: prettier --write, eslint --fix

test(money): prove the Stars path without spending money (#1086)
  apps/vibee-editor/render/no-silent-revert.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/stars-credit.ts
  apps/vibee-editor/render/stars-credit.test.ts
Due: prettier --write, eslint --fix

fix(loop): the dashboard writes its own file instead of fighting for a shared one
  .claude/loop-opus/dashboard.mjs
Due: none

fix(loop): the dashboard writes its own file instead of fighting for a shared one (#1087)
  .claude/loop-opus/dashboard.mjs
Due: none

docs(loop): cycle 226 -- all three tracks, and a third path from another machine
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

docs(loop): cycle 226 -- all three tracks, and a third path from another machine (#1088)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(welcome): bound the free-gift cost with a per-process burst breaker
  src/__tests__/inngest/welcome-gift-budget.test.ts
  src/inngest_app/functions/welcomeAvatarGeneration.ts
  src/inngest_app/functions/welcomeGiftBudget.ts
Due: prettier --write, eslint --fix

feat(welcome): bound the free-gift cost with a per-process burst breaker (#1089)
  src/__tests__/inngest/welcome-gift-budget.test.ts
  src/inngest_app/functions/welcomeAvatarGeneration.ts
  src/inngest_app/functions/welcomeGiftBudget.ts
Due: prettier --write, eslint --fix

fix(neurophoto): guard both generation steps against a double-submit double charge
  src/__tests__/scenes/neuroPhotoDoubleCharge.test.ts
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

fix(neurophoto): guard both generation steps against a double-submit double charge (#1090)
  src/__tests__/scenes/neuroPhotoDoubleCharge.test.ts
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

loop: cycles 102-103 - money under tests, standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycles 102-103 - money under tests, standby (#1091)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(agent): keys the mini app hands out could not open anything
  .claude/loop-opus/anomalies.mjs
  .claude/loop-opus/landed.json
  apps/vibee-editor/render/agent-key-resolve.test.ts
  apps/vibee-editor/render/package-lock.json
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix
