Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: добавлена критически важная документация о настройке вебхуков Telegram
  ROADMAP.md
Due: prettier --write

init bots
  .cursor-rules.json
  .cursor-settings.json
  .husky/pre-deploy
  .vscode/settings.json
  Dockerfile
  README.md
  ROADMAP.md
  cursor.config.json
  docker-compose.yml
  nginx-config/default.conf
  nginx.conf
  package.json
  src/bot.ts
  src/config/index.ts
  src/core/bot/index.ts
  src/utils/launch.ts
  src/utils/removeWebhooks.ts
  src/utils/tslib-polyfill.ts
Due: prettier --write, eslint --fix

fix: Исправлены ошибки типов и форматирования, настроен запуск dev-режима
  ROADMAP.md
  diagnostic_report.txt
  src/bot.ts
Due: prettier --write, eslint --fix

feat: update payment process documentation and fix invoice amounts (remove secrets)
  diagnostic_report.txt
  docs/payment_ROBOKASSA.md
  src/core/supabase/setPayments.ts
  src/core/supabase/updateUserSubscription.ts
  src/scenes/emailWizard/index.ts
  src/scenes/getRuBillWizard/index.ts
  src/scenes/paymentScene/index.ts
  src/scenes/subscriptionScene/index.ts
Due: prettier --write, eslint --fix

feat: update payment process documentation and fix invoice amounts
  .gitignore
Due: none

fix 2
  .cursor-rules.json
  .cursor-settings.json
  .gitignore
  .husky/pre-deploy
  .vscode/settings.json
  README.md
  ROADMAP.md
  cursor.config.json
  diagnostic_report.txt
  docs/payment_ROBOKASSA.md
  package.json
  scripts/clean-start.sh
  src/bot.ts
  src/config/index.ts
  src/core/bot/index.ts
  src/core/supabase/setPayments.ts
  src/core/supabase/updateUserSubscription.ts
  src/handlers/handleBuySubscription/index.ts
  src/handlers/paymentHandlers/index.ts
  src/scenes/emailWizard/index.ts
  src/scenes/getRuBillWizard/index.ts
  src/scenes/paymentScene/index.ts
  src/scenes/subscriptionScene/index.ts
  src/utils/launch.ts
  src/utils/removeWebhooks.ts
  src/utils/tslib-polyfill.ts
Due: prettier --write, eslint --fix

🧪 Добавлены тесты для стартовой сцены с Jest
  __tests__/scenes/startScene.test.ts
  __tests__/utils/jest.setup.ts
  __tests__/utils/mockSupabaseFunctions.ts
  __tests__/utils/mockTelegrafContext.ts
  jest.config.js
Due: prettier --write, eslint --fix

🐛 Исправлены ошибки типизации в Jest-тестах
  Dockerfile
  __tests__/scenes/startScene.test.ts
  __tests__/utils/mockTelegrafContext.ts
  docker-compose.yml
  nginx-config/default.conf
  nginx.conf
  package.json
  pnpm-lock.yaml
  src/core/supabase/checkPaymentStatus.ts
Due: prettier --write, eslint --fix

📝 Обновлен ROADMAP.md - добавлены задачи по тестированию
  ROADMAP.md
Due: prettier --write

🧪 Улучшены Jest-тесты и настройки компиляции TypeScript
  __tests__/scenes/startScene.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: добавление системы платежей через Robokassa для подписок и пополнения баланса звезд
  docs/payment_ROBOKASSA.md
  src/core/supabase/setPayments.ts
  src/core/supabase/updateUserSubscription.ts
  src/scenes/emailWizard/index.ts
  src/scenes/getRuBillWizard/index.ts
  src/scenes/paymentScene/index.ts
  src/scenes/subscriptionScene/index.ts
Due: prettier --write, eslint --fix

fix
  .gitignore
  src/handlers/paymentHandlers/index.ts
Due: prettier --write, eslint --fix

Добавить документацию по процессу оплаты через ROBOKASSA
  docs/payment_ROBOKASSA.md
Due: prettier --write

cursor
  .cursor-rules.json
  .cursor-settings.json
  .gitignore
  .husky/pre-deploy
  .vscode/settings.json
  README.md
  ROADMAP.md
  cursor.config.json
  diagnostic_report.txt
  docs/payment_ROBOKASSA.md
Due: prettier --write

robokassa
  src/scenes/getRuBillWizard/helper.ts
Due: prettier --write, eslint --fix

remove docs
  docs/docker/Dockerfile
  docs/docker/Dockerfile.dev
  docs/docker/Dockerfile.prod
  docs/docker/Dockerfile.test
  docs/docker/docker-compose-new.yml
  docs/docker/docker-compose.dev.yml
  docs/docker/docker-compose.fix.yml
  docs/docker/docker-compose.multi.yml
  docs/docker/docker-compose.simple.yml
  docs/docker/docker-compose.standalone.yml
  docs/docker/docker-compose.test.yml
  docs/docker/docker-compose.webhook.yml
  docs/docker/docker-compose.yml
  docs/docker/docker-entrypoint.sh
  docs/docker/nginx.conf
  docs/docker/nginx.conf.fix
  docs/docker/start.sh
Due: none

fix amount
  src/handlers/handleBuySubscription/index.ts
Due: prettier --write, eslint --fix

new setup
  nginx-config/default.conf
  package.json
  src/bot.ts
  src/config/index.ts
  src/core/bot/index.ts
  src/utils/launch.ts
  src/utils/removeWebhooks.ts
  src/webhookHandler.ts
Due: prettier --write, eslint --fix

docs
  DEPLOYMENT.md
  README.md
  ROADMAP.md
  docs/DEPLOYMENT.md
  docs/NGINX_CONFIGURATION.md
  docs/README.md
Due: prettier --write

fix: Correct star top-up callback handling in paymentScene
  src/handlers/handleBuy/index.ts
  src/handlers/paymentActions.ts
  src/handlers/paymentHandlers/handleTopUp.ts
  src/scenes/paymentScene/index.ts
Due: prettier --write, eslint --fix

feat: Implement direct ruble top-up via Robokassa without email step
  src/handlers/handleSelectRubAmount/index.ts
  src/handlers/index.ts
  src/price/helpers/rubTopUpOptions.ts
  src/scenes/paymentScene/index.ts
Due: prettier --write, eslint --fix

feat: Implement Robokassa webhook handling and update related files
  ROADMAP.md
  docs/payment_ROBOKASSA.md
  src/core/bot/notifications.ts
  src/core/getBotTokenByName.ts
  src/core/supabase/checkPaymentStatus.ts
  src/core/supabase/checkSubscriptionByTelegramId.ts
  src/core/supabase/getPaymentsInfoByTelegramId.ts
  src/core/supabase/sendPaymentInfo.ts
  src/core/supabase/updateUserBalance.ts
  src/core/supabase/updateUserSubscription.ts
  src/webhookServer.ts
  src/webhooks/robokassa/__tests__/robokassa.handler.test.ts
  src/webhooks/robokassa/robokassa.handler.ts
  src/webhooks/robokassa/utils/calculateSignature.ts
  src/webhooks/robokassa/utils/validateSignature.ts
  src/webhooks/webhookServer.ts
Due: prettier --write, eslint --fix

feat: configure Nginx proxy for Robokassa webhooks
  .gitignore
  ROADMAP.md
  nginx-config/default.conf
Due: prettier --write

Обновлена документация по платежам Robokassa и добавлен скрипт для тестирования вебхуков
  __tests__/robokassa-webhook-test.js
  docs/payment_ROBOKASSA.md
  docs/robokassa_webhook_testing.md
Due: prettier --write

Fix: исправление типов транзакций в updateUserBalance
  src/price/helpers/processBalanceOperation.ts
  src/price/helpers/refundUser.ts
Due: prettier --write, eslint --fix

Fix: добавление обратной совместимости с устаревшими типами транзакций
  src/core/supabase/updateUserBalance.ts
Due: prettier --write, eslint --fix

Refactor: удаление обратной совместимости с устаревшими типами транзакций
  src/core/supabase/updateUserBalance.ts
Due: prettier --write, eslint --fix

feat: обновлена интеграция с Robokassa, улучшена обработка webhook, обновлен ROADMAP
  ROADMAP.md
  __tests__/utils/mockSupabaseFunctions.ts
  src/webhooks/robokassa/__tests__/robokassa.handler.test.ts
  src/webhooks/robokassa/robokassa.handler.ts
  tsconfig.json
  tsconfig.prod.json
Due: prettier --write, eslint --fix

fix: замена checkPaymentStatus на checkFullAccess
  .gitignore
  __tests__/utils/mockSupabaseFunctions.ts
  package-lock.json
  src/menu/mainMenu.ts
  src/scenes/startScene/index.ts
  src/webhooks/robokassa/__tests__/robokassa.handler.test.ts
Due: prettier --write, eslint --fix

clean
  README-RU.md
  ROADMAP.md
  docker-compose.yml
  docs/README-RU.md
  docs/README.md
  nginx-config/default.conf
Due: prettier --write

fix: Исправления в Dockerfile и обновление ROADMAP
  Dockerfile
  ROADMAP.md
Due: prettier --write

fix: Улучшено обращение с модулем tslib в Dockerfile для решения проблемы MODULE_NOT_FOUND
  Dockerfile
Due: none

fix: Добавлен полифил для tslib и скрипт проверки модуля при запуске
  Dockerfile
  scripts/check-tslib.js
  src/bot.ts
  src/utils/tslib-polyfill.ts
Due: prettier --write, eslint --fix

Добавлен заглушка для модуля @/utils/launch
  src/utils/launch.ts
Due: prettier --write, eslint --fix

Оптимизация сервера для обработки webhook'ов Robokassa. Интеграция с основным процессом, обновление конфигурации Nginx и документации.
  ROADMAP.md
  docker-compose.yml
  docs/robokassa_webhook_testing.md
  nginx-config/default.conf
  src/bot.ts
  src/webhookServer.ts
Due: prettier --write, eslint --fix

fix: исправлен вызов updateUserBalance с правильной передачей аргументов
  src/webhooks/robokassa/robokassa.handler.ts
Due: prettier --write, eslint --fix

chore: добавлена зависимость express-fileupload
  package-lock.json
  package.json
Due: prettier --write

docs: обновление ROADMAP.md с информацией о последних исправлениях Robokassa webhook
  ROADMAP.md
Due: prettier --write

fix
  ROADMAP.md
  docker-compose.yml
  docs/robokassa_webhook_testing.md
  package.json
  pnpm-lock.yaml
  src/bot.ts
  src/utils/launch.ts
  src/webhooks/webhookServer.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
