Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

loop: опечатка цикла №67 (иероглиф в отчёте)
  loop/LOOP_REPORT.md
Due: prettier --write

refactor(ошибки): снят мой дубликат, усилен существующий помощник
  apps/vibee-editor/player/src/atoms/avatarPhotos.ts
  apps/vibee-editor/player/src/atoms/botAssets.ts
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/atoms/soul.ts
  apps/vibee-editor/player/src/components/Panels/FeedPanel.tsx
  apps/vibee-editor/player/src/features/script/utils/__tests__/errorMessages.test.ts
  apps/vibee-editor/player/src/features/script/utils/errorMessages.ts
  apps/vibee-editor/player/src/lib/errorText.ts
Due: prettier --write, eslint --fix

docs(скилл): опыт шести циклов автономного лупа
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: отчёт цикла №68 — визуальный аудит прода, AI-маркировка = комплаенс EU AI Act
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(лента): подсказка действия больше не дублирует кнопку «Повторить»
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/player/src/features/script/utils/__tests__/errorMessages.test.ts
  apps/vibee-editor/player/src/features/script/utils/errorMessages.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №69 — автопилот одно-процессный (lock+таймауты), гонка крона закрыта
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write, eslint --fix

fix(автопилот): однопроцессный lock + таймауты генераций
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №70 «все три» — вебхук жив, инвойс выдан, опыт №28
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write

loop: отчёт цикла №71 — вебхук кассира в прод-зонде регресса
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/regression-check.sh
Due: prettier --write

fix(рендер): мёртвые адреса сервисов и молчаливый отказ публикации в канал
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №72 — касса в MORNING-сводке
  apps/vibee-editor/render/scripts/morning-summary.ts
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write, eslint --fix

feat(morning): секция кассы звёзд в утренней сводке
  apps/vibee-editor/render/scripts/morning-summary.ts
Due: prettier --write, eslint --fix

loop: MORNING.md пересобран с секцией кассы (живой прогон)
  loop/MORNING.md
Due: prettier --write

fix(мёртвые хосты): проверка знала один домен и не смотрела в apps/
  apps/vibee-editor/player/public/sw-video-cache.js
  apps/vibee-editor/player/src/components/Modals/PublishModal.tsx
  scripts/check-dead-domain.cjs
  src/index.ts
  src/inngest_app/functions/existing/generateModelTrainingFunction.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №73 — дежурство, аналитика к утру
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №74 — b-roll цепочка проверена, ночь готова
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №5 — фикс рилсов подтверждён рендером, сердцебиение против очереди (урок 25)
  loop/.zcode-heartbeat
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(канал): публикация ролика напрямую через Bot API, без моста
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(касса): самовосстановление вебхука при старте рендера
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

chore(vibee-atoms): lock-файл — тесты пакета впервые можно запустить
  apps/vibee-editor/packages/vibee-atoms/package-lock.json
Due: prettier --write

loop: виток №6 — дежурство, просмотры +55% за 7ч
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №75 — вебхук самолечится, 2999 поднят, SKILL слит
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: журнал + сердцебиение витка №76
  loop/.zcode-heartbeat
  loop/LOOP_STATE.md
Due: prettier --write

feat(касса): якорная витрина пакетов — 150 токенов первым
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: none

loop: отчёт цикла №76 — якорная витрина пакетов
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №7 — heartbeat вынесен из git (урок 26)
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(канал): подпись поста только по-русски и на собственный домен
  apps/vibee-editor/player/src/components/Modals/PublishModal.tsx
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №78 — дежурство, сердцебиение фильтрует дубликаты
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №8 — инвентаризация: все наработки в мастере, устаревший стэш удалён
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №79 — дежурство, ров против AI-обёрток
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: урок 27 — heartbeat в epoch (macOS Z-парсинг врал на 7ч)
  loop/SKILL.md
Due: prettier --write

fix(сборка): восстановлен перенос строки — синтаксическая ошибка на main
  src/index.ts
Due: prettier --write, eslint --fix

fix(автопилот): ролики агента идут в канал — убрана вторая дверь в таблицу
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №80 юбилейный — итоги 80 витков
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №81 — аудит домена app.t27.ai и план подключения
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №10 — дежурство, стабильно
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №83 — app.t27.ai жив, остался setdomain
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: виток №11 — дежурство, S3-рендеры живы
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: отчёт цикла №84 — дежурство, setdomain ждёт
  loop/.zcode-heartbeat
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write
