Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: Добавить мониторинг конкурентов только для администраторов
  our_changes.txt
  src/handlers/handleMenu.ts
  src/interfaces/instagram.interface.ts
  src/interfaces/telegram-bot.interface.ts
  src/menu/mainMenu.ts
  src/services/competitorMonitoringApiService.ts
  src/services/competitorSubscriptionService.ts
Due: prettier --write, eslint --fix

checkpoint: У нас интегрирована функция **Lipsync** в боте,...
  LIPSYNC_SETUP_GUIDE.md
  config/bots.json
  docs/LIPSYNC_DEBUG_REPORT.md
  scripts/fix-lipsync-integration.js
  scripts/test-api-connections.js
  scripts/test-lipsync-diagnosis.js
  scripts/test-lipsync-simple.js
Due: prettier --write

checkpoint: А у нас доступ идет к Replicate через сервер. П...
  docs/LIPSYNC_AI_SERVER_INTEGRATION_REPORT.md
  scripts/fix-lipsync-server-integration.js
  scripts/test-ai-server-lipsync.js
  scripts/test-lipsync-final.js
  src/__tests__/core/ai-server/lipsync-adapter.test.ts
  src/core/ai-server/generateAiServerLipSync.ts
  src/core/ai-server/lipsync-adapter.ts
  src/services/generateLipSync.ts
Due: prettier --write, eslint --fix

fix: Использовать готовый backend API вместо дублирующего кода
  src/services/competitorMonitoringApiService.ts
  src/services/competitorSubscriptionService.ts
Due: prettier --write, eslint --fix

checkpoint: Срочно исправь ошибку: что-то билд не собираетс...
  bun.lock
Due: none

checkpoint: Checks awaiting conflict resolution 1 successfu...
  bun.lockb
Due: none

checkpoint: Так вот, все расчеты не работают. Что случилось?
  config/nginx/nginx-config/default.conf
  deployment/docker/docker-compose.yml
  docs/CRITICAL_FIX_HaimGroupMedia_bot.md
Due: prettier --write

fix: добавить WEBHOOK_DOMAIN и порт 3010 для HaimGroupMedia_bot
  deployment/docker/docker-compose.yml
  docs/CRITICAL_FIX_HaimGroupMedia_bot.md
Due: prettier --write

checkpoint: Что произошло? Почему у нас не генерируется вид...
  src/services/generateTextToVideo.ts
Due: prettier --write, eslint --fix

fix: Исправления Kling LipSync - правильный тип webhook и имя параметра audio_file
  docs/KLING_LIPSYNC_FIX.md
  inngest.json
  scripts/check-kling-model.ts
  scripts/test-inngest-lipsync.ts
  scripts/test-kling-lipsync.ts
  scripts/test-kling-text.ts
  src/api_server/index.ts
  src/api_server/routes/replicate.routes.ts
  src/core/replicate/generateKlingLipSync.ts
  src/inngest_app/client.ts
  src/inngest_app/functions/lipSyncFunction.ts
Due: prettier --write, eslint --fix

feat: интеграция системы ценообразования в рублях
  docs/KLING_LIPSYNC_FIX.md
  scripts/check-kling-model.ts
  scripts/test-inngest-lipsync.ts
  scripts/test-kling-lipsync.ts
  scripts/test-kling-text.ts
  src/api_server/routes/replicate.routes.ts
  src/config/unified-pricing.config.ts
  src/core/replicate/generateKlingLipSync.ts
  src/inngest_app/functions/lipSyncFunction.ts
  src/price/helpers/rubTopUpOptions.ts
  src/scenes/textToVideoWizard/index.ts
Due: prettier --write, eslint --fix

fix: устранение конфликтов сборки после удаления Kling LipSync
  package-lock.json
  src/api_server/index.ts
  src/inngest_app/client.ts
  src/registerCommands.ts
  src/scenes/index.ts
  src/scenes/lipSyncWizard/index.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/services/generateLipSync.ts
  src/services/index.ts
Due: prettier --write, eslint --fix

feat: интеграция динамического курса USDT/RUB через Bybit API
  docs/DYNAMIC_CURRENCY_INTEGRATION.md
  scripts/test-dynamic-rate.ts
  src/config/unified-pricing.config.ts
  src/handlers/handleSelectRubAmount/index.ts
  src/price/helpers/rubTopUpOptions.ts
  src/price/priceCalculator.ts
  src/scenes/rublePaymentScene.ts
Due: prettier --write, eslint --fix

checkpoint: https://github.com/ruvnet/claude-flow/tree/main...
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/security.yml
  CLAUDE.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
