Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: добавить диагностические скрипты и обновить Railway API URL
  scripts/check-video-server.js
  scripts/test-railway-api.js
  scripts/test-video-flow.js
Due: none

🔒 Исправить доступ к админским кнопкам
  src/hearsHandlers.ts
  src/menu/mainMenu.ts
Due: prettier --write, eslint --fix

checkpoint: Реализовать /generate/text-to-video/status/{job...
  src/handlers/handleTextToVideoDirect.ts
Due: prettier --write, eslint --fix

🚨 КРИТИЧЕСКОЕ ИСПРАВЛЕНИЕ: устранена ошибка "bad webhook"
  scripts/fix-lipsync-integration.js
Due: none

checkpoint: Реализовать /generate/text-to-video/status/{jobId} на Railway сервере
  scripts/docker-entrypoint.sh
Due: none

clean: удалить оставшиеся конфигурационные файлы
  .taskmasterconfig
  .windsurfrules
Due: none

checkpoint: ⚠️ Остается реализовать /generate/text-to-video...
  scripts/quick-health-check.js
Due: none

checkpoint: сервер доступен сейчас проверь
  src/handlers/handleTextToVideoDirect.ts
  src/registerCommands.ts
Due: prettier --write, eslint --fix

security: 🔒 устранить утечку Apify токена (GitGuardian #18074361)
  .gitignore
  SECURITY_CLEAN.md
Due: prettier --write

fix: 🤦‍♂️ восстановить важные папки .github и .husky
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/security.yml
  .husky/_/husky.sh
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: 🤦‍♂️ восстановить критически важные папки .claude и .claude-flow
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude-flow/reports/smart-fixes-report-1755797290897.md
  .claude-flow/reports/smart-fixes-report-1755798130466.md
  .claude-flow/self-healing/architecture.md
  .claude-flow/self-healing/github-issues-bot.js
  .claude-flow/self-healing/smart-fixes-integration.js
  .claude-flow/smart-fixes/README.md
  .claude-flow/smart-fixes/dashboard.ts
  .claude-flow/smart-fixes/demo.ts
  .claude-flow/smart-fixes/hive-mind-integration.ts
  .claude-flow/smart-fixes/smart-fixes-cli.ts
  .claude-flow/smart-fixes/smart-fixes-engine.ts
  .claude/.gitignore
  .claude/README.md
  .claude/USAGE.md
  .claude/activate-hooks.sh
  .claude/claude-flow-report.md
  .claude/hooks/claude-flow-integration.sh
  .claude/hooks/cleanup.sh
  .claude/hooks/post-task-security.sh
  .claude/hooks/security-scan.sh
  .claude/hooks/stop-cleanup.sh
  .claude/quick-check.sh
  .claude/settings.json
  .claude/test-claude-flow.sh
  .claude/validate-claude-flow.sh
Due: prettier --write, eslint --fix
