Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(агент): вкладка «Агент» говорит с настоящим агентом, а не с заглушкой (#604)
  apps/vibee-editor/player/src/pages/Chat.css
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: none

docs(агент): инструкция — где в приложении, как пользоваться, как подключить по MCP
  docs/agent/README.md
Due: prettier --write

docs(агент): инструкция — где в приложении, как пользоваться, как подключить по MCP (#605)
  docs/agent/README.md
Due: prettier --write

feat(лендинг): фокус на агентный вайбрилс + кнопка «Copy to agent»
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/landing/AgentConnect.css
  apps/vibee-editor/player/src/components/landing/AgentConnect.tsx
  apps/vibee-editor/player/src/components/landing/index.ts
  apps/vibee-editor/player/src/pages/Home.tsx
Due: prettier --write, eslint --fix

feat(лендинг): фокус на агентный вайбрилс + кнопка «Copy to agent» (#606)
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/landing/AgentConnect.css
  apps/vibee-editor/player/src/components/landing/AgentConnect.tsx
  apps/vibee-editor/player/src/components/landing/index.ts
  apps/vibee-editor/player/src/pages/Home.tsx
Due: prettier --write, eslint --fix

feat(чат): логотип t27 в шапке + dev-ключ агента для локального теста
  apps/vibee-editor/player/public/t27-logo.svg
  apps/vibee-editor/player/public/t27-mark.svg
  apps/vibee-editor/player/src/pages/Chat.css
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: none

fix(bronze): лимит 16 КБ на тело payment-success
  rust/rings/BRONZE-RING-SRV/src/router.rs
Due: none

docs(дашборд): свежий снапшот 14:43 UTC
  docs/dashboard/STATUS.md
  docs/dashboard/status.json
Due: prettier --write

fix(cors): X-Agent-Key в Access-Control-Allow-Headers
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(чат): убрать дубль бренда из шапки чата
  apps/vibee-editor/player/src/pages/Chat.tsx
Due: none

feat(душа): SOUL.md, контент-кит, профиль аватара, MCP-конфиги
  SOUL.md
  apps/vibee-editor/player/src/atoms/avatarPhotos.ts
  apps/vibee-editor/player/src/atoms/index.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.css
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  docs/agent/README.md
  docs/marketing/content-kit.md
Due: prettier --write, eslint --fix

feat(агент): SOUL.md в промпте + POST /api/assets для фото аватара
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

feat(агент): проактивность «как мама» + простой план на 30 дней
  SOUL.md
  apps/vibee-editor/render/src/agent/chat.ts
  docs/marketing/simple-plan-30-days.md
Due: prettier --write, eslint --fix

fix(auth): пропустить POST /api/assets через общий гвард
  apps/vibee-editor/render/auth.ts
Due: prettier --write, eslint --fix

feat(аватар): удаление фото из профиля (DELETE /api/assets)
  apps/vibee-editor/player/src/atoms/avatarPhotos.ts
  apps/vibee-editor/player/src/atoms/index.ts
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.css
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.tsx
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(assets): GET личной истории — только владелец, dev-ключ работает
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(мобильные): табы без скролла, ровные чипы, таб Create → Editor
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.css
  apps/vibee-editor/player/src/components/Panels/GeneratePanel.css
Due: prettier --write, eslint --fix

feat(SOUL): личный SOUL.md у каждого — агент читает и правит как скилл
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/atoms/soul.ts
  apps/vibee-editor/player/src/components/Profile/SoulEditor.css
  apps/vibee-editor/player/src/components/Profile/SoulEditor.tsx
  apps/vibee-editor/player/src/pages/Profile.tsx
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(мобильные): кнопки не сливаются с краями экрана
  apps/vibee-editor/player/src/components/Auth/styles.css
  apps/vibee-editor/player/src/components/Modals/PublishModal.css
Due: none

feat(звёзды): лайк заменён звездой Telegram — автору на баланс
  apps/vibee-editor/packages/vibee-atoms/src/types.ts
  apps/vibee-editor/player/src/atoms/feed.ts
  apps/vibee-editor/player/src/atoms/index.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Panels/FeedCard.tsx
  apps/vibee-editor/player/src/components/Panels/FeedPanel.css
  apps/vibee-editor/player/src/lib/telegram.ts
  apps/vibee-editor/player/src/types/telegram-webapp.d.ts
  apps/vibee-editor/render/render-server.ts
  src/handlers/paymentHandlers/index.ts
Due: prettier --write, eslint --fix

fix(лента): stars_count создаётся до первого чтения, а не до первой звезды
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(安全): nosniff на всех JSON-ответах sendJson
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(дизайн): пейволл в фирменном стиле t27
  apps/vibee-editor/player/src/components/Auth/styles.css
Due: none

feat(агент): полный доступ к производству + автопилот контента
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/src/agent/tools.ts
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
  loop/start-render-local.sh
  loop/state.json
  loop/topics.json
Due: prettier --write, eslint --fix

loop: журнал — таб Blog
  loop/LOOP_STATE.md
Due: prettier --write

feat(блог): таб Blog с RSS t27.ai в дизайне Trinity
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/player/src/pages/Blog.css
  apps/vibee-editor/player/src/pages/Blog.tsx
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: план — темы автопилота из блога
  loop/LOOP_REPORT.md
Due: prettier --write

loop: опыт — блог-прокси и страницы
  loop/SKILL.md
Due: prettier --write

feat(чат): живые превью ассетов вместо голых ссылок
  apps/vibee-editor/player/src/components/Chat/ChatAssets.css
  apps/vibee-editor/player/src/components/Chat/ChatAssets.tsx
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

loop: журнал — превью ассетов в чате
  loop/LOOP_STATE.md
Due: prettier --write

loop: автопилот пополняет очередь тем из RSS-блога
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  loop/state.json
Due: prettier --write, eslint --fix

loop: отчёт цикла №2, опыт, журнал
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
Due: prettier --write

loop: video_generate работает — Replicate seedance-1-lite
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №3, опыт (seedance, S3-перекладка)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
  loop/state.json
Due: prettier --write

loop: feed_analytics — отклик постов инструментом и в журнале
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №4
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: автопилот выбирает темы по отклику аудитории
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

loop: отчёт цикла №5
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: B-roll формат — флаг --with-video у автопилота
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix
