Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(agent): keys the mini app hands out could not open anything (#1092)
  .claude/loop-opus/anomalies.mjs
  .claude/loop-opus/landed.json
  apps/vibee-editor/render/agent-key-resolve.test.ts
  apps/vibee-editor/render/package-lock.json
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

fix(welcome): remove the "generating" status message left stuck above the gift
  src/inngest_app/functions/welcomeAvatarGeneration.ts
Due: prettier --write, eslint --fix

docs(loop): cycle 227 -- a promise in a success message is behaviour
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(welcome): remove the stuck 'generating' status message above the gift (#1093)
  src/inngest_app/functions/welcomeAvatarGeneration.ts
Due: prettier --write, eslint --fix

docs(loop): cycle 227 -- a promise in a success message is behaviour (#1094)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  loop/LOOP_STATE.md
Due: prettier --write

test(autopilot): stop the daemon cleanup racing SIGKILL into an ENOTEMPTY flake
  apps/vibee-editor/render/autopilot-startable.test.ts
Due: prettier --write, eslint --fix

test(autopilot): fix the SIGKILL/cleanup race that flaky-false-reds verify (#1095)
  apps/vibee-editor/render/autopilot-startable.test.ts
Due: prettier --write, eslint --fix

fix(faceswap): guard the swap step against a double-submit double charge
  src/__tests__/scenes/faceSwapDoubleCharge.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/faceSwapWizard/index.ts
Due: prettier --write, eslint --fix

fix(faceswap): guard the swap step against a double-submit double charge (#1096)
  src/__tests__/scenes/faceSwapDoubleCharge.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/faceSwapWizard/index.ts
Due: prettier --write, eslint --fix

loop: cycles 104-105 - money guards everywhere, standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycles 104-105 - money guards everywhere, standby (#1097)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(faceswap): stop leaking the raw provider error to the user on a failed swap
  src/__tests__/scenes/faceSwapErrorLeak.test.ts
  src/scenes/faceSwapWizard/index.ts
Due: prettier --write, eslint --fix

fix(faceswap): stop leaking the raw provider error to the user on a failed swap (#1098)
  src/__tests__/scenes/faceSwapErrorLeak.test.ts
  src/scenes/faceSwapWizard/index.ts
Due: prettier --write, eslint --fix

loop: cycle 106 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 106 - standby (#1099)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(inngest): stop leaking raw errors to users, and extend the ratchet to catch them
  src/__tests__/scenes/no-raw-error-to-user.test.ts
  src/inngest_app/functions/morphImages.ts
  src/inngest_app/functions/training/modelTrainingV2.ts
Due: prettier --write, eslint --fix

fix(inngest): stop leaking raw errors to users, and extend the ratchet to catch them (#1100)
  src/__tests__/scenes/no-raw-error-to-user.test.ts
  src/inngest_app/functions/morphImages.ts
  src/inngest_app/functions/training/modelTrainingV2.ts
Due: prettier --write, eslint --fix

fix(training): stop leaking the raw error into the model-training failure message
  src/inngest_app/functions/training/generateModelTraining.ts
Due: prettier --write, eslint --fix

fix(training): stop leaking the raw error into the model-training failure message (#1101)
  src/inngest_app/functions/training/generateModelTraining.ts
Due: prettier --write, eslint --fix

loop: cycle 107 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 107 - standby (#1102)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(api): require the internal key for the GitHub auto-fixer manual-fix endpoint
  src/__tests__/api/protected-routes.test.ts
  src/api_server/routes/github-autofixer.routes.ts
Due: prettier --write, eslint --fix

fix(api): require the internal key for the GitHub auto-fixer manual-fix endpoint (#1103)
  src/__tests__/api/protected-routes.test.ts
  src/api_server/routes/github-autofixer.routes.ts
Due: prettier --write, eslint --fix

feat(agent): Telegram tools over MTProto, reading and acting kept apart
  apps/vibee-editor/render/package.json
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/telegram-tools-boundary.test.ts
Due: prettier --write, eslint --fix

fix(logs): redact the Telegram bot token from logs
  src/__tests__/utils/redactBotToken.test.ts
  src/scenes/avatarTransformScene/index.ts
  src/scenes/uploadVideoScene/index.ts
  src/utils/logger.ts
  src/utils/redactBotToken.ts
Due: prettier --write, eslint --fix

fix(logs): redact the Telegram bot token from logs (#1105)
  src/__tests__/utils/redactBotToken.test.ts
  src/scenes/avatarTransformScene/index.ts
  src/scenes/uploadVideoScene/index.ts
  src/utils/logger.ts
  src/utils/redactBotToken.ts
Due: prettier --write, eslint --fix

fix(seedream): refund the user when a paid generation fails after the charge
  src/__tests__/services/seedream-refund.test.ts
  src/services/generateSeeDream4.ts
  src/services/generateSeeDream45.ts
Due: prettier --write, eslint --fix

fix(seedream): refund the user when a paid generation fails after the charge (#1106)
  src/__tests__/services/seedream-refund.test.ts
  src/services/generateSeeDream4.ts
  src/services/generateSeeDream45.ts
Due: prettier --write, eslint --fix

fix(music): allowlist the generation duration so a forged callback can't zero the price
  src/__tests__/scenes/musicDurationAllowlist.test.ts
  src/scenes/musicGenerationWizard/index.ts
Due: prettier --write, eslint --fix

fix(music): allowlist the generation duration so a forged callback can't zero the price (#1107)
  src/__tests__/scenes/musicDurationAllowlist.test.ts
  src/scenes/musicGenerationWizard/index.ts
Due: prettier --write, eslint --fix

feat(ios): a confirmation window, so the agent's proposals reach a human
  apps/vibee-ios/Vibee/AgentChatView.swift
Due: none

loop: cycle 108 - standby after queue pause
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 108 - standby after queue pause (#1108)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(generators): remove the downloaded temp file when generation fails after saving
  src/__tests__/services/temp-file-cleanup.test.ts
  src/services/generateFluxKontextMax.ts
  src/services/generateQwenImageEditPlus.ts
  src/services/generateSeeDream4.ts
  src/services/generateSeeDream45.ts
Due: prettier --write, eslint --fix

fix(training): refuse a zero-cost training so free-typed steps=0 can't run free
  src/__tests__/price/trainingStepsZeroCost.test.ts
  src/price/helpers/handleTrainingCost.ts
Due: prettier --write, eslint --fix

fix(generators): remove the downloaded temp file when generation fails after saving (#1109)
  src/__tests__/services/temp-file-cleanup.test.ts
  src/services/generateFluxKontextMax.ts
  src/services/generateQwenImageEditPlus.ts
  src/services/generateSeeDream4.ts
  src/services/generateSeeDream45.ts
Due: prettier --write, eslint --fix

fix(training): refuse a zero-cost training so free-typed steps=0 can't run free (#1110)
  src/__tests__/price/trainingStepsZeroCost.test.ts
  src/price/helpers/handleTrainingCost.ts
Due: prettier --write, eslint --fix

fix(verify): re-run the network-flaky audit step once before failing the gate
  scripts/verify.cjs
  src/__tests__/tools/verify-flaky-retry.test.ts
Due: prettier --write, eslint --fix

fix(verify): re-run the network-flaky audit step once before failing the gate (#1111)
  scripts/verify.cjs
  src/__tests__/tools/verify-flaky-retry.test.ts
Due: prettier --write, eslint --fix

feat(bot): /app mints the sign-in code the iOS app has been asking for
  src/__tests__/app-login-command.test.ts
  src/commands/appLoginCommand.ts
  src/navigation/registerCommands.ts
  src/setCommands.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
