Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(feed): show templates, not every take made from them
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  apps/vibee-editor/player/src/components/Profile/группыШаблонов.test.ts
  apps/vibee-editor/player/src/components/Profile/группыШаблонов.ts
  apps/vibee-editor/render/feed-approval.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(feed): show templates, not every take made from them (#2054)
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  apps/vibee-editor/player/src/components/Profile/группыШаблонов.test.ts
  apps/vibee-editor/player/src/components/Profile/группыШаблонов.ts
  apps/vibee-editor/render/feed-approval.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(profile): the template tab really groups now -- three groups, true counts
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  apps/vibee-editor/player/src/components/Profile/группыШаблонов.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(profile): the template tab really groups now -- three groups, true counts (#2055)
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.test.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  apps/vibee-editor/player/src/components/Profile/группыШаблонов.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(soul): SOUL.md is open, sits on the profile front page, and agents can read anyone's
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/SoulCard.test.ts
  apps/vibee-editor/player/src/components/Profile/SoulCard.tsx
  apps/vibee-editor/player/src/pages/Profile.tsx
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/soul-public.test.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

feat(soul): SOUL.md is open, sits on the profile front page, and agents can read anyone's (#2056)
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/SoulCard.test.ts
  apps/vibee-editor/player/src/components/Profile/SoulCard.tsx
  apps/vibee-editor/player/src/pages/Profile.tsx
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/soul-public.test.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(split): a split with no segments is refused, not drawn as something else
  apps/vibee-editor/player/src/compositions/SplitTalkingHead.tsx
  apps/vibee-editor/render/split-needs-segments.test.ts
  apps/vibee-editor/render/src/compositions/SplitTalkingHead.tsx
Due: prettier --write, eslint --fix

fix(split): a split with no segments is refused, not drawn as something else (#2057)
  apps/vibee-editor/player/src/compositions/SplitTalkingHead.tsx
  apps/vibee-editor/render/split-needs-segments.test.ts
  apps/vibee-editor/render/src/compositions/SplitTalkingHead.tsx
Due: prettier --write, eslint --fix

feat(profile): cover on a button press, and play opens the reel fullscreen
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileHeader.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  apps/vibee-editor/player/src/components/Profile/coverAndFullscreen.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(profile): cover on a button press, and play opens the reel fullscreen (#2058)
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileHeader.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  apps/vibee-editor/player/src/components/Profile/coverAndFullscreen.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(render): apply the composition schema -- it was documentation, not a check
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/split-needs-segments.test.ts
Due: prettier --write, eslint --fix

fix(render): apply the composition schema -- it was documentation, not a check (#2059)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/split-needs-segments.test.ts
Due: prettier --write, eslint --fix

feat(profile): a guest can take a template, SOUL translates in one press, and the card stops showing hashes
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  apps/vibee-editor/player/src/components/Profile/SoulCard.test.ts
  apps/vibee-editor/player/src/components/Profile/SoulCard.tsx
  apps/vibee-editor/player/src/components/Profile/SoulEditor.tsx
  apps/vibee-editor/player/src/components/Profile/coverAndFullscreen.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(profile): a guest can take a template, SOUL translates in one press, and the card stops showing hashes (#2060)
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileTemplatesGrid.tsx
  apps/vibee-editor/player/src/components/Profile/SoulCard.test.ts
  apps/vibee-editor/player/src/components/Profile/SoulCard.tsx
  apps/vibee-editor/player/src/components/Profile/SoulEditor.tsx
  apps/vibee-editor/player/src/components/Profile/coverAndFullscreen.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(agent): tell the model the segment shape -- guessing it is what made the broken reel
  apps/vibee-editor/render/catalogue-teaches-the-shape.test.ts
  apps/vibee-editor/render/src/templates/registry.ts
Due: prettier --write, eslint --fix

fix(agent): tell the model the segment shape -- guessing it is what made the broken reel (#2061)
  apps/vibee-editor/render/catalogue-teaches-the-shape.test.ts
  apps/vibee-editor/render/src/templates/registry.ts
Due: prettier --write, eslint --fix

chore(tri): hide every feed post but one, and stop the checker crying at valid bash
  .claude/loop-opus/check-free-disk.sh
  bin/tri
Due: none

chore(tri): hide every feed post but one, and stop the checker crying at valid bash (#2062)
  .claude/loop-opus/check-free-disk.sh
  bin/tri
Due: none

fix(tri): hide across every account in the feed, and say which ones
  bin/tri
Due: none

fix(tri): hide across every account in the feed, and say which ones (#2063)
  bin/tri
Due: none

fix(profile): the dev flag says what it is doing
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/coverAndFullscreen.test.ts
  apps/vibee-editor/player/src/pages/Profile.tsx
Due: prettier --write, eslint --fix

fix(profile): the dev flag says what it is doing (#2064)
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/coverAndFullscreen.test.ts
  apps/vibee-editor/player/src/pages/Profile.tsx
Due: prettier --write, eslint --fix

docs(loop): three rules from a shift that ended with the feed showing one post
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): three rules from a shift that ended with the feed showing one post (#2065)
  .claude/loop-opus/dashboard.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

fix(feed): the pending route matched the whole URL, so a query string sent it to a 404
  .claude/skills/mcp-owner-access/SKILL.md
  apps/vibee-editor/render/feed-approval.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(feed): the pending route matched the whole URL, so a query string sent it to a 404 (#2066)
  .claude/skills/mcp-owner-access/SKILL.md
  apps/vibee-editor/render/feed-approval.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(cashier): the bot could not hear anyone -- one intake per bot, and it is polling
  apps/vibee-editor/render/cashier-one-intake.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/stars-secret-not-logged.test.ts
  loop/cashier-watch.sh
  loop/regression-check.sh
  src/__tests__/bot/cashierPollsLikeEveryone.test.ts
  src/handlers/paymentHandlers/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(cashier): the bot could not hear anyone -- one intake per bot, and it is polling (#2067)
  apps/vibee-editor/render/cashier-one-intake.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/stars-secret-not-logged.test.ts
  loop/cashier-watch.sh
  loop/regression-check.sh
  src/__tests__/bot/cashierPollsLikeEveryone.test.ts
  src/handlers/paymentHandlers/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(money): close four holes the cashier fix opened or woke
  apps/vibee-editor/render/cashier-one-intake.test.ts
  apps/vibee-editor/render/render-server.ts
  docs/money-ratchets.md
  src/__tests__/bot/cashierPollsLikeEveryone.test.ts
  src/handlers/paymentHandlers/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(money): close four holes the cashier fix opened or woke (#2068)
  apps/vibee-editor/render/cashier-one-intake.test.ts
  apps/vibee-editor/render/render-server.ts
  docs/money-ratchets.md
  src/__tests__/bot/cashierPollsLikeEveryone.test.ts
  src/handlers/paymentHandlers/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(upload): a photo could not be attached to the agent chat -- two causes
  apps/vibee-editor/player/src/lib/apiFetch.ts
  apps/vibee-editor/player/src/lib/s3Upload.ts
  apps/vibee-editor/player/src/lib/uploadCarriesIdentity.test.ts
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(upload): a photo could not be attached to the agent chat -- two causes (#2069)
  apps/vibee-editor/player/src/lib/apiFetch.ts
  apps/vibee-editor/player/src/lib/s3Upload.ts
  apps/vibee-editor/player/src/lib/uploadCarriesIdentity.test.ts
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(bot): the first message sold plans that do not exist
  src/__tests__/bot/noTariffsInAiPrompt.test.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

fix(bot): the first message sold plans that do not exist (#2070)
  src/__tests__/bot/noTariffsInAiPrompt.test.ts
  src/navigation/registerCommands.ts
Due: prettier --write, eslint --fix

docs: write the work queue down so it outlives the session
  docs/ОЧЕРЕДЬ.md
Due: prettier --write

docs: write the work queue down so it outlives the session (#2071)
  docs/ОЧЕРЕДЬ.md
Due: prettier --write

feat(telegram): the last metre of the owner's inbox access
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/telegram-session-honest.test.ts
  scripts/telegram-session-login.ts
Due: prettier --write, eslint --fix

feat(telegram): the last metre of the owner's inbox access (#2072)
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  apps/vibee-editor/render/telegram-session-honest.test.ts
  scripts/telegram-session-login.ts
Due: prettier --write, eslint --fix

feat(agent): one conversation, stored on the server
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/conversation-shared.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/conversation.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

feat(agent): one conversation, stored on the server (#2073)
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/conversation-shared.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/conversation.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
