Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

loop: отчёт цикла №36 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №37 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №38, план — репурпозинг-мультипликатор
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/MORNING.md
Due: prettier --write

fix(安全): execSync→execFileSync в transcribe/faceDetection, схема URL в fetchCaptions
  apps/vibee-editor/render/src/lib/faceDetection.ts
  apps/vibee-editor/render/src/lib/fetchCaptions.ts
  apps/vibee-editor/render/src/lib/transcribe.ts
Due: prettier --write, eslint --fix

fix(прод): /api/blog публичный GET + честная карточка MCP
  apps/vibee-editor/render/auth.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

fix(安全): SSRF-гвард на скачивание видео из ответа Replicate
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(прод): self-call инструментов с серверным ключом
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

loop: журнал — прод обновлён, автодеплой подтверждён
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №39 (синхронизация после прода)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: старт продуктового лупа ZCode — tri CLI v2, опыт №16-20, CTA звёзд
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  loop/SKILL.md
  loop/ZCODE_LOOP.md
Due: prettier --write, eslint --fix

loop: b-roll автоматически на последнем посте дня
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  loop/LOOP_STATE.md
Due: prettier --write, eslint --fix

loop: отчёт цикла №40
  loop/LOOP_STATE.md
Due: prettier --write

loop: опыт №15 — merge конфликтует в append-only файлах
  loop/SKILL.md
Due: prettier --write

loop: цикл №40 + восстановленная сводка плана
  loop/LOOP_REPORT.md
Due: prettier --write

fix(прод): лента 500 — template_stars создавалась только в star-запросе
  apps/vibee-editor/render/render-server.ts
  loop/regression-check.sh
Due: prettier --write, eslint --fix

fix(регресс): cd на $HOME (был чужой путь), zsh-скрипт проверяется zsh -n
  loop/regression-check.sh
Due: none

loop: отчёт цикла №41 (дежурство)
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(ai): switch fallback health checks to Z.AI coder
  src/__tests__/commands/interactiveStatsCommand.test.ts
  src/__tests__/core/openai/glm-provider.test.ts
  src/__tests__/services/provider-health-monitor.test.ts
  src/__tests__/setCommands.test.ts
  src/core/openai/glm-provider.ts
  src/core/openai/requests.ts
  src/services/provider-health-monitor.ts
  src/setCommands.ts
Due: prettier --write, eslint --fix

feat(токены): валюта генераций, цены в чате, проактивный агент
  apps/vibee-editor/player/src/pages/Chat.css
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(ai): switch fallback health checks to Z.AI coder (#630)
  src/__tests__/commands/interactiveStatsCommand.test.ts
  src/__tests__/core/openai/glm-provider.test.ts
  src/__tests__/services/provider-health-monitor.test.ts
  src/__tests__/setCommands.test.ts
  src/core/openai/glm-provider.ts
  src/core/openai/requests.ts
  src/services/provider-health-monitor.ts
  src/setCommands.ts
Due: prettier --write, eslint --fix

loop: hotfix-уроки 21-22 + самовосстановление старт-скрипта
  loop/SKILL.md
  loop/start-render-local.sh
Due: prettier --write

loop: журнал — токены на проде
  loop/LOOP_STATE.md
Due: prettier --write

feat(профиль): файлы связаны с профилем + токены в шапке + UI/UX
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileFilesGrid.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileHeader.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.tsx
Due: none

loop: журнал — профиль связан с ассетами
  loop/LOOP_STATE.md
Due: prettier --write

loop: регресс ждёт 16 инструментов (my_balance)
  loop/regression-check.sh
Due: none

loop: журнал цикла №44
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №44
  loop/LOOP_REPORT.md
Due: prettier --write

feat(прайс): модель от себестоимости + инварианты I1-I6
  apps/vibee-editor/player/src/components/Profile/ProfileHeader.tsx
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/tools.ts
  loop/PRICING.md
  loop/regression-check.sh
Due: prettier --write, eslint --fix

loop: журнал — ценовая модель
  loop/LOOP_STATE.md
Due: prettier --write

feat(скиллы): папка правил человека с CRUD и UI в профиле
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileSkills.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileTabs.tsx
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/tools.ts
  loop/regression-check.sh
Due: prettier --write, eslint --fix

loop: журнал — скиллы
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №47
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/state.json
Due: prettier --write

loop: отчёт цикла №48
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №49
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №50
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

feat(касса+маркет): Stars-покупка токенов и витрина скиллов
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/player/src/components/Profile/ProfileSkills.tsx
  apps/vibee-editor/player/src/pages/Chat.css
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/tools.ts
  loop/regression-check.sh
Due: prettier --write, eslint --fix

fix(прод): GET /api/tokens/packs публичный (гвард резал)
  apps/vibee-editor/render/auth.ts
Due: prettier --write, eslint --fix

loop: журнал — касса и маркет
  loop/LOOP_STATE.md
Due: prettier --write

loop: отчёт цикла №52
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write

fix(прод): инвойс под собственным гвардом + профиль в чёрный канон
  apps/vibee-editor/player/src/components/Profile/Profile.css
  apps/vibee-editor/render/auth.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
