Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(ios): token packs on the Profile screen, after three cycles of false leads
  .claude/skills/vibee-stack-hard-won/SKILL.md
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write

feat(ios): token packs on the Profile screen, after three cycles of false leads (#1009)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  apps/vibee-ios/Vibee/ProfileScreen.swift
Due: prettier --write

docs(skill): whether a feature is live cannot be settled by grep
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): whether a feature is live cannot be settled by grep (#1010)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(marketplace): correct a stale safety claim and pin the deduct guard
  src/__tests__/money/marketplace-deduct-guarded.test.ts
  src/services/marketplaceService.ts
Due: prettier --write, eslint --fix

fix(marketplace): correct a stale safety claim and pin the deduct guard (#1011)
  src/__tests__/money/marketplace-deduct-guarded.test.ts
  src/services/marketplaceService.ts
Due: prettier --write, eslint --fix

feat(verify): name the node_modules self-loop instead of reporting 13 failures
  scripts/heal-node-modules.cjs
  scripts/verify.cjs
  src/__tests__/tools/self-loop-detection.test.ts
Due: prettier --write, eslint --fix

feat(verify): name the node_modules self-loop instead of 13 false failures (#1012)
  scripts/heal-node-modules.cjs
  scripts/verify.cjs
  src/__tests__/tools/self-loop-detection.test.ts
Due: prettier --write, eslint --fix

feat(tri): run what the dead CI should have, and tell a broken env from broken code
  .claude/skills/vibee-stack-hard-won/SKILL.md
  tri
Due: prettier --write

feat(tri): run what the dead CI should have, and tell a broken env from broken code (#1013)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  tri
Due: prettier --write

fix(tri): give the tsc check a third outcome, applying yesterday's own lesson
  tri
Due: none

fix(tri): give the tsc check a third outcome, applying yesterday's own lesson (#1014)
  tri
Due: none

fix(reliability): arm the global unhandledRejection/uncaughtException handlers
  src/__tests__/tools/global-error-handlers.test.ts
  src/helpers/error/errorHandler.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(reliability): arm global unhandledRejection/uncaughtException handlers (#1015)
  src/__tests__/tools/global-error-handlers.test.ts
  src/helpers/error/errorHandler.ts
  src/index.ts
Due: prettier --write, eslint --fix

test(reliability): gate against phantom setup/register imports in index.ts
  src/__tests__/tools/no-phantom-setup.test.ts
Due: prettier --write, eslint --fix

test(reliability): gate against phantom setup/register imports in index.ts (#1016)
  src/__tests__/tools/no-phantom-setup.test.ts
Due: prettier --write, eslint --fix

test(reliability): gate against dead handler-registrars (never-called setups)
  src/__tests__/tools/no-dead-handler-registrar.test.ts
Due: prettier --write, eslint --fix

test(reliability): gate against dead handler-registrars (never-called setups) (#1018)
  src/__tests__/tools/no-dead-handler-registrar.test.ts
Due: prettier --write, eslint --fix

fix(reliability): time out provider health probes so a hung provider can't stall the monitor
  src/__tests__/services/provider-health-timeout.test.ts
  src/services/provider-health-monitor.ts
Due: prettier --write, eslint --fix

fix(reliability): time out provider health probes so a hung provider can't stall the monitor (#1020)
  src/__tests__/services/provider-health-timeout.test.ts
  src/services/provider-health-monitor.ts
Due: prettier --write, eslint --fix

fix(reliability): time out file downloads in the lipsync render wizards
  src/__tests__/scenes/lipsync-download-timeout.test.ts
  src/scenes/lipSyncWizard/ai-reels-inngest-wizard.ts
  src/scenes/lipSyncWizard/ai-reels-render-wizard.ts
  src/scenes/lipSyncWizard/ai-reels-wizard.ts
  src/scenes/lipSyncWizard/fal-render-wizard.ts
  src/scenes/lipSyncWizard/hedra-render-wizard.ts
  src/scenes/lipSyncWizard/heygen-render-wizard.ts
  src/scenes/lipSyncWizard/veed-fabric-wizard.ts
Due: prettier --write, eslint --fix

fix(reliability): time out file downloads in the lipsync render wizards (#1021)
  src/__tests__/scenes/lipsync-download-timeout.test.ts
  src/scenes/lipSyncWizard/ai-reels-inngest-wizard.ts
  src/scenes/lipSyncWizard/ai-reels-render-wizard.ts
  src/scenes/lipSyncWizard/ai-reels-wizard.ts
  src/scenes/lipSyncWizard/fal-render-wizard.ts
  src/scenes/lipSyncWizard/hedra-render-wizard.ts
  src/scenes/lipSyncWizard/heygen-render-wizard.ts
  src/scenes/lipSyncWizard/veed-fabric-wizard.ts
Due: prettier --write, eslint --fix

fix(billing): guard the AI Cover confirm button against double-tap double-charge
  src/__tests__/scenes/aiCoverDoubleTap.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/aiCoverWizard/index.ts
Due: prettier --write, eslint --fix

fix(billing): guard the AI Cover confirm button against double-tap double-charge (#1022)
  src/__tests__/scenes/aiCoverDoubleTap.test.ts
  src/interfaces/telegram-bot.interface.ts
  src/scenes/aiCoverWizard/index.ts
Due: prettier --write, eslint --fix

fix(billing): credit a TON payment once — compare-and-set the claim, not just update
  src/__tests__/money/ton-payment-claim-once.test.ts
  src/scenes/tonNativePaymentScene/index.ts
  src/scenes/tonPaymentScene/index.ts
Due: prettier --write, eslint --fix

fix(billing): credit a TON payment once — compare-and-set the claim (#1023)
  src/__tests__/money/ton-payment-claim-once.test.ts
  src/scenes/tonNativePaymentScene/index.ts
  src/scenes/tonPaymentScene/index.ts
Due: prettier --write, eslint --fix

fix(billing): credit a Robokassa payment once — compare-and-set the ResultURL claim
  src/__tests__/money/robokassa-claim-once.test.ts
  src/api_server/routes/robokassa.routes.ts
Due: prettier --write, eslint --fix

fix(billing): credit a Robokassa payment once — compare-and-set the ResultURL claim (#1024)
  src/__tests__/money/robokassa-claim-once.test.ts
  src/api_server/routes/robokassa.routes.ts
Due: prettier --write, eslint --fix

docs(audit): payment crediting is idempotent by design — correct the #1023/#1024 framing
  docs/audit/payment-idempotency.md
Due: prettier --write

docs(audit): payment crediting is idempotent by design — correct #1023/#1024 framing (#1025)
  docs/audit/payment-idempotency.md
Due: prettier --write

test(billing): gate that Inngest balance credits stay inside step.run
  src/__tests__/money/inngest-credit-in-step.test.ts
Due: prettier --write, eslint --fix

test(billing): gate that Inngest balance credits stay inside step.run (#1026)
  src/__tests__/money/inngest-credit-in-step.test.ts
Due: prettier --write, eslint --fix

fix(scenes): guard videoDurationScene against a session model that no longer exists
  src/__tests__/scenes/videoDurationModelGuard.test.ts
  src/scenes/videoDurationScene.ts
Due: prettier --write, eslint --fix

fix(scenes): guard videoDurationScene against a session model that no longer exists (#1027)
  src/__tests__/scenes/videoDurationModelGuard.test.ts
  src/scenes/videoDurationScene.ts
Due: prettier --write, eslint --fix

fix(scenes): stop echoing raw JS errors to users in heygen and morphing
  src/__tests__/scenes/no-raw-error-to-user.test.ts
  src/scenes/lipSyncWizard/heygen-render-wizard.ts
  src/scenes/morphingWizard/index.ts
Due: prettier --write, eslint --fix

fix(scenes): stop echoing raw JS errors to users in heygen and morphing (#1028)
  src/__tests__/scenes/no-raw-error-to-user.test.ts
  src/scenes/lipSyncWizard/heygen-render-wizard.ts
  src/scenes/morphingWizard/index.ts
Due: prettier --write, eslint --fix

fix(transcription): delete the downloaded temp video when transcription fails
  src/__tests__/services/transcription-temp-cleanup.test.ts
  src/services/videoTranscription.ts
Due: prettier --write, eslint --fix

fix(transcription): delete the downloaded temp video when transcription fails (#1029)
  src/__tests__/services/transcription-temp-cleanup.test.ts
  src/services/videoTranscription.ts
Due: prettier --write, eslint --fix

fix(text-to-video): stop leaking the raw provider error to the user
  src/__tests__/services/ttv-no-raw-error-leak.test.ts
  src/services/generateTextToVideo.ts
Due: prettier --write, eslint --fix

fix(text-to-video): stop leaking the raw provider error to the user (#1030)
  src/__tests__/services/ttv-no-raw-error-leak.test.ts
  src/services/generateTextToVideo.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
