Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(alerts): a fact about a customer was reported as a failure of ours
  src/__tests__/core/supabase/getUserLanguageDuplicateRows.test.ts
  src/__tests__/handlers/theIdlePollerBeatsInsteadOfNarrating.test.ts
  src/__tests__/middlewares/businessLanguageResolution.test.ts
  src/__tests__/reliability/aTransientCeilingIsNotAnOutage.test.ts
  src/__tests__/reliability/theAlertNamedTheTransportNotTheFailure.test.ts
  src/__tests__/services/crmProactive.streamDeath.test.ts
  src/__tests__/services/theAgentStreamDiesMidBody.test.ts
  src/core/supabase/getUserLanguage.ts
  src/handlers/notificationHandler.ts
  src/helpers/language.ts
  src/helpers/senderOf.ts
  src/middlewares/languageMiddleware.ts
  src/services/businessBotService.ts
  src/services/crmProactive.ts
  src/services/telegram-log.service.ts
  src/services/trinityAgent.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix

fix(alerts): a fact about a customer was reported as a failure of ours (#2448)
  src/__tests__/core/supabase/getUserLanguageDuplicateRows.test.ts
  src/__tests__/handlers/theIdlePollerBeatsInsteadOfNarrating.test.ts
  src/__tests__/middlewares/businessLanguageResolution.test.ts
  src/__tests__/reliability/aTransientCeilingIsNotAnOutage.test.ts
  src/__tests__/reliability/theAlertNamedTheTransportNotTheFailure.test.ts
  src/__tests__/services/crmProactive.streamDeath.test.ts
  src/__tests__/services/theAgentStreamDiesMidBody.test.ts
  src/core/supabase/getUserLanguage.ts
  src/handlers/notificationHandler.ts
  src/helpers/language.ts
  src/helpers/senderOf.ts
  src/middlewares/languageMiddleware.ts
  src/services/businessBotService.ts
  src/services/crmProactive.ts
  src/services/telegram-log.service.ts
  src/services/trinityAgent.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix

feat(crm): a client answering is a fact, and the mirror is the one that writes it
  apps/vibee-editor/render/crm-replies.test.ts
  apps/vibee-editor/render/src/agent/crm-mirror.ts
  apps/vibee-editor/render/src/agent/crm-replies.ts
  apps/vibee-editor/render/src/agent/crm-touches.ts
  apps/vibee-editor/render/the-mirror-writes-the-reply.test.ts
Due: prettier --write, eslint --fix

docs(kie): the lead magnet model has been run, and adding it exposed two sync holes
  apps/vibee-editor/render/kie-models.test.ts
  apps/vibee-editor/render/kie-swift-sync.test.ts
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-editor/render/src/agent/kie-display-names.ts
  apps/vibee-editor/render/src/agent/kie-models.ts
  apps/vibee-editor/render/src/agent/kie-price-names.ts
  apps/vibee-editor/render/src/agent/kie-prices.generated.ts
  apps/vibee-editor/render/src/kie-image.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

fix(tri): books stops judging a writer before the fact could have happened
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/books.sh
Due: prettier --write

docs(loop): two PRs are merged and the gift has been run -- do not reopen them
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(tri): the funnel shows the pictures that were drawn, paid for and thrown away
  bin/helpers/funnel.sh
Due: none

fix(crm): one hold per seller, not one for everybody -- and a card nobody presses is asked for less often
  src/__tests__/services/crmProactive.audit.test.ts
  src/__tests__/services/crmProactive.test.ts
  src/__tests__/services/oneHoldPerSeller.test.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

fix(player): reserve for the feed card's rail what the rail occupies
  apps/vibee-editor/player/src/__tests__/feed-card-text-clears-the-action-rail.test.ts
  apps/vibee-editor/player/src/components/Panels/FeedPanel.css
Due: prettier --write, eslint --fix

fix(player): keep feed card text out of the action rail
  apps/vibee-editor/player/src/__tests__/feed-card-text-clears-the-action-rail.test.ts
  apps/vibee-editor/player/src/components/Panels/FeedPanel.css
Due: prettier --write, eslint --fix

feat(tri): vs-main -- does this fail WITHOUT my changes, without touching my tree
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/vs-main.sh
  bin/tri
Due: prettier --write

feat(crm): the gift reaches somebody with no wallet, which is the point of it
  apps/vibee-editor/render/src/agent/crm-deliver-tool.ts
  apps/vibee-editor/render/the-gift-reaches-a-stranger.test.ts
Due: prettier --write, eslint --fix

docs(loop): the price of the discarded pictures, settled by the ledger
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(crm): the press leaves a trace, because nothing recorded the one act that matters
  apps/vibee-editor/render/src/hive/a-note-from-the-bot-lands-in-the-journal.test.ts
  apps/vibee-editor/render/src/hive/journal.ts
  apps/vibee-editor/render/src/hive/note-route.ts
  apps/vibee-editor/render/src/hive/queen-report.ts
  src/__tests__/services/thePressLeavesATrace.test.ts
  src/navigation/registerCommands.ts
  src/services/hiveNote.ts
Due: prettier --write, eslint --fix

docs(loop): the competitors do not sell a press, and the press left no trace
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(crm): step 4 of the brief contradicted step 2, and step 4 was winning
  src/__tests__/services/crmSweepScope.test.ts
  src/services/crmProactive.ts
  src/services/crmSweepScope.ts
Due: prettier --write, eslint --fix

docs(loop): three merged, replied is no longer zero, and the brief was arguing with itself
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(tri): a zero can be the right answer, and books now knows one of them
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/books.sh
Due: prettier --write

fix(hive): a drawing nobody sent is a cost, not a failure -- and it was hiding a real one
  apps/vibee-editor/render/invoice-orphans.test.ts
  apps/vibee-editor/render/src/agent/invoice-orphans.ts
  apps/vibee-editor/render/src/hive/journal.ts
  apps/vibee-editor/render/src/hive/queen-report.ts
Due: prettier --write, eslint --fix

docs(loop): the alert channel was all noise, and the press count is armed but unanswered
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(bot): a shutdown that pages the owner, and a diagnostic that names a variable nobody has
  .test-baseline.txt
  src/__tests__/bot/shutdownDoesNotPageTheOwner.test.ts
  src/__tests__/bot/theEleventhBotIsNotTheEleventhToken.test.ts
  src/__tests__/navigation/registerCommands.test.ts
  src/bot.ts
  src/index.ts
  src/utils/discoverBotTokens.ts
  src/utils/stopBotsQuietly.ts
Due: prettier --write, eslint --fix

docs(skill): silence after a deploy reads as breakage, and it was a tick lost to a restart
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

fix(bot): a shutdown that pages the owner, and a diagnostic that names a variable nobody has (#2457)
  .test-baseline.txt
  src/__tests__/bot/shutdownDoesNotPageTheOwner.test.ts
  src/__tests__/bot/theEleventhBotIsNotTheEleventhToken.test.ts
  src/__tests__/navigation/registerCommands.test.ts
  src/bot.ts
  src/index.ts
  src/utils/discoverBotTokens.ts
  src/utils/stopBotsQuietly.ts
Due: prettier --write, eslint --fix

fix(player): bound the feed card action rail to the card
  apps/vibee-editor/player/src/__tests__/feed-card-rail-is-bounded-by-the-card.test.ts
  apps/vibee-editor/player/src/components/Panels/FeedPanel.css
  scripts/reachability-live.mjs
  tri
Due: prettier --write, eslint --fix

fix(tri): the deploy command must show why it failed
  tri
Due: none

feat(tri): alive -- does the seller still breathe, and a default that was right by accident
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/alive.sh
  bin/tri
Due: prettier --write

docs(loop): tri alive, and the merge window that does not cost a tick
  .claude/loop-state/crm-loop.md
Due: prettier --write

docs(skill): what the feed card rail cost, in the stack skill
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): restore what the stale copy overwrote
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

fix(crm): the sweep stops drawing over a card that can still be pressed
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/tg-proposals.test.ts
  bin/helpers/orphans.sh
  bin/tri
  src/__tests__/services/crmProactive.test.ts
  src/services/crmProactive.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

docs(skill): an error parsed as an empty list, and a timer standing in for a fact
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

docs(loop): 26 pictures made and thrown away, and the command that counted them
  .claude/loop-state/crm-loop.md
Due: prettier --write

fix(crm): the sweep stops drawing over a card that can still be pressed (#2461)
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/tg-proposals.test.ts
  bin/helpers/orphans.sh
  bin/tri
  src/__tests__/services/crmProactive.test.ts
  src/services/crmProactive.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

feat(tri): rescue nine loop tools that existed on one branch only (#2430)
  .claude/skills/blind-guards/SKILL.md
  .claude/skills/continuous-improvement-loop/SKILL.md
  .claude/skills/mcp-owner-access/SKILL.md
  bin/helpers/binary.sh
  bin/helpers/clock.sh
  bin/helpers/clock/shift-now.mjs
  bin/helpers/facts.sh
  bin/helpers/funnel.sh
  bin/helpers/headroom.sh
  bin/helpers/landing.sh
  bin/helpers/lost.sh
  bin/helpers/mutate.sh
  bin/helpers/owners.sh
  bin/helpers/promises.sh
  bin/helpers/scan.sh
  bin/helpers/sweep.sh
  bin/helpers/tg-api.sh
  bin/helpers/waiting.sh
  bin/helpers/wired.sh
  bin/tri
Due: prettier --write

fix(cards): the memo about a card outlives fifteen minutes, like the card does
  bin/helpers/deadlines.sh
  bin/tri
  src/__tests__/services/cardMemoKeepsPaceWithTheCard.test.ts
  src/services/telegramProposals.ts
Due: prettier --write, eslint --fix

docs(skill): rescue seventeen forms that existed on one branch only
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

docs(loop): rescue the hand-off document that existed on one branch only
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(crm): the sweep says how long it took, in the two places anybody reads
  bin/helpers/turn-time.sh
  bin/tri
  src/__tests__/services/theSweepWritesItselfIntoTheHive.test.ts
  src/services/crmProactive.ts
  src/services/hiveNote.ts
Due: prettier --write, eslint --fix

fix(crm): after a restart the sweep asks the queue instead of its own memory
  apps/vibee-editor/render/crm-summary-tool.test.ts
  apps/vibee-editor/render/src/agent/crm-summary-tool.ts
  src/__tests__/services/crmProactive.test.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

docs(skill): three forms from a guard that production broke in nineteen minutes
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write
