Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs(loop): the model and the seller from the bot
  .claude/loop-state/crm-loop.md
Due: prettier --write

docs(loop): the model and the seller from the bot (#2281)
  .claude/loop-state/crm-loop.md
Due: prettier --write

fix(skills-drift): the battery tested helpers, not the number it prints
  .claude/skills/t27-model-training/SKILL.md
  scripts/skills-drift.cjs
Due: prettier --write

fix(igla): a third of the "tests" cannot fail, and t27c said so in every run
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/scripts/score-by-execution.mjs
Due: prettier --write

fix(money): the price we say is the price we take
  apps/vibee-editor/player/src/components/Profile/ProfileFilesGrid.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileHeader.tsx
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/pricing.ts
  apps/vibee-editor/render/the-quote-must-equal-the-charge.test.ts
  loop/PRICING.md
  loop/regression-check.sh
Due: prettier --write, eslint --fix

fix(dm): no tariffs -- the client in the owner's DM gets the invoice, from the agent
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/system-prompt-by-surface.test.ts
  src/__tests__/services/business-autoreply-single-flight.test.ts
  src/__tests__/services/businessAgentFirst.test.ts
  src/__tests__/services/trinityAgentSurface.test.ts
  src/services/businessBotService.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

fix(dm): no tariffs -- the client in the owner's DM gets the invoice, from the agent (#2282)
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/system-prompt-by-surface.test.ts
  src/__tests__/services/business-autoreply-single-flight.test.ts
  src/__tests__/services/businessAgentFirst.test.ts
  src/__tests__/services/trinityAgentSurface.test.ts
  src/services/businessBotService.ts
  src/services/trinityAgent.ts
Due: prettier --write, eslint --fix

fix(igla): execution is a gate, not a score, and no arithmetic rescues it
  .claude/skills/t27-model-training/scripts/report.mjs
Due: none

fix(igla): VALID printed a boolean while holding five words
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/scripts/score-spec-answers.mjs
Due: prettier --write

fix(money): the price we say is the price we take (#2283)
  .claude/loop-state/crm-loop.md
  apps/vibee-editor/player/src/components/Profile/ProfileFilesGrid.tsx
  apps/vibee-editor/player/src/components/Profile/ProfileHeader.tsx
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/src/agent/pricing.ts
  apps/vibee-editor/render/the-quote-must-equal-the-charge.test.ts
  loop/PRICING.md
  loop/regression-check.sh
Due: prettier --write, eslint --fix

fix(skill): I planned Zig work from Verilog numbers for several iterations
  .claude/skills/t27-model-training/SKILL.md
  bin/tri
Due: prettier --write

fix(seller): the greeting is Telegram's name, and the invoice is the person's own bot's
  apps/vibee-editor/render/bot-farm.test.ts
  apps/vibee-editor/render/crm-offer.test.ts
  apps/vibee-editor/render/src/agent/bot-farm.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/tokens-invoice-own-bot.test.ts
Due: prettier --write, eslint --fix

fix(seller): the greeting is Telegram's name, and the invoice is the person's own bot's (#2284)
  apps/vibee-editor/render/bot-farm.test.ts
  apps/vibee-editor/render/crm-offer.test.ts
  apps/vibee-editor/render/src/agent/bot-farm.ts
  apps/vibee-editor/render/src/agent/crm-offer-tool.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/tokens-invoice-own-bot.test.ts
Due: prettier --write, eslint --fix

feat(agent): we sell tokens -- the club is gone from every mouth
  apps/vibee-editor/render/mock-server.ts
  apps/vibee-editor/render/mock-test.py
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/pricing.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/system-prompt-by-surface.test.ts
  apps/vibee-editor/render/we-sell-tokens-not-a-subscription.test.ts
Due: prettier --write, eslint --fix

feat(agent): we sell tokens -- the club is gone from every mouth (#2285)
  apps/vibee-editor/render/mock-server.ts
  apps/vibee-editor/render/mock-test.py
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/pricing.ts
  apps/vibee-editor/render/src/agent/tools.ts
  apps/vibee-editor/render/system-prompt-by-surface.test.ts
  apps/vibee-editor/render/we-sell-tokens-not-a-subscription.test.ts
Due: prettier --write, eslint --fix

feat(crm): /leads says who people are, and /lead reads one person in depth
  apps/vibee-editor/render/chat-memory.test.ts
  apps/vibee-editor/render/crm-memory-tools.test.ts
  apps/vibee-editor/render/src/agent/chat-memory.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  bin/tri
  src/__tests__/services/modelSwitch.test.ts
  src/navigation/registerCommands.ts
  src/services/modelSwitch.ts
Due: prettier --write, eslint --fix

feat(landing): the first page sells tokens, not a monthly plan
  apps/vibee-editor/player/src/__tests__/the-landing-sells-tokens.test.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/landing/Pricing.tsx
Due: prettier --write, eslint --fix

feat(t27c): discarded return values fixed -- 16 runnable becomes 17
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/resources/t27c-zig-fixes.patch
Due: prettier --write

feat(landing): the first page sells tokens, not a monthly plan (#2286)
  apps/vibee-editor/player/src/__tests__/the-landing-sells-tokens.test.ts
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/components/landing/Pricing.tsx
Due: prettier --write, eslint --fix

feat(crm): /leads says who people are, and /lead reads one person in depth (#2287)
  apps/vibee-editor/render/chat-memory.test.ts
  apps/vibee-editor/render/crm-memory-tools.test.ts
  apps/vibee-editor/render/src/agent/chat-memory.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  bin/tri
  src/__tests__/services/modelSwitch.test.ts
  src/navigation/registerCommands.ts
  src/services/modelSwitch.ts
Due: prettier --write, eslint --fix

feat(igla): a quarter of the corpus contains text the compiler never reads
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/scripts/build-spec-dataset.mjs
Due: prettier --write

feat(crm): the DM is answered from the whole history, the memory fills at once, and nobody is pushed to pay
  apps/vibee-editor/render/chat-memory.test.ts
  apps/vibee-editor/render/crm-ingest-on-connect.test.ts
  apps/vibee-editor/render/crm-memory-tools.test.ts
  apps/vibee-editor/render/crm-mirror-route.test.ts
  apps/vibee-editor/render/crm-mirror.test.ts
  apps/vibee-editor/render/dm-context.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/chat-memory.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/crm-ingest-on-connect.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/crm-mirror.ts
  apps/vibee-editor/render/src/agent/crm-playbook.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/src/agent/tg-connect.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/system-prompt-by-surface.test.ts
  apps/vibee-editor/render/tg-proposals.test.ts
Due: prettier --write, eslint --fix

feat(crm): the DM is answered from the whole history, the memory fills at once, and nobody is pushed to pay (#2288)
  apps/vibee-editor/render/chat-memory.test.ts
  apps/vibee-editor/render/crm-ingest-on-connect.test.ts
  apps/vibee-editor/render/crm-memory-tools.test.ts
  apps/vibee-editor/render/crm-mirror-route.test.ts
  apps/vibee-editor/render/crm-mirror.test.ts
  apps/vibee-editor/render/dm-context.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/chat-memory.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/crm-ingest-on-connect.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/crm-mirror.ts
  apps/vibee-editor/render/src/agent/crm-playbook.ts
  apps/vibee-editor/render/src/agent/routes.ts
  apps/vibee-editor/render/src/agent/tg-connect.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/system-prompt-by-surface.test.ts
  apps/vibee-editor/render/tg-proposals.test.ts
Due: prettier --write, eslint --fix

feat(bot): the business DM fills the memory at once, starts it at connection, and pays only when asked
  src/__tests__/services/businessDmContext.test.ts
  src/__tests__/services/crmProactive.test.ts
  src/__tests__/services/modelSwitch.test.ts
  src/services/businessBotService.ts
  src/services/crmProactive.ts
  src/services/modelSwitch.ts
Due: prettier --write, eslint --fix

feat(bot): the business DM fills the memory at once, starts it at connection, and pays only when asked (#2289)
  src/__tests__/services/businessDmContext.test.ts
  src/__tests__/services/crmProactive.test.ts
  src/__tests__/services/modelSwitch.test.ts
  src/services/businessBotService.ts
  src/services/crmProactive.ts
  src/services/modelSwitch.ts
Due: prettier --write, eslint --fix

docs(loop): cycle 4 -- the name, the cashier, full leads, context first
  .claude/loop-state/crm-loop.md
Due: prettier --write

docs(loop): cycle 4 -- the name, the cashier, full leads, context first (#2290)
  .claude/loop-state/crm-loop.md
Due: prettier --write

fix(mini-app): agent chat stays usable under the keyboard; greeting scrolls away
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.css
  apps/vibee-editor/player/src/hooks/useTelegramWebApp.ts
  apps/vibee-editor/player/src/pages/Chat.css
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/player/src/pages/chatKeyboardLayout.test.ts
  apps/vibee-editor/player/src/styles/telegram.css
Due: prettier --write, eslint --fix

fix(mini-app): agent chat stays usable under the keyboard; greeting scrolls away (#2291)
  apps/vibee-editor/player/src/components/Navigation/TelegramTabBar.css
  apps/vibee-editor/player/src/hooks/useTelegramWebApp.ts
  apps/vibee-editor/player/src/pages/Chat.css
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/player/src/pages/chatKeyboardLayout.test.ts
  apps/vibee-editor/player/src/styles/telegram.css
Due: prettier --write, eslint --fix

feat(mini-app): what the person saw reaches the owner; the agent stream retries a drop
  apps/vibee-editor/player/src/lib/agentStream.ts
  apps/vibee-editor/player/src/lib/clientErrorBeacon.test.ts
  apps/vibee-editor/player/src/lib/clientErrorBeacon.ts
  apps/vibee-editor/player/src/lib/s3Upload.ts
  apps/vibee-editor/player/src/main.tsx
  apps/vibee-editor/render/client-errors.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/client-errors.ts
Due: prettier --write, eslint --fix

feat(mini-app): what the person saw reaches the owner; the agent stream retries a drop (#2292)
  apps/vibee-editor/player/src/lib/agentStream.ts
  apps/vibee-editor/player/src/lib/clientErrorBeacon.test.ts
  apps/vibee-editor/player/src/lib/clientErrorBeacon.ts
  apps/vibee-editor/player/src/lib/s3Upload.ts
  apps/vibee-editor/player/src/main.tsx
  apps/vibee-editor/render/client-errors.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/client-errors.ts
Due: prettier --write, eslint --fix

fix(render): a redeploy drains in-flight requests instead of cutting them
  apps/vibee-editor/render/graceful-shutdown.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/graceful-shutdown.ts
Due: prettier --write, eslint --fix

fix(render): a redeploy drains in-flight requests instead of cutting them (#2293)
  apps/vibee-editor/render/graceful-shutdown.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/graceful-shutdown.ts
Due: prettier --write, eslint --fix

feat(crm): the ingest takes every dialog the account has
  apps/vibee-editor/render/crm-ingest-on-connect.test.ts
  apps/vibee-editor/render/src/agent/crm-ingest-on-connect.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  src/__tests__/services/modelSwitch.test.ts
  src/services/modelSwitch.ts
Due: prettier --write, eslint --fix

feat(crm): the ingest takes every dialog the account has (#2294)
  apps/vibee-editor/render/crm-ingest-on-connect.test.ts
  apps/vibee-editor/render/src/agent/crm-ingest-on-connect.ts
  apps/vibee-editor/render/src/agent/crm-memory-tools.ts
  apps/vibee-editor/render/src/agent/telegram-tools.ts
  src/__tests__/services/modelSwitch.test.ts
  src/services/modelSwitch.ts
Due: prettier --write, eslint --fix

fix(money): a credit is announced only when it happened
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/cashier-one-intake.test.ts
  apps/vibee-editor/render/render-server.ts
  src/__tests__/money/creditedIsNotOk.test.ts
  src/handlers/paymentHandlers/index.ts
Due: prettier --write, eslint --fix

fix(money): a credit is announced only when it happened (#2295)
  apps/vibee-editor/player/src/pages/Chat.tsx
  apps/vibee-editor/render/cashier-one-intake.test.ts
  apps/vibee-editor/render/render-server.ts
  src/__tests__/money/creditedIsNotOk.test.ts
  src/handlers/paymentHandlers/index.ts
Due: prettier --write, eslint --fix

fix(crm): the card outlives the moment it was made
  apps/vibee-editor/render/crm-ingest-on-connect.test.ts
  apps/vibee-editor/render/dm-context.test.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/tg-proposals.test.ts
  apps/vibee-editor/render/the-card-outlives-the-moment.test.ts
Due: prettier --write, eslint --fix

fix(crm): the card outlives the moment it was made (#2296)
  apps/vibee-editor/render/crm-ingest-on-connect.test.ts
  apps/vibee-editor/render/dm-context.test.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/tg-proposals.test.ts
  apps/vibee-editor/render/the-card-outlives-the-moment.test.ts
Due: prettier --write, eslint --fix
