Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

📚 Add production monitoring documentation and server test script
  docs/NEURO_PHOTO_DEPLOYMENT_REPORT.md
  docs/PRODUCTION_LOGS.md
  scripts/test-neuro-photo-server.js
Due: prettier --write

fix: add webhook automation and deployment scripts
  scripts/deploy-production.sh
  scripts/restart-production-bots.sh
  scripts/setup-webhooks.js
Due: none

docs: add webhook configuration and deployment instructions
  docs/WEBHOOK_FIX_INSTRUCTIONS.md
Due: prettier --write

fix: emergency bot restoration - add monitoring scripts and fix invalid tokens
  docs/SSH_MONITORING_COMMANDS.md
  scripts/emergency-fix-production.sh
  scripts/fix-production-bots.sh
  scripts/ssh-quick-commands.sh
Due: prettier --write

checkpoint: Как сделать это автоматически, что ошибка больш...
  Dockerfile
  docker-entrypoint.sh
  scripts/setup-webhooks-correct.js
Due: none

checkpoint: У нас же 10 ботов, чему они не работают, где вс...
  scripts/kill-port.cjs
Due: none

fix: neuro-photo wizard now supports 1-10 image selection
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

fix: исправлена отправка кнопок выбора количества изображений после промпта в нейрофото
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

fix: neuro-photo wizard now supports 1-10 image selection
  src/scenes/neuroPhotoWizard/index.ts.backup_20250830_222157
Due: none

fix: восстановлена рабочая версия нейрофото ТОЧНО как работала месяц назад
  src/scenes/neuroPhotoWizard/index.ts
Due: prettier --write, eslint --fix

fix: отправка фотографий пользователю после успешной генерации на сервере
  src/services/generateNeuroPhotoHybrid.ts
Due: prettier --write, eslint --fix

🔧 Исправление портов и конфигурации API: принудительный порт 2999, исправление API_URL, добавление логирования для диагностики команды shaman
  src/api_server/index.ts
  src/config/index.ts
  src/scenes/neuroPhotoWizard/index.ts
  src/services/generateNeuroPhotoHybrid.ts
Due: prettier --write, eslint --fix

fix: update API server port and repository path for deployment automation
  CORRECTED_PORT_ANALYSIS.md
  EMERGENCY_BOT_FIX_REPORT.md
  FINAL_COMPLETION_SUMMARY.md
  FINAL_PRODUCTION_FIX_REPORT.md
  PRODUCTION_MONITORING_SYSTEM.md
  PROJECT_COMPLETION_STATUS.md
  TASK_COMPLETION_FINAL.md
  comprehensive_production_verification.sh
  corrected_nginx_fix.sh
  direct_bot_check.sh
  direct_verification.sh
  docs/DEPLOYMENT/DEPLOYMENT_AUTOMATION_SUMMARY.md
  real_bot_verification.sh
  real_production_verification.sh
  scripts/comprehensive-bot-verification.sh
  scripts/emergency-nginx-fix.sh
  scripts/emergency-production-fix.sh
  scripts/final-validation.sh
  scripts/production-monitor.sh
  scripts/setup-monitoring.sh
  scripts/webhook-deploy-server.js
  src/api_server/index.ts
  src/utils/production-monitor.ts
Due: prettier --write, eslint --fix

Adds emergency bot fix scripts and verification tools
  .qoder/quests/ssh-container-inspection.md
  EMERGENCY_REAL_VERIFICATION.md
  FINAL_TASK_COMPLETION.md
  comprehensive_verification.sh
  emergency_bot_restart.sh
  final_emergency_fix.sh
  immediate_status_check.sh
  quick_check.sh
Due: prettier --write

checkpoint: Не работает почему-то кнопка увеличить качество...
  src/api_server/index.ts
  src/registerCommands.ts
  src/services/generateNeuroPhotoDirect.ts
  src/services/generateNeuroPhotoHybrid.ts
Due: prettier --write, eslint --fix

fix: Добавлена кнопка 'Увеличить качество' в generateNeuroPhotoHybrid
  src/services/generateNeuroPhotoHybrid.ts
Due: prettier --write, eslint --fix

fix: Исправлен конфликт слияния в kill-port.cjs
  scripts/kill-port.cjs
Due: none

fix: Восстановлена кнопка мониторинга конкурентов для администраторов
  src/handlers/handleMenu.ts
Due: prettier --write, eslint --fix

fix: Удалена дублирующая кнопка Парсинг
  src/handlers/handleMenu.ts
  src/menu/mainMenu.ts
Due: prettier --write, eslint --fix

fix: Восстановлена функция 'промпт из фото' с использованием Replicate API
  src/services/plan_b/generateImageToPrompt.ts
Due: prettier --write, eslint --fix

checkpoint: Запусти и посмотри логи, как она работает.⚠️ ПР...
  scripts/clear-webhook.js
  test-replicate-api.js
Due: none
