Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(tri): money-base — evaluate both star-cost helpers (no hand-guessing)
  tri
Due: none

feat(tri): money-base — evaluate both star-cost helpers (no hand-guessing) (#1265)
  tri
Due: none

fix(money): flux-max batch refund uses exact charge, not divergent base (#1266)
  src/__tests__/money/fluxMaxBatchRefundExactCharge.test.ts
  src/scenes/aiPhotoshopScene/index.ts
  src/services/generateFluxKontextMax.ts
Due: prettier --write, eslint --fix

fix(money): flux-max batch refund uses exact charge, not divergent base (#1266) (#1267)
  src/__tests__/money/fluxMaxBatchRefundExactCharge.test.ts
  src/scenes/aiPhotoshopScene/index.ts
  src/services/generateFluxKontextMax.ts
Due: prettier --write, eslint --fix

loop: cycle 166 - alarm threshold moved to 05 UTC
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 166 - alarm threshold moved to 05 UTC (#1268)
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(tri): batch-refunds — audit which batch services forward the exact charge
  tri
Due: none

feat(tri): batch-refunds — audit which batch services forward the exact charge (#1269)
  tri
Due: none

fix(money): close batch under-refund for pro+seededit; add reconciliation ratchet (#1270)
  src/__tests__/money/batchRefundReconciliation.test.ts
  src/scenes/aiPhotoshopScene/index.ts
  src/services/generateFluxKontextPro.ts
  src/services/generateSeedEdit3.ts
Due: prettier --write, eslint --fix

fix(money): close batch under-refund for pro+seededit; add reconciliation ratchet (#1270) (#1271)
  src/__tests__/money/batchRefundReconciliation.test.ts
  src/scenes/aiPhotoshopScene/index.ts
  src/services/generateFluxKontextPro.ts
  src/services/generateSeedEdit3.ts
Due: prettier --write, eslint --fix

loop: cycle 167 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 167 - standby (#1272)
  loop/ZCODE_LOOP.md
Due: prettier --write

feat(tri): money-base warns serviceBase is theoretical (may be hardcoded)
  tri
Due: none

feat(tri): money-base warns serviceBase is theoretical (may be hardcoded) (#1273)
  tri
Due: none

loop: cycle 168 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 168 - standby (#1275)
  loop/ZCODE_LOOP.md
Due: prettier --write

fix(money): charge nano_banana in all_models (was unbilled free generation) (#1274)
  src/__tests__/money/nanoAllModelsBilled.test.ts
  src/scenes/aiPhotoshopScene/index.ts
Due: prettier --write, eslint --fix

fix(money): charge nano_banana in all_models (was unbilled free generation) (#1274) (#1276)
  src/__tests__/money/nanoAllModelsBilled.test.ts
  src/scenes/aiPhotoshopScene/index.ts
Due: prettier --write, eslint --fix

fix(broadcast): guard user-cleanup delete so a failure can't re-broadcast (#1277)
  src/__tests__/services/broadcastDeleteGuardedRetry.test.ts
  src/services/plan_b/broadcast.service.ts
Due: prettier --write, eslint --fix

fix(broadcast): guard user-cleanup delete so a failure can't re-broadcast (#1277) (#1278)
  src/__tests__/services/broadcastDeleteGuardedRetry.test.ts
  src/services/plan_b/broadcast.service.ts
Due: prettier --write, eslint --fix

loop: cycle 169 - factory awake, counter proven live
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 169 - factory awake, counter proven live (#1279)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 170 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 170 - standby (#1280)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 171 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 171 - standby (#1281)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 172 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 172 - standby (#1282)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 173 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 173 - standby (#1283)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 174 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 174 - standby (#1284)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 175 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 175 - standby (#1285)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 176 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 176 - standby (#1286)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 177 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 177 - standby (#1287)
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 178 - standby
  loop/ZCODE_LOOP.md
Due: prettier --write

loop: cycle 178 - standby (#1288)
  loop/ZCODE_LOOP.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
