Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

checkpoint: Да, еще раз перепроверь, если так. Там еще приг...
  RECOVERY_REPORT.md
  src/hearsHandlers.ts
Due: prettier --write, eslint --fix

fix: Восстановлена работа всех кнопок меню - устранен конфликт систем обработки
  src/bot.ts
  src/handlers/handleMenu.ts
  src/index.ts
  src/registerCommands.ts
Due: prettier --write, eslint --fix

checkpoint: Ещё другой агент написал вот эту проблему. Она ...
  DOUBLE_SYSTEM_FIX_REPORT.md
  src/scenes/menuScene/index.ts
Due: prettier --write, eslint --fix

🚀 FIX: Restore access to three-head-dragon.shop
  deploy.sh
Due: none

fix: Восстановлены нерабочие кнопки и устранена двойная система обработки
  .env
Due: none

fix: Добавить подробные логи в handleMenu для диагностики кнопок
  src/handlers/handleMenu.ts
Due: prettier --write, eslint --fix

docs: Добавлены команды для деплоя
  DEPLOY_COMMANDS.md
Due: prettier --write

fix: Устранена основная причина - отключены глобальные обработчики кнопок навигации
  src/registerCommands.ts
Due: prettier --write, eslint --fix

checkpoint: Всё работает!
  FINAL_STATUS.md
Due: prettier --write

🏗️ Update server architecture - Production 10 bots, Development 2 bots
  .claude/config.json
  .claude/settings.json
  SERVER_ARCHITECTURE.md
  scripts/deploy-development.sh
  scripts/deploy-production.sh
Due: prettier --write

🔐 CRITICAL SECURITY FIX: Remove all API keys from repository
  .env.example
  tests/test-api-call-hedra.ts
  tests/test-correct-inngest-url.ts
  tests/test-direct-render-call.ts
  tests/test-inngest-provider.ts
  tests/test-new-event-key.ts
  tests/test-render-direct-post.ts
  tests/test-render-event-names.ts
  tests/test-render-server-direct.ts
  tests/test-render-server-hedra.ts
  tests/test-render-simple-payload.ts
  tests/test-render-with-exact-tokens.ts
Due: prettier --write, eslint --fix

🔐 CRITICAL SECURITY FIX: Remove all API keys from repository
  .env
  .env.example
  tests/test-api-call-hedra.ts
  tests/test-correct-inngest-url.ts
  tests/test-direct-render-call.ts
  tests/test-inngest-provider.ts
  tests/test-new-event-key.ts
  tests/test-render-direct-post.ts
  tests/test-render-event-names.ts
  tests/test-render-server-direct.ts
  tests/test-render-server-hedra.ts
  tests/test-render-simple-payload.ts
  tests/test-render-with-exact-tokens.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
