Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

Record what the worktree degradation is NOT, and withdraw a wrong cure
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/worktree-degradation.md
Due: prettier --write

Record what the worktree degradation is NOT, and withdraw a wrong cure (#1834)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/worktree-degradation.md
Due: prettier --write

Stop crediting stars for a video generation nobody was charged for
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/videoRefundWithoutCharge.test.ts
  src/__tests__/security/no-secrets-in-repo.test.ts
  src/modules/videoGenerator/generateTextToVideo.ts
  src/modules/videoGenerator/test/generateTextToVideo.test.ts
Due: prettier --write, eslint --fix

Stop crediting stars for a video generation nobody was charged for (#1835)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  src/__tests__/money/videoRefundWithoutCharge.test.ts
  src/__tests__/security/no-secrets-in-repo.test.ts
  src/modules/videoGenerator/generateTextToVideo.ts
  src/modules/videoGenerator/test/generateTextToVideo.test.ts
Due: prettier --write, eslint --fix

fix(loop): stop the disk cleanup from deleting the simulator it depends on
  .claude/loop-opus/free-disk.sh
Due: none

fix(loop): stop the disk cleanup from deleting the simulator it depends on (#1836)
  .claude/loop-opus/free-disk.sh
Due: none

Stop refunding a price that was never charged
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/probe-refund-without-charge.cjs
  src/__tests__/money/sessionPaymentAmountNeverUnbacked.test.ts
  src/price/helpers/validateAndCalculateImageModelPrice.ts
  tri
Due: prettier --write, eslint --fix

Stop refunding a price that was never charged (#1837)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/probe-refund-without-charge.cjs
  src/__tests__/money/sessionPaymentAmountNeverUnbacked.test.ts
  src/price/helpers/validateAndCalculateImageModelPrice.ts
  tri
Due: prettier --write, eslint --fix

Derive the money vocabulary from the enum instead of guessing it
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/probe-refund-without-charge.cjs
  src/__tests__/money/paymentTypeVocabularyComplete.test.ts
Due: prettier --write, eslint --fix

Derive the money vocabulary from the enum instead of guessing it (#1838)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  scripts/probe-refund-without-charge.cjs
  src/__tests__/money/paymentTypeVocabularyComplete.test.ts
Due: prettier --write, eslint --fix

Recognise a previous refund by its type, not by its prose
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/refund-needs-charge.test.ts
  src/price/helpers/refundUser.ts
Due: prettier --write, eslint --fix

Recognise a previous refund by its type, not by its prose (#1839)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/refund-needs-charge.test.ts
  src/price/helpers/refundUser.ts
Due: prettier --write, eslint --fix

Tell the user their stars were taken when a paid generation fails
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/OWNER-DECISIONS.md
  src/__tests__/money/chargedGenerationFailureIsHonest.test.ts
  src/inngest_app/functions/generation/neuroImageGeneration.ts
Due: prettier --write, eslint --fix

Tell the user their stars were taken when a paid generation fails (#1840)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/OWNER-DECISIONS.md
  src/__tests__/money/chargedGenerationFailureIsHonest.test.ts
  src/inngest_app/functions/generation/neuroImageGeneration.ts
Due: prettier --write, eslint --fix

Tell the user when a refund did NOT go through
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/refundFailureIsAnnounced.test.ts
  src/scenes/musicGenerationWizard/index.ts
  src/scenes/videoTranscriptionWizard/index.ts
Due: prettier --write, eslint --fix

Tell the user when a refund did NOT go through (#1841)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/refundFailureIsAnnounced.test.ts
  src/scenes/musicGenerationWizard/index.ts
  src/scenes/videoTranscriptionWizard/index.ts
Due: prettier --write, eslint --fix

Bind three discarded money results, and correct my own framing
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/chargeResultIsChecked.test.ts
  src/__tests__/money/unchecked-money-result.test.ts
  src/__tests__/scenes/charge-result-checked-ratchet.test.ts
  src/api_server/routes/x402.routes.ts
  src/scenes/lipSyncWizard/ai-reels-inngest-wizard.ts
Due: prettier --write, eslint --fix

Bind three discarded money results, and correct my own framing (#1842)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/chargeResultIsChecked.test.ts
  src/__tests__/money/unchecked-money-result.test.ts
  src/__tests__/scenes/charge-result-checked-ratchet.test.ts
  src/api_server/routes/x402.routes.ts
  src/scenes/lipSyncWizard/ai-reels-inngest-wizard.ts
Due: prettier --write, eslint --fix

Name the registries this audit already keeps
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/registry-map.md
  scripts/probe-registries.cjs
  src/__tests__/tools/registryLivenessRatchet.test.ts
  tri
Due: prettier --write, eslint --fix

Name the registries this audit already keeps (#1843)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/registry-map.md
  scripts/probe-registries.cjs
  src/__tests__/tools/registryLivenessRatchet.test.ts
  tri
Due: prettier --write, eslint --fix

Withdraw yesterday's liveness ratchet: the property does not hold
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/registry-map.md
  scripts/probe-registries.cjs
  src/__tests__/tools/registryLivenessRatchet.test.ts
  src/__tests__/tools/registryMap.test.ts
Due: prettier --write, eslint --fix

Withdraw yesterday's liveness ratchet: the property does not hold (#1844)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/audit/registry-map.md
  scripts/probe-registries.cjs
  src/__tests__/tools/registryLivenessRatchet.test.ts
  src/__tests__/tools/registryMap.test.ts
Due: prettier --write, eslint --fix

fix(ios): restore the field main was already passing, so the app compiles again
  apps/vibee-ios/Vibee/KieModelRow.swift
Due: none

fix(ios): restore the field main was already passing, so the app compiles again (#1845)
  apps/vibee-ios/Vibee/KieModelRow.swift
Due: none

See a fabricated URL returned as a property, not only as the whole value
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/no-fabricated-returns.test.ts
Due: prettier --write, eslint --fix

See a fabricated URL returned as a property, not only as the whole value (#1846)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  src/__tests__/money/no-fabricated-returns.test.ts
Due: prettier --write, eslint --fix

test(money): compute who can move money instead of listing four names
  scripts/lib/money-writers.cjs
  scripts/probe-matcher-forms.cjs
  src/__tests__/money/moneyWriteVocabulary.test.ts
  src/__tests__/money/videoRefundWithoutCharge.test.ts
  tri
Due: prettier --write, eslint --fix

test(money): compute who can move money instead of listing four names (#1847)
  scripts/lib/money-writers.cjs
  scripts/probe-matcher-forms.cjs
  src/__tests__/money/moneyWriteVocabulary.test.ts
  src/__tests__/money/videoRefundWithoutCharge.test.ts
  tri
Due: prettier --write, eslint --fix

docs(skill): three lessons from the money-vocabulary sweep
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): three lessons from the money-vocabulary sweep (#1848)
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

test(money): count credit sites by the call, not by an eight-line window
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/credit-sites.cjs
  src/__tests__/money/creditSiteCensus.test.ts
  tri
Due: prettier --write, eslint --fix

test(money): count credit sites by the call, not by an eight-line window (#1849)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/credit-sites.cjs
  src/__tests__/money/creditSiteCensus.test.ts
  tri
Due: prettier --write, eslint --fix

feat(feed): backfill covers for reels published before the fix
  apps/vibee-editor/render/backfill-thumbnails-guard.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

feat(feed): backfill covers for reels published before the fix (#1850)
  apps/vibee-editor/render/backfill-thumbnails-guard.test.ts
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

test(money): two money ratchets were RED on a clean tree; fix them and the class
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/call-args.cjs
  scripts/lib/credit-sites.cjs
  scripts/probe-window-width.cjs
  src/__tests__/money/imageToVideoPollClearsJobId.test.ts
  src/__tests__/money/kie-webhook-charge.test.ts
  tri
Due: prettier --write, eslint --fix

docs(loop): make the status tell the truth, and teach it to doubt itself
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

docs(loop): make the status tell the truth, and teach it to doubt itself (#1851)
  .claude/loop-opus/dashboard-opus.html
  .claude/loop-opus/pipeline-STATUS.md
Due: prettier --write

test(money): two money ratchets were RED on a clean tree; fix them and the class (#1852)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  .test-baseline.txt
  scripts/lib/call-args.cjs
  scripts/lib/credit-sites.cjs
  scripts/probe-window-width.cjs
  src/__tests__/money/imageToVideoPollClearsJobId.test.ts
  src/__tests__/money/kie-webhook-charge.test.ts
  tri
Due: prettier --write, eslint --fix

fix(kie): let the measured contract write the on-screen requirement
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix

fix(kie): let the measured contract write the on-screen requirement (#1853)
  apps/vibee-editor/render/scripts/gen-kie-swift.ts
  apps/vibee-ios/Vibee/KieModels.swift
Due: prettier --write, eslint --fix
