Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(buttons): the repeat-purchase button works, and a retry drawn by a service lands somewhere (#2169)
  scripts/button-census.cjs
  src/__tests__/tools/buttonCensusSelfCheck.test.ts
  src/navigation/registerCommands.ts
  src/scenes/aiCoverWizard/index.ts
Due: prettier --write, eslint --fix

feat(skill): the LoRA dataset builder, and the three weaknesses it exposes
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/resources/lora-config.yaml
  .claude/skills/t27-model-training/scripts/prepare-lora-dataset.mjs
Due: prettier --write

feat(tri): igla commands, so the corpus size is checked rather than remembered
  bin/tri
Due: none

fix(skill): strip the generator banner, or the model signs work it did not do
  .claude/skills/t27-model-training/scripts/prepare-lora-dataset.mjs
Due: none

docs(skill): the field already has models, a benchmark, and a licence trap
  .claude/skills/t27-model-training/SKILL.md
  bin/tri
Due: prettier --write

tool(tri): ask whether anybody is using this, and refuse to answer without measuring
  scripts/funnel.cjs
  src/__tests__/tools/funnelRefusesWithoutCredentials.test.ts
  tri
Due: prettier --write, eslint --fix

tool(tri): ask whether anybody is using this, and refuse to answer without measuring (#2170)
  scripts/funnel.cjs
  src/__tests__/tools/funnelRefusesWithoutCredentials.test.ts
  tri
Due: prettier --write, eslint --fix

feat(skill): a correctness-by-simulation harness, checked before it is trusted
  .claude/skills/t27-model-training/resources/lora-config.yaml
  .claude/skills/t27-model-training/scripts/verilogeval-score.mjs
  bin/tri
Due: none

fix(skill): the corpus does not compile -- 2 of 31, and that inverts the plan
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/scripts/audit-corpus-compiles.mjs
  bin/tri
Due: prettier --write

feat(crm): the list stops offering people you already wrote to
  .claude/launch.json
  .claude/loop-state/crm-loop.md
  apps/vibee-editor/render/crm-tools.test.ts
  apps/vibee-editor/render/src/agent/crm-tools.ts
  apps/vibee-editor/render/src/agent/crm-touch-tools.ts
  apps/vibee-editor/render/src/agent/crm-touches.ts
  apps/vibee-editor/render/src/agent/tools.ts
  bin/helpers/crm-source.mjs
  bin/tri
Due: prettier --write, eslint --fix

chore(loop): record cycle 1 state and the two-live-databases finding
  .claude/loop-state/crm-loop.md
Due: prettier --write

fix(skill): usable Verilog pairs are ZERO of 31, not two
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/scripts/audit-corpus-compiles.mjs
Due: prettier --write

feat(crm): who is waiting for an answer, and a stage nobody set by hand
  apps/vibee-editor/render/crm-stages.test.ts
  apps/vibee-editor/render/crm-tools.test.ts
  apps/vibee-editor/render/src/agent/crm-stages.ts
  apps/vibee-editor/render/src/agent/crm-tools.ts
  apps/vibee-editor/render/src/agent/crm-touch-tools.ts
  apps/vibee-editor/render/src/agent/crm-touches.ts
Due: prettier --write, eslint --fix

tool(tri): make a top-up that never completed impossible to miss
  docs/money-ratchets.md
  scripts/stuck-payments.cjs
  src/__tests__/money/stuckPaymentsWatchdog.test.ts
  tri
Due: prettier --write, eslint --fix

tool(tri): make a top-up that never completed impossible to miss (#2172)
  docs/money-ratchets.md
  scripts/stuck-payments.cjs
  src/__tests__/money/stuckPaymentsWatchdog.test.ts
  tri
Due: prettier --write, eslint --fix

ci(railway): deploy only when the runtime image can change (watchPatterns)
  railway.toml
Due: none

ci(railway): deploy only when the runtime image can change (watchPatterns) (#2173)
  railway.toml
Due: none

feat(skill): the task is writing .t27, not Verilog -- and the corpus is 317
  .claude/skills/t27-model-training/SKILL.md
  bin/tri
Due: prettier --write

feat(skill): t27c parse accepts nothing at all, so it cannot be the gate
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/scripts/validate-t27.mjs
  bin/tri
Due: prettier --write

feat(crm): a screen that opens on who is waiting, not on totals
  .claude/loop-state/crm-loop.md
  .claude/skills/blind-guards/SKILL.md
  apps/vibee-editor/player/src/App.tsx
  apps/vibee-editor/player/src/atoms/language.ts
  apps/vibee-editor/player/src/lib/crm.ts
  apps/vibee-editor/player/src/pages/Crm.css
  apps/vibee-editor/player/src/pages/Crm.test.tsx
  apps/vibee-editor/player/src/pages/Crm.tsx
Due: prettier --write, eslint --fix

feat(track): record the funnel between arriving and paying, where nothing looked
  scripts/events.cjs
  scripts/funnel.cjs
  sql/migrations/20260908_user_events.sql
  src/__tests__/tools/funnelRefusesWithoutCredentials.test.ts
  src/__tests__/tools/trackingCannotCostAnybodyAnything.test.ts
  src/navigation/helpers/menuKeyboard.ts
  src/navigation/middleware/noSilence.ts
  src/navigation/registerCommands.ts
  src/price/helpers/sendInsufficientStarsMessage.ts
  src/services/trackEvent.ts
  tri
Due: prettier --write, eslint --fix

feat(track): record the funnel between arriving and paying, where nothing looked (#2174)
  scripts/events.cjs
  scripts/funnel.cjs
  sql/migrations/20260908_user_events.sql
  src/__tests__/tools/funnelRefusesWithoutCredentials.test.ts
  src/__tests__/tools/trackingCannotCostAnybodyAnything.test.ts
  src/navigation/helpers/menuKeyboard.ts
  src/navigation/middleware/noSilence.ts
  src/navigation/registerCommands.ts
  src/price/helpers/sendInsufficientStarsMessage.ts
  src/services/trackEvent.ts
  tri
Due: prettier --write, eslint --fix

fix(payments): a pending row is an invoice, not a robbery — correcting my own reading
  scripts/stuck-payments.cjs
  src/__tests__/money/stuckPaymentsWatchdog.test.ts
  tri
Due: prettier --write, eslint --fix

fix(payments): a pending row is an invoice, not a robbery — correcting my own reading (#2175)
  scripts/stuck-payments.cjs
  src/__tests__/money/stuckPaymentsWatchdog.test.ts
  tri
Due: prettier --write, eslint --fix

fix(skill): my corpus count of 1257 was wrong twice, and here is the honest one
  .claude/skills/t27-model-training/SKILL.md
  bin/tri
Due: prettier --write

tool(tri): ask the providers whether the key works, not the environment whether it is set
  scripts/provider-liveness.cjs
  src/__tests__/tools/providerLivenessVerdict.test.ts
  src/services/capabilityPreflight.ts
  tri
Due: prettier --write, eslint --fix

tool(tri): ask the providers whether the key works, not the environment whether it is set (#2176)
  scripts/provider-liveness.cjs
  src/__tests__/tools/providerLivenessVerdict.test.ts
  src/services/capabilityPreflight.ts
  tri
Due: prettier --write, eslint --fix

feat(skill): the spec-writing dataset -- 207 train, 34 eval, gate-checked
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/scripts/build-spec-dataset.mjs
  bin/tri
Due: prettier --write

fix(onboarding): the first screen a new person sees survives a database hiccup
  src/__tests__/scenes/firstScreenSurvivesAHiccup.test.ts
  src/scenes/avatarTransformScene/index.ts
Due: prettier --write, eslint --fix

fix(onboarding): the first screen a new person sees survives a database hiccup (#2177)
  src/__tests__/scenes/firstScreenSurvivesAHiccup.test.ts
  src/scenes/avatarTransformScene/index.ts
Due: prettier --write, eslint --fix

fix(skill): the gate gave a cheater 100%, and both instruments had a size bug
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/scripts/score-spec-answers.mjs
  .claude/skills/t27-model-training/scripts/validate-t27.mjs
  bin/tri
Due: prettier --write

fix(money): ten more refusals now hand over the way to pay
  src/__tests__/money/refusalOffersAWayToPay.test.ts
  src/scenes/aiCoverWizard/index.ts
  src/scenes/faceSwapWizard/index.ts
  src/scenes/lipSyncWizard/ai-reels-inngest-wizard.ts
  src/scenes/lipSyncWizard/ai-reels-render-wizard.ts
  src/scenes/lipSyncWizard/index.ts
  src/scenes/lipSyncWizard/veed-fabric-wizard.ts
  src/scenes/musicGenerationWizard/index.ts
  src/scenes/videoTranscriptionWizard/index.ts
  src/scenes/voiceTrainingWizard/index.ts
Due: prettier --write, eslint --fix

fix(money): ten more refusals now hand over the way to pay (#2178)
  src/__tests__/money/refusalOffersAWayToPay.test.ts
  src/scenes/aiCoverWizard/index.ts
  src/scenes/faceSwapWizard/index.ts
  src/scenes/lipSyncWizard/ai-reels-inngest-wizard.ts
  src/scenes/lipSyncWizard/ai-reels-render-wizard.ts
  src/scenes/lipSyncWizard/index.ts
  src/scenes/lipSyncWizard/veed-fabric-wizard.ts
  src/scenes/musicGenerationWizard/index.ts
  src/scenes/videoTranscriptionWizard/index.ts
  src/scenes/voiceTrainingWizard/index.ts
Due: prettier --write, eslint --fix

fix(skill): the battery now refuses to pass without a large input
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/scripts/validate-t27.mjs
  bin/tri
Due: prettier --write

fix(gates): two gates went red on main, and one of them was accusing the defence
  src/__tests__/db/table-seams.test.ts
  src/__tests__/security/no-secret-in-logs.test.ts
Due: prettier --write, eslint --fix

fix(gates): two gates went red on main, and one of them was accusing the defence (#2179)
  src/__tests__/db/table-seams.test.ts
  src/__tests__/security/no-secret-in-logs.test.ts
Due: prettier --write, eslint --fix

fix(skill): assert on every number the instruments print
  .claude/skills/t27-model-training/SKILL.md
  .claude/skills/t27-model-training/scripts/build-spec-dataset.mjs
  .claude/skills/t27-model-training/scripts/score-spec-answers.mjs
Due: prettier --write

fix(billing): point Robokassa's ResultURL at a path this app actually answers
  docs/money-ratchets.md
  src/__tests__/money/robokassa-result-url-is-mounted.test.ts
  src/config/index.ts
Due: prettier --write, eslint --fix

fix(billing): point Robokassa's ResultURL at a path this app actually answers (#2180)
  docs/money-ratchets.md
  src/__tests__/money/robokassa-result-url-is-mounted.test.ts
  src/config/index.ts
Due: prettier --write, eslint --fix

fix(payments): split the top-up census by channel -- the union told the wrong story
  scripts/stuck-payments.cjs
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
