Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(деньги): списание токенов не атомарно — параллельные вызовы уводят баланс в минус
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(деньги): списание токенов не атомарно — параллельные вызовы уводят баланс в минус (#872)
  apps/vibee-editor/render/src/agent/tools.ts
Due: prettier --write, eslint --fix

fix(деньги): вебхук покупки токенов не идемпотентен — повтор доставки начислял дважды
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(деньги): вебхук покупки токенов не идемпотентен — повтор доставки начислял дважды (#873)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(деньги): резервная проверка оплаты /api/tokens/verify не начисляла НИКОГДА
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(деньги): резервная проверка оплаты /api/tokens/verify не начисляла НИКОГДА (#874)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

fix(типы): плеер 14→12, храповик типов восстановлен (был красный на main)
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/player/src/config/web3.ts
Due: prettier --write, eslint --fix

fix(типы): плеер 14→12, храповик типов восстановлен (был красный на main) (#875)
  apps/vibee-editor/player/src/components/Header/Header.tsx
  apps/vibee-editor/player/src/config/web3.ts
Due: prettier --write, eslint --fix

fix(агент): пустой пузырь без объяснения при обрыве/молчании модели
  apps/vibee-editor/player/src/lib/agentStream.ts
Due: prettier --write, eslint --fix

fix(агент): пустой пузырь без объяснения при обрыве/молчании модели (#876)
  apps/vibee-editor/player/src/lib/agentStream.ts
Due: prettier --write, eslint --fix

fix(loop): детектор глушил РЕАЛЬНУЮ стойку конвейера, вешая её на FAL/ElevenLabs
  .claude/loop-opus/anomalies.mjs
  .claude/loop-opus/landed.json
Due: prettier --write

fix(loop): детектор глушил РЕАЛЬНУЮ стойку конвейера, вешая её на FAL/ElevenLabs (#877)
  .claude/loop-opus/anomalies.mjs
  .claude/loop-opus/landed.json
Due: prettier --write

fix(агент): ключ агента сравнивался нестойко по времени
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

fix(агент): ключ агента сравнивался нестойко по времени (#878)
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

fix(агент): стриминг мог зависнуть навсегда и глотал ошибку посреди потока
  apps/vibee-editor/render/src/agent/chat.ts
Due: prettier --write, eslint --fix

fix(агент): стриминг мог зависнуть навсегда и глотал ошибку посреди потока (#879)
  apps/vibee-editor/render/src/agent/chat.ts
Due: prettier --write, eslint --fix

docs(loop): урок ночи — конвейер задушила своя тарификация, монитор винил провайдеров
  .claude/loop-opus/LESSONS.md
  .claude/loop-opus/landed.json
Due: prettier --write

docs(loop): урок ночи — конвейер задушила своя тарификация, монитор винил провайдеров (#880)
  .claude/loop-opus/LESSONS.md
  .claude/loop-opus/landed.json
Due: prettier --write

feat(автопилот A): режим демона — планировщик, которого не было
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

feat(автопилот A): режим демона — планировщик, которого не было (#881)
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

fix(автопилот A): демон отработал бы раз и замолчал — lock держал свой же PID
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

fix(автопилот A): демон отработал бы раз и замолчал — lock держал свой же PID (#882)
  apps/vibee-editor/render/scripts/agent-autopilot.ts
Due: prettier --write, eslint --fix

fix(деньги B): /api/generate/* не списывал токены — бесплатный обход тарификации
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
Due: prettier --write, eslint --fix

fix(деньги B): /api/generate/* не списывал токены — бесплатный обход тарификации (#883)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/billing-shared.ts
Due: prettier --write, eslint --fix

feat(агент C): самообслуживание MCP-ключей — «подключи ЛЮБОГО агента»
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

feat(агент C): самообслуживание MCP-ключей — «подключи ЛЮБОГО агента» (#884)
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/routes.ts
Due: prettier --write, eslint --fix

chore(loop): следы #882-884, урок async-blast-radius, дашборд
  .claude/loop-opus/LESSONS.md
  .claude/loop-opus/landed.json
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/dashboard/STATUS.md
  docs/dashboard/status.json
Due: prettier --write

chore(loop): следы #882-884, урок async-blast-radius, дашборд (#885)
  .claude/loop-opus/LESSONS.md
  .claude/loop-opus/landed.json
  .claude/skills/vibee-stack-hard-won/SKILL.md
  docs/dashboard/STATUS.md
  docs/dashboard/status.json
Due: prettier --write

chore(render): триггер-деплой — довезти #884 (MCP-ключи), пропущенный Railway
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

chore(render): триггер-деплой — довезти #884 (MCP-ключи), пропущенный Railway (#886)
  apps/vibee-editor/render/render-server.ts
Due: prettier --write, eslint --fix

chore(loop): урок про Railway-пропуск деплоя + tri deploy-wait
  .claude/loop-opus/LESSONS.md
  .claude/loop-opus/tri.reference.sh
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

chore(loop): урок про Railway-пропуск деплоя + tri deploy-wait (#887)
  .claude/loop-opus/LESSONS.md
  .claude/loop-opus/tri.reference.sh
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

docs(skill): three lessons from cycle 66
  .claude/skills/vibee-stack-hard-won/SKILL.md
Due: prettier --write

loop: цикл №234 — утро: стек поднят (peer-урок №36), баланс 99, конвейер ожил
  apps/vibee-editor/render/session-store.ts
  apps/vibee-editor/render/session.test.ts
  apps/vibee-editor/render/session.ts
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
Due: prettier --write, eslint --fix

Three lessons from cycle 66 (#888)
  .claude/skills/vibee-stack-hard-won/SKILL.md
  apps/vibee-editor/player/package-lock.json
  apps/vibee-editor/player/package.json
  apps/vibee-editor/render/package-lock.json
  apps/vibee-editor/render/package.json
  package-lock.json
  package.json
  src/index.ts
  src/scenes/lipSyncWizard/ai-reels-wizard.ts
  vitest.config.ts
  vitest.setup.ts
Due: prettier --write, eslint --fix

loop: цикл №236 — heartbeat вне git (опыт №37), очередь конвейера двинулась
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/SKILL.md
  loop/state.json
Due: prettier --write

chore(loop): the working tree must live outside /tmp
  .claude/loop-opus/guard.sh
Due: none

chore(loop): the working tree must live outside /tmp (#889)
  .claude/loop-opus/guard.sh
Due: none

loop: цикл №237 — автопилот верит ленте: сверка state с фактом базы перед гвардаами
  apps/vibee-editor/render/scripts/agent-autopilot.ts
  loop/LOOP_REPORT.md
  loop/LOOP_STATE.md
  loop/state.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
