Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

📊 DOCS: Complete webhook callback status and testing results
  WEBHOOK_STATUS.md
Due: prettier --write

🐛 FIX: Video wizard auto-selection bug - prevent step skip
  src/scenes/imageToVideoWizard/index.ts
  src/scenes/textToVideoWizard/index.ts
Due: prettier --write, eslint --fix

🐛 CRITICAL FIX: Veo 3 Fast webhook success detection
  src/api_server/routes/kie-ai-webhook.routes.ts
Due: prettier --write, eslint --fix

🐛 FIX: Extract videoUrl from payload.data.info.resultUrls for Veo 3
  src/api_server/routes/kie-ai-webhook.routes.ts
Due: prettier --write, eslint --fix

🐛 FIX: WAN 2.5 T2V webhook success detection
  src/api_server/routes/kie-ai-webhook.routes.ts
Due: prettier --write, eslint --fix

🔧 FIX: Nginx ports - change to standard 80 and 443
  docker-compose.yml
Due: none

🔒 SECURITY: Iron-clad protection for nginx ports and webhooks
  deploy.sh
  docker-compose.yml
Due: none

📚 DOCS: Complete webhook troubleshooting guide
  WEBHOOK_TROUBLESHOOTING.md
Due: prettier --write

🛡️ IRON-CLAD PROTECTION: 3-Layer Defense System
  .githooks/README.md
  .githooks/pre-commit
  .github/workflows/validate-docker-compose.yml
  scripts/validate-production.sh
Due: prettier --write

📚 DOCS: Complete 3-Layer Protection System Guide
  PROTECTION_SYSTEM.md
Due: prettier --write

📚 README: Add link to 3-Layer Protection System
  README.md
Due: prettier --write

🔒 SECURITY: Добавить zomro* SSH ключи в .gitignore
  .gitignore
Due: none

🔧 FIX: Restore HeyGen wizard - PERMANENT FIX
  src/registerCommands.ts
  src/scenes/index.ts
  src/scenes/lipSyncWizard/heygen-render-wizard.ts
Due: prettier --write, eslint --fix

🗑️ REMOVE: Server availability check FOREVER (recurring issue fix)
  src/inngest_app/render-server-client.ts
  src/scenes/lipSyncWizard/heygen-render-wizard.ts
Due: prettier --write, eslint --fix

🐛 DEBUG: Enhanced error logging for HeyGen cover processing
  .claude-flow/metrics/system-metrics.json
  src/scenes/lipSyncWizard/heygen-render-wizard.ts
  zomro
  zomro.pub
Due: prettier --write, eslint --fix

🐛 FIX: Use process.env directly for Supabase credentials in HeyGen wizard
  src/scenes/lipSyncWizard/heygen-render-wizard.ts
Due: prettier --write, eslint --fix

🔧 FIX: Add RENDER_INNGEST keys to Infisical secret loading
  .claude-flow/metrics/system-metrics.json
  src/index.ts
Due: prettier --write, eslint --fix

🔧 FIX: Update server to 188.137.250.69 and add RENDER_INNGEST keys to Infisical loading
  deploy.sh
Due: none

🔧 FIX: Add comprehensive logging to RENDER_INNGEST event sending
  .claude-flow/metrics/system-metrics.json
  .claude/skills/README.md
  .claude/skills/ai-pipeline-orchestration/SKILL.md
  .claude/skills/infisical-secrets/SKILL.md
  .claude/skills/inngest-expert/SKILL.md
  .claude/skills/production-deployment/SKILL.md
  .claude/skills/supabase-database/SKILL.md
  .claude/skills/telegram-bot-expert/SKILL.md
  .claude/skills/telegram-scenes-ULTIMATE/SKILL.md
  .claude/skills/telegram-scenes-master/SKILL.md
  bun.lock
  package.json
  src/index.ts
  src/inngest_app/inngest-provider.ts
  src/inngest_app/render-server-client.ts
  src/services/claude-integration.service.ts
Due: prettier --write, eslint --fix

🔧 FIX: Remove critical .env empty check for Infisical-first approach
  src/config/index.ts
Due: prettier --write, eslint --fix

🔧 FIX: Fix git fetch and .env check for production deployment
  deploy.sh
Due: none

📝 Update skills README count
  .claude/skills/README.md
Due: prettier --write

🚀 Оптимизация сборки с Bun для ускорения деплоя
  Dockerfile.bun
  bun.lockb
  deploy.sh
  docs/DOCKER_BUILD_OPTIMIZATION.md
  scripts/quick-build-test.sh
Due: prettier --write

✨ FEATURE: Complete Skills Ecosystem Update + Production Fixes
  .claude/ECOSYSTEM_DASHBOARD.md
  .claude/ECOSYSTEM_RECOMMENDATIONS.md
  .claude/SPECIALIZATIONS_ANALYSIS.md
  .claude/agents/autonomous-error-fixer.md
  .claude/agents/deployment-manager.md
  .claude/agents/docs-sync.md
  .claude/agents/inngest-function-builder.md
  .claude/agents/server-health-checker.md
  .claude/commands/README.md
  .claude/commands/autonomous-monitor.md
  .claude/commands/check.js
  .claude/commands/check.md
  .claude/commands/deploy.js
  .claude/commands/deploy.md
  .claude/commands/logs.md
  .claude/commands/user-check.md
  .claude/metrics/historical/2025-11-11.json
  .claude/metrics/system-metrics.json
  .claude/scripts/check-skills-health.sh
  .claude/scripts/collect-metrics.sh
  .claude/scripts/generate-dashboard.sh
  .claude/skills/code-quality-guardian/SKILL.md
  .claude/skills/ecosystem-monitor/SKILL.md
  .claude/skills/git-workflow/SKILL.md
  .claude/skills/inngest-agentkit-mcp/SKILL.md
  .claude/skills/payment-billing-expert/SKILL.md
  .claude/skills/security-expert/SKILL.md
Due: prettier --write

🚨 CRITICAL: Add НИКОГДА git reset rule to git-workflow Skill
  .claude/skills/git-workflow/SKILL.md
Due: prettier --write

🔥 CRITICAL FIX: Remove || true from Dockerfile - Stop ignoring TypeScript errors
  Dockerfile
Due: none

🐛 FIX: tsconfig.build.json was being overwritten in Docker build
  Dockerfile
Due: none

⏪ REVERT: Restore working Dockerfile from 791f3ba3
  Dockerfile
Due: none

🚑 HOTFIX: Временно отключить utils/logger import для сборки
  src/index.ts
Due: prettier --write, eslint --fix

🚑 HOTFIX: Replace logger with minimal stub to fix MODULE_NOT_FOUND
  src/utils/logger-BROKEN.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix

⏪ ROLLBACK: Restore working state from 791f3ba31 (Bun optimization)
  .claude/agents/autonomous-error-fixer.md
  .claude/agents/deployment-manager.md
  .claude/agents/docs-sync.md
  .claude/agents/server-health-checker.md
  .claude/commands/README.md
  .claude/commands/autonomous-monitor.md
  .claude/commands/check.js
  .claude/commands/check.md
  .claude/commands/deploy.js
  .claude/commands/deploy.md
  .claude/commands/logs.md
  src/index.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix

✨ RESTORE: Bring back Skills with updated server IPs (188.137.250.69)
  .claude/agents/autonomous-error-fixer.md
  .claude/agents/deployment-manager.md
  .claude/agents/docs-sync.md
  .claude/agents/server-health-checker.md
  .claude/commands/README.md
  .claude/commands/autonomous-monitor.md
  .claude/commands/check.js
  .claude/commands/check.md
  .claude/commands/deploy.js
  .claude/commands/deploy.md
  .claude/commands/logs.md
Due: prettier --write

🔧 FIX: API server default port should be 2999, not 8080
  src/api_server/index.ts
Due: prettier --write, eslint --fix

🔧 FIX: TypeScript errors cleanup - Part 1 (193 → 166 errors)
  src/core/functional/types/media.types.ts
  src/core/functional/utils/result.ts
  src/core/pipeline/audio/audio.pipeline.ts
  src/core/pipeline/face-swap/face-swap.pipeline.ts
  src/core/pipeline/image/image.pipeline.ts
  src/core/pipeline/media-orchestrator.ts
  src/core/pipeline/video/video.pipeline.ts
  src/core/providers/adapters/elevenlabs.adapter.ts
  src/core/providers/adapters/fal.adapter.ts
  src/core/providers/adapters/types.ts
Due: prettier --write, eslint --fix

🔧 FIX: TypeScript errors cleanup - Part 2 (166 → 153 errors)
  src/core/providers/adapters/kie-ai.adapter.ts
  src/core/providers/adapters/replicate.adapter.ts
Due: prettier --write, eslint --fix

📝 DOCS: Update optimization results - 40 errors fixed (-21%)
  docs/BUN_BUILD_OPTIMIZATION_RESULTS.md
Due: prettier --write

🧹 CLEANUP: Remove all annoying warnings
  Dockerfile.bun.fast
  Dockerfile.bun.local
  Dockerfile.esbuild
  docker-build-benchmark-20251111_224927.json
  package-lock.json
  package.json
  scripts/benchmark-docker-build.sh
  src/core/bot/index.ts
  src/core/providers/adapters/fal.adapter.ts
  src/index.ts
  src/inngest_app/client.ts
Due: prettier --write, eslint --fix

🧹 CLEANUP: Remove ALL warnings completely
  packages/plugin-neurophoto/package.json
  packages/plugin-neurophoto/src/services/replicateService.ts
  packages/plugin-neurophoto/src/types/index.ts
  packages/plugin-neurophoto/tsconfig.json
  src/services/telegram-notifier.service.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
