Repository gHashTag/999-multibots-telegraf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(skill): forms 42 and 43 -- a missing command, and a verdict on two points
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): sweep -- what the seller's rounds do in production, and what they cannot say
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/sweep.sh
  bin/tri
Due: prettier --write

chore(loop): the twenty-second pass -- the log showed the fight, not who fought
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(crm): the seller waits longer each time nobody presses the card
  src/__tests__/services/crmProactive.test.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

feat(tri): sweep reads the hive journal, which keeps what the log throws away
  bin/helpers/sweep.sh
  bin/tri
Due: none

docs(skill): form 44 -- 62 cards against five touches, and the source I was reading
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): sweep reads the hive journal, which keeps what the log throws away
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/sweep.sh
  bin/tri
Due: prettier --write

chore(loop): the twenty-third pass -- 62 cards against five touches
  .claude/loop-state/crm-loop.md
Due: prettier --write

fix(test): the leads fixture aged out of the window it was testing
  apps/vibee-editor/render/crm-memory-tools.test.ts
Due: prettier --write, eslint --fix

fix(cards): a card that is gone tells its owner WHY, and that nothing was sent
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/tg-proposals.test.ts
Due: prettier --write, eslint --fix

feat(tri): lost -- the net under a reset that threw work away
  bin/helpers/lost.sh
  bin/tri
Due: none

docs(skill): form 45 -- an invented flag is silent, and reset had already moved
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): lost -- the net under a reset that threw work away
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/lost.sh
  bin/tri
Due: prettier --write

chore(loop): the twenty-fourth pass -- the card that hid its own replacement
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(cards): every card that leaves unsent leaves a line in the journal
  apps/vibee-editor/render/card-journal.test.ts
  apps/vibee-editor/render/cards-survive-a-deploy.test.ts
  apps/vibee-editor/render/render-server.ts
  apps/vibee-editor/render/src/agent/card-journal.ts
  apps/vibee-editor/render/src/agent/invoice-orphans.ts
  apps/vibee-editor/render/src/agent/tg-proposals.ts
  apps/vibee-editor/render/src/hive/journal.ts
  apps/vibee-editor/render/tg-proposals.test.ts
Due: prettier --write, eslint --fix

docs(skill): form 46 -- a filter written for one listener starves the next
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/sweep.sh
Due: prettier --write

feat(tri): sweep counts the cards that died on the way, and says UNKNOWN until it can
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/sweep.sh
Due: prettier --write

chore(loop): the twenty-fifth pass -- the line that made 57 cards uncountable
  .claude/loop-state/crm-loop.md
Due: prettier --write

fix(crm): the seller stops promising a present the platform cannot make
  apps/vibee-editor/render/image-health.test.ts
  apps/vibee-editor/render/src/agent/chat.ts
  apps/vibee-editor/render/src/agent/crm-deliver-tool.ts
  apps/vibee-editor/render/src/agent/crm-playbook.ts
  apps/vibee-editor/render/src/agent/image-health.ts
Due: prettier --write, eslint --fix

docs(skill): forms 47 and 48 -- a check that costs what it checks, and reset twice
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

chore(loop): the twenty-sixth pass -- a present the platform cannot make
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(providers): Kie was pinged and unlisted, which is the worst of both
  apps/vibee-editor/render/every-pinged-provider-is-explained.test.ts
  apps/vibee-editor/render/src/agent/pricing.ts
Due: prettier --write, eslint --fix

docs(skill): forms 49 and 50 -- HTTP 200 with 401 in the body, and pinged but unlisted
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

chore(loop): the twenty-seventh pass -- two passes spent blaming the wrong provider
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(tri): binary -- the source files grep refuses to read
  bin/helpers/binary.sh
  bin/tri
Due: none

docs(skill): form 51 -- blinded by my own fix, waiting in an unmerged PR
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

feat(tri): binary -- the source files grep refuses to read
  .claude/skills/blind-guards/SKILL.md
  bin/helpers/binary.sh
  bin/tri
Due: prettier --write

chore(loop): the twenty-eighth pass -- blinded by my own unmerged fix
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(crm): the sweep names the person and the step, instead of five and a rule
  src/__tests__/services/crmProactive.test.ts
  src/services/crmProactive.ts
Due: prettier --write, eslint --fix

docs(skill): form 52 -- a rule the model re-decides every tick is not a rule
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

chore(loop): the twenty-ninth pass -- the brief handed the choice to the model
  .claude/loop-state/crm-loop.md
Due: prettier --write

feat(crm): a refused gift leaves a line, because nothing else does
  apps/vibee-editor/render/dm-delivery.test.ts
  apps/vibee-editor/render/src/agent/crm-deliver-tool.ts
  apps/vibee-editor/render/src/hive/journal.ts
Due: prettier --write, eslint --fix

docs(skill): form 53 -- a refusal only the model sees is a missing journal
  .claude/skills/blind-guards/SKILL.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{json,md})) or (any of: package.json)
  eslint --fix: any of: *.ts
